#pages_property_details {
    &>{
        //gallery
        div:nth-child(1){
            width: 100%;
            margin: 0;
            background: $white;
            height: 18rem;
            &>{
                // div:nth-child(1){
                    // SLIDER
                    div:nth-child(1){
                        height: 18rem;
                        padding: 0;
                        &>{
                            div:nth-child(1){
                                &>{
                                    div{
                                        img {
                                            width: 100%;
                                            height: 18rem;
                                        }
                                    }
                                }
                            }
                            div:nth-child(2){
                                &>{
                                    a {
                                        width:2.5rem;
                                        height:2.5rem;
                                        background:rgba(0,0,0,0.5);
                                        text-align:center;
                                        line-height:2.5rem;
                                        border-radius: 50%;
                                        &>i{
                                            font-size:1.5rem;
                                            margin: 0;
                                            width: auto;
                                            height: auto;
                                            vertical-align: bottom;
                                        }
                                    }
                                }
                            }
                            div:nth-child(3){
                                width: 100%;
                                text-align: center;
                                bottom: 1rem;
                                &>{
                                    ul{
                                        padding: 0;
                                        margin: 0;
                                        li{
                                            list-style: none;
                                            display: inline-block;
                                            width: 1rem;
                                            height: 1rem;
                                            border-radius: 50%;
                                            margin: 0 2px;
                                            background: #cccccc;
                                            button{
                                                margin: 0;
                                                padding: 0;
                                                border: 0;
                                                background: none;
                                                display: block;
                                                width: 100%;
                                                height: 100%;
                                                text-indent: -9999px;
                                            }
                                            &.slick-active{
                                                background: #5d0e8b;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    // SHARE AND FAVORITE ICON
                    div:nth-child(2){
                        position: absolute;
                        top: 74px;
                        width: 100%;
                        display: flex;
                        justify-content: flex-end;
                        &>{
                            div:first-child {
                                min-width: 1rem !important;
                                background: rgba(0,0,0,.3);
                                color: $white;
                                margin-right: 1rem;
                                &>{
                                    i {
                                        opacity: 1;
                                        color: #7f7f7f;
                                        font-size: 1rem;
                                        padding: .4rem;
                                        // @include for_screen( iPhone5 ){
                                            // font-size: 1rem;
                                            // padding-top: .8rem;
                                        // }
                                        @include for_screen( iPhone6 ){
                                            font-size: 1rem;
                                            padding-top: .8rem;
                                        }
                                    }
                                    div:nth-child(3) {
                                        font-weight: bold;
                                        &>{
                                            i {
                                                margin-right: .4rem !important;
                                            }
                                        }
                                    }
                                    div:nth-child(4) {
                                        &>{
                                            .item {
                                                padding-left: .5rem !important;
                                                padding-right: .5rem !important;
                                                i {
                                                    margin-right: .4rem;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            div:nth-child(2){
                                display: inline-flex;
                                &>{
                                    div:nth-child(1){
                                        border-radius: 50%;
                                        padding: .35rem .45rem;
                                        margin-right: .8rem;
                                        &>{
                                          a {
                                              color: #ffffff;
                                              font-size: 1.3rem;
                                              i {
                                                  margin: 0;
                                              }
                                          }
                                        }
                                    }
                                    //COMMENTED UNTIL NEW FEATURE
                                    // div:nth-child(2){
                                    //     border-radius: 50%;
                                    //     padding: .35rem .45rem;
                                    //     &>{
                                    //       a {
                                    //           color: #ffffff;
                                    //           font-size: 1.3rem;
                                    //           i {
                                    //             margin: 0;
                                    //         }
                                    //       }
                                    //     }
                                    // }
                                }
                            }
                            //COMMENTED UNTIL NEW FEATURE
                            // div:nth-child(3){
                            //     text-align: right;
                            //     color: white;
                            //     background-color: rgba(0,0,0,0.2);
                            //     // padding: 0;
                            //     position: absolute;
                            //     margin-left: -9rem;
                            //     display:none !important;
                            //     // top: 36px;
                            //     // left: 156px;
                            //     &>{
                            //         a{
                            //             i{
                            //                 background-color: rgba(0,0,0,.4);
                            //                 color: #fff;
                            //                 height: 2.5rem;
                            //                 width: 2.5rem;
                            //                 border-radius: 2rem;
                            //                 font-size: 1.3rem;
                            //                 line-height: 2.5rem;
                            //             }
                            //         }
                            //         a:nth-child(2){
                            //             i{
                            //                 margin-left: 0.5rem;
                            //             }
                            //         }
                            //     }
                            // }

                        }
                    }
                    // VIDEO AND 360
                    div:nth-child(3){
                        position: relative;
                        bottom: 55px;
                        width: 100%;
                        display: inline-flex;
                        justify-content: space-between;
                        &>{
                            div:nth-child(1) {
                                display: inline-flex;
                                align-items: center;
                                &>{
                                    div:nth-child(1) {
                                        border-radius: 50%;
                                        background-color: rgba(0,0,0,0.3);
                                        padding: .65rem .65rem;
                                        a {

                                            img {
                                                width: 18px;
                                            }
                                        }
                                    }
                                    span {
                                        color: #ffffff;
                                        font-size: .8rem;
                                        font-family: "GothamBook";
                                    }
                                }

                            }
                            div:nth-child(2) {
                                display: inline-flex;
                                align-items: center;
                                &>{
                                    span {
                                        color: #ffffff;
                                        font-size: .8rem;
                                        font-family: "GothamBook";
                                        margin-left: .7rem;
                                    }
                                    div:nth-child(2) {
                                        border-radius: 50%;
                                        background-color: rgba(0,0,0,0.3);
                                        padding: .35rem .45rem;
                                        a {

                                            img {
                                                // width: 18px;
                                            }
                                        }
                                    }

                                }
                            }
                        }
                    }
                // }
            }
        }

        //Title, share and fav
        div:nth-child(2){
            margin: 0;
            background: $white;
            &>{
                div:nth-child(1){
                    text-align: center;
                    font-family: "GothamBook";
                    &>{
                        h1{
                            font-size: 1.2rem;
                            font-family: "GothamMedium";
                            color: rgb( 220, 34, 41 );
                            margin-bottom: 0;
                        }
                        h3{
                            font-size: 1rem;
                            font-family: "GothamMedium";
                            color: rgb( 46, 55, 70 );
                            margin-top: .4rem;
                            margin-bottom: .4rem;
                        }
                        div:nth-child(3) {
                            display: inline-flex;
                            justify-content: baseline;
                            font-size: .9rem;
                            font-family: "GothamBook";
                            &>{
                                div:nth-child(1){
                                    &>{
                                        span {
                                            color: rgb( 46, 55, 70 );
                                            border-bottom: 1px solid rgb( 60, 72, 88 );
                                            width: fit-content;
                                            padding-bottom: .1rem;
                                            margin-right: .3rem;
                                        }
                                    }
                                }
                                div:nth-child(2) {
                                    &>{
                                        div:nth-child(1) {
                                            border-bottom: 1px solid #5c1a89;
                                            width: fit-content;
                                            &>{
                                                span {
                                                    color: #5c1a89;
                                                }
                                            }
                                        }
                                    }

                                }
                            }
                        }
                        div:nth-child(4) {
                            &>{
                                h3 {
                                    font-size: .9rem;
                                    color: rgb( 46, 55, 70 );
                                    margin-top: .5rem;
                                    font-family: "GothamBook";
                                }
                            }
                        }
                        div:nth-child(5) {
                            font-size: .8rem;
                            color: rgb( 46, 55, 70 );
                            margin-bottom: .5rem;
                            margin-top: .4rem;
                            font-family: "GothamBook";
                            i {
                                color: rgb( 46, 55, 70 );
                                margin-left: .6rem;
                                &:first-of-type {
                                    margin-left: 0;
                                }
                            }
                        }
                        div:nth-child(6) {
                            font-size: .8rem;
                            color: rgb( 135, 135, 135 );
                        }
                    }
                }
                //call, email, chat
                div:nth-child(2){
                    display: flex;
                    justify-content: space-around;
                    &>{
                        button {
                            font-size: .8rem;
                            font-family: "GothamBook";
                            color: rgb( 255, 255, 255 );
                            text-transform: uppercase;
                            width: 26%;
                            border-radius: 7px;
                            box-shadow: none;
                            line-height: 0;
                            height: 30px;
                            &>{
                                i{
                                    color: white;
                                    opacity: 1;
                                    margin: 0;
                                    font-size: 1.1rem;
                                }
                            }
                            &:nth-of-type(3){
                                background-color: rgb( 72, 176, 79 ) !important;
                            }
                        }
                    }
                }
            }
        }

        //tabs
        div:nth-child(3){
            margin: 0;
            overflow-x: scroll;
            background: $white;
            font-family: "GothamMedium";
            &>{
                .item {
                    padding: 1em .775em;
                    margin: 0 0.35em;
                    border: 0;
                    color: rgb( 138, 138, 138 );
                    text-transform: uppercase;
                }
                .item.active {
                    //border-bottom: 3px solid #5d0e8b;
                    color: rgb( 46, 55, 70 );
                    font-weight: 500;
                }
            }
        }

        div:nth-child(3)::-webkit-scrollbar {
            //display: none;  // Safari and Chrome
            height:3px;
            background: #000;
        }
        div:nth-child(3)::-webkit-scrollbar-track {
            background: #ccc;
            height: 3px;
        }
        div:nth-child(3)::-webkit-scrollbar-thumb {
            background: #5d0e8b;
        }

        //agent-details
        div:nth-child(4){
            margin-bottom: 0;
            height: 25rem;
            &>{
                div:nth-child(1) {
                    &>{
                        div:nth-child(1) {
                            background-image: -webkit-linear-gradient(3deg, #583041 0%, #5c1a89 99%);
                            height: 100px;
                            width: 100%;
                        }
                        div:nth-child(2) {
                            position: relative;
                            top: -80px;
                            width: 100%;
                            padding-left: 1.5rem;
                            padding-right: 1.5rem;
                            &>{
                                div:nth-child(1) {
                                    background-color: white;
                                    border-radius: 7px !important;
                                    width: 100%;
                                    &>{
                                        div:nth-child(1) {
                                            display: inline-flex;
                                            justify-content: space-around;
                                            padding-bottom: 0;
                                            padding-left: 1rem;
                                            padding-right: 1rem;

                                            &>{
                                                img {
                                                    border: 1px solid rgb( 244, 244, 244 );
                                                    height: 100px;
                                                    max-height: 100px;
                                                    max-width: 100px;
                                                }
                                                div:nth-child(2) {
                                                    padding-left: 1rem;
                                                    &>{
                                                        div:nth-child(1) {
                                                            font-size: 1rem;
                                                            font-family: "GothamMedium";
                                                            color: rgb( 46, 55, 70 );
                                                            text-align: left;
                                                        }
                                                        div:nth-child(2) {
                                                            font-size: .9rem;
                                                            font-family: "GothamBook";
                                                            color: rgb( 155, 155, 155 );
                                                            text-align: left;
                                                            margin-bottom: .6rem;
                                                        }
                                                        div:nth-child(3) {
                                                            font-size: .8rem;
                                                            font-family: "GothamBook";
                                                            color: #9b9b9b;
                                                            text-align: left;
                                                            display: inline-flex;
                                                            margin-bottom: 1rem;
                                                            &{
                                                                div:nth-child(2) {
                                                                    color: rgb( 60, 72, 88 );
                                                                    margin-left: .2rem;
                                                                }
                                                            }
                                                        }
                                                        div:nth-child(4) {
                                                            margin-bottom: .7rem;
                                                            &>{
                                                                a {
                                                                    font-size: .8rem;
                                                                    font-family: "GothamBook";
                                                                    color: rgb( 60, 72, 88 );
                                                                    border-bottom: 1px solid rgb( 60, 72, 88 );
                                                                }
                                                            }
                                                        }
                                                        div:nth-child(5) {
                                                            max-height: 80px;
                                                            margin-bottom: 1rem;
                                                            img {
                                                                height: 80px;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }

                                        div:nth-child(2) {
                                            padding-left: 0;
                                            padding-right: 0;
                                            padding-top: 0;
                                            &>{
                                                h2 {
                                                    border-bottom: 1px solid rgb( 228, 222, 222 );
                                                }
                                            }
                                        }

                                        div:nth-child(3) {
                                            display: flex;
                                            justify-content: center;
                                            padding: 0 0 1rem;
                                            &>{
                                                button {
                                                    width: 50%;
                                                    border-radius: 5px;
                                                    background-color: transparent;
                                                    border: 1px solid $purple;
                                                    font-size: 1rem;
                                                    font-family: "GothamBook";
                                                    color: $purple;
                                                    text-transform: uppercase;
                                                    box-shadow: none;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                    }
                }
            }
        }

        //Map and nearby
        div:nth-child(5){
            padding-top: 1rem;
            margin-bottom: 1rem;
            &>{
                div:nth-child(1){
                    padding: 1rem;
                    position: relative;
                    &>{
                        div:nth-child(1){
                            height: 27.78rem;
                            position: relative;
                            box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
                        }
                        div:nth-child(2){
                            height: 28rem;
                            padding: 0;
                            background-color: rgba(238,238,238, .7);
                            div{
                                border-bottom: 1px solid #dbdbdb;
                                height: 3.09rem;
                                padding: 1rem .8rem;
                                width: 100%;
                                font-size: .7rem;
                                font-weight: 300;
                                label{
                                    color: #7f7f7f;
                                }
                            }
                        }
                        // No Location provided - overlay
                        div:nth-child(3){
                            height: 35rem;
                            width: 100%;
                            position: absolute;
                            background: rgba(0,0,0,0.8);
                            display: none;
                        }
                        // No Location provided - text
                        div:nth-child(4){
                            top: 46%;
                            text-align: center;
                            color: #fff;
                            width: 100%;
                            position: absolute;
                            display: none;
                        }
                    }
                }
            }
        }

        //local info
        div:nth-child(6){
            & > div {
                > p:last-child {
                    display: none;
                }
            }
        }

        // Amenities
        div:nth-child(7) {
            margin-left: 0 !important;
            margin-right: 0 !important;
            margin-bottom: 1.5rem;
            background: rgb( 242, 245, 248 );
            padding-top: 1rem;
            padding-bottom: 1rem;
            &>{
                div:nth-child(1){
                    padding-top: 0;
                    padding-bottom: 0;
                    h3 {
                        font-family: "GothamMedium";
                        font-size: 1.2rem;
                        color: rgb( 46, 55, 70 );
                        padding-bottom: 0;
                    }
                }
                div:nth-child(2) {
                    &>{
                        div:nth-child(1) {
                            height: 14rem;
                            overflow: hidden;
                            &>{
                                div {
                                    padding-left: 0;
                                    padding-right: 0;
                                    div:first-child {
                                        font-size: .8rem;
                                        font-family: 'GothamBook';
                                        margin-bottom: 1rem;
                                        color: rgb( 47, 47, 47 );
                                        i{
                                            color: rgb( 47, 47, 47 );
                                        }
                                    }
                                }
                            }
                        }
                        div:nth-child(2){
                            margin-top: 1rem;
                            text-align: left;
                            padding-left: 0;
                            a{
                                font-size: .85rem;
                                font-family: "GothamMedium";
                                color: rgb( 58, 58, 58 );
                                background: rgb( 255, 255, 255 );
                                border: 1px solid rgb( 219, 219, 220 );
                                padding: .5rem;
                                // -webkit-transition: color 0.5s ease;
                                // transition: color 0.5s ease;
                            }
                            // a:hover{
                            //     color: #5d0e8b;
                            // }
                        }
                    }
                }
            }
        }

        // Description
        div:nth-child(8) {
            border-bottom: 1px solid rgb( 221, 221, 221 );
            &>{
                div:nth-child(1) {
                    padding-top: .5rem;
                    padding-bottom: 0;
                    &>{
                        div:nth-child(1) {
                            &>{
                                span {
                                    font-family: "GothamMedium";
                                    color: rgb( 46, 55, 70 );
                                    font-size: 1.2rem;
                                }
                            }
                        }
                    }
                }
                div:nth-child(2){
                    overflow: hidden;
                    padding-top: 0;
                    &>{
                        div:nth-child(1){
                            margin-top: 1rem;
                            font-family: "GothamBook";
                            color: rgb( 58, 58, 58 );
                            line-height: 1.367;
                            font-size: .85rem;
                            height: 7rem;
                            overflow: hidden;
                            &:not(.read_more_less_desc-collapsed):after {
                                content: "";
                                position: absolute;
                                height: 1.5rem;
                                bottom: 58px;
                                display: block;
                                left: 0;
                                right: 0;
                                background: -webkit-gradient( linear, left top, left bottom, from(rgba(255,255,255,0.2)), to(rgba(255,255,255,0)), color-stop(.5,#fff) );
                                background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 95%);

                            }
                        }
                        div:nth-child(2){
                            margin-top: 1.5rem;
                            text-align: left;
                            padding-bottom: 1rem;
                            a{
                                font-size: .85rem;
                                font-family: "GothamMedium";
                                color: rgb( 58, 58, 58 );
                                background: rgb( 255, 255, 255 );
                                border: 1px solid rgb( 219, 219, 220 );
                                padding: .5rem;
                                // -webkit-transition: color 0.5s ease;
                                // transition: color 0.5s ease;
                            }
                            // a:hover{
                            //     color: #5d0e8b;
                            // }
                        }
                    }
                }
            }
        }

        // Area Stats
        div:nth-child(9) {
            &>{
                div:nth-child(1) {
                    padding-bottom: 0;
                    &>{
                        div:nth-child(1) {
                            &>{
                                span {
                                    font-family: "GothamMedium";
                                    color: rgb( 46, 55, 70 );
                                    font-size: 1.2rem;
                                }
                            }
                        }
                    }
                }
                div:nth-child(2){
                    display: inline-flex;
                    justify-content: space-between;
                    &>{
                        div:nth-child(1){
                            display: inline-flex;
                            width: 70%;
                            &>{
                                div:nth-child(1){
                                    text-align: center;
                                    margin-right: 1rem;
                                    &>{
                                        div:nth-child(1){
                                            display: flex;
                                            justify-content: center;
                                            padding-bottom: .5rem;
                                            padding-top: .3rem;
                                            &>{
                                                img {
                                                }
                                            }
                                        }
                                        div:nth-child(2){
                                            &>{
                                                span{
                                                    font-size: .7rem;
                                                    font-family: "GothamBook";
                                                    color: rgb( 36, 34, 35 );
                                                }
                                            }
                                        }
                                    }
                                }
                                div:nth-child(2){
                                    &>{
                                        div:nth-child(1){
                                            font-size: .7rem;
                                            font-family: "GothamBook";
                                            color: rgb( 229, 57, 53 );
                                        }
                                        div:nth-child(2){
                                            &>{
                                                h5 {
                                                    font-size: 1rem;
                                                    font-family: "GothamMedium";
                                                    color: rgb( 36, 34, 35 );
                                                    text-transform: uppercase;
                                                }
                                            }
                                        }
                                        div:nth-child(3){
                                            display: inline-flex;
                                            align-items: center;
                                            &>{
                                                img {
                                                    width: .9rem;
                                                }
                                                span{
                                                    font-size: .7rem;
                                                    font-family: "GothamBook";
                                                    color: rgb( 229, 57, 53 );
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        div:nth-child(2){
                            &>{
                                div:nth-child(1) {
                                    font-size: .7rem;
                                    font-family: "GothamBook";
                                    color: rgb( 229, 57, 53 );
                                }
                                div:nth-child(2) {
                                    font-size: 1rem;
                                    font-family: "GothamMedium";
                                    color: rgb( 36, 34, 35 );
                                }
                            }
                        }
                    }
                }
                div:nth-child(3){
                    &>{
                        div:nth-child(1) {
                            &>{
                                span {
                                    font-size: 1.1rem;
                                    font-family: "GothamBook";
                                    color: rgb( 164, 164, 164 );


                                    &:nth-of-type(2) , &:nth-of-type(4) {
                                        color: #231f20;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        // Monthly Costs
        div:nth-child(10) {
            &>{
                div:nth-child(1) {
                    padding-bottom: 1rem;
                    &>{
                        div:nth-child(1) {
                            &>{
                                span {
                                    font-family: "GothamMedium";
                                    color: rgb( 46, 55, 70 );
                                    font-size: 1.2rem;
                                }
                            }
                        }
                        div:nth-child(2) {
                            &>{
                                p {
                                    font-size: .8rem;
                                    font-family: "GothamBook";
                                    color: rgb( 46, 55, 70 );
                                    text-align: left;
                                }
                            }
                        }
                    }
                }
                div:nth-child(2) {
                    padding: 0;
                    &>{
                        div:nth-child(1) {
                            height: 18rem;
                            &>{
                                // img
                                div:nth-child(1) {
                                    display: flex;
                                    justify-content: center;
                                    &>{
                                        img{
                                            width: 240px;
                                        }
                                    }
                                }
                                // monthly cost
                                div:nth-child(2) {
                                    display: block;
                                    font-family: "GothamBook";
                                    text-align: center;
                                    position: relative;
                                    bottom: 11rem;
                                    width: 100%;
                                    &>{
                                        div:nth-child(1) {
                                            font-size: 1.2rem;
                                            color: rgb( 48, 45, 46 );
                                        }
                                        div:nth-child(2) {
                                            &>{
                                                span {
                                                    font-size: 1.6rem;
                                                    color: rgb( 48, 45, 46 );
                                                    font-family: "GothamMedium";
                                                }
                                            }

                                        }
                                        div:nth-child(3) {
                                            font-size: 1.1rem;
                                            color: rgb( 164, 164, 164 );
                                        }
                                    }
                                }
                            }
                        }
                        div:nth-child(2) {
                            &>{
                                div:nth-child(1) {
                                    border-bottom: 5px solid rgb( 230, 230, 230 );
                                    &>{
                                        a {
                                            font-size: 16px;
                                            font-family: "GothamBook";
                                            color: rgb( 92, 44, 133 );
                                            font-weight: normal;
                                            margin-bottom: -5px;
                                            &:nth-of-type(2) {
                                                color: #e43935;
                                            }
                                            &:nth-of-type(3) {
                                                color: #136fcf;
                                            }
                                            &.active {
                                                border-bottom: 5px solid rgb( 117, 39, 158 );
                                            }
                                        }
                                    }
                                }

                                div:nth-child(2), div:nth-child(3), div:nth-child(4) {
                                    &>{
                                        div:nth-child(1) {
                                            &>{
                                                div {
                                                    font-size: .85rem;
                                                    font-family: "GothamBook";
                                                    color: rgb( 62, 62, 62 );
                                                    display: flex;
                                                    align-items: center;
                                                    padding-bottom: 0px;
                                                    &>{
                                                        div {
                                                            width: 100%;
                                                            input {
                                                                font-size: .75rem;
                                                                font-family: "GothamBook";
                                                                color: rgb( 23, 23, 23 );
                                                                border-radius: 4px;
                                                                border: 1px solid rgb( 222, 222, 222 );
                                                                height: 3rem;
                                                                padding-left: 1rem;
                                                                &::-webkit-input-placeholder {
                                                                    font-size: .75rem;
                                                                    font-family: "GothamBook";
                                                                    color: rgb( 23, 23, 23 );
                                                                }
                                                            }
                                                        }
                                                    }
                                                    &:nth-of-type(1) {
                                                        font-size: 1rem;
                                                        font-family: "GothamMedium";
                                                        color: rgb( 47, 47, 47 );
                                                        span {
                                                            margin-left: 3px;
                                                        }
                                                    }

                                                }
                                                .content {
                                                    padding-top: .3rem;
                                                }
                                            }
                                        }
                                    }
                                }

                                div:nth-child(5) {
                                    div:nth-child(1) {
                                        &>{
                                            button {
                                                border-radius: 7px;
                                                background-color: rgb( 102, 28, 143 );
                                                font-size: 1rem;
                                                font-family: "GothamMedium";
                                                color: rgb( 255, 255, 255 );
                                                text-transform: uppercase;
                                                height: 50px;
                                            }
                                        }
                                    }
                                }

                                div:nth-child(6) {
                                    margin-bottom: 1rem;
                                    div:nth-child(1) {
                                        padding-top: 0;
                                        &>{
                                            div:nth-child(1) {
                                                font-size: .85rem;
                                                font-family: "GothamBook";
                                                color: rgb( 60, 72, 88 );
                                                // margin-top: -18px;
                                            }
                                            div:nth-child(2) {
                                                margin-left: -12px;
                                                &>{
                                                    img {}
                                                }
                                            }
                                            div:nth-child(3) {
                                                font-size: .85rem;
                                                font-family: "GothamBook";
                                                color: rgb( 60, 72, 88 );
                                                padding-right: 3rem;
                                            }
                                        }
                                    }
                                }

                                .segment {
                                    border: none;
                                    box-shadow: none;
                                    border-radius: 0;
                                    padding: 10px 0;
                                    margin-bottom: 2rem;
                                }
                            }
                        }
                    }
                }
            }
        }

        //similar properties
        div:nth-child(11) {
            margin-top: 1rem;
            &>{
                div:nth-child(1) {
                    padding-bottom: 0;
                    &>{
                        div:nth-child(1) {
                            &>{
                                span {
                                    font-family: "GothamMedium";
                                    color: rgb( 46, 55, 70 );
                                    font-size: 1.2rem;
                                }
                            }
                        }
                    }
                }
                div:nth-child(2){
                    div:nth-child(1){
                        margin-bottom: 0.1rem;
                    }
                }
            }

        }


    }

    &.disabled {
        & > div:nth-child(1),
        & > div:nth-child(2){
            opacity: 0.5;
            position: relative;
            &:after {
                position: absolute;
                top: 0;
                left: 0;
                background: transparent;
                width: 100%;
                height: 100%;
                display: block;
                content: '';
                cursor: not-allowed;
            }
        }
        & > div:nth-child(2){
            .slides img {
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
            }
            .slider-arrows,
            .slider-nav {
                display: none !important;
            }
            &:before {
                content: 'This property is not available at the moment, perhaps these similar properties would interest you instead?';
                display: block;
                position: absolute;
                top: 35%;
                left: 0;
                right: 0;
                text-transform: uppercase;
                text-align: center;
                font-size: 1rem;
                color: #000;
                z-index: 1;
                padding: 1rem;
            }
        }
        & > div:nth-child(1) {
            & > div:nth-child(1) {
                h1 {
                    color: #ccc;
                }
            }
            & > div:nth-child(2) {
                div {
                    color: #ccc;
                }
            }
        }
        & > div:nth-child(11){
            display: none;
        }
    }
}
