#pages_property_listings {
    margin-top: 0;
    background-color: #fff;
    &>{

        //Sorting and Views
        div:nth-child(1){
            background: rgb(243,243,243);
            margin: 1rem 0 1rem;
            border-bottom: 1px solid rgb(243,243,243);
            font-family: GothamBook;
            &>{
                div:nth-child(1){
                    &>{
                        div:first-child {
                            min-width: 6rem !important;
                            background: transparent;
                            border: none;
                            padding-left: 0;
                            padding-right: 0;
                            padding-top: .89rem;
                            width: 100%;
                            &>{
                                i {
                                    opacity: 1;
                                    color: #7f7f7f;
                                    font-size: 1.245rem;
                                    padding-top: .5rem;
                                    padding-right: .5rem;
                                    padding-bottom: .5rem;
                                    @include for_screen( iPhone5 ){
                                        font-size: 1rem;
                                        padding-top: .8rem;
                                    }
                                    @include for_screen( iPhone6 ){
                                        font-size: 1rem;
                                        padding-top: .8rem;
                                    }
                                }
                                div:nth-child(3) {
                                    font-weight: bold;
                                    &>{
                                        i {
                                            margin-right: .4rem !important;
                                        }
                                    }
                                }
                                div:nth-child(4) {
                                    &>{
                                        .item {
                                            padding-left: .5rem !important;
                                            padding-right: .5rem !important;
                                            i {
                                                margin-right: .4rem;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                div:nth-child(2){
                    background-color: #fff;
                    border: 1px solid rgb(243,243,243);
                    @include for_screen( iPhone5 ){
                        padding: 1.3rem 1rem 0 1rem;
                    }
                    @include for_screen( iPhone6 ){
                        padding: 1.3rem 1rem 0 1rem;
                    }
                    .header {
                        background: rgba(34,36,38,.1);
                        padding: 1rem;
                        margin: 0;
                        color: #5d0e8b;
                    }
                    .item {
                        color: rgba(0,0,0,.80);
                        -webkit-transition: color 0.3s ease;
                        transition: color 0.3s ease;
                    }
                    .item:hover {
                        background: transparent;
                        color: #5d0e8b;
                    }
                    &>{
                        div:nth-child(1){
                            padding-top: .4rem;
                            i{
                                opacity: 1;
                                color: #7f7f7f;
                                font-size: 1.2rem;
                                @include for_screen( iPhone5 ){
                                    font-size: 1rem;
                                }
                                @include for_screen( iPhone6 ){
                                    font-size: 1rem;
                                }
                                &:first-child {
                                    color: #5d0e8b;
                                }
                            }
                        }
                    }
                }
                div:nth-child(3){
                    padding: 1.5rem;
                    @include for_screen( iPhone5 ){
                        padding: 1.7rem 1rem 1rem 1rem;
                    }
                    @include for_screen( iPhone6 ){
                        padding: 1.7rem 1rem 1rem 1rem;
                    }
                }
                div{
                    text-align: center;
                    font-size: .9rem;
                    
                    .text{
                        padding: 0 0.5em;
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                    &>{
                        i{
                            opacity: 1;
                            color: #7f7f7f;
                            font-size: 1.2rem;
                            @include for_screen( iPhone5 ){
                                font-size: 1rem;
                            }
                            @include for_screen( iPhone6 ){
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }

        //Title & Info
        div:nth-child(2){
            &>{
                div:nth-child(1){
                    &> {
                        h1 {
                            display: inline;
                            font-size: 1.3rem;
                            font-weight: 600;
                            color: rgb(47,47,47);
                            padding: 1rem 0 1rem 0;
                            margin: 0;
                            font-family: GothamBook;
                            @include for_screen( iPhone5 ){
                                font-size: 1rem;
                            }
                            @include for_screen( iPhone6 ){
                                font-size: 1rem;
                            }
                        }
                        span {
                            font-size: 1rem;
                            font-weight: 300;
                            color: #7f7f7f;
                        }
                        div.no_results{
                            div:nth-child(1){
                                font-size: 0.8rem;
                                width: 100%;
                                height: 100px;
                                position: relative;
                                overflow: hidden;
                                &>{
                                    div{
                                        &:first-child{
                                            line-height: 1.5;
                                            height: 50%;
                                        }

                                        &:nth-child(2){
                                            padding: 1rem 2.4rem;
                                            height: 50%;
                                            text-align: center;
                                            &>{
                                                button {
                                                    margin: 0 0.2rem;
                                                    border-radius: 2rem;
                                                    padding: 0.5rem 1rem;
                                                    font-size: 0.7rem;
                                                    font-family: "GothamBook";
                                                    background-color: transparent;
                                                    color: rgb( 60, 60, 60 );
                                                    border: 1px solid rgb( 92, 13, 137 );
                                                    letter-spacing: 0.04em;
                                                    box-shadow: none;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        //pagination
        div:nth-child(4){
            #pagination {
                padding: 1rem 0;
            }
        }

        //internal links header
        div:nth-child(5){
            background-color: #eee;
            &>{
                div:nth-child(1){
                    border-top: 1px solid #fff;
                    border-bottom: 1px solid #ccc;
                    div:nth-child(1){
                        color: rgba(0,0,0,0.4);
                        font-size: 1.25rem;
                        font-weight: bold;
                    }
                    ul{
                        list-style: none;
                        display: inline-block;
                        padding-left: 0;
                        overflow:hidden;
                        li{
                            margin: 0.5rem 0;
                            float: left;
                            width: 50%;
                            a {
                                color: rgba(0, 0, 0, 0.5);
                                padding-left: .4rem;
                                padding-right: .4rem;
                                font-weight: 300;
                                font-family: "GothamBook";
                                font-size: .8rem;
                                transition: color 0.5s ease;
                            }
                        }
                        li:nth-child(n+8){
                            display:none;
                        }
                    }
                    div:last-child {
                        text-align:right;
                        a {
                            color: #009fda;
                        }
                    }
                }
            }
        }
    }
}

#property_listings_ad {
    padding: 1rem 0 0.6rem !important;
    div{
        div{
            a{
                img{
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}

#pages_property_listings_content {
    margin: 1rem 0 0;
    padding: 2rem 0 0;
    background-color: $white;

    article {
        font-family: "GothamBook";
        font-size: 1rem;
        & > div {
            margin-bottom: 1.5rem;
            overflow: hidden;
            line-height: 1.7em;

            &:last-child {
                margin-bottom: 0;
            }
            a {
                color: #5d0e8b;
            }
            h2 {
                font-size: 1.25rem;
                font-family: "GothamMedium";
            }
            h3 {
                font-size: 1.2em;
                font-family: "GothamMedium";
            }
            h4 {
                font-size: 1.15em;
                font-family: "GothamMedium";
            }
            &:nth-child(1) {
                h2{
                    font-size: 1.35rem;
                }
            }

            figure {
                padding: 0;
                margin: 0;

                img {
                    max-width: 100%;
                }
            }
            &:nth-child(2) {
                figure {
                    width: 48%;
                    float: left;

                    &:last-child {
                        float: right;
                    }
                }
            }
        }
    }
}

#internal_links_accordion {
    margin: 1rem 0 0;
    &>{
        div:nth-child(1){
            padding-left: 0;
            padding-right: 0;
            div:nth-child(1){
                padding-left: 0;
                padding-right: 0;
                div.accordion{
                    .title{
                        display: table;
                        border-top: 1px solid #ccc;
                        padding: 1.25rem;
                        color: rgba(0, 0, 0, 0.5);
                        font-size: 1.15rem;
                        font-weight: bold;
                        i{
                            display: table-cell;
                            vertical-align: top;
                            display: block;
                        }
                        span{
                            display: table-cell;
                            vertical-align: top;
                            width:100%;
                        }
                    }
                    .title:nth-child(1){
                        border-top: none;
                    }
                    .content{
                        list-style: none;
                        padding-left: 1.5rem;
                        padding-right: 1rem;
                        overflow:hidden;
                        margin-top: 0;

                        .item{
                            margin: 0.5rem;
                            a {
                                color: rgba(0, 0, 0, 0.5);
                                padding-left: .4rem;
                                padding-right: .4rem;
                                font-weight: 300;
                                transition: color 0.5s ease;
                            }
                        }
                    }
                }
            }
        }
    }
}
