#property_card_grid {
    padding-top: 0;
    &>{
        div:nth-child(1) {
            &>{
                //column
                div {
                    padding: 0;
                    &:first-child {
                        padding-top: 5px;
                    }
                    &>{
                        //ui segment
                        div:nth-child(1) {
                            background: transparent;
                            box-shadow: none;
                            border: none;
                            padding: 0.5rem 0;
                            &>{
                                div:nth-child(1) {
                                    width: 100%;
                                    display: flex;
                                    flex-wrap: wrap;
                                    box-sizing: border-box;
                                    &>{
                                        div:nth-child(1) {
                                            color: rgba(0, 0, 0, 0.87);
                                            width: 100%;
                                            border: 0;
                                            display: flex;
                                            position: relative;
                                            word-wrap: break-word;
                                            min-width: 0;
                                            font-size: .875rem;
                                            background: #fff;
                                            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
                                            border-radius: 6px;
                                            flex-direction: column;
                                            &>{
                                                div:nth-child(1) {
                                                    border-radius: 6px 6px 0 0;
                                                    color: #FFFFFF;
                                                    margin: 0;
                                                    padding: 0;
                                                    position: relative;
                                                    transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
                                                    z-index: 3 !important;
                                                    background: transparent;
                                                    border-bottom: none;
                                                    overflow: hidden;

                                                    &>{
                                                        a{
                                                            display: block;
                                                            text-decoration: none;
                                                            &>{
                                                                img {
                                                                    margin-top: 0;
                                                                    width: 100%;
                                                                    box-shadow: none;
                                                                    border-radius: 6px 6px 0 0;
                                                                    pointer-events: none;
                                                                    border: 0;
                                                                    vertical-align: middle;
                                                                    min-height:220px;
                                                                    max-height:220px;
                                                                }
                                                            }
                                                        }
                                                        div:nth-child(2) {
                                                            height: auto;
                                                            width: auto;
                                                            position: absolute;
                                                            left: 1rem;
                                                            top: 0.5rem;
                                                            background: rgba(255,255,255,0.75);
                                                            padding: 0px 10px;
                                                            border-radius: 0.4rem;
                                                            img {
                                                                height: 40px;
                                                                max-width: 57px;
                                                                float: right;
                                                                opacity: .6;
                                                                border-radius: 0 0.4rem 0 0;
                                                            }
                                                        }
                                                        span {
                                                            position: absolute;
                                                            bottom: 0;
                                                            right: 0;
                                                            background: #6faf74;
                                                            font-weight: bold;
                                                            padding: 5px 10px;
                                                            text-transform: capitalize;
                                                        }
                                                    }
                                                }
                                                div:nth-child(2) {
                                                    flex: 1 1 auto;
                                                    padding: 0.9375rem 1rem;
                                                    position: relative;
                                                    -webkit-box-flex: 1;
                                                    min-height: 200px;
                                                    &>{
                                                        div:nth-child(1){
                                                            span {
                                                                color: #e53935;
                                                                font-size: 16px;
                                                                font-family: "GothamMedium";
                                                                &:first-child {
                                                                    font-size: 17px;
                                                                    font-family: "HelveticaNeueMedium";
                                                                }
                                                            }
                                                            p{
                                                                display: inline-block;
                                                                text-align: right;
                                                                float: right;
                                                                font-size: 12px;
                                                                // font-family: Merriweather;
                                                                margin-right: 35px;
                                                                color: #3C4858;
                                                                // margin-top: 5px;
                                                                i{
                                                                    color: #3ea947;
                                                                    font-size: 14px;
                                                                }
                                                            }
                                                            p{
                                                                display: inline-block;
                                                                text-align: right;
                                                                float: right;
                                                                font-size: 12px;
                                                                margin-right: 35px;
                                                                color: #3C4858;
                                                                margin-top: 5px;
                                                                i{
                                                                    color: #3ea947;
                                                                    font-size: 14px;
                                                                }
                                                            }
                                                        }
                                                        div:nth-child(2){
                                                            position: absolute;
                                                            top: 9px;
                                                            right: 5px;
                                                            &>{
                                                                i {
                                                                    font-size: 1.75em;
                                                                    color: #010101;
                                                                    cursor: pointer;
                                                                    height: 26px;
                                                                }
                                                            }
                                                        }
                                                        div:nth-child(3){
                                                            color: #3c4a57;
                                                            min-height: auto;
                                                            text-align: left;
                                                            margin-bottom: 3px;
                                                            margin-top: 10px;
                                                            text-decoration: none;
                                                            font-size: 1.2rem;
                                                            text-overflow: ellipsis;
                                                            overflow: hidden;
                                                            white-space: nowrap;
                                                            font-weight: bold;
                                                            a {
                                                                color: #3c4a57;
                                                                margin-top: .625rem;
                                                                min-height: auto;
                                                                font-weight: 200;
                                                                margin-bottom: 0.75rem;
                                                                text-decoration: none;
                                                            }
                                                        }
                                                        div:nth-child(4) {
                                                            color: #3c4a57;
                                                            text-align: left;
                                                            margin-top: 0.75rem;
                                                            min-height: auto;
                                                            font-weight: 300;
                                                            margin-bottom: 0.75rem;
                                                            text-decoration: none;
                                                            font-size: .9rem;
                                                            float: none;
                                                            &>{
                                                                i {
                                                                    color: #7f7f7f;
                                                                }
                                                                a {
                                                                    color: #3c4a57;
                                                                }
                                                            }
                                                        }
                                                        div:nth-child(5) {
                                                            color: #999999;
                                                            text-align: left;
                                                            margin-top: 0.75rem;
                                                            min-height: auto;
                                                            font-weight: 300;
                                                            margin-bottom: 0.75rem;
                                                            text-decoration: none;
                                                            font-size: .9rem;
                                                            float: none;
                                                            &>{
                                                                i {
                                                                    color: #999999;
                                                                    margin: 0;
                                                                }
                                                                a {
                                                                    color: inherit;
                                                                }
                                                            }
                                                            #sq_similar_::before{
                                                                display: none;
                                                            }
                                                        }
                                                        div:nth-child(6) {
                                                            text-align: left;
                                                            clear: both;
                                                            color: #999999;
                                                            font-size: .9rem;
                                                            margin: 0 0 15px;
                                                            font-weight: 300;
                                                            text-overflow: ellipsis;
                                                            white-space: nowrap;
                                                            overflow: hidden;
                                                            button {
                                                                margin: 0 0.2rem;
                                                                border-radius: 2rem;
                                                                padding: 0.7rem 1rem;
                                                                font-size: 0.9rem;
                                                                font-family: Merriweather Sans,sans-serif;
                                                                font-weight: 200;
                                                                letter-spacing: 0.04em;
                                                                &>{
                                                                    i {
                                                                        opacity: 1;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                        div:nth-child(7) {
                                                            float:left;
                                                            width: 100%;

                                                            button {
                                                                margin: 0;
                                                                border-radius: 1.2rem;
                                                                padding: .9rem 1.5rem;
                                                                font-size: .9rem;
                                                                font-family: Merriweather Sans,sans-serif;
                                                                font-weight: 200;
                                                                letter-spacing: 0.04em;
                                                                margin-right: 3px;
                                                                &>{
                                                                    i {
                                                                        opacity: 1;
                                                                    }
                                                                }
                                                                // &:nth-child(2){
                                                                //     background: #48b04f;
                                                                //     color: $white;
                                                                //     i {
                                                                //         font-size: 16px;
                                                                //     }
                                                                // }
                                                            }
                                                        }
                                                        div:nth-child(8) {
                                                            float:right;
                                                            color: #3c4858;
                                                            font-size: .75rem;
                                                            margin-top: 10px;
                                                        }
                                                    }
                                                }
                                                div:nth-child(3) {
                                                    border: 0;
                                                    padding: 1rem;
                                                    display: flex;
                                                    align-items: center;
                                                    border-radius: 0;
                                                    justify-content: space-between;
                                                    background-color: transparent;
                                                    border-top: 1px solid #eee !important;
                                                    &>{
                                                        div:nth-child(1) {
                                                            div:nth-child(1) {
                                                                font-size: 1.5rem;
                                                                font-weight: 300;
                                                                color: #e53935;
                                                                &>span{
                                                                    font-size: 10px;
                                                                }
                                                            }
                                                        }
                                                        p {
                                                            color: #999999;
                                                            font-weight: 300;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.favourite {
    animation: beating .5s 1 alternate;
    color: #e53935 !important;
}
@keyframes beating {
    0% { transform: scale(1) }
    40% { transform: scale(1.25) }
    70% { transform: scale(.9) }
    100% { transform: scale(1) }
}

.ui.two.column.grid > div > div > div > div:hover .jss263 {
    transform: translate3d(0, 0px, 0) !important;
}
