#property_card_list {
    background: $white;
    div.p_c {
        padding-left:0;
        padding-right:0;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        &>{
            //ui segment
            div:nth-child(1) {
                padding: 0;
                border-radius: 9px;
                font-family: "GothamBook";
                &>{
                    div:nth-child(1) {
                        height: 129px;
                        &>{
                            div:nth-child(1) {
                                width: 100%;
                                height: 129px;
                                position: relative;
                                overflow: hidden;
                                &>{
                                    // Image
                                    div:nth-child(1) {
                                        float: left;
                                        width: 35%;
                                        position: relative;
                                        &>{
                                            a{
                                                &>{
                                                    img {
                                                        width: 100%;
                                                        height: 129px;
                                                        border-top-left-radius:7px;
                                                        border-bottom-left-radius:7px;
                                                        object-fit: cover;
                                                    }
                                                }
                                            }
                                            // Broker Image
                                            div:nth-child(2) {
                                                height: auto;
                                                width: auto;
                                                position: absolute;
                                                left: .5rem;
                                                top: 0.5rem;
                                                img {
                                                    max-width: 57px;
                                                    height: 40px;
                                                    float: right;
                                                    opacity: .6;
                                                    border-radius: 0;
                                                    // display: none;
                                                }
                                            }
                                            span {
                                                height: inherit;
                                                width: auto;
                                                position: absolute;
                                                right: 7px;
                                                bottom: 11px;
                                                border-radius: 4px;
                                                background: rgb( 75, 27, 113 );
                                                padding: 0.3rem 0.6rem;
                                                color: white;
                                                font-size: 0.5rem;
                                                text-transform: uppercase;
                                                font-family: "GothamMedium";
                                            }
                                        }
                                    }
                                    // Description
                                    div:nth-child(2) {
                                        float: left;
                                        width: 65%;
                                        padding: 0px 8px;
                                        padding-top: 10px;
                                        padding-left: 12px;
                                        &>{
                                            // Favourite logo
                                            div:nth-child(1){
                                                color: #dc2229;
                                                margin-bottom: 0.3rem;
                                                span {
                                                    font-family: "GothamBook";
                                                    font-size: .8rem;
                                                    font-weight: 600;
                                                }
                                                p{
                                                    
                                                    font-size: 10px;
                                                    color:#878787;
                                                    position: absolute;
                                                    top: 12px;
                                                    right: 30px;
                                                    i{
                                                        color: #3ea947;
                                                        font-size: 10px;
                                                    }
                                                }
                                            }
                                            // Title
                                            div:nth-child(2){
                                                white-space: nowrap;
                                                overflow: hidden;
                                                text-overflow: ellipsis;
                                                color: $white;
                                                margin-top: 0px;
                                                min-height: auto;
                                                margin-bottom: 3px;
                                                margin-right: 2.2rem;
                                                text-decoration: none;
                                                font-size: 1.53rem;
                                                position: absolute;
                                                top: 3px;
                                                left: 7.5rem;
                                                @include for_screen( iPhone5 ){
                                                    left: 5.3rem;
                                                    font-size: 1.4rem;
                                                }
                                                @include for_screen( iPhone6 ){
                                                    left: 6.5rem;
                                                }
                                                @include for_screen( GalaxyS5 ){
                                                    left: 6.5rem;
                                                }
                                                &>{
                                                    a {
                                                        color: #3C4858;
                                                        margin-top: .625rem;
                                                        min-height: auto;
                                                        font-weight: 200;
                                                        margin-bottom: 0.75rem;
                                                        text-decoration: none;
                                                    }
                                                }
                                            }
                                            div:nth-child(3){
                                                color: #3C4858;
                                                margin-bottom: 0.3rem;
                                                font-size: .6rem;
                                                overflow: hidden;
                                                white-space: nowrap;
                                                text-overflow: ellipsis;
                                                font-family: "GothamBook";
                                                width: 95%;
                                                a {
                                                    color: #3C4858;
                                                    font-weight: 600;
                                                    text-decoration: none;
                                                }
                                            }
                                            div:nth-child(4){
                                                margin-bottom: 0.3rem;
                                                color: #3C4858;
                                                min-height: auto;
                                                font-weight: 500;
                                                text-decoration: none;
                                                font-size: 0.6rem;
                                                font-family: "GothamBook";
                                                font-weight: 600;
                                                a {
                                                    color: #2e3746;
                                                }
                                            }
                                            div:nth-child(5) {
                                                margin-bottom: 0.3rem;
                                                color: #7c7c7c;
                                                font-weight: 300;
                                                text-decoration: none;
                                                font-size: 0.7rem;
                                                font-family: "GothamBook";
                                                i {
                                                    margin-left: 1.3rem;
                                                    &:first-child {
                                                        margin-left: 0;
                                                    }
                                                }
                                            }
                                            div:nth-child(6) {
                                                font-size: .6rem;
                                                font-family: GothamBook;
                                                color: rgb( 135, 135, 135 );
                                                max-height: 15px;
                                                overflow: hidden;
                                                margin-bottom: 0.4rem;
                                                white-space: nowrap;
                                                text-overflow: ellipsis;
                                                overflow: hidden;
                                                width: 94%;
                                            }
                                            div:nth-child(7) {
                                                text-align: left;
                                                button {
                                                    border-radius: 0.3rem;
                                                    padding: 0.5rem 0.5rem;
                                                    font-size: 12px;
                                                    font-family: "GothamBook";
                                                    font-weight: 200;
                                                    letter-spacing: 0.04em;
                                                    margin-right: 2px;
                                                    height: 25px;
                                                    width: 28%;
                                                    line-height: 0.3;
                                                    &>{
                                                        i {
                                                            opacity: 1;
                                                            margin: 0;
                                                            font-size: 1.1rem;
                                                        }
                                                    }
                                                    &:nth-child(3){
                                                        background: #48b04f;
                                                        color: $white;
                                                        i {
                                                            margin-right: 0;
                                                        }
                                                    }

                                                }
                                            }
                                            div:nth-child(8){
                                                position: absolute;
                                                bottom: 16px;
                                                right: 10px;
                                                font-size: 8px;
                                                color:#878787;
                                            }
                                        }
                                    }
                                    // Price + Reference Number
                                    div:nth-child(3) {
                                        position: absolute;
                                        bottom: 10px;
                                        right: 5px;
                                        width: 57%;
                                        &>{
                                            // Price
                                            div:nth-child(1) {
                                                float: left;
                                                div:nth-child(1) {
                                                    font-weight: 300;
                                                    color: #e53935;
                                                    font-size: 1.2rem;
                                                    @include for_screen( iPhone5 ){
                                                        font-size: 1rem;
                                                    }
                                                    @include for_screen( iPhone6 ){
                                                        font-size: 1.2rem;
                                                    }
                                                    &>span{
                                                        font-size: 8px;
                                                    }
                                                }
                                            }
                                            // Ref No
                                            p {
                                                float: right;
                                                color: #999999;
                                                font-weight: 300;
                                                font-size: 0.8rem;
                                                @include for_screen( iPhone5 ){
                                                    font-size: 0.7rem;
                                                }
                                                @include for_screen( iPhone6 ){
                                                    font-size: 0.8rem;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.favourite {
    animation: beating .5s 1 alternate;
    color: #e53935 !important;
}
@keyframes beating {
    0% { transform: scale(1) }
    40% { transform: scale(1.25) }
    70% { transform: scale(.9) }
    100% { transform: scale(1) }
}

.ui.one.column.grid > div > div > div > div:hover{
    -webkit-transform: none !important;
    transform: none !important;
}

.ui.one.column.grid > div > div > div > div > div.jss263:hover{
    -webkit-transform: none !important;
    transform: none !important;
}
