@font-face {
    font-family: 'GothamMedium';
    src: url('./../../fonts/Gotham-Medium.woff') format('woff'),
         url('./../../fonts/Gotham-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
  }
@font-face {
    font-family: 'GothamBook';
    src: url('./../../fonts/Gotham-Book.woff') format('woff'),
        url('../../../fonts/Gotham-Book.woff2') format('woff2');
    font-weight: 350;
    font-style: normal;
}
@font-face {
    font-family: 'GothamLight';
    src: url('./../../fonts/Gotham-Light.woff') format('woff'),
        url('../../../fonts/Gotham-Light.woff2') format('woff2');
    font-weight: 350;
    font-style: normal;
}
@font-face {
    font-family: 'GothamThin';
    src: url('./../../fonts/Gotham-Thin.woff') format('woff'),
        url('../../../fonts/Gotham-Thin.woff2') format('woff2');
    font-weight: 350;
    font-style: normal;
}
@font-face {
    font-family: 'GothamBold';
    src: url('./../../fonts/Gotham-Bold.woff') format('woff'),
        url('../../../fonts/Gotham-Bold.woff2') format('woff2');
    font-weight: 350;
    font-style: normal;
}
@font-face {
    font-family: 'MerriweatherSans';
    src: url('./../../fonts/MerriweatherSans-Regular.woff') format('woff'),
         url('./../../fonts/MerriweatherSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'HelveticaNeueMedium';
    src: url('./../../fonts/HelveticaNeue-Medium.woff') format('woff'),
         url('./../../fonts/HelveticaNeue-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
  }


