#sponsored {
    padding-left: 0;
    padding-right: 0;
    &>{
        div:nth-child(1) {
            border-radius: 7px;
            padding: 0;
            border: 4px solid rgb( 220, 34, 41 );
            &>{
                div:nth-child(1) {
                    height: 136px;
                    @include for_screen( iPhone6Plus ){
                        height: 140px;
                    }
                    &>{
                        div:nth-child(1) {
                            width: 100%;
                            height: 136px;
                            position: relative;
                            overflow: hidden;
                            @include for_screen( iPhone6Plus ){
                                height: 140px;
                            }
                            &>{
                                div:nth-child(1) {
                                    float: left;
                                    position: relative;
                                    width: 41%;
                                    &>{
                                        a {
                                            img {
                                                width: 90%;
                                                height: 136px;
                                                border-top-left-radius: 3px;
                                                border-bottom-left-radius: 2px;
                                                object-fit: cover;
                                                @include for_screen( iPhone6Plus ){
                                                    height: 140px;
                                                }
                                            }
                                        }
                                        span {
                                            position: absolute;
                                            bottom: 4px;
                                            right: 11px;
                                            padding: .3rem .2rem .3rem .8rem;
                                            background: rgb( 229, 57, 53 );
                                            color: #ffffff;
                                            text-transform: uppercase;
                                            font-size: .5rem;
                                            font-family: "GothamBook";
                                            display: inline-flex;
                                            align-items: baseline;
                                            @include for_screen( iPhone6 ){
                                                right: 14px;
                                            }
                                            @include for_screen( GalaxyS5 ){
                                                right: 13px;
                                            }
                                            @include for_screen( iPhone6Plus ){
                                                right: 16px;
                                            }

                                            img {
                                                margin-right: .2rem;
                                                width: 15%;
                                            }
                                        }
                                    }
                                }
                                div:nth-child(2) {
                                    float: left;
                                    width: 55%;
                                    padding-top: 10px;
                                    &>{
                                        div:nth-child(1) {
                                            padding-bottom: .2rem;
                                            &>{
                                                h4 {
                                                    font-family: "GothamBook";
                                                    color: rgb( 92, 26, 137 );
                                                    font-size: .7rem;
                                                }
                                            }
                                        }
                                        div:nth-child(2) {
                                            padding-bottom: .4rem;
                                            &>{
                                                span {
                                                    font-family: "GothamBook";
                                                    font-size: .7rem;
                                                    color: rgb( 53, 53, 53 );
                                                }
                                            }
                                        }
                                        div:nth-child(3) {
                                            padding-bottom: .4rem;
                                            &>{
                                                span {
                                                    color: rgb( 60, 72, 88 );
                                                    font-family: "GothamBook";
                                                    font-size: .6rem;
                                                }
                                            }
                                        }
                                        div:nth-child(4) {
                                            padding-bottom: 0;
                                            max-width: 40%;
                                            &>{
                                                img {
                                                    width: 100%;
                                                }
                                            }
                                        }
                                        div:nth-child(5) {
                                            text-align: left;
                                            &>{
                                                button {
                                                    border: 1px solid #5c1a89;
                                                    font-family: "GothamBook";
                                                    font-size: 1rem;
                                                    border-radius: 0.3rem;
                                                    box-shadow: none ;
                                                    height: 25px;
                                                    line-height: 0;
                                                    margin-right: 5px;
                                                    width: 30%;
                                                    &:hover {
                                                        box-shadow: none!important;
                                                    }
                                                    i {
                                                        margin: 0;
                                                        font-size: 1.1rem;
                                                    }
                                                    &:nth-child(2) {
                                                        background-color: transparent !important;
                                                        border: 1px solid #48b04f !important;
                                                        color: #48b04f !important;
                                                        background: none !important;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}