#agent_banner {
    position: relative;
    &>{
        div:nth-child(1) {
            height: 260px;
            background-repeat: no-repeat;
        }
            
        div:nth-child(2) {
            &{
                position: absolute;
                top: -142px;
                width: 100%;
                margin-top: 12rem;
                &>{
                    div {
                        &:nth-child(1){
                            &>{
                                div:nth-child(1){
                                    div:nth-child(1){
                                        h1{
                                            font-size: 1.2rem;
                                            color: white;
                                            font-family: "GothamBold";
                                            text-shadow: 0 0 4px #000;
                                            padding-left: 1rem;
                                            margin-bottom: 1rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
