#listings_wrapper{
    margin-top: 0;
    padding-bottom: 1rem !important;
}

.mobile_paginate {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#pagination {
    list-style-type: none;
    text-align: center;
    background: white;
    padding: 1rem 0;
    margin: 0 1rem;
    &>{
        li{
            display: inline-block;
            margin-right: 1.5rem;
            font-size: 1.2rem;
            &>{
                a{
                    color: #000;
                }
            }
            &:last-child {
                margin-right: 0;
            }
        }
        li.active{
            background: #5d0e8b;
            padding: .3rem .7rem .3rem;
            border-radius: .3rem;
            &>{
                a{
                    color: white;
                }
            }
        }
        .next, .last, .prev, .first{
            a {
                color: #5d0e8b !important;
            }
        }

        li.page-item.first.disabled, li.page-item.prev.disabled, li.page-item.next.disabled, li.page-item.last.disabled {
            a {
                color: #c7c7c7 !important;
            }
        }
    }
}
