#projects_card_grid {
    &>{
        div:nth-child(1){
            &>{
                a{
                    overflow: hidden;
                    border: none !important;
                    box-shadow: none;
                    //Project Image
                    .image{
                        background: transparent;
                        padding: 1rem;
                        padding-left: 0;
                        &>{
                            img{
                                min-height: 19rem;
                                max-height: 19rem;
                                -o-object-fit: cover;
                                object-fit: cover;
                                border-radius: 7px;
                            }
                            .layer {
                                position: absolute;
                                padding: 2.5rem;
                                top: 210px;
                                width: 96%;
                                border-bottom-right-radius: 7px;
                                background: linear-gradient(to top, #151414,60% , transparent);
                                border-bottom-left-radius: 7px;
                            }
                            .progress {
                                position: absolute;
                                top: 234px;
                                width: 50%;
                                left: 19px;
                                background: rgba( 255, 255, 255, 0.4 );
                                .bar {
                                    &>{
                                        .progress {
                                            left: 13.5rem;
                                            color: #fff;
                                            font-family: "GothamMedium";
                                        }
                                    }
                                }
                                &>.label {
                                    left: -38px;
                                    top: -26px;
                                    color: #fff;
                                    font-family: "GothamMedium";
                                }
                            }
                            .move-in {
                                position: absolute;
                                top: 234px;
                                left: 19px;
                                display: inline-flex;
                                align-items: center;
                                &>{
                                    span {
                                        i {
                                            color: #21ba45;
                                        }
                                    }
                                    div:nth-child(2) {
                                        color: #fff;
                                        font-family: "GothamMedium";
                                    }
                                }
                            }
                            .featured {
                                font-family: "GothamMedium";
                                height: inherit;
                                width: auto;
                                position: absolute;
                                left: 30px;
                                top: 35px;
                                background: rgb( 94, 45, 132 );
                                padding: 0.3rem 0.6rem;
                                color: white;
                                font-size: .9rem;
                                font-weight: bold;
                                text-transform: capitalize;
                                border-radius: 4px;
                            }
                            .share_btn{
                                width: fit-content;
                                position: absolute;
                                top: 35px;
                                right: 40px;
                                background: rgba(0,0,0,.2);
                                border-radius: 33px;
                                padding: .2rem;
                                &>{
                                    span {
                                        &>{
                                            i {
                                                color: #fff;
                                                font-size: 1.2rem;
                                            }
                                        }
                                    }
                                }
                                
                            }
                        }
                    }
                    //Developer Name and Logo
                    .content{
                        border: none;
                        padding-left: 0;
                        // padding: 0;
                        // padding-right: .3rem;
                        &>{
                            div:nth-child(1){
                                &>{
                                    //Name and Suburb
                                    div:nth-child(1){
                                        font-family: "GothamBook";
                                        padding-top: 0;
                                        &>{
                                            // Pricing
                                            div:nth-child(1){
                                                font-size: 1.2rem;
                                                color: rgb( 60, 60, 60 );
                                                text-align: left;
                                                margin-bottom: .3rem;
                                                padding: 0;
                                            }
                                            //Name
                                            div:nth-child(2){
                                                font-size: 1rem;
                                                font-family: "GothamMedium";
                                                margin-bottom: .3rem;
                                                color: rgb( 60, 60, 60 );
                                            }
                                            //Property type
                                            div:nth-child(3){
                                                font-size: .8rem;
                                                margin-bottom: .3rem;
                                                color: rgb( 93, 14, 139 );
                                            }
                                            //Suburb
                                            div:nth-child(4){
                                                font-size: 0.8rem;
                                                color: rgb( 126, 126, 126 );
                                            }
                                        }
                                    }
                                    //Developer Logo
                                    div:nth-child(2){
                                        padding-top: 0;
                                        &>{
                                            img {
                                                max-width: 100%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
