#projects_card_list {
    &>{
        div:nth-child(1) {
            &>{
                //card
                a {
                    height: 12rem;
                    overflow: hidden;
                    &>{
                        div:nth-child(1) {
                            height: 100%;
                            width: 35%;
                            background-size: cover;
                            background-repeat: no-repeat;
                            max-height: 12rem;
                            &>{
                                img {
                                    border: none;
                                    height: 100%;
                                    object-fit: cover;
                                    border-top-right-radius: 0;
                                    border-bottom-right-radius: 0;
                                }
                                .layer {
                                    position: absolute;
                                    padding: 2.5rem;
                                    top: 290px;
                                    width: 100%;
                                    border-bottom-right-radius: 0;
                                    background: linear-gradient(to top, #151414,60% , transparent);
                                    border-bottom-left-radius: 7px;
                                }
                                .featured {
                                    font-family: "GothamMedium";
                                    height: auto;
                                    width: auto;
                                    position: absolute;
                                    left: 11px;
                                    top: 14px;
                                    background: rgb( 94, 45, 132 );
                                    padding: 0.3rem 0.6rem;
                                    color: white;
                                    font-size: .9rem;
                                    font-weight: bold;
                                    text-transform: capitalize;
                                    border-radius: 4px;
                                }
                                .share_btn{
                                    width: fit-content;
                                    position: absolute;
                                    top: 11px;
                                    right: 16px;
                                    background: rgba(0,0,0,.2);
                                    border-radius: 33px;
                                    padding: .2rem;
                                    &>{
                                        span {
                                            &>{
                                                i {
                                                    color: #fff;
                                                    font-size: 1.2rem;
                                                }
                                            }
                                        }
                                    }
                                    
                                }
                            }
                        }
                        div:nth-child(2) {
                            position: absolute;
                            margin-left: 35%;
                            // width: 60%;
                            height: 12rem;
                            width: 65%;
                            max-height: 12rem;
                            &>{
                                div:nth-child(1){
                                    height: inherit;
                                    font-family: "GothamBook";
                                    &>{
                                        //Name and Suburb
                                        div:nth-child(1){
                                            // Pricing
                                            div:nth-child(1){
                                                font-size: 1.2rem;
                                                color: rgb( 60, 60, 60 );
                                                text-align: left;
                                                margin-bottom: .7rem;
                                                padding: 0;
                                            }
                                            //Name
                                            div:nth-child(2){
                                                font-size: 1rem;
                                                font-family: "GothamMedium";
                                                margin-bottom: .7rem;
                                                color: rgb( 60, 60, 60 );
                                            }
                                            //Property type
                                            div:nth-child(3){
                                                font-size: .8rem;
                                                margin-bottom: .7rem;
                                                color: rgb( 93, 14, 139 );
                                            }
                                            //Suburb
                                            div:nth-child(4){
                                                font-size: 0.8rem;
                                                color: rgb( 126, 126, 126 );
                                            }
                                        }
                                        //Logo
                                        div:nth-child(2){
                                            // margin: auto;
                                            &>{
                                                img {
                                                    width: 100%;
                                                    max-height: 10rem;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
