#sponsored {
    width: 100%;
    &>{
        div:nth-child(1) {
            border-radius: 7px;
            padding: 0;
            border: 4px solid rgb( 220, 34, 41 );
            &>{
                div:nth-child(1) {
                    height: 200px;
                    &>{
                        div:nth-child(1) {
                            width: 100%;
                            height: 200px;
                            position: relative;
                            overflow: hidden;
                            &>{
                                div:nth-child(1) {
                                    float: left;
                                    position: relative;
                                    width: 41%;
                                    &>{
                                        a {
                                            img {
                                                width: 90%;
                                                height: 200px;
                                                border-top-left-radius: 3px;
                                                border-bottom-left-radius: 2px;
                                                object-fit: cover;
                                            }
                                        }
                                        span {
                                            position: absolute;
                                            bottom: 4px;
                                            right: 31px;
                                            padding: .3rem .2rem .3rem .8rem;
                                            background: rgb( 229, 57, 53 );
                                            color: #ffffff;
                                            text-transform: uppercase;
                                            font-size: .8rem;
                                            font-family: "GothamBook";
                                            display: inline-flex;
                                            align-items: baseline;

                                            img {
                                                margin-right: .2rem;
                                            }
                                        }
                                    }
                                }
                                div:nth-child(2) {
                                    float: left;
                                    width: 55%;
                                    padding-top: 1rem;
                                    &>{
                                        div:nth-child(1) {
                                            padding-bottom: .2rem;
                                            &>{
                                                h4 {
                                                    font-family: "GothamBook";
                                                    color: rgb( 92, 26, 137 );
                                                    font-size: 18px;
                                                }
                                            }
                                        }
                                        div:nth-child(2) {
                                            padding-bottom: .6rem;
                                            &>{
                                                span {
                                                    font-family: "GothamBook";
                                                    font-size: 18px;
                                                    color: rgb( 53, 53, 53 );
                                                }
                                            }
                                        }
                                        div:nth-child(3) {
                                            padding-bottom: .7rem;
                                            &>{
                                                span {
                                                    color: rgb( 60, 72, 88 );
                                                    font-family: "GothamBook";
                                                    font-size: 1rem;
                                                }
                                            }
                                        }
                                        div:nth-child(4) {
                                            padding-bottom: .7rem;
                                            max-width: 9rem;
                                            max-height: 4rem;
                                            &>{
                                                img {
                                                    width: 100%;
                                                    // height: -webkit-fill-available;
                                                }
                                            }
                                        }
                                        div:nth-child(5) {
                                            &>{
                                                button {
                                                    border: 1px solid #5c1a89;
                                                    font-family: "GothamBook";
                                                    font-size: 1rem;
                                                    border-radius: .3rem;
                                                    box-shadow: none ;
                                                    height: 32px;
                                                    line-height: 0.5;
                                                    &:hover {
                                                        box-shadow: none!important;
                                                    }
                                                    &:active {
                                                        box-shadow: none!important;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}