#blog_wrapper {
    margin: 0;
    width: 100%;
    padding-left: 0;
    padding-top: 0;
    &>{
        div:nth-child(1){
            overflow-x: scroll;
            white-space: nowrap;
            display: block;
            margin: 0 -15px;
            &::-webkit-scrollbar {
                display: none;
            }
            &>{
                div {
                    height: 19rem;
                    a{
                        div:nth-child(1){
                            height: 178px;
                            background-repeat: no-repeat;
                            margin-bottom: 1rem;
                            background-size: cover;
                            border-radius: 7px;
                            width: 98%;
                            
                        }
                        div:nth-child(2){
                            font-size: .9rem;
                            color: rgb(40, 40, 40);
                            font-weight: 300;
                            font-family: "GothamMedium";
                            width: 91%;
                            white-space: break-spaces;
                        }
                        div{
                            @include for_screen( tablet ){
                                width: 21.5rem !important;
                            }
                            @include for_screen( portraitTablet ){
                                width: 16.5rem !important;
                            }
                        }
                    }
                    .read {
                        position: absolute;
                        bottom: 12px;
                        a {
                            color: rgb( 102, 28, 143 );
                            font-size: 11px;
                            font-family: GothamBook;

                        }
                    }
                }
                div:nth-child(1){
                    width: 90%;
                    padding: 1rem 0.5rem;
                    margin-left: 1rem;
                }
                div:nth-child(2){
                    width: 90%;
                    padding: 1rem 0.5rem;
                }
                div:nth-child(3){
                    width: 90%;
                    padding: 1rem 0.5rem;
                    margin-right: 0.6rem;
                }
            }
        }
    }
}
