#page_content {
    padding-top: 1rem;
    background: #ffffff;
    &>{
        div:nth-child(1){
            margin-bottom: 1rem;
            &>{
                //img
                div:nth-child(1){
                    text-align: center;
                    &>{
                        div:nth-child(1){
                            padding: 0;
                            &>{
                                a {
                                    img {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                        
                    }
                }

                div:nth-child(2){
                    text-align: left;
                    display: flex;
                    justify-content: center;
                    position: absolute;
                    top: 113px;
                    right: 0;
                    width: 100%;

                    @include for_screen( GalaxyS5 ){
                        top: 132px;
                    }
                    @include for_screen( iPhone6 ){
                        top: 140px;
                    }
                    @include for_screen( iPhone6Plus ){
                        top: 161px;
                    }
                    
                    &>{
                        div:nth-child(1) {
                            padding-top: 1rem;
                            & > div {
                                margin: 0;
                                border: 1px solid #ffffff;
                                border-radius: 10px;
                                overflow: hidden;
                                & > div {
                                    padding: 0;
                                    button {
                                        height: 100%;
                                        background: rgba( 0, 0, 0, 0.502 );
                                        color: #ffffff;
                                        font-family: "GothamMedium";
                                        text-transform: uppercase;
                                        font-size: .9rem;
                                        text-align: center;
                                        border-radius: 0;
                                        box-shadow: none !important;
                                        &.active {
                                            background: #fff;
                                            color: #65008e;
                                        }
                                    }
                                    &:first-child{
                                        border-right: 1px solid rgba(0,0,0,0.25);
                                    }
                                }
                            }
                        }
                        div:nth-child(2){
                            display: flex;
                            justify-content: center;
                            &>{
                                .search_autocomplete {
                                    height: 37px;
                                    display: inline-flex;
                                    align-items: flex-end;
                                    border-radius: 10px;
                                    border: 1px solid #e9e9e9;
                                    padding: 0;
                                    width: 80%;
                                    background: #fff;
                                    @include for_screen( iPhone6 ){
                                        width: 80%;
                                    }
                                    @include for_screen( GalaxyS5 ){
                                        width: 80%;
                                    }
                                    @include for_screen( iPhone6Plus ){
                                        width: 80%;
                                    }
                                    &>{
                                        .awesomplete {
                                            width: 100%;
                                            height: 100%;
                                            border: 1px solid #e9e9e9;
                                            margin: 0;
                                            border-top-left-radius: 10px;
                                            border-bottom-left-radius: 10px;
                                            > input {
                                                border: none;
                                                height: 100% !important;
                                                font-size: 10px;
                                                font-family: "GothamBook";
                                                color: rgb( 40, 40, 40 );
                                                background: transparent;
                                                &::-webkit-input-placeholder {
                                                    font-size: 10px;
                                                    color: rgb( 40, 40, 40 );
                                                    font-family: "GothamBook";
                                                }
                                                &:focus {
                                                    outline: none;
                                                }
                                            }
                                        }
                                        div:nth-child(3) {
                                            background: #4b1b71;
                                            height: 100%;
                                            border: none;
                                            border-top-right-radius: 10px;
                                            border-bottom-right-radius: 10px;
                                            line-height: 1.8;
                                            border-top-left-radius: 0;
                                            margin-left: 0;
                                            border-bottom-left-radius: 0;
                                            &>{
                                                i {
                                                    color: #ffffff;
                                                    margin: auto;
                                                }
                                            }
                                            
                                        }
                                    }
                                }
                            }
                             @include for_screen( iPhone5 ){
                            }
                            @include for_screen( iPhone6 ){
                            }
                            @include for_screen( iPhone6Plus ){
                            }
                            @include for_screen( GalaxyS5 ){
                            }
                        }
                    }
                }

                div:nth-child(3){
                    &>{
                        div:nth-child(1){
                            padding-top: 1.5rem;
                            &>{
                                div:nth-child(1){
                                    img {
                                        width: 100%;
                                        object-fit: cover;
                                    }
                                }
                            }
                        }
                    }
                }

                // Popular area
                div:nth-child(4){
                    margin-bottom: 0.1rem;
                    margin-top: .5rem;
                    &>{
                        div:nth-child(1){
                            font-size: 1rem;
                            color: rgb( 40, 40, 40 );
                            font-family: "GothamMedium";
                            text-align: center;
                            background: $white;
                            margin: 0 1rem;
                            padding-bottom: .5rem;
                        }
                        div:nth-child(2){
                            padding: 0;
                            #most_popular_area {
                                font-family: "GothamBook";
                                &>{
                                    div:nth-child(1){
                                        display: flex;
                                        justify-content: center;
                                        border-bottom: 0;
                                        a {
                                            font-size: .9rem;
                                            font-family: "GothamMedium";
                                            color: rgb( 184, 184, 184 );
                                            text-transform: uppercase;
                                            text-align: center;
                                            border-bottom: 1px solid rgb( 226, 226, 226 );
                                            padding-left: 2rem;
                                            padding-right: 2rem;                
                                            span {
                                                font-size: .7rem !important;
                                                text-transform: none;
                                                display: contents;
                                            }
                                            &.active {
                                                color: rgb( 75, 27, 113 );
                                                border-bottom: 2px solid #4b1b71;
                                                span {
                                                    color: rgb( 40, 40, 40 ); 
                                                }
                                            }
                                            &:first-of-type {
                                                margin-right: 20px;
                                            }
                                        }
                                    }
                                    .popular {
                                        border: none;
                                        box-shadow: none;
                                        margin-bottom: 0;
                                        &>{
                                            div:nth-child(1){
                                                padding-top: 0;
                                                padding-bottom: 0;
                                                &>{
                                                    div:nth-child(1){
                                                        padding-top: 0;
                                                        padding-bottom: 0;
                                                        &>{
                                                            .column {
                                                                padding: 0 0 1rem 0;
                                                                h4 {
                                                                    color: rgb( 40, 40, 40 );
                                                                    font-size: .9rem;
                                                                    font-family: "GothamMedium";
                                                                    font-weight: bold;
                                                                    margin-bottom: .5rem;
                                                                }
                                                                div {
                                                                    ul {
                                                                        list-style: none;
                                                                        padding-left: 0;
                                                                        margin-top: .5rem;
                                                                        height: 6.6rem;
                                                                        overflow: hidden;
                                                                        margin-bottom: 8px;
                                                                        li {
                                                                            padding-bottom: .4rem;
                                                                            a {
                                                                                color: rgb( 75, 27, 113 );
                                                                                font-family: "GothamMedium";
                                                                                font-size: .8rem;
                                                                                @include for_screen( GalaxyS5 ){
                                                                                    font-size: .8rem;
                                                                                }
                                                                                @include for_screen( iPhone6 ){
                                                                                    font-size: .8rem;
                                                                                }
                                                                                @include for_screen( iPhone6Plus ){
                                                                                    font-size: .8rem;
                                                                                }
                                                                            }
                                                                        }
                                                                        &.auto-height {
                                                                            height: auto;
                                                                        }
                                                                    }
                                                                    span {
                                                                        font-size: .75rem;
                                                                        font-family: "GothamMedium";
                                                                        color: rgb( 40, 40, 40 );
                                                                    }
                                                                    i {
                                                                        font-size: .75rem;
                                                                        color: rgb( 40, 40, 40 );
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        div:nth-child(3){
                            padding: 0 1rem 0 0;
                            button {
                                border-radius: 0;
                            }
                        }
                    }
                }

                // Hot projects
                div:nth-child(5) {
                    margin-top: 0;
                    &> {
                        div:nth-child(1) {
                            h3 {
                                font-size: 1rem;
                                font-family: "GothamMedium";
                                color: rgb( 40, 40, 40 );
                            }
                        }
                        div:nth-child(2) {
                            display: flex;
                            align-items: flex-end;
                            justify-content: flex-end;
                            a {
                                font-size: .8rem;
                                font-family: "GothamBook";
                                color: rgb( 40, 40, 40 );
                            }
                        }
                    }
                }

                

                // guide me
                div:nth-child(7) {
                    &> {
                        div:nth-child(1) {
                            padding-top: 0;
                            &>{
                                h3 {
                                    font-size: 1rem;
                                    font-family: "GothamMedium";
                                    color: rgb( 40, 40, 40 );
                                }
                            }
                        }
                    }
                }

                div:nth-child(8) {
                    margin-top: 0;
                    &> {
                        div:nth-child(1) {
                            max-height: 195px;
                            img {
                                border-radius: 20px;
                                height: 195px;
                                object-fit: cover;
                            }
                            .layer {
                                position: absolute;
                                padding: 1.5rem;
                                top: 139px;
                                width: 91%;
                                height: 5rem;
                                border-bottom-right-radius: 20px;
                                background: linear-gradient(to top, #545050, 42% , transparent);
                                border-bottom-left-radius: 20px;
                                @include for_screen( iPhone6 ){
                                    left: 15px;
                                    width: 92.4%;
                                }
                                @include for_screen( GalaxyS5 ){
                                    left: 15px;
                                    width: 92.4%;
                                }
                                @include for_screen( iPhone6Plus ){
                                    width: 92.9%;
                                }
                                @include for_screen( iPhoneX ){
                                    // top: 178px;
                                }
                            }
                            .button {
                                position: absolute;
                                bottom: 6px;
                                left: 31%;
                                background-color: rgb( 75, 27, 113 );
                                border-radius: 16px;
                                font-size: .8rem;
                                font-family: "GothamMedium";
                                color: rgb( 255, 255, 255 );
                                text-transform: uppercase;
                                width: 40%;
                            }
                        }
                    }
                }

                div:nth-child(9) {
                    margin-top: 2rem;
                    &>{
                        div:nth-child(1) {
                            &>{
                                div:nth-child(1) {
                                    padding-top: 1rem;
                                    &> {
                                        div:nth-child(1) {
                                            h3 {
                                                font-size: 1rem;
                                                font-family: "GothamMedium";
                                                color: rgb( 47, 47, 47 );
                                            }
                                        }
                                        div:nth-child(2) {
                                            display: flex;
                                            align-items: flex-end;
                                            justify-content: flex-end;
                                            padding-right: 0;
                                            a {
                                                font-size: .8rem;
                                                font-family: "GothamBook";
                                                color: rgb( 62, 62, 62 );
                                                padding-right: 0;
                                            }
                                        }
                                    }
                                }
                                div:nth-child(2) {
                                    margin-top: 0;
                                }
                            }
                        }
                    }
                }

                div:nth-child(10) {
                    margin-top: .6rem;                
                }
            }
        }
    }
}

html[dir=rtl] {
    #page_content > div:nth-child(1) > div:nth-child(3) > div:nth-child(2) > div .column > div a {
        background-image: url('../img/qaq-arrow-ar.png');
    }
}