#breadcrumbs {
    height: auto;
    margin: 0;
    &>{
        div:nth-child(1) {
            padding: .5rem 1.5rem;
            &>{
                div:nth-child(1) {
                    padding: 0;
                    margin: 0;
                    &>{
                        a {
                            color: #000;
                            transition: color 0.5s ease;
                            font-size: .72857143rem;
                            margin: 0.5rem 0;
                        }

                        i {
                            margin: 0.5rem 0;
                            color: #000;
                            font-size: .6rem;
                        }
                        a.active.section {
                            color: #5d0e8b;
                            font-weight: 500;
                            cursor: default;
                        }

                        a:hover {
                            color: #5d0e8b;
                        }
                    }
                }
            }
        }
    }
}
