#agent_search{
    margin-top: 0;
    &>{
        div{
            &>{
                div:nth-child(1){
                    padding-right: 1rem;
                    &>{
                        //sixteen wide column
                        div:nth-child(1){
                            div:nth-child(1), div:nth-child(2){
                                padding-bottom: 1rem;
                                padding-left: 0;
                                &>{
                                    .ui.dropdown.selection{
                                        border-radius: 7px;
                                        line-height: 1em;
                                        border-top: 0;
                                        padding: 0.7rem;
                                        min-width: 10rem;

                                        .dropdown.icon{
                                            line-height: 2em;
                                        }

                                        .menu.transition.visible{
                                            border-color: rgba(34,36,38,.15);
                                            .item{
                                                color: #5d0e8b;
                                            }
                                        }
                                    }
                                }
                            }
                            div:nth-child(2){
                                padding-right: 0;
                            }

                            div:nth-child(3){
                                padding: 0;
                                font-size: .7rem;
                                input{
                                    border-radius: 7px;
                                    padding: 1rem 0.7rem;
                                    border-top: 0;
                                }
                            }
                        }
                    }
                }
                div:nth-child(2){
                    &>{
                        button {
                            width: 100%;
                            border-radius: 7px;
                            text-transform: uppercase;
                            font-size: 1rem;
                            letter-spacing: 0.05em;
                            padding: 1.25rem 0;
                        }
                    }
                }
                // div:nth-child(3) {
                //     display: flex;
                //     justify-content: center;
                //     padding-top: .8rem;
                //     &>{
                //         span {
                //             color: $white;
                //             font-weight: 100;
                //             font-size: 0.7rem;
                //             padding: .3rem .8rem;
                //             background-color: $purple;
                //             padding-bottom: .2rem;
                //             line-height: 1.5;
                //             display: inline-block;
                //         }
                //     }
                // }
            }
        }
    }
}
