#budget_search{
    margin-top: 2rem;
    &>{
        div:nth-child(1){
            &>{
                div:nth-child(1){
                    &>{
                        div:nth-child(1){
                            &>{
                                div:nth-child(1), div:nth-child(2), div:nth-child(3), div:nth-child(4) {
                                    padding: 0;
                                    &>{
                                        .ui.dropdown.selection{
                                            border-radius: 0;
                                            line-height: 2em;

                                            .dropdown.icon{
                                                line-height: 2em;
                                            }

                                            .menu.transition.visible{
                                                border-color: rgba(34,36,38,.15);
                                                .item{
                                                    color: #5d0e8b;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                div:nth-child(2){
                    &>{
                        button {
                            width: 100%;
                            border-radius: 0;
                            text-transform: uppercase;
                            font-size: 1rem;
                            letter-spacing: 0.05em;
                            padding: 1.25rem 0;
                        }
                    }
                }
            }
        }
    }
}
