#projects_search {
    margin-top: 0;
    &>{
        div:nth-child(1){
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            background: rgb( 250, 250, 250 );
            padding-top: .5rem;
            padding-bottom: .5rem;
            &>{
                div:nth-child(1){
                    width: 100%;
                    &>{
                        div:nth-child(1){
                            width: 100%;
                            // margin-top: 1rem;
                            &>{
                                input {
                                    font-size: .9rem;
                                    color: rgb( 131, 131, 131 );
                                    border: 1px solid rgb( 238, 238, 238 );
                                    border-radius: 7px;
                                    height: 2.7rem;
                                    padding-left: 3rem !important;
                                    
                                    &::-webkit-input-placeholder {
                                        font-size: .9rem;
                                        color: rgb( 131, 131, 131 );
                                    }
                                    &:focus {
                                        outline: none;
                                    }
                                }
                            }
                            &:focus {
                                outline: none;
                            }
                        }
                        i{
                            color: $purple;
                            font-size: 1.2rem;
                            opacity: 1;
                            margin-top: .2rem;
                        }
                    }
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
        div:nth-child(2) {
            width: 100% !important;
            padding-left: 0;
            padding-right: 0;
            border: 1px solid rgb( 238, 238, 238 );
            margin-top: 0;
            margin-bottom: 1rem;
            background: #ffffff;
            &>{
                div:nth-child(1){
                    display: flex;
                    justify-content: center;
                    padding-top: 1.2rem;
                    padding-bottom: 1.2rem;
                    border-right: 1px solid #eeeeee;
                    &>{
                        div:nth-child(1) {
                            width: fit-content;
                            &>{
                                span {
                                    color: rgb( 6, 6, 6 );
                                    font-size: 1rem;
                                    &:first-of-type {
                                        i {
                                            color: $purple;
                                            font-size: 1.2rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                div:nth-child(2){
                    display: flex;
                    justify-content: center;
                    padding-top: 1.2rem;
                    padding-bottom: 1.2rem;
                    &>{
                        div:nth-child(1) {
                            width: fit-content;
                            &>{
                                span {
                                    color: rgb( 6, 6, 6 );
                                    font-size: 1rem;
                                    &:first-of-type {
                                        i {
                                            color: $purple;
                                            font-size: 1.2rem;
                                            margin-right: 0;
                                        }
                                    }
                                    &:nth-of-type(2) {
                                        i {
                                            color: $purple;
                                            font-size: 1.2rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
// @include for_screen( iPhone5 ){
// }
// @include for_screen( iPhone6 ){
// }
// @include for_screen( iPhone6Plus ){
// }
// @include for_screen( GalaxyS5 ){
// }
