#most_popular_wrapper {
    margin-bottom: 3rem;
    &>{
        div:nth-child(1){
            &>{
                div:nth-child(1){
                    &>{
                        div:nth-child(1){
                            display: inline-flex;
                            align-items: baseline;
                            font-size: 1.5rem;
                            &>{
                                h2 {
                                    font-family: "GothamMedium";
                                    padding-right: .3rem;
                                    font-size: 1.5rem;

                                    &:nth-of-type(2) {
                                        font-family: "GothamBook";
                                        padding-right: .3rem;
                                    }

                                    &:last-of-type {
                                        color: #661c8f;
                                    }
                                }
                            }
                        }
                    }
                }
                div:nth-child(2) {
                    border-bottom: 1px solid rgba(34, 36, 38, 0.071);
                    h3 {
                        font-size: 14px;
                        font-family: "GothamMedium";
                        color: #a8a8a8;
                        &:first-child {
                            padding-left: 0;
                        }
                        &.active {
                            color: #505050;
                            border-bottom: 4px solid rgb( 102, 28, 143 );
                        }
                    }
                }
                .popular{
                    background-color: transparent;
                    border: none;
                    box-shadow: none;
                    flex: 1 1 auto!important;
                    overflow-y: auto!important;
                    max-height: 150px #{"/*rtl:164px*/"}!important;
                    h4 {
                        font-size: 15px;
                        font-family: "GothamMedium";
                        color: rgb( 40, 40, 40 );
                        padding-left: 0;
                    }
                    ul{
                        list-style: none;
                        padding-left: 0;
                        li{
                            width: 50%;
                            float: left;
                            padding: 0;
                            padding-bottom: .1rem;
                            a{
                                color: #818181;
                                font-family: "GothamBook";
                                font-size: 11px;
                            }

                        }
                    }
                    &::-webkit-scrollbar {
                        width:5px;
                    }
                    &::-webkit-scrollbar-thumb {
                        background: rgb( 102, 28, 143 );
                        border-radius: 4px;
                        width: 2px;
                    }
                }
            }
        }
        div:nth-child(2){
            &>{
                div:nth-child(1){
                    &>{
                        div:nth-child(1){
                            display: inline-flex;
                            align-items: baseline;
                            font-size: 1.5rem;
                            &>{
                                h2 {
                                    font-family: "GothamMedium";
                                    padding-right: .3rem;
                                    font-size: 1.5rem;
                                    
                                    &:nth-of-type(2) {
                                        font-family: "GothamBook";
                                        padding-right: .3rem;
                                    }

                                    &:last-of-type {
                                        color: #661c8f;
                                    }
                                }
                            }
                        }
                    }
                }
                div:nth-child(2) {
                    border-bottom: 1px solid rgba(34, 36, 38, 0.071);
                    h3 {
                        font-size: 14px;
                        font-family: "GothamMedium";
                        color: #a8a8a8;
                        &:first-child {
                            padding-left: 0;
                        }
                        &.active {
                            color: #505050;
                            border-bottom: 4px solid rgb( 102, 28, 143 );
                        }
                    }
                }
                .popular{
                    background-color: transparent;
                    border: none;
                    box-shadow: none;
                    flex: 1 1 auto!important;
                    overflow-y: auto!important;
                    max-height: 150px #{"/*rtl:164px*/"}!important;
                    h4 {
                        font-size: 15px;
                        font-family: "GothamMedium";
                        color: rgb( 40, 40, 40 );
                        padding-left: 0;
                    }
                    ul{
                        list-style: none;
                        padding-left: 0;
                        li{
                            width: 50%;
                            float: left;
                            padding: 0;
                            padding-bottom: .1rem;
                            a{
                                color: #818181;
                                font-family: "GothamBook";
                                font-size: 10px;
                            }

                        }
                    }
                    &::-webkit-scrollbar {
                        width:5px;
                    }
                    &::-webkit-scrollbar-thumb {
                        background: rgb( 102, 28, 143 );
                        border-radius: 4px;
                        width: 2px;
                    }
                }
            }
        }
    }


      div:nth-child(1) {
            &>{
              .popular{
                ul{
                  li{
                    a:hover {
                      text-decoration: underline;
                    }
                  }
                }
              }
            }
        }

        div:nth-child(2) {
              &>{
                .popular{
                  ul{
                    li{
                      a:hover {
                        text-decoration: underline;
                      }
                    }
                  }
                }
              }
          }

}
