.pages_property_details {
    &>{
        div:nth-child(1) {
            padding-left: 1rem;
            padding-right: 3rem;
            display: flex;
            max-width: 600px;
            &>{
                div:nth-child(1) {
                    &>{
                        div:nth-child(1) {
                            &>{
                                // SLIDER
                                div:nth-child(1){
                                    div:nth-child(1){
                                        div:nth-child(1){
                                            height: 500px !important;
                                            width: inherit;
                                            img{
                                                width: 100%;
                                                max-height: 500px !important;
                                            }
                                        }
                                    }
                                }

                                // SHARE AND FAVORITE ICON
                                div:nth-child(2){
                                    position: absolute;
                                    top: 2rem;
                                    left: 2rem;
                                    z-index: 999;
                                    &>{
                                        div:nth-child(1){
                                            display: inline-flex;
                                            &>{
                                                div:nth-child(1){
                                                    border-radius: 50%;
                                                    background-color: rgba(0,0,0,0.2);
                                                    padding: .35rem .45rem;
                                                    margin-right: .8rem;
                                                    &>{
                                                      a {
                                                          color: #ffffff;
                                                          font-size: 1.3rem;
                                                          i {
                                                              margin: 0;
                                                          }
                                                      }
                                                    }
                                                }
                                                div:nth-child(2){
                                                    border-radius: 50%;
                                                    // background-color: rgba(0,0,0,0.2);
                                                    padding: .35rem .45rem;
                                                    &>{
                                                      a {
                                                          color: #ffffff;
                                                          font-size: 1.3rem;
                                                          i {
                                                            margin: 0;
                                                        }
                                                      }
                                                    }
                                                }
                                            }
                                        }

                                        div:nth-child(2){
                                            text-align: right;
                                            color: white;
                                            background-color: rgba(0,0,0,0.2);
                                            // padding: 0;
                                            position: absolute;
                                            margin-left: -9rem;
                                            display:none !important;
                                            // top: 36px;
                                            // left: 156px;
                                            &>{
                                                a{
                                                    i{
                                                        background-color: rgba(0,0,0,.4);
                                                        color: #fff;
                                                        height: 2.5rem;
                                                        width: 2.5rem;
                                                        border-radius: 2rem;
                                                        font-size: 1.3rem;
                                                        line-height: 2.5rem;
                                                    }
                                                }
                                                a:nth-child(2){
                                                    i{
                                                        margin-left: 0.5rem;
                                                    }
                                                }
                                            }
                                        }

                                    }
                                }
                                div:nth-child(3){
                                    position: relative;
                                    bottom: 17rem;
                                    left: 4rem;
                                    display: inline-flex;
                                    z-index: 999;
                                    &>{
                                        div:nth-child(1) {
                                            display: inline-flex;
                                            align-items: center;
                                            &>{
                                                div:nth-child(1) {
                                                    border-radius: 50%;
                                                    background-color: rgba(0,0,0,0.2);
                                                    padding: .65rem .65rem;
                                                    a {

                                                        img {
                                                            width: 18px;
                                                        }
                                                    }
                                                }
                                                span {
                                                    color: #ffffff;
                                                    font-size: .8rem;
                                                    font-family: "GothamBook";
                                                    margin-left: .7rem;
                                                }
                                            }

                                        }
                                        div:nth-child(2) {
                                            display: inline-flex;
                                            align-items: center;
                                            &>{
                                                div:nth-child(1) {
                                                    border-radius: 50%;
                                                    background-color: rgba(0,0,0,0.2);
                                                    padding: .35rem .45rem;
                                                    margin-left: .7rem;
                                                    a {

                                                        img {
                                                            // width: 18px;
                                                        }
                                                    }
                                                }
                                                span {
                                                    color: #ffffff;
                                                    font-size: .8rem;
                                                    font-family: "GothamBook";
                                                    margin-left: .7rem;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }


                        div:nth-child(2) {
                            background: green;
                            &>{
                                div:nth-child(1) {
                                    padding: 0 0 1rem !important;
                                }
                            }
                        }

                        div:nth-child(3) {
                            &> {
                                div:nth-child(1) {
                                    padding-left: 0;
                                    padding-right: 0;
                                    &> {
                                        // General info
                                        div:nth-child(1) {
                                            &> {
                                                div:nth-child(1) {
                                                    padding-left: 0;
                                                    &> {
                                                        h1 {
                                                            font-family: "GothamMedium";
                                                            color: rgb( 60, 60, 60 );
                                                            font-size: 1.3rem;
                                                            margin-bottom: .4rem;
                                                        }
                                                        div:nth-child(2) {
                                                            margin-bottom: .8rem;
                                                            h2 {
                                                                font-size: .9rem;
                                                                font-family: "GothamBook";
                                                                color: rgb( 60, 60, 60 );
                                                            }
                                                        }
                                                        div:nth-child(3) {
                                                            font-size: .8rem;
                                                            font-family: "GothamBook";
                                                            color: rgb( 60, 60, 60 );
                                                            margin-bottom: .5rem;
                                                            i {
                                                                color: rgb( 60, 60, 60 );
                                                                margin-left: .6rem;
                                                                &:first-of-type {
                                                                    margin-left: 0;
                                                                }
                                                            }
                                                        }
                                                        div:nth-child(4) {
                                                            font-size: 1rem;
                                                            font-family: "GothamBook";
                                                            color: rgb( 78, 78, 78 );
                                                        }
                                                    }
                                                }
                                                div:nth-child(2) {
                                                    padding-right: 0;
                                                    &> {
                                                        div:nth-child(1) {
                                                            margin-bottom: .8rem;
                                                            text-align: right;
                                                            span {
                                                                font-family: "GothamBook";
                                                                color: rgb( 229, 57, 53 );
                                                                font-size: 1.4rem;
                                                            }
                                                        }
                                                        div:nth-child(2) {
                                                            font-family: "GothamBook";
                                                            &>{
                                                                div:nth-child(1) {
                                                                    text-align: right;
                                                                    margin-bottom: .4rem;
                                                                    span {
                                                                        color: rgb( 60, 72, 88 );
                                                                        border-bottom: 1px solid rgb( 60, 72, 88 );
                                                                        width: fit-content;
                                                                        font-size: .7rem;
                                                                    }

                                                                }
                                                                div:nth-child(2) {
                                                                    display: flex;
                                                                    justify-content: flex-end;
                                                                    &>{
                                                                        div:nth-child(1) {
                                                                            text-align: right;
                                                                            border-bottom: 1px solid #5c1a89;
                                                                            width: fit-content;
                                                                            &>{
                                                                                span {
                                                                                    font-size: .7rem;
                                                                                    color: #5c1a89;
                                                                                }
                                                                            }
                                                                        }
                                                                    }

                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        // Amenities
                                        div:nth-child(2) {
                                            &>{
                                                div:nth-child(1) {
                                                    padding-left: 0;
                                                    &>{
                                                        div:nth-child(1) {
                                                            &>{
                                                                span {
                                                                    font-family: "GothamMedium";
                                                                    color: rgb( 60, 60, 60 );
                                                                    font-size: 1.3rem;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                                div:nth-child(2) {
                                                    display: inline-flex;
                                                    align-items: baseline;
                                                    padding-top: 0;
                                                    height: 9rem;
                                                    padding-left: 0;
                                                    padding-right: 0;
                                                    &>{
                                                        div:nth-child(1) {
                                                            &>{
                                                                ul{
                                                                    padding: 0;
                                                                    margin: 0;
                                                                    height: 9rem;
                                                                    overflow: hidden;
                                                                    &>{
                                                                        li{
                                                                            display: inline-block;
                                                                            background: rgb( 244, 244, 244 );
                                                                            width: 20%;
                                                                            margin-right: 1rem;
                                                                            margin-bottom: 1rem;
                                                                            padding: 1rem .7rem 0 .7rem;
                                                                            font-weight: 300;
                                                                            min-height: 3.9rem;
                                                                            float: left;
                                                                            text-align: center;
                                                                            border-radius: 7px;
                                                                            &>{
                                                                                div:nth-child(1) {
                                                                                    display: flex;
                                                                                    justify-content: center;
                                                                                    &>{
                                                                                        img{

                                                                                        }
                                                                                    }
                                                                                }
                                                                                div:nth-child(2) {
                                                                                    height: 5rem;
                                                                                    display: flex;
                                                                                    justify-content: center;
                                                                                    align-items: center;
                                                                                    &>{
                                                                                        span {
                                                                                            font-family: "GothamBook";
                                                                                            font-size: .8rem;
                                                                                            color: rgb( 46, 55, 70 );
                                                                                            text-transform: capitalize;
                                                                                        }
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                        div:nth-child(2) {
                                                            padding: 1.6rem 0rem;
                                                            background: rgba( 244, 244, 244, 0 );
                                                            box-shadow: 0px 0px 6px 0px rgb( 192, 192, 192 );
                                                            border: 1px solid rgb(244, 244, 244);
                                                            border-radius: 7px;
                                                            position: relative;
                                                            top: -77px;
                                                            &>{
                                                                a {
                                                                   &>{
                                                                       div:nth-child(1) {
                                                                           text-align: center;
                                                                           &>{
                                                                               i {
                                                                                   margin-right: 0;
                                                                                   margin-bottom: 2rem;
                                                                                   font-size: 1.5rem;
                                                                                   color: rgb( 46, 55, 70 );
                                                                               }
                                                                           }
                                                                       }
                                                                       div:nth-child(2) {
                                                                           text-align: center;
                                                                           width: 5rem;
                                                                           &>{
                                                                               span{
                                                                                   font-size: .8rem;
                                                                                   font-family: "GothamBook";
                                                                                   color: rgb( 46, 55, 70 );
                                                                               }
                                                                           }
                                                                       }
                                                                   }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        // Map and nearby
                                        div:nth-child(3) {
                                            &>{
                                                div:nth-child(1) {
                                                    padding-left: 0;
                                                    &>{
                                                        div:nth-child(1) {
                                                            &>{
                                                                span {
                                                                    font-family: "GothamMedium";
                                                                    color: rgb( 60, 60, 60 );
                                                                    font-size: 1.3rem;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }

                                                div:nth-child(2){
                                                    height: 35rem;
                                                    margin-left: 1rem;
                                                    position: relative;
                                                    box-shadow: none;
                                                    background: #eee;
                                                    margin-left: 0;
                                                }
                                                div:nth-child(3){
                                                    height: 35rem;
                                                    padding: 0;
                                                    right: 0;
                                                    top: 0;
                                                    position: relative;
                                                    background-color: rgba(238,238,238, .7);
                                                    div {
                                                        border-bottom: 1px solid #dbdbdb;
                                                        height: 3.9rem;
                                                        padding: 1rem;
                                                        width: 100%;
                                                        font-size: 1rem;
                                                        font-weight: 300;
                                                        &:last-of-type {
                                                            border-bottom: none;
                                                        }
                                                        label{
                                                            font-family: "GothamMedium";
                                                            color: rgb( 71, 71, 71 );
                                                        }

                                                    }
                                                }
                                                // No Location provided - overlay and text
                                                div:nth-child(4){
                                                    height: 35rem;
                                                    width: 100%;
                                                    position: absolute;
                                                    background: rgba(0, 0, 0, 0.8);
                                                    display: none;
                                                    top: 25rem;
                                                    left: 0;
                                                    color: white;
                                                    // display: flex;
                                                    justify-content: center;
                                                    align-items: center;
                                                }
                                                // No Location provided - text
                                                // div:nth-child(5){
                                                //     top: 46%;
                                                //     text-align: center;
                                                //     color: #fff;
                                                //     width: 100%;
                                                //     position: absolute;
                                                //     display: none;
                                                // }
                                            }
                                        }
                                        // Description
                                        div:nth-child(4) {
                                            &>{
                                                div:nth-child(1) {
                                                    padding-top: 2rem;
                                                    padding-bottom: 0;
                                                    padding-left: 0;
                                                    &>{
                                                        div:nth-child(1) {
                                                            &>{
                                                                span {
                                                                    font-family: "GothamMedium";
                                                                    color: rgb( 60, 60, 60 );
                                                                    font-size: 1.3rem;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                                div:nth-child(2){
                                                    overflow: hidden;
                                                    padding-top: 0;
                                                    padding-left: 0;
                                                    padding-right: 0;
                                                    &>{
                                                        div:nth-child(1){
                                                            margin-top: 1rem;
                                                            font-family: "GothamBook";
                                                            color: rgb( 58, 58, 58 );
                                                            line-height: 1.367;
                                                            font-size: .85rem;
                                                            height: 5rem;
                                                            overflow: hidden;
                                                            &:not(.read_more_less_desc-collapsed):after {
                                                                content: "";
                                                                position: absolute;
                                                                height: 1.5rem;
                                                                bottom: 35px;
                                                                display: block;
                                                                left: 0;
                                                                right: 0;
                                                                background: -webkit-gradient( linear, left top, left bottom, from(rgba(255,255,255,0.2)), to(rgba(255,255,255,0)), color-stop(.5,#fff) );
                                                                background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 95%);

                                                            }

                                                            a {
                                                                cursor: pointer !important;
                                                            }

                                                        }
                                                        div:nth-child(2){
                                                            margin-top: 1rem;
                                                            text-align: left;
                                                            a{
                                                                font-size: .85rem;
                                                                font-family: "GothamMedium";
                                                                color: rgb( 58, 58, 58 );
                                                                background: rgb( 255, 255, 255 );
                                                                border: 1px solid rgb( 219, 219, 220 );
                                                                padding: .5rem;
                                                                // -webkit-transition: color 0.5s ease;
                                                                // transition: color 0.5s ease;
                                                            }
                                                            // a:hover{
                                                            //     color: #5d0e8b;
                                                            // }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        // Area Stats
                                        div:nth-child(5) {
                                            &>{
                                                div:nth-child(1) {
                                                    padding-bottom: 0;
                                                    &>{
                                                        div:nth-child(1) {
                                                            &>{
                                                                span {
                                                                    font-family: "GothamMedium";
                                                                    color: rgb( 60, 60, 60 );
                                                                    font-size: 1.3rem;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                                div:nth-child(2){
                                                    display: inline-flex;
                                                    justify-content: space-between;
                                                    &>{
                                                        div:nth-child(1){
                                                            display: inline-flex;
                                                            width: 50%;
                                                            justify-content: space-between;
                                                            &>{
                                                                div:nth-child(1){
                                                                    &>{
                                                                        div:nth-child(1){
                                                                            display: flex;
                                                                            justify-content: center;
                                                                            padding-bottom: 1rem;
                                                                            padding-top: .7rem;
                                                                            &>{
                                                                                img {
                                                                                    max-width: 100%;
                                                                                    width: 60px;
                                                                                }
                                                                            }
                                                                        }
                                                                        div:nth-child(2){
                                                                            &>{
                                                                                span{
                                                                                    font-size: 1.2rem;
                                                                                    font-family: "GothamBook";
                                                                                    color: rgb( 48, 45, 46 );
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                                div:nth-child(2){
                                                                    &>{
                                                                        div:nth-child(1){
                                                                            font-size: .8rem;
                                                                            font-family: "GothamBook";
                                                                            color: rgb( 229, 57, 53 );
                                                                        }
                                                                        div:nth-child(2){
                                                                            &>{
                                                                                h5 {
                                                                                    font-size: 1.7rem;
                                                                                    font-family: "GothamMedium";
                                                                                    color: rgb( 48, 45, 46 );
                                                                                    text-transform: uppercase;
                                                                                }
                                                                            }
                                                                        }
                                                                        div:nth-child(3){
                                                                            display: inline-flex;
                                                                            align-items: center;
                                                                            &>{
                                                                                img {

                                                                                }
                                                                                span{
                                                                                    font-size: .8rem;
                                                                                    font-family: "GothamBook";
                                                                                    color: rgb( 229, 57, 53 );
                                                                                    &:first-of-type {
                                                                                        margin-right: .2rem;
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }

                                                        div:nth-child(2){
                                                            &>{
                                                                div:nth-child(1) {
                                                                    font-size: .8rem;
                                                                    font-family: "GothamBook";
                                                                    color: rgb( 229, 57, 53 );
                                                                }
                                                                div:nth-child(2) {
                                                                    font-size: 1.7rem;
                                                                    font-family: "GothamMedium";
                                                                    color: rgb( 48, 45, 46 );
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                                div:nth-child(3){
                                                    &>{
                                                        div:nth-child(1) {
                                                            &>{
                                                                span {
                                                                    font-size: 1.4rem;
                                                                    font-family: "GothamBook";
                                                                    color: rgb( 164, 164, 164 );


                                                                    &:nth-of-type(2) , &:nth-of-type(4) {
                                                                        color: #231f20;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }

                                        // Expert review
                                        div:nth-child(6) {
                                            &>{
                                                div:nth-child(1) {
                                                    // padding-bottom: 0;
                                                    &>{
                                                        div:nth-child(1) {
                                                            &>{
                                                                span {
                                                                    font-family: "GothamMedium";
                                                                    color: rgb( 60, 60, 60 );
                                                                    font-size: 1.3rem;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                                div:nth-child(2) {
                                                    display: inline-flex;
                                                    &>{
                                                        div {
                                                            display: inline-flex;
                                                            justify-content: center;
                                                            border: 1px solid rgb( 242, 242, 242 );
                                                            border-radius: 7px;
                                                            background-color: rgba( 242, 242, 242, 0 );
                                                            font-family: "GothamBook";
                                                            width: 50%;
                                                            margin-right: 1rem;
                                                            &>{
                                                                span {
                                                                    font-size: 4rem;
                                                                    color: rgb( 117, 39, 158 );
                                                                    padding-left: .8rem;


                                                                    &:nth-of-type(2) {
                                                                        font-size: 1.1rem;
                                                                        color: rgb( 48, 45, 46 );
                                                                        padding-right: 4rem;
                                                                        padding-left: 2rem;
                                                                        display: flex;
                                                                        align-items: center;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }

                                        // Monthly Costs
                                        div:nth-child(7) {
                                            &>{
                                                div:nth-child(1) {
                                                    padding-bottom: 1rem;
                                                    padding-left: 0;
                                                    padding-right: 0;
                                                    &>{
                                                        div:nth-child(1) {
                                                            &>{
                                                                span {
                                                                    font-family: "GothamMedium";
                                                                    color: rgb( 60, 60, 60 );
                                                                    font-size: 1.3rem;
                                                                }
                                                            }
                                                        }
                                                        div:nth-child(2) {
                                                            &>{
                                                                p {
                                                                    font-size: .8rem;
                                                                    font-family: "GothamBook";
                                                                    color: rgb( 46, 55, 70 );
                                                                    text-align: left;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                                div:nth-child(2) {
                                                    border: 1px solid rgb( 242, 242, 242 );
                                                    border-radius: 7px;
                                                    background-color: rgba( 255, 255, 255, 0 );
                                                    padding: 2rem;
                                                    &>{
                                                        div:nth-child(1) {
                                                            width: 50%;
                                                            float: left;
                                                            &>{
                                                                // img
                                                                div:nth-child(1) {
                                                                    margin-left: 2rem;
                                                                    &>{
                                                                        img{}
                                                                    }
                                                                }
                                                                // monthly cost
                                                                div:nth-child(2) {
                                                                    display: block;
                                                                    font-family: "GothamBook";
                                                                    text-align: center;
                                                                    position: relative;
                                                                    bottom: 142px;
                                                                    right: 48px;
                                                                    &>{
                                                                        div:nth-child(1) {
                                                                            font-size: 1.2rem;
                                                                            color: rgb( 48, 45, 46 );
                                                                        }
                                                                        div:nth-child(2) {
                                                                            &>{
                                                                                span {
                                                                                    font-size: 2rem;
                                                                                    color: rgb( 48, 45, 46 );
                                                                                }
                                                                            }

                                                                        }
                                                                        div:nth-child(3) {
                                                                            font-size: 1.1rem;
                                                                            color: rgb( 164, 164, 164 );
                                                                        }
                                                                    }
                                                                }

                                                                div:nth-child(3) {
                                                                    font-size: .85rem;
                                                                    font-family: "GothamBook";
                                                                    color: rgb( 60, 72, 88 );
                                                                    // margin-top: -18px;
                                                                }
                                                                div:nth-child(4) {
                                                                    margin-left: -12px;
                                                                    &>{
                                                                        img {}
                                                                    }
                                                                }
                                                                div:nth-child(5) {
                                                                    font-size: .85rem;
                                                                    font-family: "GothamBook";
                                                                    color: rgb( 60, 72, 88 );
                                                                    padding-right: 3rem;
                                                                }
                                                            }
                                                        }
                                                        div:nth-child(2) {
                                                            width: 50%;
                                                            float: left;
                                                            &>{
                                                                div:nth-child(1) {
                                                                    border-bottom: 5px solid rgb( 230, 230, 230 );
                                                                    &>{
                                                                        a {
                                                                            font-size: 16px;
                                                                            font-family: "GothamBook";
                                                                            color: rgb( 92, 44, 133 );
                                                                            font-weight: normal;
                                                                            margin-bottom: -5px;
                                                                            &:nth-of-type(2) {
                                                                                color: #e43935;
                                                                            }
                                                                            &:nth-of-type(3) {
                                                                                color: #136fcf;
                                                                            }
                                                                            &.active {
                                                                                border-bottom: 5px solid rgb( 117, 39, 158 );
                                                                            }
                                                                        }
                                                                    }
                                                                }

                                                                div:nth-child(2), div:nth-child(3), div:nth-child(4) {
                                                                    &>{
                                                                        div:nth-child(1) {
                                                                            &>{
                                                                                div {
                                                                                    font-size: .85rem;
                                                                                    font-family: "GothamBook";
                                                                                    color: rgb( 62, 62, 62 );
                                                                                    display: flex;
                                                                                    align-items: center;
                                                                                    padding-bottom: 0px;
                                                                                    padding-right: 0;
                                                                                    &>{
                                                                                        div {
                                                                                            width: 100%;
                                                                                            input {
                                                                                                font-size: .75rem;
                                                                                                font-family: "GothamBook";
                                                                                                color: rgb( 23, 23, 23 );
                                                                                                border: 1px solid rgb( 222, 222, 222 );
                                                                                                border-radius: 4px;
                                                                                                height: 2.5rem;
                                                                                                padding-left: 1rem;
                                                                                                &::-webkit-input-placeholder {
                                                                                                    font-size: .75rem;
                                                                                                    font-family: "GothamBook";
                                                                                                    color: rgb( 23, 23, 23 );
                                                                                                }
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                    &:nth-of-type(1), &:nth-of-type(2) {
                                                                                        font-size: 1rem;
                                                                                    }
                                                                                    &:nth-of-type(2) {
                                                                                        span {
                                                                                            &:nth-of-type(1) {
                                                                                                margin-right: .5rem;
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }

                                                                div:nth-child(5) {
                                                                    position: absolute;
                                                                    bottom: 9px;
                                                                    width: 46.5%;
                                                                    &>{
                                                                        button {
                                                                            border-radius: 7px;
                                                                            background-color: rgb( 102, 28, 143 );
                                                                            font-size: 1rem;
                                                                            font-family: "GothamMedium";
                                                                            color: rgb( 255, 255, 255 );
                                                                            text-transform: uppercase;
                                                                            height: 50px;
                                                                        }
                                                                    }
                                                                }

                                                                .segment {
                                                                    border: none;
                                                                    box-shadow: none;
                                                                    border-radius: 0;
                                                                    padding: 10px 0;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }

                                        div:nth-child(8) {
                                            &>{
                                                div:nth-child(1) {
                                                    // padding-bottom: 0;
                                                    &>{
                                                        div:nth-child(1) {
                                                            &>{
                                                                span {
                                                                    font-size: 1.2rem;
                                                                    font-family: "GothamMedium";
                                                                    color: rgb( 46, 55, 70 );
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                            }
                        }

                    }

                }
                div:nth-child(2) {
                    &>{
                        div:nth-child(1) {
                            &>{
                                div:nth-child(1) {
                                    background-image: -webkit-linear-gradient(3deg, #583041 0%, #5c1a89 99%);
                                    height: 90px;
                                }
                                div:nth-child(2) {
                                    margin-right: 1rem;
                                    margin-left: 1rem;
                                    background-color: white;
                                    border-radius: 7px !important;
                                    position: relative;
                                    top: -35px;
                                    &>{
                                        div:nth-child(1) {
                                            display: inline-flex;
                                            justify-content: space-around;
                                            padding-bottom: 0;
                                            padding-left: 0;
                                            padding-right: 0;

                                            &>{
                                                img {
                                                    border: 1px solid rgb( 244, 244, 244 );
                                                    height: 80px;
                                                }
                                                div:nth-child(2) {
                                                    padding-left: 1rem;
                                                    &>{
                                                        div:nth-child(1) {
                                                            font-size: 1rem;
                                                            font-family: "GothamMedium";
                                                            color: rgb( 60, 72, 88 );
                                                            text-align: left;
                                                        }
                                                        div:nth-child(2) {
                                                            font-size: .9rem;
                                                            font-family: "GothamBook";
                                                            color: rgb( 171, 171, 171 );
                                                            text-align: left;
                                                            margin-bottom: .6rem;
                                                        }
                                                        div:nth-child(3) {
                                                            font-size: .8rem;
                                                            font-family: "GothamBook";
                                                            color: rgb( 99, 99, 99 );
                                                            text-align: left;
                                                            display: inline-flex;
                                                        }
                                                    }
                                                }
                                            }
                                        }

                                        div:nth-child(2) {
                                            padding: 0;
                                            display: inline-flex;
                                            align-items: center;
                                            justify-content: space-between;
                                            &>{
                                                div:nth-child(1) {
                                                    &>{
                                                        a {
                                                            font-size: .8rem;
                                                            font-family: "GothamBook";
                                                            color: rgb( 60, 72, 88 );
                                                            border-bottom: 1px solid rgb( 60, 72, 88 );
                                                        }
                                                    }
                                                }
                                                img {
                                                    height: 80px;
                                                }
                                            }
                                        }

                                        div:nth-child(3) {
                                            padding-left: 0;
                                            padding-right: 0;
                                            &>{
                                                h2 {
                                                    border-bottom: 1px solid rgb( 228, 222, 222 );
                                                }
                                            }
                                        }

                                        div:nth-child(4) {
                                            display: flex;
                                            justify-content: space-between;
                                            padding: 0;
                                            &>{
                                                button {
                                                    width: 50%;
                                                    border-radius: 5px;
                                                    font-size: 1rem;
                                                    font-family: "GothamBook";
                                                    color: rgb( 255, 255, 255 );
                                                    text-transform: uppercase;
                                                }
                                            }
                                        }

                                        div:nth-child(5) {
                                            padding-left: 0;
                                            padding-right: 0;
                                            &>{
                                                div:nth-child(1) {
                                                    font-size: 1rem;
                                                    font-family: "GothamMedium";
                                                    color: rgb( 60, 72, 88 );
                                                    text-align: left;
                                                    margin-bottom: .7rem;
                                                }
                                                form {
                                                    &>{
                                                        div {
                                                            &>{
                                                                div {
                                                                    margin-bottom: .5rem;
                                                                    input, textarea {
                                                                        font-size: 12px;
                                                                        font-family: "GothamBook";
                                                                        color: rgb( 46, 55, 70 );
                                                                        border: 1px solid rgb( 198, 198, 198 );
                                                                        border-radius: 5px;
                                                                        height: 3rem;
                                                                        &::-webkit-input-placeholder {
                                                                            font-size: 12px;
                                                                            font-family: "GothamBook";
                                                                            color: rgb( 46, 55, 70 );
                                                                        }

                                                                    }
                                                                    textarea {
                                                                        font-size: 12px;
                                                                        font-family: "GothamBook";
                                                                        color: rgb( 46, 55, 70 );
                                                                        border: 1px solid rgb( 198, 198, 198 );
                                                                        border-radius: 5px;
                                                                        height: auto;
                                                                        &:focus {
                                                                            background-color: #ffffff;
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                        button {
                                                            border-radius: 5px;
                                                            background-color: rgb( 92, 26, 137 );
                                                            font-size: 1rem;
                                                            font-family: "GothamBook";
                                                            color: rgb( 255, 255, 255 );
                                                            text-transform: uppercase;
                                                            margin-top: .5rem;

                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        div:nth-child(2) {
                            &>{
                                div:nth-child(1) {
                                    img {
                                        border-radius: 7px;
                                        width: 100%;
                                    }
                                }
                                div:nth-child(2) {
                                    img {
                                        border-radius: 7px;
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }


    }
}


.favourite {
    animation: beating .5s 1 alternate;
    color: #e53935 !important;
}
@keyframes beating {
    0% { transform: scale(1) }
    40% { transform: scale(1.25) }
    70% { transform: scale(.9) }
    100% { transform: scale(1) }
}

.ui.two.column.grid > div > div > div > div:hover .jss263 {
    transform: translate3d(0, -20px, 0) !important;
}


@-webkit-keyframes wiggle {
    0% { -webkit-transform: skewX(9deg); }
    10% { -webkit-transform: skewX(-8deg); }
    20% { -webkit-transform: skewX(7deg); }
    30% { -webkit-transform: skewX(-6deg); }
    40% { -webkit-transform: skewX(5deg); }
    50% { -webkit-transform: skewX(-4deg); }
    60% { -webkit-transform: skewX(3deg); }
    70% { -webkit-transform: skewX(-2deg); }
    80% { -webkit-transform: skewX(1deg); }
    90% { -webkit-transform: skewX(0deg); }
	100% { -webkit-transform: skewX(0deg); }
}

@-moz-keyframes wiggle {
    0% { -moz-transform: skewX(9deg); }
    10% { -moz-transform: skewX(-8deg); }
    20% { -moz-transform: skewX(7deg); }
    30% { -moz-transform: skewX(-6deg); }
    40% { -moz-transform: skewX(5deg); }
    50% { -moz-transform: skewX(-4deg); }
    60% { -moz-transform: skewX(3deg); }
    70% { -moz-transform: skewX(-2deg); }
    80% { -moz-transform: skewX(1deg); }
    90% { -moz-transform: skewX(0deg); }
	100% { -moz-transform: skewX(0deg); }
}

@-ms-keyframes wiggle {
    0% { -ms-transform: skewX(9deg); }
    10% { -ms-transform: skewX(-8deg); }
    20% { -ms-transform: skewX(7deg); }
    30% { -ms-transform: skewX(-6deg); }
    40% { -ms-transform: skewX(5deg); }
    50% { -ms-transform: skewX(-4deg); }
    60% { -ms-transform: skewX(3deg); }
    70% { -ms-transform: skewX(-2deg); }
    80% { -ms-transform: skewX(1deg); }
    90% { -ms-transform: skewX(0deg); }
	100% { -ms-transform: skewX(0deg); }
}

@-o-keyframes wiggle {
    0% { -o-transform: skewX(9deg); }
    10% { -o-transform: skewX(-8deg); }
    20% { -o-transform: skewX(7deg); }
    30% { -o-transform: skewX(-6deg); }
    40% { -o-transform: skewX(5deg); }
    50% { -o-transform: skewX(-4deg); }
    60% { -o-transform: skewX(3deg); }
    70% { -o-transform: skewX(-2deg); }
    80% { -o-transform: skewX(1deg); }
    90% { -o-transform: skewX(0deg); }
	100% { -o-transform: skewX(0deg); }
}

@keyframes wiggle {
    0% { transform: skewX(9deg); }
    10% { transform: skewX(-8deg); }
    20% { transform: skewX(7deg); }
    30% { transform: skewX(-6deg); }
    40% { transform: skewX(5deg); }
    50% { transform: skewX(-4deg); }
    60% { transform: skewX(3deg); }
    70% { transform: skewX(-2deg); }
    80% { transform: skewX(1deg); }
    90% { transform: skewX(0deg); }
	100% { transform: skewX(0deg); }
}

.wiggle-animate {
    -webkit-animation-name: wiggle;
    -moz-animation-name: wiggle;
    -ms-animation-name: wiggle;
    -o-animation-name: wiggle;
    animation-name: wiggle;
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-ms-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
}
