#pages_property_listings {
    &>{
        //Title & Info
        div:nth-child(1){
            &>{
                div:nth-child(1){
                    padding: 1rem;
                    &> {
                        h1 {
                            display: inline;
                            font-size: 1.6rem;
                            font-weight: 300;
                            color: #3c3c3c;
                            font-family: "GothamMedium";
                        }
                        span {
                            font-size: 1.6rem;
                            font-weight: 300;
                            color: #7f7f7f;
                        }
                        div.no_results{
                            margin-top: 1rem;
                            width: 97%;
                             div:nth-child(1){
                                font-size: 1rem;
                                width: 100%;
                                height: 100px;
                                position: relative;
                                overflow: hidden;
                                &>{
                                    div{
                                        &:first-child{
                                            line-height: 2;
                                        }

                                        &:nth-child(2){
                                          padding: 1rem 0;
                                          margin: auto;
                                            &>{
                                                button {
                                                    margin: 0 0.2rem;
                                                    border-radius: 2rem;
                                                    padding: 0.7rem 1.5rem;
                                                    font-size: 1rem;
                                                    font-family: "GothamBook";
                                                    font-weight: 200;
                                                    letter-spacing: 0.04em;
                                                    background: transparent;
                                                    color: #3c3c3c;
                                                    border: 1px solid #5c0d89;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        //Internal links header
        div:nth-child(2) {
            width: 99.6%;
            &>{
                div:nth-child(1) {
                    background-color: #c5c5c50f;
                    border: 0.1rem solid #bbbbbb;
                    margin: 0 1rem;
                    overflow: hidden;
                    padding: 0;
                    &>{
                        ul {
                            &>{
                                li {
                                    display: inline-block;
                                    font-size: 1rem;
                                    width: 17rem;
                                    padding: 0.5rem 0;
                                    &>{
                                        a {
                                            color: rgba(0, 0, 0, 0.5);
                                            padding-left: .4rem;
                                            padding-right: .4rem;
                                            font-weight: 300;
                                            transition: color 0.5s ease;
                                        }
                                        a:hover{
                                            color: #5d0e8b;
                                        }
                                    }
                                }
                                li:nth-child(n+8){
                                    display:none;
                                }
                            }
                        }
                        div {
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            text-align: right;
                            padding: 1rem;
                            &>{
                                a {
                                    color: rgba(0, 0, 0, 0.5);
                                    transition: color 0.5s ease;
                                }
                                a:hover{
                                    color: #5d0e8b;
                                }
                            }
                        }
                    }
                }
            }
        }

        //ui grid sort - map view - alert me and save search
        div:nth-child(3){
            &> {
                div:nth-child(1) {
                    &>{
                        div {
                            margin: 0 0.2rem;
                            border-radius: 2rem;
                            padding: 0.7rem 1.5rem;
                            font-size: .8rem;
                            font-family: "GothamBook";
                            font-weight: 200;
                            background-color: transparent;
                            color: rgb( 60, 60, 60 );
                            border: 1px solid rgb( 92, 13, 137 );
                            .header {
                                background: rgba(34,36,38,.1);
                                padding: 1rem;
                                margin: 0;
                                color: #5d0e8b;
                            }
                            .item {
                                color: rgba(0,0,0,.80);
                                -webkit-transition: color 0.3s ease;
                                transition: color 0.3s ease;
                            }
                            .item:hover {
                                background: transparent;
                                color: #5d0e8b;
                            }
                            &> {
                                i {
                                    padding-left: 0.3rem;
                                    opacity: 0.7;
                                }
                                span {
                                    padding-right: 1rem;
                                }
                            }
                        }
                        button {
                            margin: 0 0.2rem;
                            border-radius: 2rem;
                            padding: 0.7rem 1.5rem;
                            font-size: .8rem;
                            font-family: "GothamBook";
                            font-weight: 200;
                            background-color: transparent;
                            color: rgb( 60, 60, 60 );
                            border: 1px solid rgb( 92, 13, 137 );
                            width: 16%;
                            &>{
                                i {
                                    opacity: 0.7;
                                }
                            }
                        }
                        //Hide map view for tablet (map view works only on mouse hover)
                        button:nth-child(2) {
                            @include for_screen( tablet ){
                                display: none;
                            }
                            @include for_screen( portraitTablet ){
                                display: none;
                            }
                        }
                        button:nth-child(3) {
                            display: none;
                            &>{
                                i {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
                // Currency Converter
                div:nth-child(2) {
                    padding-right: 0;
                    &>{
                        select {
                            width: 95%;
                            font-family: "GothamBook";
                            color: rgb( 127, 127, 127 );
                        }
                    }
                }
                div:nth-child(3) {
                    padding-left: 0;
                    &>{
                        button {
                            font-size: .7rem;
                            font-family: "GothamBook";
                            font-weight: 200;
                            color: $white;
                            width: 75%;
                            &>{
                                i {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }

        // Search Results
        div:nth-child(4){
            &>{
                div:nth-child(2){
                    &>{
                        div:nth-child(1){
                            padding-top: 1rem;
                            &>{
                                div:nth-child(1){
                                    &>{
                                        // Map
                                        div:nth-child(1){
                                            -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.075);
                                            box-shadow: 0 1px 3px rgba(0,0,0,.075);
                                            border: 1px solid #d8dee2;
                                            display: none;
                                            width: 90%;
                                            &>{
                                                div:nth-child(1){
                                                    width:100%;
                                                    height:40rem !important;
                                                }
                                                div:nth-child(2){
                                                    height: 100%;
                                                    width: 100%;
                                                    position: absolute;
                                                    top: 0;
                                                    background: rgba(0, 0, 0, 0.8);
                                                    display: none;
                                                }
                                                div:nth-child(3){
                                                    top: 46%;
                                                    text-align: center;
                                                    color: #fff;
                                                    width: 100%;
                                                    position: absolute;
                                                    padding: 0 1rem;
                                                    display: none;
                                                }
                                            }
                                        }
                                        // Bedroom Internal Links
                                        div:nth-child(2){
                                            div {
                                                font-size: 1.2rem;
                                                font-family: "GothamMedium";
                                                color: #7f7f7f;
                                                margin-top: 0;
                                                width: 100%;
                                                border-bottom: 0px solid #E9E9E9;
                                            }
                                            ul {
                                                padding: 0 0 0.5rem 0;
                                                font-family: "GothamBook";
                                                list-style: none;
                                                li {
                                                    display: block;
                                                    font-size: 1rem;
                                                    padding: 0.25rem 0;
                                                    white-space: nowrap;
                                                    overflow: hidden;
                                                    text-overflow: ellipsis;
                                                    a {
                                                        color: #00b2f3;
                                                        padding-left: 0;
                                                        padding-right: 0;
                                                        font-weight: 300;
                                                        -webkit-transition: color 0.5s ease;
                                                        transition: color 0.5s ease;
                                                    }
                                                    a:hover {
                                                        color: #5d0e8b;
                                                    }
                                                }
                                            }
                                        }
                                        // Ad
                                        div:nth-child(3){
                                            &>{
                                                img {
                                                    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.075);
                                                    box-shadow: 0 1px 3px rgba(0,0,0,.075);
                                                    border: 1px solid #d8dee2;
                                                    border: 0;
                                                    width: 100%;
                                                }
                                            }
                                        }
                                        // Nearby Internal Links
                                        div:nth-child(4){
                                            // padding: 1rem 2rem 1.5rem 0;
                                            padding: 1rem 0 0 0;
                                            div {
                                                font-size: 1.2rem;
                                                font-family: "GothamMedium";
                                                color: #7f7f7f;
                                                margin-top: 0;
                                                width:100%;
                                                // border-bottom: 1px solid #E9E9E9;
                                            }
                                            ul {
                                                padding: 0;
                                                font-family: "GothamBook";
                                                list-style: none;
                                                margin-top: 0;
                                                li {
                                                    display: block;
                                                    font-size: 1rem;
                                                    padding: 0.5rem 0;
                                                    white-space: nowrap;
                                                    overflow: hidden;
                                                    text-overflow: ellipsis;
                                                    a {
                                                        color: #00b2f3;
                                                        padding-left: 0;
                                                        padding-right: 0;
                                                        font-weight: 300;
                                                        -webkit-transition: color 0.5s ease;
                                                        transition: color 0.5s ease;
                                                    }
                                                    a:hover {
                                                        color: #5d0e8b;
                                                    }
                                                }
                                            }
                                            span {
                                                color: rgba(0, 0, 0, 0.5);
                                                margin-top: 2rem;
                                                padding: 1rem 0 0 0;
                                                width:100%;
                                                font-family: "GothamBook";
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        
                    }
                }
            }
        }
    }
}


#property_listings_map_hover_card {
    position: relative;
    width: 20rem;
    color: black;
    &>{
        //title
        div:nth-child(1){
            color: #3C4858;
            font-weight: 400;
            margin-top: 0px;
            min-height: auto;
            margin-bottom: 3px;
            text-decoration: none;
            font-size: 1.3rem;
        }
        //body
        div:nth-child(2){
            color: #3C4858;
            margin-top: 0px;
            min-height: auto;
            margin-bottom: 3px;
            text-decoration: none;
            font-size: 1rem;
        }
        div:nth-child(3){
            margin-top: 10px;
            margin-bottom: 10px;
            color: #999999;
            min-height: auto;
            font-weight: 300;
            text-decoration: none;
            font-size: 1rem;
        }
        div:nth-child(4){
            color: #999999;
            font-weight: 300;
            span:nth-child(1){
                font-size: 1rem;
                color: #e53935;
            }
            span:nth-child(2){
                font-size: 1.5rem;
                font-weight: 300;
                color: #e53935;
            }
        }
        div:nth-child(5){
            margin-bottom: 10px;
            color: #999999;
            margin-top: 0.40rem;
            min-height: auto;
            font-weight: 300;
            text-decoration: none;
            font-size: 1rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}


#property_listings_ad {
    padding: 0;
    div{
        div{
            a{
                img{
                    width: 100%;
                }
            }
        }
    }
}

#pages_property_listings_content {
    border-top: 1px solid #ccc;
    margin: 2rem 0 0;
    padding: 2rem 0 0;

    article {
        font-family: "GothamBook";
        font-size: 1rem;
        & > div {
            margin-bottom: 2rem;
            overflow: hidden;
            line-height: 1.7em;
            a {
                color: #00b2f3;
            }
            h2 {
                font-size: 1.85rem;
                font-family: "GothamMedium";
            }
            h3 {
                font-size: 1.75rem;
                font-family: "GothamMedium";
            }
            h4 {
                font-size: 1.5rem;
                font-family: "GothamMedium";
            }
            p{
                font-size: 1em #{"/*rtl:1.15em*/"} !important;
            }
            ul{
                li{
                    font-size: 1em #{"/*rtl:1.15em*/"} !important;
                }
            }

            figure {
                padding: 0;
                margin: 0;

                img {
                    max-width: 100%;
                }
            }
            &:nth-child(2) {
                figure {
                    width: 48%;
                    float: left;

                    &:last-child {
                        float: right;
                    }
                }
            }
        }
    }
    aside {
        & > div {
            &:nth-child(1) {
                margin-bottom: 1rem;
            }
        }
        figure {
            padding: 0;
            margin: 0 0 2rem;

            img {
                max-width: 100%;
            }
        }
        form {
            width:90%;
            padding: 1.5rem;
            -webkit-box-shadow: 0 0 3px #dbdbdb;
            -moz-box-shadow: 0 0 3px #dbdbdb;
            box-shadow: 0 0 3px #dbdbdb;

            h4 {
                text-align: center;
                margin: 0 0 1rem;
                font-family: "GothamMedium";
                font-size: 1.3rem;
            }
            label {
                display: block;
                margin: 0 0 0.8rem;
                color: #adadad;
                font-family: "GothamBook";
                font-weight: 200;
                font-size: .85rem;
            }
            input[type=text],
            input[type=number],
            input[type=email]{
                width: 100%;
                border: 0;
                border-bottom: 1px solid #e5e5e5;
                margin: 0 0 .8rem;
                // padding: .8rem 0;
                color: #adadad;
                font-family: "GothamBook";
                font-weight: 200;
                font-size: .85rem;

                &::-webkit-input-placeholder {
                    // color: #adadad;
                }
                &::-moz-placeholder {
                    // color: #adadad;
                }
                &:-ms-input-placeholder {
                    // color: #adadad;
                }
                &:-moz-placeholder {
                    // color: #adadad;
                }
                &:focus {
                    outline: none;
                }
            }
            textarea {
                width: 100%;
                border: 1px solid #e5e5e5;
                margin: 0 0 .8rem;
                padding: .8rem;
                height: 7rem;
                border-radius: 3px;
                color: #000;
                font-family: "GothamBook";
                font-weight: 200;
                font-size: .85rem;

                &:focus {
                    outline: none;
                }
            }
            input[type=submit] {
                background: #65008c;
                color: #fff;
                text-transform: uppercase;
                width: 100%;
                height: 3rem;
                border: 0;
                border-radius: 3px;
                font-family: "GothamBook";
                font-weight: 200;
            }
        }
    }

    & > div {
        &:nth-child(1) {
            //For sticky aside content
            display: flex;
            align-items: flex-start;
            & > div {
                &:nth-child(2) {
                    //For sticky aside content
                    position: -webkit-sticky;
                    position: sticky;
                    top: 0;
                }
            }
        }
    }
}

#popular_searches {
    border-top: 1px solid #ccc;
    margin: 2rem 0 0;
    padding: 2rem 0 0;

    ul{
        list-style: none;
        padding: 0;
        li{
            width: 33%;
            float: left;
            padding: 0.5rem 0;
            a{
                color: rgba(0, 0, 0, 0.5);
            }
        }
    }
}



#property_card_list div.p_c > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(3) a {

font-weight: 200 !important;
}


#pages_property_listings > div:nth-child(3) > div:nth-child(1) > div .header {

  background: transparent !important;
}


#pages_property_listings > div:nth-child(3) > div:nth-child(1) > button {width: 19%;}

.ui.purple.button {padding: 8px;
    font-size: 9px;
    min-height: 36px;}
