#user_dashboard{
    width: 80%;
    height: 100%;
    max-width: 100rem;
    &>{
        div:nth-child(1){
            height: 100%!important;
            max-height: 100%;
            &>{
                div:nth-child(1){
                    height: 100%!important;
                    max-height: 100%;
                    background: white;
                    margin: 0;
                    overflow: hidden;
                    &>{
                        //Left side menu - four wide column
                        div:nth-child(1){
                            background-color: #5d0e8b;
                            color: white;
                            padding: 1.5rem 0;
                            &>{
                                p{
                                    padding: 1rem 0 0 1rem;
                                    font-size: 2rem;
                                    font-weight: bold;
                                    margin: 0 0 1.5rem;
                                }
                            }
                        }
                        //Right side data - twelve wide column
                        div:nth-child(2){
                            background-color: #e9e9e9;
                            padding: 0;
                            color: #5d0e8b;
                            &>{
                                div:nth-child(1){
                                    overflow: hidden;
                                    &>{
                                        div:nth-child(1){
                                            padding: 3rem;
                                            &>{
                                                //Profile
                                                div:nth-child(1){
                                                    padding: 2rem;
                                                    &>{
                                                        div:nth-child(1){
                                                            &>{
                                                                //Update and Edit Buttons
                                                                div:nth-child(2){
                                                                    // display:none;
                                                                }
                                                                div:nth-child(5){
                                                                    text-align: right;
                                                                    // display: none;
                                                                    button{
                                                                        background-color: #5d0e8b;
                                                                        color: white;
                                                                        margin: 0;
                                                                        letter-spacing: 0.04em;
                                                                        text-transform: uppercase;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                                // Favourite Searches
                                                div:nth-child(2){
                                                    background: transparent;
                                                    border: none;
                                                    overflow-y: auto;
                                                    min-height: 40rem;
                                                    max-height: 95vh;
                                                    &>{
                                                        div:nth-child(1){
                                                            &>{
                                                                .ui.grid.card.fluid {
                                                                    background: white;
                                                                    margin-bottom: 0;
                                                                    div:nth-child(1){
                                                                        &>{
                                                                            div:nth-child(1){
                                                                                &>{
                                                                                    div:nth-child(1){
                                                                                        font-size: 1rem;
                                                                                        color: black;
                                                                                        margin: 0.5rem 0;
                                                                                    }
                                                                                    div:nth-child(2){
                                                                                        cursor: pointer;
                                                                                        font-size: 1rem;
                                                                                        margin: 0.5rem 0;
                                                                                        text-align: left;
                                                                                        a{
                                                                                            color: #5d0e8b;
                                                                                            transition: color 0.5s ease;
                                                                                        }
                                                                                        a:hover{
                                                                                            color: grey;
                                                                                            text-decoration: underline;
                                                                                        }
                                                                                    }
                                                                                }
                                                                            }
                                                                            div:nth-child(2) {
                                                                                margin: 0.5rem 0;
                                                                                text-align: right;
                                                                                i {
                                                                                    cursor: pointer;
                                                                                    opacity: 1;
                                                                                    font-size: 1.5rem;
                                                                                    color: #5d0e8b;
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                                .no_listing{
                                                                    width: 100%;
                                                                    text-align: center;
                                                                    &>{
                                                                        img {
                                                                            padding: 0 10rem;
                                                                            height: 25rem;
                                                                        }
                                                                        div:nth-child(2){
                                                                            font-size: 2rem;
                                                                            margin: 2rem 0;
                                                                            color: rgba(0, 0, 0, 0.5);
                                                                            text-align: center;
                                                                        }
                                                                        div:nth-child(3){
                                                                            text-align: center;
                                                                            div:nth-child(1){
                                                                                &>{
                                                                                    button{
                                                                                        background-color: #5d0e8b;
                                                                                        font-size: 1.2rem;
                                                                                        height: 5rem;
                                                                                        color: white;
                                                                                        padding: 0 2rem;
                                                                                        letter-spacing: 0.02em;
                                                                                        &>{
                                                                                            a{
                                                                                                color: white;
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                                //Favourite Properties
                                                div:nth-child(3){
                                                    background: transparent;
                                                    border: none;
                                                    overflow-y: auto;
                                                    min-height: 40rem;
                                                    max-height: 95vh;
                                                    &>{
                                                        div:nth-child(1){
                                                            &>{
                                                                div:nth-child(1){
                                                                    &>{
                                                                        div:nth-child(1){
                                                                            div.p_c {
                                                                                &>{
                                                                                    //ui segment
                                                                                    div:nth-child(1) {
                                                                                        padding: 0;
                                                                                        &>{
                                                                                            div:nth-child(1) {
                                                                                                height: 200px;
                                                                                                &>{
                                                                                                    div:nth-child(1) {
                                                                                                        width: 100%;
                                                                                                        height: 200px;
                                                                                                        position: relative;
                                                                                                        overflow: hidden;
                                                                                                        &>{
                                                                                                            // Image
                                                                                                            div:nth-child(1) {
                                                                                                                float: left;
                                                                                                                width: 41%;
                                                                                                                &>{
                                                                                                                    a{
                                                                                                                        &>{
                                                                                                                            img {
                                                                                                                                width: 96%;
                                                                                                                                height: 200px;
                                                                                                                                object-fit: cover;
                                                                                                                            }
                                                                                                                        }
                                                                                                                    }
                                                                                                                    // Broker Image
                                                                                                                    div:nth-child(2) {

                                                                                                                    }
                                                                                                                    span {
                                                                                                                        height: inherit;
                                                                                                                        width: auto;
                                                                                                                        position: absolute;
                                                                                                                        left: 16.2rem;
                                                                                                                        top: 0;
                                                                                                                        background: #5d0e8b;
                                                                                                                        padding: 0.3rem 0.6rem;
                                                                                                                        color: white;
                                                                                                                        font-size: 1rem;
                                                                                                                    }
                                                                                                                }
                                                                                                            }
                                                                                                            // Description
                                                                                                            div:nth-child(2) {
                                                                                                                float: left;
                                                                                                                width: 58%;
                                                                                                                padding-top: 10px;
                                                                                                                &>{
                                                                                                                    // Favourite logo
                                                                                                                    div:nth-child(1){
                                                                                                                        position: absolute;
                                                                                                                        right: 10px;
                                                                                                                        top: 10px;
                                                                                                                        font-size: 24px;
                                                                                                                        &>{
                                                                                                                            i {
                                                                                                                                cursor: pointer;
                                                                                                                            }
                                                                                                                        }
                                                                                                                    }
                                                                                                                    // Title
                                                                                                                    div:nth-child(2){
                                                                                                                        color: #3C4858;
                                                                                                                        margin-top: 0px;
                                                                                                                        min-height: auto;
                                                                                                                        margin-bottom: 3px;
                                                                                                                        text-decoration: none;
                                                                                                                        font-size: 1.3rem;
                                                                                                                        width: 90%;
                                                                                                                        white-space: nowrap;
                                                                                                                        overflow: hidden;
                                                                                                                        text-overflow: ellipsis;
                                                                                                                        &>{
                                                                                                                            a {
                                                                                                                                color: #3C4858;
                                                                                                                                margin-top: .625rem;
                                                                                                                                min-height: auto;
                                                                                                                                font-weight: 200;
                                                                                                                                margin-bottom: 0.75rem;
                                                                                                                                text-decoration: none;
                                                                                                                            }
                                                                                                                        }
                                                                                                                    }
                                                                                                                    div:nth-child(3){
                                                                                                                        color: #3C4858;
                                                                                                                        margin-top: 0px;
                                                                                                                        min-height: auto;
                                                                                                                        margin-bottom: 3px;
                                                                                                                        text-decoration: none;
                                                                                                                        font-size:1rem;
                                                                                                                        a {
                                                                                                                            color: #3C4858;
                                                                                                                            margin-top: .625rem;
                                                                                                                            min-height: auto;
                                                                                                                            font-weight: 200;
                                                                                                                            margin-bottom: 0.75rem;
                                                                                                                            text-decoration: none;
                                                                                                                        }
                                                                                                                    }
                                                                                                                    div:nth-child(4){
                                                                                                                        margin-top: 10px;
                                                                                                                        margin-bottom: 10px;
                                                                                                                        color: #999999;
                                                                                                                        min-height: auto;
                                                                                                                        font-weight: 300;
                                                                                                                        text-decoration: none;
                                                                                                                        font-size: 1rem;
                                                                                                                    }
                                                                                                                    div:nth-child(5) {
                                                                                                                        margin-bottom: 10px;
                                                                                                                        color: #999999;
                                                                                                                        margin-top: 0.75rem;
                                                                                                                        min-height: auto;
                                                                                                                        font-weight: 300;
                                                                                                                        text-decoration: none;
                                                                                                                        font-size: 1rem;
                                                                                                                        white-space: nowrap;
                                                                                                                        overflow: hidden;
                                                                                                                        text-overflow: ellipsis;
                                                                                                                    }
                                                                                                                    div:nth-child(6) {
                                                                                                                        text-align: right;
                                                                                                                        button {
                                                                                                                            margin: 0 0.2rem;
                                                                                                                            border-radius: 2rem;
                                                                                                                            padding: 0.7rem 1.5rem;
                                                                                                                            font-size: 1rem;
                                                                                                                            font-family: Merriweather Sans,sans-serif;
                                                                                                                            font-weight: 200;
                                                                                                                            letter-spacing: 0.04em;
                                                                                                                            @include for_screen( portraitTablet ){
                                                                                                                                padding: 0.7rem 0.8rem;
                                                                                                                            }
                                                                                                                            @include for_screen( tablet ){
                                                                                                                                padding: 0.7rem 0.8rem;
                                                                                                                            }
                                                                                                                            &>{
                                                                                                                                i {
                                                                                                                                    opacity: 1;
                                                                                                                                }
                                                                                                                            }
                                                                                                                        }
                                                                                                                    }
                                                                                                                }
                                                                                                            }
                                                                                                            // Price + Reference Number
                                                                                                            div:nth-child(3) {
                                                                                                                position: absolute;
                                                                                                                bottom: 5px;
                                                                                                                right: 10px;
                                                                                                                width: 57%;
                                                                                                                &>{
                                                                                                                    // Price
                                                                                                                    div:nth-child(1) {
                                                                                                                        float: left;
                                                                                                                        div:nth-child(1) {
                                                                                                                            // color: #e53935;
                                                                                                                            font-size: 1.5rem;
                                                                                                                            font-weight: 300;
                                                                                                                            color: #e53935;
                                                                                                                            @include for_screen( portraitTablet ){
                                                                                                                                font-size: 1.1rem;
                                                                                                                            }
                                                                                                                            &>span{
                                                                                                                                font-size: 10px;
                                                                                                                            }
                                                                                                                        }
                                                                                                                    }
                                                                                                                    // Ref No
                                                                                                                    p {
                                                                                                                        margin-top: 5px;
                                                                                                                        float: right;
                                                                                                                        color: #999999;
                                                                                                                        font-weight: 300;
                                                                                                                        @include for_screen( portraitTablet ){
                                                                                                                            font-size: 0.8rem;
                                                                                                                        }
                                                                                                                    }
                                                                                                                }
                                                                                                            }
                                                                                                        }
                                                                                                    }
                                                                                                }
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                }
                                                                            }
                                                                            .no_listing {
                                                                                width: 100%;
                                                                                text-align: center;
                                                                                &>{
                                                                                    img {
                                                                                        padding: 0 10rem;
                                                                                        height: 25rem;
                                                                                    }
                                                                                    div:nth-child(2){
                                                                                        font-size: 2rem;
                                                                                        margin: 2rem 0;
                                                                                        color: rgba(0, 0, 0, 0.5);
                                                                                        text-align: center;
                                                                                    }
                                                                                    div:nth-child(3){
                                                                                        text-align: center;
                                                                                        div:nth-child(1){
                                                                                            &>{
                                                                                                button{
                                                                                                    background-color: #5d0e8b;
                                                                                                    font-size: 1.2rem;
                                                                                                    height: 5rem;
                                                                                                    color: white;
                                                                                                    padding: 0 2rem;
                                                                                                    letter-spacing: 0.02em;
                                                                                                    &>{
                                                                                                        a{
                                                                                                            color: white;
                                                                                                        }
                                                                                                    }
                                                                                                }
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                                //alerts
                                                div:nth-child(4){
                                                    background: transparent;
                                                    border: none;
                                                    overflow-y: auto;
                                                    min-height: 40rem;
                                                    max-height: 95vh;
                                                    &>{
                                                        div:nth-child(1){
                                                            &>{
                                                                .ui.grid.card.fluid {
                                                                    background: white;
                                                                    margin-bottom: 0;
                                                                    div:nth-child(1){
                                                                        &>{
                                                                            div:nth-child(1){
                                                                                &>{
                                                                                    div:nth-child(1){
                                                                                        &>{
                                                                                            div:nth-child(1), div:nth-child(3){
                                                                                                font-size: 1rem;
                                                                                                color: black;
                                                                                                margin: 0.5rem 0;
                                                                                            }
                                                                                            div:nth-child(2){
                                                                                                font-size: 1.2rem;
                                                                                                font-weight: 300;
                                                                                                color: #e53935;
                                                                                                text-align: left;
                                                                                                span{
                                                                                                    font-size: 10px;
                                                                                                }
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                }
                                                                            }
                                                                            div:nth-child(2) {
                                                                                margin: 0.5rem 0;
                                                                                text-align: center;
                                                                                i {
                                                                                    cursor: pointer;
                                                                                    opacity: 1;
                                                                                    font-size: 1.5rem;
                                                                                    color: #5d0e8b;
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                                .no_listing{
                                                                    width: 100%;
                                                                    text-align: center;
                                                                    &>{
                                                                        img {
                                                                            padding: 0 10rem;
                                                                            height: 25rem;
                                                                        }
                                                                        div:nth-child(2){
                                                                            font-size: 2rem;
                                                                            margin: 2rem 0;
                                                                            color: rgba(0, 0, 0, 0.5);
                                                                            text-align: center;
                                                                        }
                                                                        div:nth-child(3){
                                                                            text-align: center;
                                                                            div:nth-child(1){
                                                                                &>{
                                                                                    button{
                                                                                        background-color: #5d0e8b;
                                                                                        font-size: 1.2rem;
                                                                                        height: 5rem;
                                                                                        color: white;
                                                                                        padding: 0 2rem;
                                                                                        letter-spacing: 0.02em;
                                                                                        &>{
                                                                                            a{
                                                                                                color: white;
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                                //Settings
                                                div:nth-child(5){
                                                    padding: 2rem;
                                                    &>{
                                                        div:nth-child(1){
                                                            border-bottom: 1px solid #ccc;
                                                            &>{
                                                                div:nth-child(2){
                                                                    &>{
                                                                        div:nth-child(1){
                                                                            label::before {
                                                                                // background-color: #5d0e8b;
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                        div:nth-child(2){
                                                            &>{
                                                                //Change your Password
                                                                div:nth-child(1){
                                                                    padding: 0 0 0 1rem;
                                                                    margin-top: 1.5rem;
                                                                }
                                                                //error message
                                                                div:nth-child(5){}
                                                                //Change password Button
                                                                div:nth-child(6){
                                                                    text-align: right;
                                                                    button{
                                                                        background-color: #5d0e8b;
                                                                        color: white;
                                                                        margin: 0;
                                                                        letter-spacing: 0.03em;
                                                                        text-transform: uppercase;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
