#modal_developer_callback {
    max-width: 30rem;
    &>{
        i {
            top: 0;
            right: 0;
            color: rgba(0, 0, 0, 0.8);
        }
        div{
            padding: 1rem;
            &>{
                div:nth-child(1){
                    margin-top: 2rem;
                    &>{
                        div:nth-child(1){
                            //-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
                            //box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
                            //padding: 1rem;
                            div:nth-child(1){
                                textarea{
                                    border-radius: 0.5rem;
                                    margin-bottom: 1rem;
                                }
                                textarea:focus{
                                    background: transparent;
                                }
                            }
                            // div:nth-child(2){
                            //     margin: 0;
                            // }
                            // div:nth-child(3){
                            //     margin: 0;
                            //     &>{
                            //         div:nth-child(1), div:nth-child(2){
                            //             padding-left: 0;
                            //             &>{
                            //                 div:nth-child(1){
                            //                     padding: .5833em .833em;
                            //                 }
                            //             }
                            //         }
                            //     }
                            // }
                            // div:nth-child(4){
                            //     text-align: center;
                            // }
                        }
                    }
                }
                div:nth-child(2){
                    button{
                        text-transform: uppercase;
                        color: #fff;
                        background-color: #5d0e8b;
                        font-size: 1rem;
                        padding: 1.5rem;
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

html[dir=rtl]{
    #modal_developer_callback{
        margin-left: -15rem;
        left: 60%;
        top: 10%;
    }
}
