#pages_projects_details {
    background: white;
    &>{
        div:nth-child(1){
            &>{
                //gallery and floor plans
                div:nth-child(1){
                    margin-left: 0 !important;
                    margin-right: 0 !important;
                    height: 29rem;
                    box-shadow: none;
                    &>{
                        div:nth-child(1){
                            padding: 0;
                            &>{
                                div:nth-child(1){
                                height: 20rem;
                                padding: 0;
                                &>{
                                    div:nth-child(1){
                                    img {
                                        height: 20rem;
                                        width: 100%;
                                        object-fit: cover;
                                    }
                                    }
                                    div:nth-child(2){
                                    a {
                                        width:2.5rem;
                                        height:3rem;
                                        text-align:center;
                                        line-height:2.5rem;
                                        border-radius: 50%;
                                        &:first-child {
                                        line-height: 0.7;
                                        }
                                        &>i{
                                        font-size:2rem;
                                        margin: 0;
                                        width: auto;
                                        height: auto;
                                        vertical-align: bottom;
                                        }
                                        &:first-child i {
                                        margin-right: 4px;
                                        }
                                        &:last-child i {
                                        margin-left: 4px;
                                        }
                                    }
                                    }
                                    div:nth-child(3){
                                    width: 100%;
                                    text-align: center;
                                    ul{
                                        padding: 0;
                                        margin: 0;
                                        li{
                                        list-style: none;
                                        display: inline-block;
                                        width: 1rem;
                                        height: 1rem;
                                        border-radius: 50%;
                                        margin: 0 2px;
                                        background: #cccccc;
                                        button{
                                            margin: 0;
                                            padding: 0;
                                            border: 0;
                                            background: none;
                                            display: block;
                                            width: 100%;
                                            height: 100%;
                                            text-indent: -9999px;
                                        }
                                        &.slick-active{
                                            background: #5d0e8b;
                                        }
                                        }
                                    }
                                    }
                                }
                                }
                                div:nth-child(2) {
                                    background-color: rgba(0,0,0,.7);
                                    margin-top: -1px;
                                    &>{
                                        div:first-child {
                                            padding: .8rem;
                                            &>{
                                                div:nth-child(1){
                                                    &>{
                                                        span {
                                                            font-size: .8rem;
                                                            font-family: 'GothamBook';
                                                            color: $white;
                                                            &:nth-of-type(2) {
                                                                font-family: 'GothamMedium';
                                                            }
                                                        }
                                                    }
                                                }
                                                h1 {
                                                font-size: .9rem;
                                                font-family: "GothamMedium";
                                                color: rgb( 255, 255, 255 );
                                                margin-bottom: 0;
                                                margin-top: 0.3rem;
                                                }
                                                div:nth-child(3){
                                                    &>{
                                                        span {
                                                            font-size: .6rem;
                                                            font-family: "GothamBook";
                                                            color: $white;
                                                        }
                                                    }
                                                }
                                                div:nth-child(4){
                                                    margin-top: 0.2rem;
                                                &>{
                                                    span{
                                                    color: rgb( 245, 17, 40 );
                                                    padding-bottom: .01rem;
                                                    border-bottom: 1px solid;
                                                    border-bottom-color: rgb( 245, 17, 40 );
                                                    font-family: 'GothamBook';
                                                    font-size: .7rem;
                                                    &:first-child {
                                                        color: rgb(255, 255, 255);
                                                        border-bottom-color: #ffffff;
                                                        margin-right: .4rem;
                                                    }
                                                    }
                                                }
                                                }
                                            }
                                        }
                                        div:nth-child(2) {
                                            display: flex;
                                            align-items: center;
                                            &>{
                                                div:first-child {
                                                    background-color: #fff;
                                                    height: 5rem;
                                                    width: 8rem;
                                                    display: flex;
                                                    align-items: center;
                                                    justify-content: center;
                                                    border-radius: 7px;
                                                    img {
                                                        max-width: 100%;
                                                        max-height: 100%;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .slider {
                position: static;
            }
        }

        //tabs
        div:nth-child(2) {
        &>{
            div:nth-child(1) {
            padding-left: 0;
            padding-right: 0;
            div:nth-child(1) {
                border-bottom: 1px solid rgb(229,229,229);
                overflow-x: scroll;
                &::-webkit-scrollbar {
                display: none;
                }
                a {
                font-size: 1rem;
                font-family: "GothamMedium";
                color: rgb( 162, 162, 162 );
                text-transform: uppercase;
                &.active {
                    color: rgb( 47, 47, 47 );
                    border-bottom: 4px solid rgb(94,45,134);
                    
                }
                }
            }
            }
        }
        }


        // About and map
        div:nth-child(3) {
        margin-bottom: 2rem;
        &>{
            div:first-child {
            span {
                font-family: "GothamMedium";
                font-size: 1.1rem;
                color: rgb(40, 40, 40);
                &:first-child {
                font-weight: bold;
                }
            }
            }
            div:nth-child(2) {
                display: flex;
                align-items: center;
                &>{
                    img {
                        width: 80px;
                    }
                }
            }
            div:nth-child(3) {
            padding-top: 0;
            &>{
                div:first-child {
                &>{
                    div {
                    padding-bottom: 0;
                    &>{
                        div {
                        padding-right: 0;
                        padding-left: 0;
                        display: inline-flex;
                        &>{
                            .bar {
                                width: 3px;
                                height: 30px;
                                background: rgba( 92, 26, 137, 0.12 );
                                margin-right: 1rem;
                                
                                div:nth-child(2) {
                                    &>{
                                        span {
                                            font-size: .8rem;
                                            font-family: "GothamBook";
                                            color: rgb( 40, 40, 40 );
                                            font-weight: bold;
                                            &:first-child {
                                            font-weight: normal;
                                            color: rgb(47, 47, 47);
                                            font-size: .8rem;
                                            display: block;
                
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        }
                    }
                    }
                }
                }
            }
            }
            div:nth-child(4) {
            &>{
                div:first-child {
                &>{
                    div:first-child {
                    height: 12rem;
                    border-radius: 6rem;
                    @include for_screen( iPhone5 ){
                        height: 10rem;
                    }
                    @include for_screen( GalaxyS5 ){
                        height: 11rem;
                    }
                    @include for_screen( iPhone6 ){
                        height: 11rem;
                    }
                    @include for_screen( iPhone6Plus ){
                        height: 12rem;
                    }
                    @include for_screen( iPhoneX ){
                        height: 12rem;
                    }
                    }
                }
                }
            }
            }
        }
        }

        // Payment Plans
        div:nth-child(4) {
        margin-bottom: 1.5rem;
        &>{
            div:nth-child(1){
            padding-top: 0;
            padding-bottom: 0;
            h3 {
                font-family: "GothamMedium";
                font-size: 1.2rem;
                color: rgb(40, 40, 40);
                font-weight: bold;
                padding-bottom: 1rem;
            }
            }
            div:nth-child(2) {
                &>{
                    div:first-child {
                        &>{
                            div {
                                border-bottom: 1px solid rgb( 242, 242, 242 );
                                border-left: 1px solid #f2f2f2;
                                font-family: "GothamMedium";
                                text-align: center;
                                &>{
                                    div:first-child {
                                        &>{
                                            h4{
                                                font-size: 1.15rem;
                                                color: rgb( 0, 0, 0 );
                                            }
                                        }
                                    }
                                    div:nth-child(2) {
                                        &>{
                                            span{
                                                font-size: .7rem;
                                                color: rgb( 62, 62, 62 );
                                            }

                                        }
                                    }
                                }
                                &:nth-of-type(1), &:nth-of-type(4), &:nth-of-type(7), &:nth-of-type(10){
                                    border-left: none;
                                }
                                &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3){
                                    border-top: 1px solid rgb( 242, 242, 242 );
                                }
                            }
                        }
                    }
                }
            }
        }
        }

        //Features
        div:nth-child(5){
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-bottom: 1.5rem;
        &>{
            div:nth-child(1){
                padding-top: 0;
                padding-bottom: 0;
                h3 {
                    font-family: "GothamMedium";
                    font-size: 1.2rem;
                    color: rgb(40, 40, 40);
                    font-weight: bold;
                    padding-bottom: 0;
                }
            }
            div:nth-child(2) {
                &>{
                    div:nth-child(1) {
                        &>{
                            div {
                                padding-left: 0;
                                padding-right: 1px;
                                div:first-child {
                                    font-size: .77rem;
                                    font-family: 'GothamBook';
                                    margin-bottom: 1rem;
                                    color: rgb( 47, 47, 47 );
                                    i{
                                        color: rgb( 47, 47, 47 );
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        }

        // Video
        div:nth-child(6) {
            margin-bottom: 1.5rem;
            margin-top: 0;
            &>{
                div:nth-child(1) {
                    padding-top: 0;
                    &>{
                        div:first-child {
                            display: inline-flex;
                            width: 100%;
                            &>{
                                a {
                                    font-family: "GothamMedium";
                                    color: rgb( 162, 162, 162 );
                                    font-size: 1.2rem;
                                    padding-left: 1rem;
                                    padding-right: 1rem;
                                    &.active {
                                        color: rgb( 40, 40, 40 );
                                        border-color: rgb( 92, 26, 137 );
                                    }
                                }
                            }
                        }
                        div:nth-child(2), div:nth-child(3), div:nth-child(4) {
                            height: 20rem;
                            padding: 0;
                            border-radius: 7px;
                            border: none;
                            box-shadow: none;
                            img {
                                height: 100%;
                                width: 100%;
                                border-radius: 7px;
                                object-fit: cover;
                                &:focus {
                                    outline: none;
                                }
                            }
                            .viewwer {
                                width: 100%;
                                position: absolute;
                                top: 37%;
                                display: flex;
                                justify-content: center;
                                
                                span {
                                    font-size: 5rem;
                                    color: #fff;
                                }
                                .view-plan {
                                    font-size: 1rem;
                                    font-family: "GothamMedium";
                                    color: #fff;
                                    background-color: $purple;
                                    border-radius: 7px;
                                    line-height: 1;
                                    box-shadow: none;
                                    &:hover {
                                        box-shadow: none !important;
                                    }
                                }
                            }
                            
                        }
                    }
                }
            }
        }

        //Extended map
        div:nth-child(7) {
        margin-bottom: 1rem;
        &>{
            div:nth-child(1){
                padding-top: 0;
                h3 {
                    font-family: "GothamMedium";
                    font-size: 1.2rem;
                    color: rgb(40, 40, 40);
                    padding-bottom: 0;
                }
            }
            div:nth-child(2) {
                height: 20rem;
                padding: 0;
            }
        }
        }

        //Description
        div:nth-child(8) {
            margin-bottom: 1rem;
            &>{
                div:first-child {
                    padding-bottom: 0;
                    h3 {
                        font-size: 1.2rem;
                        font-family: "GothamMedium";
                        color: rgb( 40, 40, 40 );
                        font-weight: bold;
                    }
                }
                div:nth-child(2) {
                    &>{
                        div:nth-child(1) {
                            font-size: .9rem;
                            font-family: "GothamBook";
                            color: rgb( 47, 47, 47 );
                            line-height: 1.5;
                            text-align: justify;
                            overflow: hidden;
                            height: 7rem;

                            li {
                                display: list-item !important;
                            }

                            &:not(.descriptxt-collapsed):after {
                                content: "";
                                position: absolute;
                                height: 1.5rem;
                                bottom: 34px;
                                display: block;
                                left: 0;
                                right: 0;
                                background: -webkit-gradient( linear, left top, left bottom, from(rgba(255,255,255,0.2)), to(rgba(255,255,255,0)), color-stop(.5,#fff) );
                                background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 95%);

                            }
                        }

                        div:nth-child(2) {
                        padding-top: 1rem;
                        &>{
                            a {
                            font-size: 15px;
                            font-family: "GothamBook";
                            color: $purple;
                            font-weight: bold;
                            }
                            i {
                            font-size: 15px;
                            color: $purple;
                            font-weight: bold;
                            }
                        }
                        }
                    }
                }
            }
        }

        // Completion Status
        div:nth-child(9){
            &>{
                div:first-child {
                    h3 {
                        font-family: 'GothamMedium';
                        font-size: 1.2rem;
                        color: rgb(40, 40, 40);

                    }
                }
                div:nth-child(2){
                    &>{
                        div:nth-child(1) {
                            &>{
                                img {
                                    width: 100%;
                                    padding: 0;
                                }
                            }
                        }
                    }
                }
            }
        }

        // Mortgage Calculator
        div:nth-child(10) {
        margin-bottom: 0;
        &>{
            div:first-child {
            h3 {
                font-size: 1.2rem;
                font-family: "GothamMedium";
                color: rgb( 40, 40, 40 );
                font-weight: bold;
            }
            }
            div:nth-child(2) {
            &>{
                div:nth-child(1) {
                // height: 25rem;
                box-shadow: 0px 0px 15px 0px rgba( 7, 8, 8, .4);
                background-color: transparent;
                border-radius: 10px;
                width: 100%;
                &>{
                    div:first-child {
                    &>{
                        span {
                        font-size: 1.2rem;
                        font-family: "GothamMedium";
                        color: rgb( 47, 47, 47 );
                        line-height: 1.813;
                        text-align: justify;
                        &:nth-child(3) {
                            font-weight: bold;
                        }
                        }
                    }
                    }
                    div:nth-child(2) {
                    &>{
                        div {
                        label {
                            font-size: 13px;
                            font-family: "GothamBook";
                            color: rgb( 47, 47, 47 );
                            text-transform: none;
                            font-weight: 350;
                        }
                        input {
                            border: 1px solid rgb( 214, 214, 214 );
                            border-radius: 7px;
                            height: 50px;
                            font-size: 13px;
                            font-family: "GothamBook";
                            color: #171717;
                            font-weight: bold;
                        }
                        button {
                            border-radius: 7px;
                            background-color: $purple;
                            height: 63px;
                            font-size: 18px;
                            font-family: "GothamMedium";
                            color: rgb( 255, 255, 255 );
                            font-weight: bold;
                        }

                        }
                        div:nth-child(6) {
                        margin-bottom: 1rem;
                        label {
                            font-size: 10px;
                            font-family: "GothamBook";
                            color: #2e3746;
                            text-transform: none;
                            padding-right: 4rem;
                            &:first-child {
                            font-size: 10px;
                            text-transform: none;
                            }
                        }
                        img {
                            width: 180px;
                            height: 61px;
                            margin-left: -13px;
                        }
                        }
                    }
                    }
                }

                }
            }
            }
        }
        }

        // My Property
        div:nth-child(11) {
        margin-bottom: 1rem;
        &>{
            div:first-child {

            h3 {
                font-family: "GothamMedium";
                font-size: 1.2rem;
                color: rgb(40, 40, 40);
                font-weight: bold;

            }
            }
        }
        }

        div:nth-child(12) {
            position: fixed;
            bottom: 5px;
            z-index: 5;
            width: 100%;
            display: flex;
            justify-content: space-around;
            margin: 0;
            padding: 0;
            &>{
                button {
                    font-family: "GothamBook";
                    font-size: 1rem;
                    width: 28%;
                    border-radius: 7px;
                    i {
                        margin: 0;
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}
