#pages_projects_listings{
    &>{
        div:nth-child(1){
            &>{
                //New Projects in Dubai
                div:nth-child(1){
                    padding-left: 1.5rem;
                    padding-right: 1.5rem;
                    &>{
                        h1{
                            font-size: 1.2rem;
                            font-family: "GothamMedium";
                            color: rgb( 60, 60, 60 );
                        }
                        div.no_results{
                            div:nth-child(1){
                                font-size: 0.8rem;
                                width: 100%;
                                position: relative;
                                overflow: hidden;
                                padding: 0.5rem;
                                &>{
                                    div{
                                        &:first-child{
                                            line-height: 2;
                                        }
                                        &:nth-child(2){
                                            padding: 0.5rem 0;
                                            margin: auto;
                                            text-align: center;
                                            &>{
                                                button {
                                                    margin: 0 0.2rem;
                                                    border-radius: 2rem;
                                                    padding: 0.5rem 1rem;
                                                    font-size: 0.7rem;
                                                    font-family: "GothamBook";
                                                    font-weight: 200;
                                                    letter-spacing: 0.04em;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
