#featured_agent {
    width: 100%;
    margin: 0 0 1rem;
    padding-left: 0;
    padding-right: 0;
    padding-top: .5rem;
    &>{
        div:nth-child(1) {
            &>{
                div:nth-child(1) {
                    padding-left: 0;
                    padding-right: 0;
                    padding-bottom: .5rem;
                    &>{
                        div:nth-child(1){
                            background: rgb( 101, 101, 101 );
                            color: #ffffff;
                            padding: .8rem;
                            border-radius: 9px 9px 0 0;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            font-family: "GothamMedium";
                            font-size: .8rem;
                        }
                        div:nth-child(2){
                            padding: .6rem 0;
                            border: 1px solid #dadee1;
                            border-top: 0;
                            border-radius: 0 0 9px 9px;
                            background: #ffffff;
                            height: 125px;
                            @include for_screen( iPhone6Plus ){
                                height: 138px;
                            }
                            &>div {
                                &>{
                                    div:nth-child(1){
                                        padding-right: .5rem;
                                        padding-left: .5rem;
                                        img {
                                            width: 100%;
                                            display: block;
                                            margin: 0 auto;
                                            height: 100%;
                                        }
                                    }
                                    div:nth-child(2){
                                        padding-left: 0;
                                        padding-right: 0;
                                        white-space: nowrap;
                                        text-overflow: ellipsis;
                                        overflow: hidden;
                                        padding-bottom: 5px;
                                        padding-top: 10px;
                                        h5 {
                                            color: #e13a34;
                                            font-size: .8rem;
                                            margin: 0 0 .25rem;
                                        }
                                        h6 {
                                            color: #3d485a;
                                            font-size: .6rem;
                                            margin: 0 0 .3rem;
                                        }
                                        a {
                                            color: rgb( 220, 34, 41 );
                                            font-size: .6rem;
                                            i {
                                                margin: 0;
                                            }
                                        }
                                        p {
                                            color: #3d485a;
                                            font-size: .5rem;
                                            margin: 0;
                                            span {
                                                color: #a0a0a0;
                                            }
                                            &:last-child {
                                                margin: 0;
                                            }
                                        }
                                    }
                                    div:nth-child(3) {
                                        img {
                                            width: 100%;
                                        }
                                    }
                                    div:nth-child(4) {
                                        padding: 0;
                                        &>{
                                            div:nth-child(1){
                                                width: 100%;
                                                display: flex;
                                                justify-content: center;
                                                align-items: baseline;
                                                button, a {
                                                    border-radius: 0.3rem;
                                                    padding: 0.5rem 0.5rem;
                                                    font-size: 14px;
                                                    font-family: "GothamBook";
                                                    font-weight: 200;
                                                    letter-spacing: 0.04em;
                                                    margin-right: .6rem;
                                                    height: 25px;
                                                    line-height: 0.3;
                                                    box-shadow: none !important;
                                                    width: 18%;
                                                    i {
                                                        margin: 0;
                                                    }
                                                    &:first-child {
                                                        background-color: transparent !important;
                                                        border: 1px solid #767676!important;
                                                        color: #767676!important;
                                                        line-height: 0.6;
                                                        i {
                                                            color: #82299f;
                                                        }
                                                    }
                                                    &:nth-child(2) {
                                                        background-color: transparent !important;
                                                        border: 1px solid #82299f !important;
                                                        color: #82299f!important;
                                                    }
                                                    &:nth-child(3) {
                                                        background-color: transparent !important;
                                                        border: 1px solid #82299f !important;
                                                        color: #82299f!important;
                                                    }
                                                    &:nth-child(4) {
                                                        background-color: transparent !important;
                                                        border: 1px solid #48b04f !important;
                                                        color: #48b04f !important;
                                                        background: none !important;
                                                    }

                                                    &:active {
                                                        box-shadow: none !important;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
