#featured_card_agent {
    margin-bottom: 0;
    height: 28rem;
    margin-left: -13px;
    margin-right: -13px;
    &>{
        div:nth-child(1) {
            &>{
                div:nth-child(1) {
                    &>{
                        h3 {
                            font-size: 1.2rem;
                            font-family: "GothamMedium";
                            color: rgb( 60, 60, 60 );
                        }
                    }
                }
            }
        }
        div:nth-child(2) {
            &>{
                div:nth-child(1) {
                    background-image: -webkit-linear-gradient(3deg, #583041 0%, #5c1a89 99%);
                    height: 100px;
                    width: 100%;
                }
                div:nth-child(2) {
                    position: relative;
                    top: -80px;
                    width: 100%;
                    padding-left: 1rem;
                    padding-right: 1rem;
                    &>{
                        div:nth-child(1) {
                            background-color: white;
                            border-radius: 7px !important;
                            width: 100%;
                            &>{
                                div:nth-child(1) {
                                    display: inline-flex;
                                    justify-content: space-around;
                                    padding-bottom: 0;
                                    padding-left: 1rem;
                                    padding-right: 1rem;

                                    &>{
                                        img {
                                            border: 1px solid rgb( 244, 244, 244 );
                                            height: 100px;
                                            max-height: 100px;
                                            max-width: 100px;
                                        }
                                        div:nth-child(2) {
                                            padding-left: 1rem;
                                            &>{
                                                div:nth-child(1) {
                                                    font-size: 1rem;
                                                    font-family: "GothamMedium";
                                                    color: rgb( 46, 55, 70 );
                                                    text-align: left;
                                                }
                                                div:nth-child(2) {
                                                    font-size: .9rem;
                                                    font-family: "GothamBook";
                                                    color: rgb( 155, 155, 155 );
                                                    text-align: left;
                                                    margin-bottom: .6rem;
                                                }
                                                div:nth-child(3) {
                                                    font-size: .8rem;
                                                    font-family: "GothamBook";
                                                    color: #9b9b9b;
                                                    text-align: left;
                                                    display: inline-flex;
                                                    margin-bottom: 1rem;
                                                    &{
                                                        div:nth-child(2) {
                                                            color: rgb( 60, 72, 88 );
                                                            margin-left: .2rem;
                                                        }
                                                    }
                                                }
                                                div:nth-child(4) {
                                                    margin-bottom: .7rem;
                                                    &>{
                                                        a {
                                                            font-size: .8rem;
                                                            font-family: "GothamBook";
                                                            color: rgb( 60, 72, 88 );
                                                            border-bottom: 1px solid rgb( 60, 72, 88 );
                                                        }
                                                    }
                                                }
                                                div:nth-child(5) {
                                                    max-height: 80px;
                                                    margin-bottom: 1rem;
                                                    img {
                                                        height: 80px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                                div:nth-child(2) {
                                    padding-left: 0;
                                    padding-right: 0;
                                    padding-top: 0;
                                    &>{
                                        h2 {
                                            border-bottom: 1px solid rgb( 228, 222, 222 );
                                        }
                                    }
                                }

                                div:nth-child(3) {
                                    display: flex;
                                    justify-content: center;
                                    padding: 0 0 1rem;
                                    &>{
                                        button {
                                            width: 50%;
                                            border-radius: 5px;
                                            background-color: transparent;
                                            border: 1px solid $purple;
                                            font-size: 1rem;
                                            font-family: "GothamBook";
                                            color: $purple;
                                            text-transform: uppercase;
                                            box-shadow: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                
            }
        }
    }
}