#user_dashboard {
    max-height: 90vh;
    height: 75vh !important;
    overflow: hidden;
    background: white;
    &>{
        //logo back and close
        div:nth-child(1){
            margin-top: 0.5rem;
            div:nth-child(1){
                text-align: left;
                padding-top: 2rem;
                a{
                    i{
                        opacity: 1;
                        color: #7f7f7f;
                        font-size: 1.5rem;
                    }
                }
            }
            div:nth-child(2){}
            div:nth-child(3){
                text-align: right;
                padding-top: 2rem;
                a{
                    i{
                        opacity: 1;
                        color: #7f7f7f;
                        font-size: 1.5rem;
                    }
                }
            }
        }

        //tabs
        div:nth-child(2){
            div:nth-child(1){
                padding: 0;
                &>{
                    div:nth-child(1){
                        &>{
                            a{
                                color: black;
                                &>{
                                    div {
                                        padding: 1.5rem;
                                        line-height: 1.5rem;
                                        margin: 0;
                                        border-bottom: 1px solid #e0e0e0;
                                        text-align: left;
                                        &>{
                                            color: black;
                                            i{
                                                float: right;
                                                clear: both;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        //profile
        div:nth-child(3){
            &>{
                div:nth-child(1){
                    width: 100% !important;
                    div:nth-child(1), div:nth-child(3){

                    }
                    div:nth-child(2) {
                        // display: none;
                    }
                    div:nth-child(5){
                        text-align: right;
                        // display: none;
                        button{
                            background-color: #5d0e8b;
                            color: white;
                            margin: 0;
                            letter-spacing: 0.04em;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }

        //favourite_searches data
        div:nth-child(4){
            &>{
                div:nth-child(1){
                    width: 100%;
                    margin-bottom: 1rem;
                    &>{
                        div{
                            &>{
                                div:nth-child(1){
                                    &>{
                                        div:nth-child(1){
                                            div:nth-child(1){
                                                text-align: left;
                                                font-size: 1rem;
                                            }
                                            div:nth-child(2){
                                                font-size: 1rem;
                                                margin: 0.5rem 0;
                                                text-align: left;
                                                a{
                                                    color: #5d0e8b;
                                                    transition: color 0.5s ease;
                                                }
                                                a:hover{
                                                    color: grey;
                                                    text-decoration: underline;
                                                }
                                            }
                                        }
                                        div:nth-child(2) {
                                            text-align: right;
                                            padding: 0rem;
                                            padding-top: 0.8rem;
                                            i {
                                                cursor: pointer;
                                                opacity: 1;
                                                font-size: 1.5rem;
                                                color: #5d0e8b;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .no_listing {
                            width: 100%;
                            text-align: center;
                            &>{
                                img {
                                    padding: 0;
                                    height: 21rem;
                                }
                                div:nth-child(2){
                                    font-size: 1.2rem;
                                    margin: 1rem 0;
                                    color: rgba(0, 0, 0, 0.5);
                                    text-align: center;
                                }
                                div:nth-child(3){
                                    text-align: center;
                                    div:nth-child(1){
                                        &>{
                                            button {
                                                background-color: #5d0e8b;
                                                font-size: 1rem;
                                                height: 3rem;
                                                color: white;
                                                padding: 0 2.5rem;
                                                letter-spacing: 0.02em;
                                                &>{
                                                    a{
                                                        color: white;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        //fav properties data
        div:nth-child(5){
            margin: 0 !important;
            &>{
                div:nth-child(1){
                    width: 100%;
                    margin-bottom: 1rem;
                    padding: 0;
                    &>{
                        div.p_c {
                            margin: 1rem 0;
                            &>{
                                //ui segment
                                div:nth-child(1) {
                                    padding: 0;
                                    &>{
                                        div:nth-child(1) {
                                            height: 200px;
                                            &>{
                                                div:nth-child(1) {
                                                    width: 100%;
                                                    height: 200px;
                                                    position: relative;
                                                    overflow: hidden;
                                                    &>{
                                                        // Image
                                                        div:nth-child(1) {
                                                            float: left;
                                                            width: 35%;
                                                            &>{
                                                                a{
                                                                    &>{
                                                                        img {
                                                                            width: 96%;
                                                                            height: 200px;
                                                                            object-fit: cover;
                                                                        }
                                                                    }
                                                                }
                                                                // Broker Image
                                                                div:nth-child(2) {

                                                                }
                                                                span {
                                                                    height: inherit;
                                                                    width: auto;
                                                                    position: absolute;
                                                                    left: 16.2rem;
                                                                    top: 0;
                                                                    background: #5d0e8b;
                                                                    padding: 0.3rem 0.6rem;
                                                                    color: white;
                                                                    font-size: 1rem;
                                                                }
                                                            }
                                                        }
                                                        // Description
                                                        div:nth-child(2) {
                                                            float: left;
                                                            width: 64%;
                                                            padding-top: 5px;
                                                            &>{
                                                                // Favourite logo
                                                                div:nth-child(1){
                                                                    position: absolute;
                                                                    right: 10px;
                                                                    top: 10px;
                                                                    font-size: 24px;
                                                                    &>{
                                                                        i {
                                                                            cursor: pointer;
                                                                            color: #5d0e8b;
                                                                        }
                                                                    }
                                                                }
                                                                // Title
                                                                div:nth-child(2){
                                                                    color: #3C4858;
                                                                    margin-top: 0px;
                                                                    min-height: auto;
                                                                    margin-bottom: 3px;
                                                                    text-decoration: none;
                                                                    font-size: 1rem;
                                                                    width: 80%;
                                                                    white-space: nowrap;
                                                                    overflow: hidden;
                                                                    text-overflow: ellipsis;
                                                                    &>{
                                                                        a {
                                                                            color: #3C4858;
                                                                            margin-top: .625rem;
                                                                            min-height: auto;
                                                                            font-weight: 200;
                                                                            margin-bottom: 0.75rem;
                                                                            text-decoration: none;
                                                                        }
                                                                    }
                                                                }
                                                                div:nth-child(3){
                                                                    color: #3C4858;
                                                                    margin-top: 0px;
                                                                    min-height: auto;
                                                                    margin-bottom: 3px;
                                                                    text-decoration: none;
                                                                    font-size:1rem;
                                                                    a {
                                                                        color: #3C4858;
                                                                        margin-top: .625rem;
                                                                        min-height: auto;
                                                                        font-weight: 200;
                                                                        margin-bottom: 0.75rem;
                                                                        text-decoration: none;
                                                                    }
                                                                }
                                                                div:nth-child(4){
                                                                    margin-top: 10px;
                                                                    margin-bottom: 10px;
                                                                    color: #999999;
                                                                    min-height: auto;
                                                                    font-weight: 300;
                                                                    text-decoration: none;
                                                                    font-size: 1rem;
                                                                }
                                                                div:nth-child(5) {
                                                                    margin-bottom: 10px;
                                                                    color: #999999;
                                                                    margin-top: 0.75rem;
                                                                    min-height: auto;
                                                                    font-weight: 300;
                                                                    text-decoration: none;
                                                                    font-size: 1rem;
                                                                }
                                                                div:nth-child(6) {
                                                                    text-align: right;
                                                                    button {
                                                                        margin: 0 0.2rem;
                                                                        border-radius: 2rem;
                                                                        padding: 0;
                                                                        font-size: 1rem;
                                                                        font-family: Merriweather Sans,sans-serif;
                                                                        font-weight: 200;
                                                                        color: #5d0e8b;
                                                                        box-shadow: none;
                                                                        background-image: none;
                                                                        background: none;
                                                                        &>{
                                                                            i {
                                                                                opacity: 1;
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                        // Price + Reference Number
                                                        div:nth-child(3) {
                                                            position: absolute;
                                                            bottom: 5px;
                                                            right: 10px;
                                                            width: 64%;
                                                            padding-left: 0.5rem;
                                                            &>{
                                                                // Price
                                                                div:nth-child(1) {
                                                                    float: left;
                                                                    div:nth-child(1) {
                                                                        // color: #e53935;
                                                                        font-size: 1.5rem;
                                                                        font-weight: 300;
                                                                        color: #e53935;

                                                                        &>span{
                                                                            font-size: 10px;
                                                                        }
                                                                    }
                                                                }
                                                                // Ref No
                                                                p {
                                                                    margin-top: 5px;
                                                                    float: right;
                                                                    color: #999999;
                                                                    font-weight: 300;
                                                                    font-size: 0.7rem;

                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .no_listing {
                            width: 100%;
                            text-align: center;
                            &>{
                                img {
                                    padding: 0;
                                    height: 21rem;
                                }
                                div:nth-child(2){
                                    font-size: 1.2rem;
                                    margin: 1rem 0;
                                    color: rgba(0, 0, 0, 0.5);
                                    text-align: center;
                                }
                                div:nth-child(3){
                                    text-align: center;
                                    div:nth-child(1){
                                        &>{
                                            button {
                                                background-color: #5d0e8b;
                                                font-size: 1rem;
                                                height: 3rem;
                                                color: white;
                                                padding: 0 2.5rem;
                                                letter-spacing: 0.02em;
                                                &>{
                                                    a{
                                                        color: white;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        //alerts data
        div:nth-child(6){
            &>{
                div:nth-child(1){
                    width: 100%;
                    margin-bottom: 1rem;
                    &>{
                        div{
                            &>{
                                div:nth-child(1){
                                    &>{
                                        div:nth-child(1){
                                            div:nth-child(1){
                                                &>{
                                                    div:nth-child(1), div:nth-child(3){
                                                        font-size: 1rem;
                                                        color: black;
                                                        margin: 0.5rem 0;
                                                    }
                                                    div:nth-child(2){
                                                        font-size: 1.2rem;
                                                        font-weight: 300;
                                                        color: #e53935;
                                                        text-align: left;
                                                        span{
                                                            font-size: 10px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        div:nth-child(2) {
                                            text-align: right;
                                            padding: 0rem;
                                            padding-top: 0.8rem;
                                            i {
                                                cursor: pointer;
                                                opacity: 1;
                                                font-size: 1.5rem;
                                                color: #5d0e8b;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .no_listing {
                            width: 100%;
                            text-align: center;
                            &>{
                                img {
                                    padding: 0;
                                    height: 21rem;
                                }
                                div:nth-child(2){
                                    font-size: 1.2rem;
                                    margin: 1rem 0;
                                    color: rgba(0, 0, 0, 0.5);
                                    text-align: center;
                                }
                                div:nth-child(3){
                                    text-align: center;
                                    div:nth-child(1){
                                        &>{
                                            button {
                                                background-color: #5d0e8b;
                                                font-size: 1rem;
                                                height: 3rem;
                                                color: white;
                                                padding: 0 2.5rem;
                                                letter-spacing: 0.02em;
                                                &>{
                                                    a{
                                                        color: white;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        //subs and changepassword
        div:nth-child(7){
            padding: 1rem;
            margin: 0;
            div:nth-child(1){}
            div:nth-child(2){
                div:nth-child(1){}
                div:nth-child(1){}
                div:nth-child(1){}
                div:nth-child(1){}
                div:nth-child(1){}
                div:nth-child(6){
                    text-align: right;
                    button{
                        background-color: #5d0e8b;
                        color: white;
                        margin: 0;
                        letter-spacing: 0.04em;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}
