footer{
    margin-bottom: 6rem;

    &>{
        div{
            &:first-child{
                padding-top: 2rem;
                padding-bottom: 2rem;

                div{
                    div{
                        div{
                            &:first-child{
                                font-size: 1.25rem;
                                color: #5d038b;
                                margin-bottom: 1rem;
                            }

                            &:nth-child(2){
                                font-size: 1.6rem;
                                margin-bottom: 1.2rem;
                                &>h2{
                                    color: $black !important;
                                    display: inline;
                                    font-size: 1.4rem;
                                }
                            }

                            &:nth-child(3){
                                div{
                                    border: 1px solid $grey;
                                    padding-left: 1rem;
                                    padding-right: 1rem;
                                }
                            }

                            &:nth-child(4){
                                padding-left: 0;
                                padding-right: 0;

                                button{
                                    background: $purple;
                                    text-transform: capitalize;
                                    width: 100%;
                                    padding: 0.3rem 1.6rem;
                                    font-size: 1.6rem;
                                    height: auto;
                                }
                            }
                        }
                    }
                }
            }

            &:nth-child(2){
                margin-top: 2rem;

                div{
                    div{

                        &:first-child{
                            font-size: 2rem;
                            margin-bottom: 0.4rem;
                        }

                        &:nth-child(2){
                            margin-bottom: 0.4rem;

                            a{
                                font-size: 1.6rem;
                                color: $black;
                            }
                        }

                        &:nth-child(3){
                            img{
                                height: 4rem;
                            }
                        }

                        &:nth-child(4){
                            &>div{
                                &>div{
                                    &>a{
                                        div{
                                            width: 4rem;
                                            background: $dark-grey;
                                            height: 4rem;
                                            padding-top: 0.2rem;
                                            border-radius: 100%;
                                            text-align: center;
                                            vertical-align: middle;
                                            display: inline-block;
                                            border: 0.3rem solid $dark-grey;
                                            color: $grey;
                                            -webkit-transition: all 0.3s ease;
                                            transition: all 0.3s ease;
                                            font-size: 2rem;
                                        }
                                    }
                                }
                            }
                        }

                        &:nth-child(5){
                            &>a{
                                &>img{
                                    max-height: 4rem;
                                }
                            }
                        }
                    }
                }
            }

            &:last-child{
                &.row{
                    &>div{
                        &.col{
                            border-bottom: 0.1rem solid #e2e2e2;
                            div{

                                &.title_forth{
                                    font-size: 1.4rem;
                                    color: $purple;
                                    font-weight: 500;
                                    background-color: $off-white;
                                    border: none;
                                    display: block;

                                    &>i{
                                        display: inline-block;
                                        height: 100%;
                                        border: 0.1rem solid $purple;
                                        border-radius: 5rem;
                                        margin-top: 0.2rem;
                                    }

                                }

                                &.collapsible-body{
                                    padding: 0 1rem;
                                    &>ul{
                                        &>li{
                                            padding-bottom: 0.8rem;
                                        }
                                    }
                                }
                            }

                            ul{
                                margin-top: 0;
                                margin-bottom: 0;
                                border-top: none;

                                &.collapsible{
                                    border: none;
                                }

                                li{
                                    div{
                                        border: none;
                                    }
                                    
                                    &>a{
                                        font-size: 1.4rem;
                                    }
                                }
                            }

                            &:last-child{
                                margin-bottom: 3rem;
                            }
                        }
                    }
                }
            }

            div{
                &.row{
                    margin: 0;
                }
            }
        }
    }
}
