#sidedrawer_mobile{
    background: white;
    overflow-x: hidden !important;
    &>{
        div{
            &>{
                div:nth-child(1){
                    background: $purple;
                    margin: 0;
                    padding: 0.5rem;
                    img{
                        object-fit:none;
                        object-position:0 0;
                        height: 48px;
                        width: 95px;
                        background-size : 50% 50%
                    }
                }
                div:nth-child(2){
                    margin-top:0;
                    background: white;
                    &>{
                        div:nth-child(1){
                            padding-top: 0;
                            &>{
                                div{
                                    padding: 0;
                                    font-size: 1rem;
                                    &>{
                                        div{
                                            line-height: 2rem;
                                            padding: 0.5rem 1.6rem;

                                            a:link {
                                                text-decoration: inherit;
                                                color: inherit;
                                                cursor: auto;
                                            }

                                            a:visited {
                                                text-decoration: inherit;
                                                color: inherit;
                                                cursor: auto;
                                            }

                                            &:nth-child(1),&:nth-child(7){
                                                border-bottom: 1px solid #e0e0e0;
                                            }

                                            &:nth-child(n+3):nth-child(-n+7){
                                                padding-left: 3.2rem !important;
                                            }
                                        }
                                        a > div {
                                            padding-left: 0;
                                            padding-right: 0;
                                        }
                                    }
                                }
                            }
                        }

                        //English and Arabic
                        div:nth-child(2){
                            border-top: 1px solid #ccc;
                            padding: 0;

                            &>{
                                div:nth-child(1){
                                    &>{
                                        div{
                                            padding-left: 0;
                                            padding-right: 0;
                                            div.item.active{
                                                color: #5d0e8b;
                                                background: transparent;
                                                a{
                                                    color: #5d0e8b;
                                                }
                                            }
                                            div.item{
                                                a{
                                                    color: #212121;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                    }
                }
            }
        }
    }
}
