#modal_services_contact {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0!important;
    overflow-y: scroll;
    overflow: hidden;
    &>{
        i {
            top: 0;
            right: 0;
            color: rgba(0, 0, 0, 0.8);
        }
        div{
            padding: 1rem;
            &>{
                div:nth-child(1){
                    padding-bottom: 0;
                    div:nth-child(1){
                        img{
                            width: 8rem;
                        }
                    }
                    div:nth-child(2){
                        p{
                            font-size: 0.8rem;
                            font-weight: 200;
                            text-align: justify;
                        }
                        div{
                            font-size: 1.2rem;
                            margin: 1rem 0;
                        }
                    }
                }
                div:nth-child(2){
                    padding-bottom: 0;
                    div:nth-child(1){
                        div:nth-child(1), div:nth-child(2), div:nth-child(3), div:nth-child(4) {
                            input, .ui.dropdown {
                                border: 1px solid #ddd;
                                border-radius: 2px;
                            }
                            input::-webkit-input-placeholder {
                                color: rgba(191,191,191,.87);
                            }
                            input:-ms-input-placeholder { /* Internet Explorer 10-11 */
                               color: rgba(191,191,191,.87);
                            }
                            input::-ms-input-placeholder { /* Microsoft Edge */
                               color: rgba(191,191,191,.87);
                            }
                            div{
                                // padding: .67857143em .5em;
                                &>{
                                    div {
                                        // padding: 0;
                                    }
                                }
                            }
                        }
                        div:nth-child(5){
                            text-align: center;
                        }
                    }
                }
                div:nth-child(3){
                    padding: 0;
                    position: absolute;
                    bottom: 0;
                    button{
                        text-transform: uppercase;
                        color: #fff;
                        background-color: #5d0e8b;
                        font-size: 1rem;
                        padding: 1.5rem;
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
