body, body.pushable, .pusher, body.pushable>.pusher {
    background-color: #fff !important;
    font-family: "GothamBook";
}

.scrolling.dimmable.dimmed {
    overflow: hidden !important;
}

html[dir=rtl] .ui.modals {
    align-items: center;
    justify-content: center;
}

.hide {
    display: none!important;
}

.show {
    display: block!important;
}

.search_active {
    display: block !important;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.3s;
}
//Global for all Select dropdowns - show purple border on open
.ui.selection.dropdown:focus,.ui.selection.dropdown:hover {
    // border-color: #5d0e8b;
    border-color: rgba(34,36,38,0.15);
}

.ui.inverted.menu .active.item,
.ui.inverted.menu .active.item:hover,
.ui.inverted.menu .item, .ui.inverted.menu .item>a:not(.ui),
.ui.inverted.menu .item:hover, .ui.inverted.menu .item:hover>a:not(.ui){
    background: transparent !important;
    color: #5d0e8b !important;
}

.ui.inverted.menu .dropdown.item:hover,
.ui.inverted.menu .link.item:hover,
.ui.inverted.menu a.item:hover,
.ui.link.inverted.menu .item:hover {
    background: transparent !important;
    color: #5d0e8b !important;
}

.ui.inverted.sidebar .active.item,
.ui.inverted.sidebar .active.item:hover,
.ui.inverted.sidebar .item, .ui.inverted.sidebar .item>a:not(.ui),
.ui.inverted.sidebar .item:hover, .ui.inverted.sidebar .item:hover>a:not(.ui){
    color: white !important;
}

.ui.inverted.sidebar .dropdown.item:hover,
.ui.inverted.sidebar .link.item:hover,
.ui.inverted.sidebar a.item:hover,
.ui.link.inverted.sidebar .item:hover {
    text-decoration: underline;
    color: white !important;
}

.ui.menu .pointing.dropdown.item .menu {
    margin-top: 0;
}

.modal_fields_required{
    color: #999;
    font-size: 0.8rem;
    margin-top: 1rem !important;
    font-weight: 200;
}

.modal_error{
    color: #F44336;
    position: relative;
    min-height: 18px;
    display: block;
    font-size: 12px;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#toast {
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    position: fixed;
    right: 1rem;
    top: 4rem;
    z-index: 999999;
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#toast_dashboard {
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    position: fixed;
    right: 1rem;
    top: 4rem;
    z-index: 999999;
}

#toast_dashboard.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

#st-1 .st-btn{
    margin: 7px !important;
}

.disableScroll {
    overflow: hidden;
    position:fixed;
}

.sharethis-inline-share-buttons {
    background-color: rgba(0,0,0,0.2);
    padding: 1rem;
    top: 2.3rem;
    position: absolute;
    margin-left: -9rem;
    display:none;
}


//Range slider CSS
.range-slider .input-range {
  -webkit-appearance: none;
    width: 75%;
  height: 10px;
  border-radius: 5px;
  background: rgba(34, 36, 38, 0.15);
  outline: none;
}
.range-slider .input-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #5d0e8b;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}
.range-slider .input-range::-webkit-slider-thumb:hover {
  background: #5d0e8b;
}
.range-slider .input-range:active::-webkit-slider-thumb {
  background: #5d0e8b;
}
.range-slider .input-range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  // background: #666;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}
.range-slider .input-range::-moz-range-thumb:hover {
  background: #5d0e8b;
}
.range-slider .input-range:active::-moz-range-thumb {
  background: #5d0e8b;
}
.range-slider .range-value {
  display: inline-block;
  position: relative;
  width: 60px;
  color: #fff;
  font-size: 16px;
  font-weight:bold;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #5d0e8b;
  padding: 5px 10px;
  margin-left: 7px;
}
.range-slider .range-value:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #5d0e8b;
  border-bottom: 7px solid transparent;
  content: '';
}

::-moz-range-track {
  background: #353535;
  border: 0;
}

input::-moz-focus-inner {
  border: 0;
}
input[name=phone]::-webkit-inner-spin-button,
input[name=phone]::-webkit-outer-spin-button,
input[name=home_phone]::-webkit-inner-spin-button,
input[name=home_phone]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[name=phone],
input[name=home_phone] {
    -moz-appearance:textfield;
}

.ui.error.message {
    width: auto !important;
    margin: 1rem;
}
