// Mixins
@import 'mixins/tablet_widths';
@import 'wrappers/global';
@import 'fonts/fonts';
@import 'helper';

//banner
@import 'components/sections/banner/services';
@import 'components/sections/banner/agent';
@import 'components/sections/banner/budget';
@import 'components/autocomplete';

//chat
@import 'components/sections/chat/chat';

//Search
@import 'components/sections/search/budget';
@import 'components/sections/search/landing';
@import 'components/sections/search/agent';
@import 'components/sections/search/property';
@import 'components/sections/search/services';
@import 'components/sections/search/projects';

// pagination
@import 'components/sections/pagination/pagination';

// Header
@import 'components/sections/header/landing';

// pages
@import 'pages/property/listings';
@import 'pages/property/details';
@import 'pages/budget/landing';
@import 'pages/budget/listings';
@import 'pages/services/landing';
@import 'pages/services/listings';
@import 'pages/agent/landing';
@import 'pages/agent/listings';
@import 'pages/agent/details';
@import 'pages/projects/listings';
@import 'pages/projects/details';
@import 'pages/landing/blog';
@import 'pages/landing/landing';
@import 'pages/privacy_policy';
@import 'pages/terms_and_conditions';
@import 'pages/reset_password';

// Cards
@import 'components/cards/property/list';
@import 'components/cards/property/grid';
@import 'components/cards/agent/grid';
@import 'components/cards/agent/featured';
@import 'components/cards/agent/featured/listing_agents';
@import 'components/cards/projects/grid';
@import 'components/cards/projects/list';
@import 'components/cards/projects/sponsored';
@import 'components/cards/projects/hot_project/hot_project';

//footer
@import 'components/sections/footer/footer';

// breadcrumbs
@import 'components/sections/breadcrumbs/breadcrumbs';

// modals
@import 'components/modals/modal_signin_register';
@import 'components/modals/property/call';
@import 'components/modals/property/email';
@import 'components/modals/property/alert';
@import 'components/modals/property/callback';
@import 'components/modals/modal_ideal_property';
@import 'components/modals/modal_custom_enquiry';
@import 'components/modals/modal_general_enquiry';
@import 'components/modals/agent/call';
@import 'components/modals/agent/callback';
@import 'components/modals/agent/email';
@import 'components/modals/agent/review';
// @import 'components/modals/agent/chat';

@import 'components/modals/services/contact';
@import 'components/modals/property/mortgage';
@import 'components/modals/developer/call';
@import 'components/modals/developer/email';
@import 'components/modals/developer/enquiry';

//Dashboard
@import 'components/sections/dashboard/dashboard';

// Home page internal links
@import 'components/sections/ilinks/home';

#listings_wrapper {
    background: white;
    padding-bottom: 4rem;
}

#details_wrapper {
    background: white;
}


@include for_screen( portraitTablet ) {

    #header_transparent > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > .tablet > .menu > .ui.simple.dropdown.item .menu {
        right: 0;
        left: auto;
    }

    #landing_search > div:nth-child(2) a {
        height: auto;
    }
    #landing_search > div:nth-child(2) a img {
        max-width: 90%;
        height: auto;
    }

    #page_content > div:nth-child(2) > div:nth-child(2) > div div div a img {
        height: auto;
        max-width: 100%;
    }

    #property_card_grid > div:nth-child(1) > div > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(6) {
        position: static;
    }

    #blog_wrapper > div:nth-child(2) > div:nth-child(1),
    #blog_wrapper > div:nth-child(2) > div:nth-child(2),
    #blog_wrapper > div:nth-child(2) > div:nth-child(3) {
        width: auto;
        padding: 0;
        margin: 0;
    }

    #footer > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) div:nth-child(1) div:nth-child(2) > div:nth-child(1) > div:nth-child(2) button {
        font-size: 1rem;
    }

    #footer > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(8) > div:nth-child(1),
    #footer > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(8) > div:nth-child(2) {
        width: 100% !important;
        padding: 0 0 0 1rem;
    }
    #footer > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(4),
    #footer > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(5),
    #footer > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(6),
    #footer > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(7) {
        margin: 1rem 0;
    }

    #pages_services_listings .five > div > img,
    .projects_listings_ad img,
    .property_listings_ad img {
        height: auto;
        max-width: 100%;
    }

    #pages_property_details > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) {
        height: 27rem;
    }

    #pages_property_details > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(3) > div:nth-child(1) > div:nth-child(2) {
        background-color: rgba(238, 238, 238, 1);
        position: absolute;
        top: 12px;
        right: 12px;
    }

    #pages_projects_details > div:nth-child(1) > div:nth-child(1) {
        padding-right: auto;
    }
    #pages_projects_details > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
        padding-right: auto;
    }

    #pages_projects_details > div:nth-child(3) > div:nth-child(3) {
        width: 68.75% !important;
    }
    #pages_projects_details > div:nth-child(3) > div:nth-child(4) {
        position: static;
        margin-top: 0;
    }
    #pages_projects_details > div:nth-child(3) > div:nth-child(4) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
        padding-left: auto;
        padding-right: auto;
    }
    #pages_projects_details > div:nth-child(3) > div:nth-child(4) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div:nth-child(3) > form textarea {
        padding: 1rem;
        height: 6rem;
    }
    #pages_projects_details > div:nth-child(5) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
        height: 18rem;
    }
    #pages_projects_details > div:nth-child(5) {
        height: auto;
    }

    #agent_card_grid > div:nth-child(1) > div > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) {
        display: block;
        margin-left: 0;
    }

    #pages_agent_details > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) div:nth-child(3) {
        display: block;
    }
    #pages_agent_details > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) div:nth-child(3) button {
        width: 100%;
    }

    #pages_property_details > div:nth-child(1) > div:nth-child(1) > div:nth-child(3) > div:nth-child(1) > div:nth-child(4) > div:nth-child(3) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
        padding: 1rem;
    }
    #pages_property_details > div:nth-child(1) > div:nth-child(1) > div:nth-child(3) > div:nth-child(1) > div:nth-child(4) > div:nth-child(3) > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
        margin: 1rem;
    }

    #pages_property_details > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) div:nth-child(1) div:nth-child(4) > div:nth-child(2) img {
        height: auto;
        width: 100%;
    }

}
