.slider, .slides {
  overflow: hidden;
  height: 100%
}

.slider {
  position: relative;
  width: 100%
}

.slides {
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d
}

.slide-item {
  height: 100%;
  float: left;
  clear: none
}

.slider-arrow {
  position: absolute;
  display: block;
  margin-bottom: -20px;
  padding: 20px
}

.slider-arrow--right {
  bottom: 55%;
  right: 15px
}

.slider-arrow--left {
  bottom: 55%;
  left: 15px
}

.slider-nav {
  position: absolute;
  bottom: 2rem
}

.slider-nav__item {
  width: .7rem;
  height: .7rem;
  float: left;
  clear: none;
  display: block;
  margin: 0 3px;
  background: #e9e9e9;
  border-radius: 50%
}

.slider-nav__item--current {
  background: #5d0e8b
}

.slider-arrow--left, .slider-arrow--right {
  background-repeat: no-repeat;
  height: 28px;
  display: block;
  padding: 0;
  color: #fff
}

.slider-arrow:hover {
  color: #fff
}

.slider-arrow--left, .slider-arrow--right>i {
  font-size: 2.5rem;
  color: #fff;
  opacity: 1
}

.slider-arrow--right {
  background-position: -17px 0
}
