#featured_agent {
    width: 100%;
    margin: 0 0 1rem;
    &>{
        div:nth-child(1) {
            &>{
                div:nth-child(1) {
                    &>{
                        div:nth-child(1){
                            background: rgb( 101, 101, 101 );
                            font-family: "GothamMedium";
                            color: #ffffff;
                            padding: 1rem;
                            border-radius: 9px 9px 0 0;
                        }
                        div:nth-child(2){
                            padding: 1rem 0;
                            border: 1px solid #dadee1;
                            border-top: 0;
                            border-radius: 0 0 9px 9px;
                            background: #ffffff;
                            &>div {
                                &>{
                                    div:nth-child(1){
                                        padding-left: 2rem;
                                        max-width: 175px;
                                        max-height: 147px;
                                        overflow: hidden;
                                        img {
                                            width: 100%;
                                            display: block;
                                            margin: 0 auto;
                                            height: 100%;
                                        }
                                    }
                                    div:nth-child(2){
                                        font-family: "GothamBook";
                                        padding-left: 0;
                                        padding-right: 0;
                                        white-space: nowrap;
                                        text-overflow: ellipsis;
                                        overflow: hidden;
                                        h5 {
                                            color: rgb( 229, 57, 53 );
                                            font-size: 1.5rem;
                                            margin-bottom: .2rem;

                                            @include for_screen( portraitTablet ){
                                                margin-top: 0;
                                            }
                                            @include for_screen( tablet ){
                                                margin-top: 0;
                                            }
                                        }
                                        h6 {
                                            color: rgb( 60, 72, 88 );;
                                            font-size: .8rem;
                                            margin: 0 0 .5rem;
                                        }
                                        a {
                                            color: rgb( 220, 34, 41 );
                                            font-size: .8rem;
                                            i {
                                                margin: 0;
                                            }
                                        }
                                        p {
                                            color: #3d485a;
                                            font-size: .8rem;
                                            margin: 0;
                                            span {
                                                color: #a0a0a0;
                                            }
                                            &:first-child {
                                                margin-top: .2rem;
                                            }
                                            &:last-child {
                                                margin: 0;
                                            }
                                        }
                                    }
                                    div:nth-child(3) {
                                        img {
                                            width: 100%;
                                        }
                                    }
                                    div:nth-child(4) {
                                        padding-top: 0;
                                        &>{
                                            div:nth-child(1){
                                                width: 100%;
                                                padding-left: .8rem;
                                                &>{
                                                    button, a {
                                                        border-radius: 0.3rem;
                                                        font-size: .85rem;
                                                        font-family: "GothamBook";
                                                        font-weight: 200;
                                                        margin-right: 8px;
                                                        text-transform: uppercase;
                                                        color: rgb( 92, 26, 137 )!important;
                                                        background-color: transparent !important;
                                                        border: 1px solid rgb( 92, 26, 137 ) !important;
                                                        height: 30px;
                                                        line-height: 0.7;
                                                        box-shadow: none !important;
                                                        &:hover {
                                                            box-shadow: none !important;
                                                        }
                                                        &:active {
                                                            box-shadow: none !important;
                                                        }

                                                        @include for_screen( iPhone5 ){
                                                            font-size: 9px;
                                                            width: 31%;
                                                            margin-right: 3px;
                                                        }
                                                        @include for_screen( iPhone6 ){
                                                            font-size: 9px;
                                                            width: 31%;
                                                            margin-right: 3px;
                                                        }
                                                    }
                                                    a {
                                                        i {
                                                            margin: 0;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
#featured_agent {
  div:nth-child(1) {
    &>{
      div:nth-child(1) {
        &>{
          div:nth-child(1) {
            background: #f5f5f5;
            color: #000000;
            border: 1px solid #dadee1;
          }
        }
      }
    }
  }
}
