#agent_card_grid {
    padding-left: 2rem;
    &>{
        .column {
            &>{
                div{
                    border: 1px solid rgb( 216, 222, 226 );
                    box-shadow: 0.695px 0.719px 3px 0px rgb( 179, 179, 179 );
                    border-radius: 7px;
                    background: #ffffff;
                    margin-bottom: 1rem;
                    margin-right: 1rem;
                    width: 47%;
                    &>div {
                        &>{
                            div:nth-child(1){
                                padding: .5rem;
                                max-height: 113px;
                                a {
                                    img {
                                        width: 100%;
                                        display: block;
                                        margin: 0 auto;
                                        height: 100px;
                                    }
                                }
                            }
                            div:nth-child(2){
                                padding-left: 10px;
                                padding-right: 0;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                padding-bottom: 5px;
                                padding-top: 10px;
                                div:nth-child(1) {
                                    margin-bottom: .3rem;
                                    overflow: hidden;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    &>{
                                        a {
                                            font-size: 1rem;
                                            font-family: "GothamMedium";
                                            color: rgb( 60, 60, 60 );
                                        }
                                    }
                                }
                                
                                div:nth-child(2) {
                                    margin-bottom: 1.3rem;
                                    &>{
                                        a {
                                            font-size: .8rem;
                                            font-family: "GothamBook";
                                            color: rgb( 60, 60, 60 );
                                            white-space: normal;
                                        }
                                    }
                                }
                                div:nth-child(3) {
                                    span {
                                        font-size: .8rem;
                                        font-family: "GothamBook";
                                        color: rgb( 60, 60, 60 );
                                        &:last-of-type {
                                            font-size: 1.1rem;
                                            font-family: "GothamMedium";
                                            color: rgb( 92, 26, 137 );
                                            display: block;
                                        }
                                    }
                                }
                            }
                            div:nth-child(3) {
                                img {
                                    width: 100%;
                                }
                            }
                            div:nth-child(4) {
                                padding: 0;
                                &>{
                                    div:nth-child(1){
                                        width: 100%;
                                        display: flex;
                                        justify-content: center;
                                        align-items: baseline;
                                        margin-bottom: 1rem;
                                        padding-left: 2rem;
                                        button {
                                            background-color: $purple;
                                            color: #fff;
                                            padding: 8px 10px;
                                            font-size: 12px;
                                            font-family: "GothamBook";
                                            text-transform: uppercase;
                                            border-radius: 7px;
                                            margin-left: 1rem;
                                            i {
                                                margin-right: 5px;
                                                color: #fff;
                                                font-size: 1.1rem;
                                            }
                                            // @include for_screen( iPhone5 ){
                                            //     font-size: 12px;
                                            //     width: 15%;
                                            //     margin-right: 3px;
                                            // }
                                            // @include for_screen( iPhone6 ){
                                            //     font-size: 12px;
                                            //     width: 15%;
                                            //     margin-right: 3px;
                                            // }
                                            &:active {
                                                box-shadow: none !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// .agent_jss370:hover .agent_jss263 {
//     transform: translate3d(0, -20px, 0);
// }
