#chat_wrapper{
    position: fixed;
    bottom: 0;
    right: -25rem;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
    height: 30rem;
    width: 25rem;
    overflow: hidden;
    background-color: #fff;
    -webkit-box-shadow: 0 0.3rem 0.3rem 0 rgba(50, 50, 50, 0.5);
    box-shadow: 0 0.3rem 0.3rem 0 rgba(50, 50, 50, 0.5);
    z-index: 999;

    &>{
        //Chat header minimize and maximize and //Chat Title
        div:nth-child(1){
            background-color: #5d0e8b;
            color: white;
            padding: 1rem 0 1rem 1rem;
            &>{
                div:nth-child(1){
                    width: 60%;
                    display: inline-block;
                }
                div:nth-child(2){
                    width: 35%;
                    display: inline-block;
                    text-align: right;
                    padding-right: 0.5rem;
                    &>{
                        a{
                            &>{
                                i{
                                    font-size: 1.1rem;
                                    color: white;
                                    padding: 0 0.8rem;
                                }
                            }
                        }
                        a:nth-child(2){
                            display: none;
                        }
                    }
                }
            }
        }

        //Chat body
        div:nth-child(2){
            background: #f5f7fa;
            padding-left: 1rem;
            &>{
                div:nth-child(1){
                    height: 24rem;
                    overflow-y: scroll;
                    padding-right: 0.5rem;
                    &>{
                        //chat-listcontainer
                        div:nth-child(1){
                            &>{
                                ul{
                                    margin: 0px;
                                    padding: 0px;
                                    list-style: none;
                                    padding-top: 0.5rem;
                                    &>{
                                        li:nth-child(odd){
                                            text-align: right;
                                            margin-bottom: 16px;
                                            &>{
                                                div:nth-child(1){
                                                    &>{
                                                        span{
                                                            display: inline-block;
                                                            padding: 15px 20px;
                                                            font-size: 14px;
                                                            border-radius: 30px;
                                                            line-height: 1.25em;
                                                            font-weight: 100;
                                                            opacity: 0.2;
                                                            &>{
                                                                div:nth-child(1){
                                                                    margin: 0;
                                                                    width: 30px;
                                                                    text-align: center;
                                                                    &>{
                                                                        div{
                                                                            width: 10px;
                                                                            height: 10px;
                                                                            border-radius: 100%;
                                                                            display: inline-block;
                                                                            -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
                                                                            animation: sk-bouncedelay 1.4s infinite ease-in-out both;
                                                                            background: rgba(0,0,0,1);
                                                                        }
                                                                        div:nth-child(1){
                                                                            -webkit-animation-delay: -0.32s;
                                                                            animation-delay: -0.32s;
                                                                        }
                                                                        div:nth-child(2){
                                                                            -webkit-animation-delay: -0.16s;
                                                                            animation-delay: -0.16s;
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                                div:nth-child(2){
                                                    &>{
                                                        span:nth-child(1){
                                                            line-height: 1.5em;
                                                            display: inline-block;
                                                            background: #5d0e8b;
                                                            padding: 0.7rem 1rem;
                                                            font-size: 0.9rem;
                                                            color: #fff;
                                                            border-radius: 30px;
                                                            line-height: 1.5em;
                                                            font-weight: 100;
                                                            text-align: left;
                                                            border-top-right-radius: 0.1rem;
                                                        }
                                                        span:nth-child(2){
                                                            display: block;
                                                            font-size: 0.8rem;
                                                            text-align: right;
                                                            padding-right: 20px;
                                                            padding-top: 4px;
                                                            color: #ccc;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        li:nth-child(even){
                                            text-align: left;
                                            margin-bottom: 16px;
                                            &>{
                                                div:nth-child(1){
                                                    &>{
                                                        span:nth-child(1){
                                                            display: inline-block;
                                                            padding: 15px 20px;
                                                            font-size: 14px;
                                                            color: #ccc;
                                                            border-radius: 30px;
                                                            line-height: 1.25em;
                                                            font-weight: 100;
                                                            opacity: 0.2;
                                                            &>{
                                                                div:nth-child(1){
                                                                    margin: 0;
                                                                    width: 30px;
                                                                    text-align: center;
                                                                    &>{
                                                                        div{
                                                                            width: 10px;
                                                                            height: 10px;
                                                                            border-radius: 100%;
                                                                            display: inline-block;
                                                                            -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
                                                                            animation: sk-bouncedelay 1.4s infinite ease-in-out both;
                                                                            background: rgba(0,0,0,1);
                                                                        }
                                                                        div:nth-child(1){
                                                                            -webkit-animation-delay: -0.32s;
                                                                            animation-delay: -0.32s;
                                                                        }
                                                                        div:nth-child(2){
                                                                            -webkit-animation-delay: -0.16s;
                                                                            animation-delay: -0.16s;
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                                div:nth-child(2){
                                                    &>{
                                                        span:nth-child(1){
                                                            max-width: 80%;
                                                            display: inline-block;
                                                            background: white;
                                                            padding: 0.7rem 1rem;
                                                            font-size: 0.9rem;
                                                            color: #999;
                                                            border-radius: 30px;
                                                            font-weight: 100;
                                                            line-height: 1.5em;
                                                            border-top-left-radius: 0.1rem;
                                                        }
                                                        span:nth-child(2){
                                                            display: block;
                                                            font-size: 0.8rem;
                                                            text-align: left;
                                                            padding-left: 30px;
                                                            padding-top: 4px;
                                                            color: #ccc;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                //Text area
                div:nth-child(2){
                    &>{
                        div:nth-child(1){
                            padding: 0;
                            &>{
                                div:nth-child(1){
                                    textarea{
                                        border: none;
                                        border-top: 1px solid #ddd;
                                        background: white;
                                    }
                                }
                            }
                        }
                        div:nth-child(2){
                            padding: 0;
                            &>{
                                button{
                                    height: 100%;
                                    padding: 0;
                                    &>{
                                        i{
                                            color: #5d0e8b;
                                            font-size: 1.5rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}
