#agent_search {
    &>{
        //thirteen wide column
        div:nth-child(1){
            padding-right: 0;
            &>{
                //sixteen wide column
                div:nth-child(1){
                    div:nth-child(1){
                        padding-left: 0.98rem;
                        padding-right: 0;
                    }
                    div:nth-child(2){
                        padding-left: 0;
                        padding-right: 0;
                    }
                    div:nth-child(3){
                        padding-left: 0;
                        color: rgb( 23, 23, 23 );
                        font-family: "GothamBook";
                        div:nth-child(1){
                            padding-left: 0;
                        }
                        input {
                            border-color: rgba(34,36,38,0.15);
                            border-radius: 0;
                            font-family: "GothamBook";
                            font-size: 13px;
                            color: rgb( 23, 23, 23 );
                            &::-webkit-input-placeholder {
                                color: rgb( 127, 126, 126 );
                            }
                        }
                    }
                    div:nth-child(1),div:nth-child(2){
                        border-right: none;
                        &>{
                            .ui.selection.active.dropdown{
                                border-color: rgba(34,36,38,0.15);
                            }

                            //ui loading fluid multiple search selection dropdown
                            div:nth-child(1){
                                border-radius: 0;
                                padding: 1.18rem;
                                border-right: none;

                                &>{
                                    .dropdown.icon{
                                        // padding: 2.1em 1.28571429em!important;
                                        line-height: 2.5em;
                                    }

                                    .ui.label.transition.visible{
                                        box-shadow: none;
                                        font-weight: 500;
                                        &>{
                                            i {
                                                color: black;
                                            }
                                        }
                                    }

                                    .menu.transition.visible{
                                        border-color: rgba(34,36,38,0.15);
                                        .item{
                                            color: #5d0e8b;
                                        }
                                    }
                                }

                            }
                        }
                    }
                }
                //clear button
                div:nth-child(2){
                    &>{
                        div:nth-child(1){
                            cursor: pointer;
                            text-align: right;
                            padding: 0;
                            span {
                                color: $white;
                                font-weight: 100;
                                font-size: 0.7rem;
                                padding: .3rem .8rem;
                                background-color: $purple;
                                padding-bottom: .2rem;
                                line-height: 1.5;
                                display: inline-block;
                                @include for_screen( portraitTablet ){
                                    padding: 0.5rem;
                                }
                            }
                            a {
                                color: white;
                                font-weight: 100;
                                font-size: 0.7rem;
                                padding: 0.5rem 1rem;
                                background-color: #5d0e8b;
                                @include for_screen( portraitTablet ){
                                    padding: 0.5rem;
                                }
                            }
                        }
                    }
                }
            }
        }

        //three wide column
        div:nth-child(2){
            &>{
                button {
                    width: 100%;
                    border-radius: 0;
                    text-transform: uppercase;
                    font-family: "GothamBold";
                    font-size: 1.2rem;
                    letter-spacing: .05em;
                    padding: 1.25rem 0;
                }
                button:before, button:after{
                    width: 2.28571429em;
                    height: 2.28571429em;
                    margin: -1.1em 0 0 -1.1em;
                }
            }
        }
    }
}

html[dir=rtl] {
    #agent_search {
        &>{
            div:nth-child(1){
                &>{
                    div:nth-child(2){
                        &>{
                            div:nth-child(1){
                                span {
                                    font-size: 1rem;
                                }
                            }
                        }
                    }
                }
            }
            div:nth-child(2){
                &>{
                    button {
                        font-size: 1.5rem;
                        padding: 1rem 0;
                    }
                }
            }
        }
    }
}
