#budget_search{
    margin-top: 0.3rem;
    &>{
        //row
        div:nth-child(1){
            &>{
                //thirteen wide column
                div:nth-child(1){
                    padding-right: 0;
                    &>{

                        //sixteen wide column
                        div:nth-child(1){
                            &>{
                                //ui grid
                                div:nth-child(1){
                                    &>{
                                        div:nth-child(1){
                                            padding-right:0;
                                        }
                                        div:nth-child(2),div:nth-child(3){
                                            padding-right:0;
                                            padding-left:0;
                                        }
                                        div:nth-child(4){
                                            padding-left: 0;
                                        }
                                        div:nth-child(1), div:nth-child(2), div:nth-child(3), div:nth-child(4), div:nth-child(5) {
                                            .ui.selection.dropdown{
                                                min-width: 13.7em;
                                                @include for_screen( portraitTablet ){
                                                    min-width: 10.7em;
                                                }
                                            }
                                            .ui.selection.active.dropdown{
                                                border-color: rgba(34,36,38,.15);
                                            }
                                            &>{
                                                .ui.dropdown.selection{
                                                    border-radius: 0;
                                                    line-height: 2em;

                                                    .dropdown.icon{
                                                        line-height: 2em;
                                                    }

                                                    .menu.transition.visible{
                                                        border-color: rgba(34,36,38,.15);
                                                        .item{
                                                            color: #5d0e8b;
                                                        }
                                                    }

                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                //three wide column
                div:nth-child(2){
                    &>{
                        button {
                            width: 100%;
                            border-radius: 0;
                            text-transform: uppercase;
                            font-size: 1rem;
                            letter-spacing: 0.05em;
                            padding: 1.25rem 0;
                        }
                        button:before, button:after{
                            width: 2.28571429em;
                            height: 2.28571429em;
                            margin: -1.1em 0 0 -1.1em;
                        }
                    }
                }
            }
        }
    }
}
