#landing_search{
    position: relative;
    height: 25rem;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 4rem;
    @include for_screen( hd ){
        background-position: center;
    }
    &>{
        div:nth-child(1) {
            display: flex;
            align-items: center;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.2);
            &>{
                div:nth-child(1){
                    &>{
                        // banner text
                        div:nth-child(1){
                            div:nth-child(1){
                                h1 {
                                    font-size: 3rem;
                                    color: white;
                                    margin-top: 0;
                                    text-shadow: 0px 0px 3px black;
                                    font-family: "GothamMedium";
                                    padding-left: 0;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @include for_screen( desktop ){
        height: 25rem;
    }
    @include for_screen( hd ){
        height: 38rem;
    }
}
