//ui grid
#property_search {
    margin-top: -0.3rem;
    margin-bottom: 0.01rem;
    &>{
        //thirteen wide column
        div:nth-child(1) {
            padding: 0;
            & > {
                //sixteen wide column advanced_search
                div:nth-child(1), div:nth-child(2), div:nth-child(3) {
                    padding: 0;
                    & > {

                        // ui grid
                        div:nth-child(1) {
                            margin: 0;
                            padding: 0;
                            & > {
                                div:nth-child(1), div:nth-child(2), div:nth-child(3), div:nth-child(4), div:nth-child(5) {
                                    padding-top: 0;
                                    padding-bottom: 0;
                                    padding-left: 0;
                                    .ui.selection.dropdown {
                                        max-width: 100%;
                                        min-width: auto;
                                        border-radius: 0;
                                        line-height: 2rem;
                                        border: 0;
                                        border-right: 1px solid rgba(34, 36, 38, .15);
                                        border-bottom: 1px solid rgba(34, 36, 38, .15);
                                        .text {
                                            white-space: nowrap;
                                            font-size: 1rem;
                                            color: #635f5f;
                                            font-family: "GothamMedium";
                                        }
                                        .dropdown.icon {
                                            line-height: 2rem;
                                        }
                                        .menu.transition.visible {
                                            border-color: rgba(34, 36, 38, .15);
                                            .item {
                                                color: #635f5f;
                                            }
                                        }
                                        .menu>.item {
                                            font-size: 12px;
                                            padding: 1rem .5rem !important;
                                        }
                                    }
                                    .ui.disabled.dropdown {
                                        opacity: .70;
                                    }
                                    .ui.selection.active.dropdown {
                                        border-color: rgba(34, 36, 38, .15);
                                    }
                                    .ui.grid {
                                        & > {
                                            div:nth-child(1) {
                                                padding-right: 0;
                                                
                                                .ui.selection.dropdown {
                                                    border-right: 0;
                                                }
                                            }
                                            div:nth-child(2) {
                                                padding-left: 0;
                                            }
                                        }
                                    }
                                    .awesomplete {
                                        padding: .78571429em 2.1em .78571429em 1em;
                                        border-bottom: 1px solid rgba(34, 36, 38, .15);
                                        border-top: 1px solid rgba(34, 36, 38, .15);
                                        border-right: 1px solid rgba(34, 36, 38, .15);
                                        input {
                                            font-family: "GothamBook";
                                            font-size: 12px;
                                        }
                                    }
                                    .ui.input input {
                                        border: 0;
                                        &::-webkit-input-placeholder {
                                            font-size: 11px;
                                            color: #777777;
                                            color: rgb( 127, 126, 126 );
                                            font-family: "GothamBook";
                                            
                                        }
                                    }
                                    select {
                                        -webkit-appearance: none;
                                        border: 0;
                                        border-radius: 0;
                                        background: #fff;
                                        padding: 0;
                                    }
                                }
                                div:nth-child(1) {
                                    padding-right: 0;
                                }
                                div:nth-child(2):last-child {
                                    padding-left: 0;
                                }
                                div:nth-child(2):not(:last-child) {
                                    padding-right: 0;
                                    padding-left: 0;
                                }
                                div:nth-child(3) {
                                    padding-right: 0;
                                    padding-left: 0;
                                }
                                div:nth-child(4) {
                                    padding-left: 0;
                                }
                                div:nth-child(4):not(:last-child) {
                                    padding-left: 0;
                                    padding-right: 0;
                                }
                                div:nth-child(5) {
                                    padding-left: 0;
                                }

                            }
                        }
                    }
                }
                div:nth-child(1) {
                    & > div:nth-child(1) {
                        & > div:nth-child(1) {
                            .ui.selection.dropdown {
                                border-top: 1px solid rgba(34, 36, 38, .15);
                                border-left: 1px solid rgba(34, 36, 38, .15);
                            }
                        }
                    }
                }
                div:nth-child(2), div:nth-child(3) {
                    display: none;
                }

                div:nth-child(2) {
                    & > div:nth-child(1) {
                        & > div:nth-child(1) {
                            .ui.selection.dropdown {
                                border-left: 1px solid rgba(34, 36, 38, .15);
                            }
                        }
                    }
                }

                div:nth-child(3) {
                    & > div:nth-child(1) {
                        & > div:nth-child(1) {
                            & > div:nth-child(1) {
                                & > div:nth-child(1) {
                                    .ui.selection.dropdown {
                                        border-left: 1px solid rgba(34, 36, 38, .15);
                                    }
                                }
                            }
                        }
                        & > div:nth-child(4) {
                            .ui.input input {
                                border-right: 1px solid rgba(34, 36, 38, .15);
                                border-bottom: 1px solid rgba(34, 36, 38, .15);
                                border-radius:0;
                            }
                        }
                    }
                }

                //sixteen wide column
                div:nth-child(4){
                    cursor: pointer;
                    text-align: right;
                    margin: 0;
                    & > div {
                        padding-top: 0;
                        padding-bottom: 0;
                        font-family: GothamBook;

                        span {
                            color: white;
                            font-weight: 100;
                            font-size: 0.7rem;
                            padding: 0.3rem .8rem;
                            padding-bottom: .2rem;
                            background-color: #5d0e8b;
                            display: inline-block;
                            line-height: 1.5;
                            @include for_screen( portraitTablet ){
                                padding: 0.5rem;
                            }
                        }
                        a {
                            color: white;
                            font-weight: 100;
                            font-size: 0.7rem;
                            padding: 0.3rem .8rem;
                            padding-bottom: .2rem;
                            background-color: #5d0e8b;
                            display: inline-block;
                            line-height: 1.5;
                            @include for_screen( portraitTablet ){
                                padding: 0.5rem;
                            }
                        }

                    }
                }

            }
        }

        //three wide column
        div:nth-child(2){
            padding-left: 0;
            padding-top: 0;
            &>{
                button {
                    width: 84.6%;
                    border-radius: 0;
                    text-transform: uppercase;
                    font-family: GothamBold;
                    font-size: 1.2rem;
                    letter-spacing: 0.05em;
                    padding: 1.25rem 0;
                    margin-left: .84rem;
                }
                button:before, button:after{
                    width: 2.28571429em;
                    height: 2.28571429em;
                    margin: -1.1em 0 0 -1.1em;
                }
            }
        }
    }
}
