#projects_search {
    margin-top: -0.3rem;
    margin-bottom: 0.01rem;
    &>{
        //row
        div:nth-child(1){
            &>{
                //thriteen wide column
                div:nth-child(1){
                    padding-left: 0;
                    &>{
                        //sixteen wide column
                        div:nth-child(1){
                            &>{
                                div:nth-child(1){
                                    &>{
                                        //ten wide column
                                        div:nth-child(1){
                                            padding-left: 0.98rem;
                                            border-right: none;
                                            padding-right: 0;
                                            &>{
                                                .ui.selection.active.dropdown{
                                                    border-color: rgba(34,36,38,0.15);
                                                }

                                                //ui loading fluid multiple search selection dropdown
                                                div:nth-child(1){
                                                    border-radius: 0;
                                                    padding: 1.18rem;
                                                    border-right: none;

                                                    &>{
                                                        .dropdown.icon{
                                                            // padding: 2.1em 1.28571429em!important;
                                                            line-height: 2.5em;
                                                        }

                                                        .default.text {
                                                            font-family: "GothamMedium";
                                                            color: rgb( 23, 23, 23 );
                                                        }

                                                        .ui.label.transition.visible{
                                                            box-shadow: none;
                                                            font-weight: 500;
                                                            &>{
                                                                i {
                                                                    color: black;
                                                                }
                                                            }
                                                        }

                                                        .menu.transition.visible{
                                                            border-color: rgba(34,36,38,0.15);
                                                            .item{
                                                                color: #5d0e8b;
                                                            }
                                                        }
                                                    }

                                                }
                                            }
                                        }
                                        //six wide column
                                        div:nth-child(2){
                                            padding-left: 0;
                                            .ui.selection.dropdown{
                                                // min-width: 18.3em;
                                                @include for_screen( tablet ){
                                                    min-width: 15.3em;
                                                }
                                                @include for_screen( portraitTablet ){
                                                    min-width: 9em;
                                                }
                                            }
                                            .ui.selection.active.dropdown{
                                                border-color: rgba(34, 36, 38, 0.15)
                                            }
                                            &>{
                                                .ui.dropdown.selection{
                                                    border-radius: 0;
                                                    // border-left: none;
                                                    line-height: 2em;

                                                    .dropdown.icon{
                                                        line-height: 2em;
                                                    }

                                                    .default.text{
                                                        white-space: nowrap;
                                                    }

                                                    .menu.transition.visible{
                                                        border-color: rgba(34,36,38,0.15);
                                                        .item{
                                                            color: #5d0e8b;
                                                        }
                                                    }

                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        div:nth-child(2){
                            display: none;
                            &>{
                                div:nth-child(1){
                                    @include for_screen( smallDesktop ){
                                        margin-right: -0.45rem;
                                    }
                                    &>{
                                        div:nth-child(1){
                                            padding-right: 0;
                                        }
                                        div:nth-child(2){
                                            padding-left: 0;
                                        }
                                        div:nth-child(1),div:nth-child(2){
                                            padding-top: 0;
                                            .ui.selection.dropdown{
                                                // min-width: 18.3em;
                                                @include for_screen( tablet ){
                                                    min-width: 15.3em;
                                                }
                                                @include for_screen( portraitTablet ){
                                                    min-width: 9em;
                                                }
                                            }
                                            .ui.selection.active.dropdown{
                                                border-color: rgba(34,36,38,0.15);
                                            }
                                            &>{
                                                .ui.dropdown.selection{
                                                    border-radius: 0;
                                                    border-left: none;
                                                    line-height: 2em;

                                                    .dropdown.icon{
                                                        line-height: 2em;
                                                    }

                                                    .default.text{
                                                        white-space: nowrap;
                                                    }

                                                    .menu.transition.visible{
                                                        border-color: rgba(34,36,38,0.15);
                                                        .item{
                                                            color: #5d0e8b;
                                                        }
                                                    }

                                                }
                                            }
                                            .awesomplete {
                                                padding: .78571429em 2.1em .78571429em 1em;
                                                border-bottom: 1px solid rgba(34, 36, 38, .15);
                                                border-left: 1px solid rgba(34, 36, 38, .15);
                                                input {
                                                    padding-left: 0;
                                                }
                                            }
                                            input {
                                                border-color: rgba(34,36,38,0.15);
                                                border-top: none;
                                                border-radius: 0;
                                                font-family: Merriweather Sans,sans-serif;
                                                font-size: 13px;
                                                &::-webkit-input-placeholder {
                                                    color: rgba(191, 191, 191, .87);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        //Advanced search and clear buttons
                        div:nth-child(3){
                            padding-right: 1rem;
                            &>{
                                div:nth-child(2){
                                    cursor: pointer;
                                    text-align: right;
                                    padding: 0.3rem 0;
                                    span {
                                        color: white;
                                        font-weight: 100;
                                        font-size: 0.7rem;
                                        padding: 0.5rem 1rem;
                                        background-color: #5d0e8b;
                                        @include for_screen( portraitTablet ){
                                            padding: 0.5rem;
                                        }
                                    }
                                    a {
                                        color: white;
                                        font-weight: 100;
                                        font-size: 0.7rem;
                                        padding: 0.5rem 1rem;
                                        background-color: #5d0e8b;
                                        @include for_screen( portraitTablet ){
                                            padding: 0.5rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                //three wide column
                div:nth-child(2){
                    padding-left: 0;
                    padding-right: 2.4rem;
                    &>{
                        button {
                            width: 100%;
                            border-radius: 0;
                            text-transform: uppercase;
                            font-size: 1rem;
                            letter-spacing: 0.05em;
                            padding: 1.25rem 0;
                        }
                        button:before, button:after{
                            width: 2.28571429em;
                            height: 2.28571429em;
                            margin: -1.1em 0 0 -1.1em;
                        }
                    }
                }
            }
        }
    }
}
