#services_search {
    margin-top: -0.3rem;
    &>{
        //thirteen wide column
        div:nth-child(1){
            &>{
                //sixteen wide column
                div:nth-child(1){
                    padding-right: 0;
                    //sixteen wide column
                    &>{
                        //sixteen wide column
                        div:nth-child(1){
                            &>{
                                div:nth-child(1){
                                    padding-left: 0.98rem;
                                    &>{
                                        .ui.selection.active.dropdown{
                                            border-color: rgba(34,36,38,.15);
                                        }

                                        //ui loading fluid multiple search selection dropdown
                                        div:nth-child(1){
                                            border-radius: 0;
                                            padding: 1.18rem;

                                            &>{
                                                .dropdown.icon{
                                                    // padding: 2.1em 1.28571429em!important;
                                                    line-height: 2.5em;
                                                }

                                                .ui.label.transition.visible{
                                                    box-shadow: none;
                                                    font-weight: 500;
                                                    &>{
                                                        i {
                                                            color: black;
                                                        }
                                                    }
                                                }

                                                .menu.transition.visible{
                                                    border-color: rgba(34,36,38,.15);
                                                    .item{
                                                        color: #5d0e8b;
                                                    }
                                                }
                                            }

                                        }
                                    }


                                }
                            }
                        }
                    }
                }

                //three wide column
                div:nth-child(2){
                    &>{
                        button {
                            width: 100%;
                            border-radius: 0;
                            text-transform: uppercase;
                            font-size: 1rem;
                            letter-spacing: 0.05em;
                            padding: 1.25rem 0;
                        }
                        button::before, button::after{
                            width: 2.28571429em;
                            height: 2.28571429em;
                            margin: -1.1em 0 0 -1.1em;
                        }
                    }
                }
            }
        }
    }
}
