#hot-projects {
    &>{
        .reveal {
            padding: 0;
            margin-bottom: 3rem;
            margin-right: 1.11rem;
            &>{
                a {
                    text-decoration: none;
                    &>{
                        div:nth-child(1) {
                            border-radius: 7px;
                            background: black;
                            overflow: hidden;
                            &>{
                                img {
                                    width: 100%;
                                    height: 178px;
                                    border-radius: 7px;
                                    -o-object-fit: cover;
                                    object-fit: cover;
                                    opacity: 1;
                                }
                                .layer {
                                    position: absolute;
                                    padding: 1.5rem;
                                    top: 136px;
                                    width: 100%;
                                    border-bottom-right-radius: 7px;
                                    background: linear-gradient(to top, #151414,60% , transparent);
                                    border-bottom-left-radius: 7px;
                                }
                                div:nth-child(3) {
                                    position: absolute;
                                    right: 1rem;
                                    top: 0.5rem;
                                    background: white;
                                    padding: 7px;
                                    height: 3rem;
                                    display: flex;
                                    align-items: center;
                                    img {
                                        max-height: 3rem;
                                        width: 3rem;
                                        border-radius: 0;
                                    }
                                }
                                span {
                                    position: absolute;
                                    left: 8px;
                                    top: 7px;
                                    background: rgb( 94, 45, 132 );
                                    padding: 0.3rem 0.6rem;
                                    color: white;
                                    font-size: .8rem;
                                    font-weight: bold;
                                    text-transform: capitalize;
                                    border-radius: 4px;
                                    font-family: "GothamMedium";
                                }
                                h5 {
                                    margin-top: 0;
                                    margin-bottom: 0.5rem;
                                    position: absolute;
                                    bottom: 20px;
                                    font-family: "GothamMedium";
                                    font-size: .9rem;
                                    color: white;
                                    left: 8px;
                                }
                                p {
                                    position: absolute;
                                    bottom: 10px;
                                    font-family: "GothamBook";
                                    font-size: .73rem;
                                    color: white;
                                    left: 8px;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    overflow: hidden;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}