#pages_budget_listings {
    &>{
        //property_type_links
        div:nth-child(1) {
            &>{
                div:nth-child(1) {
                    border-bottom: 1px solid #e9e9e9;
                    margin: 0 1rem;
                    padding: 0;

                    max-height: 70px;
                    overflow: hidden;
                    &>{
                        ul {
                            padding: 1rem 0 0 0;
                            margin: 0;
                            &>{
                                li {
                                    display: inline-block;
                                    font-size: 1rem;
                                    width: 13rem;
                                    padding: 0.3rem 0;
                                    &>{
                                        a {
                                            color: rgba(0, 0, 0, 0.5);
                                            padding-left: .4rem;
                                            padding-right: .4rem;
                                            font-weight: 300;
                                            transition: color 0.5s ease;
                                        }
                                        a:hover{
                                            color: #5d0e8b;
                                        }
                                    }
                                }
                            }
                        }
                        div {
                            position: absolute;
                            bottom: 0;
                            width: 100%;
                            text-align: right;
                            &>{
                                a {
                                    color: rgba(0, 0, 0, 0.5);
                                    transition: color 0.5s ease;
                                }
                                a:hover{
                                    color: #5d0e8b;
                                }
                            }
                        }
                    }
                }
            }
        }

        //ui grid sort - alert me and save search
        div:nth-child(2){
            &> {
                div:nth-child(1) {
                    &>{
                        div {
                            margin: 0 0.2rem;
                            border-radius: 2rem;
                            padding: 0.7rem 1.5rem;
                            font-size: 1rem;
                            font-family: Merriweather Sans,sans-serif;
                            font-weight: 200;
                            letter-spacing: 0.04em;
                            .header {
                                background: rgba(34,36,38,.1);
                                padding: 1rem;
                                margin: 0;
                                color: #5d0e8b;
                            }
                            .item {
                                color: rgba(0,0,0,.80);
                                -webkit-transition: color 0.3s ease;
                                transition: color 0.3s ease;
                            }
                            .item:hover {
                                background: transparent;
                                color: #5d0e8b;
                            }
                            &> {
                                i {
                                    padding-left: 0.3rem;
                                    opacity: 1;
                                }
                                span {
                                    padding-right: 1rem;
                                }
                            }
                        }
                        button {
                            margin: 0 0.2rem;
                            border-radius: 2rem;
                            padding: 0.7rem 1.5rem;
                            font-size: 1rem;
                            font-family: Merriweather Sans,sans-serif;
                            font-weight: 200;
                            letter-spacing: 0.04em;
                            &>{
                                i {
                                    opacity: 1;
                                }
                                a {
                                    color: white;
                                }
                            }
                        }
                    }
                }
                div:nth-child(2) {
                    text-align: right;
                    &>{
                        button {
                            margin: 0 0.2rem;
                            border-radius: 2rem;
                            padding: 0.7rem 1.5rem;
                            font-size: 1rem;
                            font-family: Merriweather Sans,sans-serif;
                            font-weight: 200;
                            letter-spacing: 0.04em;
                            &>{
                                i {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }

        //Residential Properties for Sale in UAE and 13859 Properties Found
        div:nth-child(3){
            &>{
                div:nth-child(1){
                    padding: 0 1rem;
                    &> {
                        h1 {
                            font-size: 1.6rem;
                            font-weight: 300;
                            color: #7f7f7f;
                        }
                    }
                }
            }
        }

        div:nth-child(4){
            &>{
                //Property Results
                div:nth-child(1){

                }
                //Refine Search and Internal links
                div:nth-child(2){
                    &>{
                        //Refine Search
                        div:nth-child(1){
                            padding: 1rem;
                            &>{
                                div:nth-child(1){
                                    color: #5d0e8b;
                                    border: 1px solid #5d0e8b;
                                    font-weight: 400;
                                    font-size: 1.1rem;
                                }
                                div:nth-child(2){
                                    padding: 0;
                                    &>{
                                        div:nth-child(1){
                                            padding: 0;
                                            border-radius: 0px;
                                            box-shadow: none;
                                            border-left: 1px solid #d8dee2;
                                            border-right: 1px solid #d8dee2;
                                            &>{
                                                div:nth-child(1){
                                                    &>{
                                                        .title:nth-child(1){
                                                            border-top: none;
                                                        }
                                                        .title{
                                                            color: #7f7f7f;
                                                            padding: 1rem 0;
                                                            border-top: 1px solid #d8dee2;
                                                        }
                                                        .title.active{
                                                            color: #5d0e8b;
                                                        }
                                                        .content{
                                                            padding: 0 1.8rem;
                                                            padding-bottom: 1rem;
                                                            color: #7f7f7f;
                                                            &>{
                                                                p{
                                                                    font-size: 1.1rem;
                                                                    margin-bottom: 0;
                                                                }

                                                                .button{
                                                                    background: #ccc;
                                                                    margin-right: 0.5rem;
                                                                    box-shadow: none;
                                                                    padding: 0.6rem 1rem;
                                                                    color: rgba(0,0,0,.87);
                                                                    margin: 1rem 0;
                                                                }

                                                                .button.active{
                                                                    margin-right: 0.5rem;
                                                                    box-shadow: none;
                                                                    padding: 0.6rem 1rem;
                                                                    background-color: #5d0e8b;
                                                                    color: #fff;
                                                                    margin: 1rem 0;
                                                                }

                                                                p:nth-child(4){
                                                                    margin-top: 1rem;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        //Internal links
                        div:nth-child(2){
                            h3 {
                                font-size: 1.4rem;
                                color: #7f7f7f;
                                padding-top: 0;
                                margin-top: 1rem;
                                border-bottom: 1px solid #E9E9E9;
                            }
                            ul {
                                padding: 0;
                                li {
                                    display: block;
                                    font-size: 1rem;
                                    padding: 0.5rem 0;
                                    a {
                                        color: rgba(0, 0, 0, 0.5);
                                        padding-left: .4rem;
                                        padding-right: .4rem;
                                        font-weight: 300;
                                        -webkit-transition: color 0.5s ease;
                                        transition: color 0.5s ease;
                                    }
                                    a:hover {
                                        color: #5d0e8b;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
