#pages_services_listings {
    &>{
        div:nth-child(1){
            &>{
                div:nth-child(1){
                    h1{
                        font-size: 1.2rem;
                        font-weight: 300;
                        color: #7f7f7f;
                    }
                    div:nth-child(2){
                        &>{
                            .card {
                                padding: 1rem;
                                width: 100%;
                                color:#3C4858;
                                &>{
                                    div:nth-child(1){
                                        &>{
                                            div:nth-child(1){
                                                div:nth-child(1){
                                                    img {
                                                        height: 6rem;
                                                        width: 6rem;
                                                        margin-top: 5.2rem;
                                                    }
                                                }
                                            }
                                            div:nth-child(2){
                                                div:nth-child(1){
                                                    div:nth-child(1){
                                                        font-weight: 300;
                                                        font-size: 1.4rem;
                                                        margin: 1rem 0;
                                                    }
                                                    div:nth-child(2){
                                                        font-weight: 300;
                                                        font-size: 0.9rem;
                                                        margin-bottom: 3rem;
                                                    }
                                                }
                                                div:nth-child(2){
                                                    span {
                                                        line-height: 34px;
                                                        a{
                                                            color: rgba(0, 0, 0, 0.5);
                                                            transition: color 0.5s ease;
                                                        }
                                                        a:hover{
                                                            color: #5d0e8b;
                                                            text-decoration: underline;
                                                        }
                                                        button{
                                                            margin: 0 0.2rem;
                                                            border-radius: 2rem;
                                                            padding: 0.7rem 1.5rem;
                                                            font-size: 1rem;
                                                            font-family: Merriweather Sans,sans-serif;
                                                            font-weight: 200;
                                                            letter-spacing: 0.04em;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                div:nth-child(2){
                    &>{
                        div{
                            text-align: right;
                            img {
                                -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.075);
                                box-shadow: 0 1px 3px rgba(0,0,0,.075);
                                border: 1px solid #d8dee2;
                                border: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
