// Mixins
@import '../mixins/tablet_widths';
@import '../wrappers/global';
@import '../fonts/fonts';
@import '../helper';

// Header
@import 'components/sections/header/landing';

//sections
@import 'components/sections/sidedrawer';

//Search
@import 'components/sections/search/budget';
@import 'components/sections/search/agent';
@import 'components/sections/search/projects';
@import 'components/autocomplete';

//Banner
@import 'components/sections/banner/budget';
@import 'components/sections/banner/agent';

//footer
@import 'components/sections/footer/footer';

//Pages
@import 'pages/landing/landing';
@import 'pages/property/listings';
@import 'pages/property/details';
@import 'pages/projects/listings';
@import 'pages/projects/details';
@import 'pages/services/landing';
@import 'pages/services/listings';
@import 'pages/budget/landing';
@import 'pages/landing/blog';
@import 'pages/budget/listings';
@import 'pages/agent/details';
@import 'pages/agent/listings';
@import 'pages/privacy_policy';
@import 'pages/terms_and_conditions';
@import 'pages/reset_password';
// Guide Me
@import 'pages/guide_me';

//Modals
@import 'components/modals/modal_signin_register';
@import 'components/modals/custom_enquiry';
@import 'components/modals/general_enquiry';
@import 'components/modals/property/mortgage';
@import 'components/modals/property/call';
@import 'components/modals/property/email';
@import 'components/modals/property/callback';
@import 'components/modals/property/alert';
@import 'components/modals/agent/call';
@import 'components/modals/agent/email';
@import 'components/modals/agent/callback';
@import 'components/modals/services/contact';
@import 'components/modals/developer/call';
@import 'components/modals/developer/email';
@import 'components/modals/developer/callback';
@import 'components/modals/property/budget_refine_search';
@import 'components/modals/property/property_search';

// Awesomplete
@import 'components/awesomplete/property';

// Cards
@import 'components/cards/property/list';
@import 'components/cards/property/grid';
@import 'components/cards/projects/grid';
@import 'components/cards/projects/sponsored';
@import 'components/cards/projects/hot_project/hot_project';
@import 'components/cards/agent/grid';
@import 'components/cards/agent/featured';
@import 'components/cards/agent/featured/agent_featured';

// pagination
@import 'components/sections/pagination/pagination';

// breadcrumbs
@import 'components/sections/breadcrumbs/breadcrumbs';

// Dashboard
@import 'components/sections/dashboard';

// Home page internal links
@import 'components/sections/ilinks/home';

#listings_wrapper{
    html {
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
    }

    html[dir=rtl] {
        body.opened-sidebar {
            -webkit-overflow-scrolling: auto;
            .pushable>.pusher {
                -webkit-overflow-scrolling: touch;
            }
        }
    }
    background: #fff !important;
}

#details_wrapper {
    background: #ffffff !important;
}

.awesomplete > ul {
    overflow: scroll;
    overflow-x: hidden;
    max-height: 30rem;
    position: absolute;
    width: 100%;
    z-index: 9999;
    margin-top: 0;
}

.ui.grid {
    margin-left:0;
    margin-right:0;
}

.ui.container {
    margin-left:0 !important;
    margin-right:0 !important;
}

i.icon {
    display: inline;
}

.nav-scrollbar{
    overflow-y: scroll;
    overflow-x:hidden;
    max-height:20rem;
}
