@font-face {
    font-family: 'Merriweather Sans';
    src: url('fonts/MerriweatherSans-Book.woff2') format('woff2'),
    url('fonts/MerriweatherSans-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Merriweather Sans';
    src: url('fonts/MerriweatherSans-Bold.woff2') format('woff2'),
    url('fonts/MerriweatherSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Merriweather Sans';
    src: url('fonts/MerriweatherSans-ExtraBold.woff2') format('woff2'),
    url('fonts/MerriweatherSans-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Merriweather Sans';
    src: url('fonts/MerriweatherSans-Regular.woff2') format('woff2'),
    url('fonts/MerriweatherSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Bold.woff2') format('woff2'),
    url('fonts/Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    overflow-x: hidden;
}

.butn {
    font-family: 'Merriweather Sans';
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 17px 37px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    display: inline-block;
}
p{
    font-family: 'Merriweather Sans';
    font-weight: normal;
    font-size: 16px;
    color: #3e3e3e;
    line-height: 26px;
}

h2{
    font-family: 'Merriweather Sans';
    font-weight: bold;
    font-size: 42px;
    color: #ffffff;
    text-transform: uppercase;
    display: block;
    margin-bottom: 25px;
}
h3 {
    font-family: 'Merriweather Sans';
    font-weight: bold;
    font-size: 42px;
    color: #ffffff;
    text-transform: uppercase;
    display: block;
    margin-bottom: 25px;
}

.header {
    padding-top: 35px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.header nav ul {
    margin: 0;
    padding: 0;
}
.header nav ul li {
    display: inline-block;
    margin: 0px 40px;
}
.header nav ul li a {
    font-family: 'Merriweather Sans';
    font-weight: normal;
    font-size: 16px;
    color: #ffffff;
    line-height: 63px;
}

.social-nav {
    margin-top: 20px;
}
.social-nav ul {
    padding: 0;
    margin: 0;
}
.social-nav ul li {
    display: inline-block;
}
.social-nav ul li a {
    display: inline-block;
    margin: 0px 10px;
}
.social-nav ul li a.fb {
    background: url("images/fb.png") no-repeat;
    width: 11px;
    height: 20px;
}
.social-nav ul li a.tw {
    background: url("images/tw.png") no-repeat;
    width: 20px;
    height: 16px;
}
.social-nav ul li a.lnk {
    background: url("images/linkdin.png") no-repeat;
    width: 18px;
    height: 16px;
}
.social-nav ul li a.yt {
    background: url("images/youtube.png") no-repeat;
    width: 24px;
    height: 17px;
}
.social-nav ul li a.insta {
    background: url("images/insta.png") no-repeat;
    width: 17px;
    height: 17px;
}

.main-banner {
    background: url("images/header-banner.png") center top no-repeat;
    background-size: cover;
    min-height: 708px;
}
.main-banner .banner-text {
    margin-top: 25%;
}
.main-banner .banner-text h2 {
    font-family: 'Merriweather Sans';
    font-weight: bold;
    font-size: 42px;
    color: #ffffff;
    text-transform: uppercase;
    display: block;
    margin-bottom: 25px;
}
.main-banner .banner-text p {
    font-family: 'Merriweather Sans';
    font-weight: normal;
    font-size: 24px;
    color: #ffffff;
    display: block;
    margin-bottom: 25px;
}

.main-banner .banner-text a {
    font-family: 'Merriweather Sans';
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 17px 37px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    display: inline-block;
}


.wwr-wrapper  {
    padding: 120px 0px;
    position: relative;
}
.wwr-wrapper .wwr-text {
    border: 5px solid rgba(255,255,255,0.5);
    padding: 15px;
    width: 45%;
    position: absolute;
    top: 6%;
    left: 0px;
}
.wwr-wrapper .video {
    display: block;
}
.wwr-wrapper .video img {
    display: block;
}
.wwr-wrapper .wwr-text article {
    padding: 60px;
    padding-right: 110px;
    background: #ffffff;
}
.wwr-wrapper .wwr-text article h2 {
    font-family: 'Merriweather Sans';
    font-weight: bold;
    font-size: 42px;
    color: #3e3e3e;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.wwr-wrapper .wwr-text article p {
    font-family: 'Merriweather Sans';
    font-weight: normal;
    font-size: 16px;
    color: #3e3e3e;
    margin-bottom: 30px;
    line-height: 30px;
}
.wwr-wrapper .wwr-text article .butn {
    border-color: #aeaeae;
    color: #3e3e3e;
}


.scholarship-wrapper {
    padding-top: 100px;
    background: #f5f5f5;
}

.scholarship-wrapper h2 {
    color: #3e3e3e;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.scholarship-wrapper p{
    color: #3e3e3e;
    margin-bottom: 30px;
    line-height: 26px;
}

.scholarship-wrapper .container-fluid {
    position: relative;
    background: url('images/img-1.jpg') left center no-repeat;
    background-size: 60%;
    padding: 50px 0;
}
.scholarship-wrapper .scholr-text {
    border: 5px solid rgba(245,245,245,0.5);
    padding: 15px;
    width: 55%;
    position: static;
    float: right;
}
.scholarship-wrapper .scholr-text article {
    padding: 43px 90px ;
    background: #f5f5f5;
}
.scholarship-wrapper .scholr-text article  h3 {
    color: #3e3e3e;
    margin-bottom: 30px;
}
.scholarship-wrapper .scholr-text article ul {
    margin: 0;
    padding: 0;
}
.scholarship-wrapper .scholr-text article ul li {
    display: inline-block;
    font-family: 'Merriweather Sans';
    font-weight: bold;
    font-size: 16px;
    color: #3e3e3e;
    padding: 10px 0px;
    padding-left: 80px;
    margin-bottom: 30px;


}
.scholarship-wrapper .scholr-text article ul li.e-i {
 background: url("images/icon-1.png") no-repeat left;
}
.scholarship-wrapper .scholr-text article ul li.e-ii {
    background: url("images/icon-2.png") no-repeat left;
}
.scholarship-wrapper .scholr-text article ul li.e-iii {
    background: url("images/icon-3.png") no-repeat left;
}
.scholarship-wrapper .scholr-text article .butn {
    border-color: #aeaeae;
    color: #3e3e3e;
}



.apply-wrapper {
    padding: 90px 0 50px;
}
.apply-wrapper .col-md-12 h2 {
    color:  #3e3e3e;
}
.apply-wrapper .col-md-12 p {
    margin-bottom: 40px;
}
.apply-wrapper fieldset {
    padding: 10px;
    -webkit-box-shadow: 1px 2px 1px 1px #000000;
    box-shadow: 0px 0px 24px -4px rgba(3,3,3,0.2);
    margin-bottom: 50px;
}
.apply-wrapper fieldset figure {
    position: relative;
    margin-bottom: 0;
}
.apply-wrapper fieldset figure img {
    width: 100%;
}
.apply-wrapper fieldset figure span {
    height: 76px;
    width: 76px;
    border-radius: 50%;
    background: #ffffff;
    color: #3e3e3e;
    font-family: 'Lato';
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    position: absolute;
    bottom: -20%;
    left: 12%;
    line-height: 76px;
}

.apply-wrapper fieldset article {
    padding: 50px 30px;
    padding-bottom: 0;
    min-height: 206px;
}
.apply-wrapper fieldset article p {
    font-family: 'Merriweather Sans';
    font-weight: normal;
    font-size: 16px;
    color: #3e3e3e;
}


.form-wrapper {
    background: url("images/form-bg.png") left center no-repeat;
    background-size: cover;
    /*min-height: 904px;*/
}

.form-wrapper .form {
    width: 600px;
    padding: 90px 50px;
    padding-left: 0px;
    background: rgba(245,245,245,0.8);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0 0 50px;
}
.form-wrapper .form h3 {
    font-size: 30px;
    color: #3e3e3e;
    text-transform: none;
    margin-bottom: 30px;
}

form .clearfix div {
    width: 48%;
}
form label {
    font-family: 'Merriweather Sans';
    font-weight: bold;
    font-size: 11px;
    color: #3e3e3e;
    display: block;
    margin-bottom: 5px;
}

form input[type="email"],
form input[type="text"] {
    padding: 15px;
    border: 2px solid #aaaaaa;
    border-radius: 5px;
    background: none;
    font-family: 'Merriweather Sans';
    font-weight: bold;
    font-size: 11px;
    color: #747474;
    width: 100%;
    margin-bottom: 10px;
}
form .check-boxes {
    margin-bottom: 20px;
}
form .check-boxes input[type=checkbox] {
    border-color: #aaaaaa !important;
    background: none !important;
    width: 3%;
}
form .check-boxes label {
    width: 94%;
}
form input[type="file"] {
    padding: 15px;
    border: 2px solid #aaaaaa;
    border-radius: 5px;
    background: none;
    font-family: 'Merriweather Sans';
    font-weight: bold;
    font-size: 11px;
    color: #747474;
    width: 100%;
    margin-bottom: 30px;
}

form input[type="submit"] {
    padding: 15px 50px;
    border-radius: 5px;
    background: #5d0e8b;
    font-family: 'Merriweather Sans';
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
}


.faq-wrapper  {
    padding: 85px 0;
}

.faq-wrapper .deadline-sec {
    padding: 40px;
    padding-top: 60px;
    border: 10px solid #cdb6db;
    position: relative;
    margin-bottom: 100px;
}
.faq-wrapper .deadline-sec .dl-heading {
    position: absolute;
    top: -20px;
    left: -10px;
    background: #ffffff;
    padding-right: 20px;
    padding-bottom: 20px;
}
.faq-wrapper .deadline-sec .dl-heading h3{
    color: #3e3e3e;
    font-size: 30px;
    margin-bottom: 0px;
}
.faq-wrapper .deadline-sec div.text-left {
    width: 33.33%;
}
.faq-wrapper .deadline-sec div span {
    height: 56px;
    width: 56px;
    border-radius: 50%;
    background: #dcdcdc;
    color: #959494;
    font-family: 'Lato';
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    line-height: 56px;
    display: block;
    margin-right: 20px;
}
.faq-wrapper .deadline-sec div h4 {
    font-family: 'Merriweather Sans';
    font-weight: normal;
    font-size: 14px;
    color: #000000;
    margin-top: 7px;
}
.faq-wrapper .deadline-sec div h4 strong {
    font-family: 'Lato';
    font-weight: bold;
    font-size: 18px;
    display: block;
}


.according-wrap h3 {
    color: #3e3e3e;
    margin-bottom: 40px;
}

.according-wrap .card-header {
    background: #f2f2f2 !important;
    border: 2px solid #eeeeee;
    border-radius: 0;
}
.accordion .card {
    border-radius: 0;
}
.according-wrap .card-header h2 {
    font-family: 'Merriweather Sans';
    font-weight: bold;
    font-size: 18px;
    color: #000000;
    text-transform: uppercase;
    border: 0;
    padding: 10px;
    margin: 0;
    cursor: pointer;
}
.according-wrap .card-body {
    font-family: 'Merriweather Sans';
    font-weight: normal;
    font-size: 16px;
    color: #000000;
}


.most-popular-wrapper {
    padding: 70px 0px;
    background: #f2f2f2;
}
.most-popular-wrapper h2 {
    color: #3e3e3e;
    margin-bottom: 40px;
}
.most-popular-wrapper .nav-link {
    border-bottom: 1px solid #dbdbdb;
    font-family: 'Merriweather Sans';
    color: #676767;
    border-radius: 0 !important;
    padding: 15px;
}
.most-popular-wrapper .nav-link.active {
    border: 0 !important;
    font-weight: bold;
    font-size: 18px;
    background: #ffffff !important;
    color: #676767 !important;
    border-radius: 0 !important;
}
.most-popular-wrapper .tab-content {
    padding: 16px 30px;
    background: #ffffff;
    /* height: 100%; */
}
.most-popular-wrapper .tab-content ul {
    padding: 0;
    list-style: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}
.most-popular-wrapper .tab-content ul:last-child {
    margin-right: 0px !important;
}
.most-popular-wrapper .tab-content ul li {
    padding: 0.5rem 0;
    list-style: none;
}
.most-popular-wrapper .tab-content ul li h5{
    color: #676767;
}
.most-popular-wrapper .tab-content ul li a {
    font-family: 'Merriweather Sans';
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    display: block;
    color: #676767;
    padding-left: 15px;
    background: url("images/arrow.png") no-repeat left;
}

#v-pills-container{
    display: flex;
 }
#v-pills-tab, #v-pills-tabContent {
    flex: 1 1 auto;
 }
#v-pills-tabContent .tab-pane{
    flex: 1 1 auto;
    overflow-y: auto;
    max-height: 300px;
}

.footer {
    padding: 35px 0px;
}

.footer p {
    font-family: 'Merriweather Sans';
    font-weight: normal;
    font-size: 12px;
    color: #676767;
    margin: 0;
    line-height: 26px;
}
.footer p a {
    color: #676767;
}
.footer .social-nav {
    margin: 0;
}
.footer .social-nav ul li {
    line-height: 26px;
}
.footer .social-nav ul li a.fb {
    background: url("images/fb-b.png") no-repeat;
    width: 11px;
    height: 20px;
}
.footer .social-nav ul li a.tw {
    background: url("images/tw-b.png") no-repeat;
    width: 20px;
    height: 16px;
}
.footer .social-nav ul li a.lnk {
    background: url("images/linkdin-b.png") no-repeat;
    width: 18px;
    height: 16px;
}
.footer .social-nav ul li a.yt {
    background: url("images/youtube-b.png") no-repeat;
    width: 24px;
    height: 17px;
}
.footer .social-nav ul li a.insta {
    background: url("images/insta-b.png") no-repeat;
    width: 17px;
    height: 17px;
}


@media screen and (max-width: 768px) {

    header .main-nav {
        display: none;
    }

    .main-banner {
        min-height: 438px;
    }
    .main-banner .banner-text {
        margin-top: 40%;
    }
    .main-banner .banner-text h2 {
        font-size: 20px;
    }
    .main-banner .banner-text p {
        font-size: 16px;
        line-height: 20px;
    }
    .main-banner .banner-text a {
        font-size: 12px;
        padding: 13px 24px;
    }

    .apply-wrapper {
        padding: 40px 0;
    }
    .wwr-wrapper {
        padding: 35px 0;
    }
    .wwr-wrapper .wwr-text {
        padding: 30px 15px 0;
    }
    .wwr-wrapper .wwr-text article {
        padding: 0;
        text-align: center;
    }
    .wwr-wrapper .wwr-text article h2 {
        font-size: 24px;
    }
    .wwr-wrapper .wwr-text article p {
        font-size: 12px;
        line-height: 20px;
    }
    .wwr-wrapper .wwr-text article .butn {
        font-size: 12px;
    }

    .scholarship-wrapper {
        padding: 50px 0;
    }
    .scholarship-wrapper h2 {
        font-size: 24px;
    }
    .scholarship-wrapper p {
        font-size: 12px;
        line-height: 20px;
    }
    .scholarship-wrapper .container-fluid {
        background-position: center top;
        background-size: 100%;
        padding: 200px 0 0;
    }
    .scholarship-wrapper .scholr-text {
        width: 90%;
        float: none;
        margin: 0 auto;
    }
    .scholarship-wrapper .scholr-text article {
        padding: 40px;
    }
    .scholarship-wrapper .scholr-text article h3 {
        font-size: 24px;
    }
    .scholarship-wrapper .scholr-text article ul li {
        font-size: 12px;
    }
    .scholarship-wrapper .scholr-text article .butn {
        font-size: 12px;
    }

    .wwr-wrapper img {
        max-width: 100%;
    }
    .wwr-wrapper .wwr-text {
        width: 100%;
        position: static;
    }

    .apply-wrapper h2 {
        font-size: 24px;
    }
    .apply-wrapper p {
        font-size: 12px;
        line-height: 20px;
    }
    .apply-wrapper p br {
        display: none;
    }
    .apply-wrapper fieldset article {
        min-height: auto;
        padding: 50px 30px 20px;
    }

    .form-wrapper .form {
        width: 100%;
        padding: 50px 20px;
        margin: 0;
    }
    .form-wrapper .form h3 {
        font-size: 18px;
    }
    form label br {
        display: none;
    }
    form .clearfix div {
        width: 100%;
    }
    form input[type="text"] {
        width: 100%;
    }
    form input[type="submit"] {
        padding: 14px 31px;
        font-size: 12px;
    }

    .faq-wrapper {
        padding: 50px 0;
    }
    .faq-wrapper .deadline-sec {
        padding: 60px 40px 20px;
        margin: 0 0 50px;
    }
    .faq-wrapper .deadline-sec div span {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        margin-right: 10px;
    }
    .faq-wrapper .deadline-sec div h4{
        font-size: 12px;
    }
    .faq-wrapper .deadline-sec div h4 strong {
        font-size: 14px;
    }
    .faq-wrapper .deadline-sec div.text-left {
        width: 100%;
        margin: 0 0 30px;
    }

    .according-wrap h3 {
        font-size: 22px;
    }
    .according-wrap .card-header button {
        white-space: unset;
        font-size: 14px;
        text-align: left;
    }
    .according-wrap .card-body {
        font-size: 12px;
    }

    .most-popular-wrapper h2 {
        font-size: 22px;
    }
    .most-popular-wrapper .nav-link {
        font-size: 12px;
    }

    .most-popular-wrapper .tab-content .tab-pane {
        height: 300px;
        overflow: scroll;
    }
    .most-popular-wrapper .tab-content ul {
        width: 100%;
        float: none;
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
    }

    .footer .social-nav ul {
        margin: 0;
    }

}

html[dir=rtl] .main-banner {
    background-image: url(images/header-banner-ar.jpg);
}
html[dir=rtl] .wwr-wrapper .wwr-text {
    left: unset;
    right: 0;
}
html[dir=rtl] .wwr-wrapper .wwr-text article {
    padding-right: 60px;
    padding-left: 110px;
}
html[dir=rtl] .scholarship-wrapper .container-fluid {
    background-position: right center;
}
html[dir=rtl] .scholarship-wrapper .scholr-text {
    float: left;
}
html[dir=rtl] .scholarship-wrapper .scholr-text article ul li {
    background-position: right center;
    padding-left: 0;
    padding-right: 80px;
}
html[dir=rtl] .apply-wrapper fieldset figure span {
    left: unset;
    right: 12%;
}
html[dir=rtl] .form-wrapper {
    background: url(images/form-bg-ar.png) right center no-repeat;
    background-size: cover;
}
html[dir=rtl] .form-wrapper .form {
    padding-left: 50px;
    padding-right: 0;
}
html[dir=rtl] .faq-wrapper .deadline-sec .dl-heading {
    left: unset;
    right: -10px;
    padding-right: 0;
    padding-left: 20px;
}
html[dir=rtl] .faq-wrapper .deadline-sec div span {
    margin-right: 0;
    margin-left: 20px;
}
html[dir=rtl] .most-popular-wrapper .tab-content ul li a {
    padding-left: 0;
    padding-right: 15px;
    background-position: right center;
}
