#pagination{
    list-style-type: none;
    text-align: center;
    background: white;
    padding: 1rem 0;
    font-family: "GothamBook";
    &>{
        li{
            display: inline-block;
            margin-right: 1.5rem;
            font-size: 1.2rem;
            &>{
                a{
                    color: rgb( 60, 60, 60 );
                }
            }
            &:last-child {
                margin-right: 0;
            }
        }
        li.active{
            background: rgb( 223, 223, 223 );
            padding: .3rem .7rem .3rem;
            border-radius: .3rem;
            &>{
                a{
                    color: rgb( 60, 60, 60 );
                }
            }
        }
        .next, .last{
            a {
                color: #5d0e8b !important;
                font-family: "GothamMedium";
            }
        }
        .prev, .first{
            a {
                color: #5d0e8b !important;
                font-family: "GothamMedium";
            }
        }

        li.page-item.first.disabled, li.page-item.prev.disabled, li.page-item.next.disabled, li.page-item.last.disabled {
            a {
                color: #c7c7c7 !important;
            }
        }
    }
}
