$primary: #ebd79c;
$primary_light: #efdeac;
$black: #000000;
$white: #ffffff;
$grey: #efefef;

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/BrandonGrotesque-Bold.woff2') format('woff2'),
         url('../fonts/BrandonGrotesque-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/BrandonGrotesque-Light.woff2') format('woff2'),
        url('../fonts/BrandonGrotesque-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/BrandonGrotesque-Regular.woff2') format('woff2'),
         url('../fonts/BrandonGrotesque-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/BrandonGrotesque-Medium.woff2') format('woff2'),
         url('../fonts/BrandonGrotesque-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@mixin font-brandon() {
    font-family: 'Brandon Grotesque', Arial, Helvetica, sans-serif;
}

html {
    font-size: 16px;
}

body {
    @include font-brandon;
    background: #fff;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    margin: 0;
    line-height: normal;
}

strong {
    font-weight: bold;
}

.hide{
    display: none !important;
}

#loader{
    color: #fff;
    font-weight: normal;
    font-size: 1rem;
    margin: 1rem 0 0;
}

::-webkit-input-placeholder {
    color: inherit;
}
::-moz-placeholder {
    color: inherit;
}
:-ms-input-placeholder {
    color: inherit;
}
:-moz-placeholder {
    color: inherit;
}

select {
    -webkit-appearance: none;
}

.above-the-fold {
    // min-height: 100vh;
    position: relative;

    header {
        padding: 40px 0;

        .branding {
            text-align: left;

            a {
                display: inline-block;

                img {
                    max-height: 60px;
                }
            }
        }
        .phone_no {
            text-align: right;

            a{
                color: inherit;
                display: inline-block;
                // margin-left: 30px;
                text-transform: capitalize;
                background: rgba(0,0,0,0.7);
                color: #fff;

                padding: 0 15px;
                border-radius: 25px;
                //font-size: 1rem;
                vertical-align: top;
                line-height: 45px;
                text-align: center;

                img {
                    display: block;
                }
                &.only_mobile {
                    display: none;
                }
                &.only_computer {
                    display: inline-block;
                }
            }
            bdo.localization{
                a{
                    background: #f6f6f6;
                    color: #000;
                    box-shadow: 4px 0 2px -2px rgba(0,0,0,0.4);
                    i{
                        // margin: 0 .25em 0 0;
                        // vertical-align: middle;
                    }
                }
            }
        }
    }
    .banner {
        .text {
            text-align: center;
            text-transform: uppercase;
            margin: 0 0 2.5rem;

            > img {
                //max-height: 3rem;
                max-width: 8rem;

                &.zj-cherrywoods {
                    max-width: 12rem;
                }
            }
            h2 {
                color: $white;
                font-weight: 300;
                font-size: 1.5rem;
                //line-height: 2rem;
                line-height: normal;
                letter-spacing: 2px;
                margin: 1.5rem 0;

                span {
                    color: $primary;
                    display: block;
                    font-size: 2.5rem;
                    letter-spacing: normal;
                }
            }
            h3 {
                color: $white;
                font-size: 2rem;
                line-height: 2rem;

                span {
                    font-size: 1.25rem;
                    display: block;
                    color: $primary;
                }
            }
        }
        .form {
            fieldset {
                padding: 0;
                border: 0;
                margin: 0;

                select, input[type=text], input[type=email] {
                    border: 0;
                    border-bottom: 1px solid $grey;
                    background: transparent;
                    padding: 1rem;
                    color: $primary;
                    width: calc(40% - 1rem);
                    margin: 0 2rem;
                    border-radius: 0;

                    &:focus {
                        outline: none;
                    }
                }
                .intl-tel-input {
                    border-bottom: 1px solid $grey;
                    width: calc(40% - 1rem);
                    margin: 0 2rem;

                    .flag-container {
                        padding: 0;

                        .selected-flag {
                            padding: 0;
                            color: $primary;
                            width: 55px;
                            .iti-flag {
                                display: none;
                            }
                            .selected-dial-code {
                                padding: 0;
                            }
                            .iti-arrow {
                                border-top-color: #fff;
                            }
                        }
                    }
                    input {
                        padding: 1rem;
                        background: none;
                        border: 0;
                        color: $primary;
                        max-width: 100%;
                        padding-left: 65px !important;

                        &:focus {
                            outline: none;
                        }
                    }
                }
                input[type=submit] {
                    background: $primary;
                    border: 0;
                    text-transform: uppercase;
                    color: $black;
                    width: auto;
                    padding: 1rem 2.5rem;
                    cursor: pointer;
                }
                &:last-child {
                    text-align: center;
                    font-weight: bold;
                    font-size: 1.5rem;
                    margin: 2.5rem 0 6rem;
                }
            }
        }
    }
    .projects-tabs {
        margin-bottom: 1rem;
        background: #fff;

        .slick-slide {
            background: #ffffff;

            a:focus {
                outline: none;
            }
            .logo {
                display: block;
                text-align: center;
                height: 11rem;
                line-height: 11rem;

                img {
                    display: inline-block;
                    height: 50px;
                    vertical-align: middle;

                    &.zj-cherrywoods {
                        height: auto;
                        max-width: 70%;
                    }
                    &.zj-la-rive-port-de-la-mer {
                        height: 5rem;
                    }
                }
            }
            .thumb {
                display: block;
                text-align: center;
                overflow: hidden;
                height: 150px;

                img {
                    // width: 100%;
                    // max-width: 100%;
                    width: 100%;
                    height: 150px;
                    -o-object-fit: cover;
                    object-fit: cover;
                }
            }
            &.even {
                background: #f6f6f6;
            }
        }
        .slick-arrow {
            position: absolute;
            top: 0;
            z-index: 9;
            border: 0;
            background: rgba(0,0,0,0.5);
            text-indent: -9999px;
            width: 40px;
            height: 80px;

            &.slick-prev {
                left: 0;
                // background: rgba(0,0,0,0.8) url('../img/arrows2.png') 12px center no-repeat;
                background-image: url('../img/arrows2.png') #{"/*rtl:url('../img/arrows2_flip.png')*/"} !important;
                background-color: rgba(0,0,0,0.8);
                background-position: 12px center #{"/*rtl:15px center*/"} !important;
                background-repeat: no-repeat;
            }
            &.slick-next {
                right: 0;
                // background: rgba(0,0,0,0.8) url('../img/arrows2.png') -690px center no-repeat;
                background-image: url('../img/arrows2.png') #{"/*rtl:url('../img/arrows2_flip.png')*/"} !important;
                background-color: rgba(0,0,0,0.8);
                background-position: -690px center #{"/*rtl:-695px center*/"} !important;
                background-repeat: no-repeat;
            }
            &:focus {
                outline: none;
            }
        }
    }
    &:before {
        content: '';
        display: block;
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        background: rgba(0,0,0,0.75);
    }
    .background-banner {
        /*rtl:begin:ignore*/
        background-position: bottom left;
        /*rtl:end:ignore*/
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #000000;

        -moz-transform: scaleX(1) #{"/*rtl:scaleX(-1)*/"} !important;
        -o-transform: scaleX(1) #{"/*rtl:scaleX(-1)*/"} !important;
        -webkit-transform: scaleX(1) #{"/*rtl:scaleX(-1)*/"} !important;
        transform: scaleX(1) #{"/*rtl:scaleX(-1)*/"} !important;
        filter: FlipH;
        -ms-filter: "FlipH";

        display: block;
        width: 100%;
        height: calc(100% - 320px);
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }
}

.payment-plans {
    background: $primary_light;
    padding: 8rem 0;

    h3 {
        text-align: center;
        text-transform: uppercase;
        font-size: 3rem;
        font-weight: bold;
        margin: 0 0 3rem;
    }
    .box-wrap {
        text-align: center;

        .box {
            display: inline-block;
            margin: 0 2rem 4rem;
            width: calc(32% - 4rem);

            .label {
                display: block;
                text-align: center;
                font-size: 1rem;
                font-weight: 300;
            }
            .amount {
                background: $black;
                width: 10rem;
                height: 4.5rem;
                text-align: center;
                font-weight: bold;
                color: $white;
                display: block;
                font-size: 3rem;
                line-height: 4.5rem;
                margin: .8rem auto;
            }
        }
    }
    p {
        text-align: center;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 300;
    }
}

.about-text {
    // background: $grey;
    text-align: center;
    padding: 3rem 0 3rem;
    font-size: 1.2rem;

    h3 {
        text-align: center;
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: bold;
        margin: 0 0 1.5rem;
    }
    p {
        font-size: 1.2rem;
        color: $black;
        margin: 0 0 1.5rem;
    }
    hr {
        border: 0;
        border-bottom: 1px solid #a9a9a9;
        background: none;
        padding: 1.5rem 0 0;
        margin: 0 0 3rem;
    }
    ul{
        li{
            list-style: none;
            font-size: 1.2rem;
        }
    }
    .features {
        text-align: center;

        span {
            font-size: 1rem;
            font-weight: bold;
            display: inline-block;
            margin: 0 1rem 2rem;

            img {
                display: block;
                margin: 0 auto 1.25rem;
                height: 3rem;
            }
        }
    }
}

.slider {
    .slick-slide {
        height: 35rem;
        background-size: cover !important;
    }
}

.medias {
    padding: 4rem 0;

    figure {
        position: relative;
        background: #f5f5f5;
        margin: 0;
        line-height: 0;
        height: 35rem;
        overflow: hidden;

        img {
            display: block;
            width: 100%;
        }
        .play.icon {
            width: 100px;
            height: 75px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            margin: 0;

            &:before {
                display: none;
            }
        }
        .ui.video.active .placeholder,
        .ui.video.active .play {
            display: none;
        }
        .ui.video.active .embed {
            display: inline;
        }
        .ui.video .embed iframe {
            position: absolute;
            border: none;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            margin: 0;
            padding: 0;
        }
    }
    .floor-plans {
        h3 {
            text-align: center;
            text-transform: uppercase;
            font-size: 2rem;
            font-weight: bold;
            margin: 0 0 1.5rem;
        }
        .menu {
            overflow-x: auto;

            .item {
                padding: 0;
                border: 0;
                border-bottom: 3px solid $white;
                margin: 0 2rem;
                font-size: 1rem;
                font-weight: normal;
                color: #7a7a7a;

                &.active {
                    border-color: $primary;
                    color: inherit;
                    font-weight: normal;
                    margin-bottom: 0;
                }
            }
        }
        .tab {
            padding: 3rem 5rem;
            position: relative;

            .slick-slide {

                img {
                    margin: 0 auto;
                    max-width: 100%;
                }
            }
            .slick-arrow {
                position: absolute;
                top: 50%;
                z-index: 9;
                border: 0;
                background: transparent;
                text-indent: -9999px;
                width: 30px;
                height: 30px;
                margin-top: -15px;

                &.slick-prev {
                    /*rtl:begin:ignore*/
                    left: -50px;
                    /*rtl:end:ignore*/
                    //background: transparent url('../img/arrows.png') left center no-repeat;
                    background-image: url('../img/arrows.png') #{"/*rtl:url('../img/arrows_flip.png')*/"} !important;
                    background-color: transparent;
                    background-position: left center;
                    background-repeat: no-repeat;
                }
                &.slick-next {
                    /*rtl:begin:ignore*/
                    right: -50px;
                    /*rtl:end:ignore*/
                    // background: transparent url('../img/arrows.png') right center no-repeat;
                    background-image: url('../img/arrows.png') #{"/*rtl:url('../img/arrows_flip.png')*/"} !important;
                    background-color: transparent;
                    background-position: right center;
                    background-repeat: no-repeat;
                }
                &:focus {
                    outline: none;
                }
            }
        }
    }
}

#map_canvas {
    width: 100%;
    height: 35rem;
    background: $grey;
}

footer {
    padding: 2rem 0;

    .logo {
        float: left;
        > a {
            display: inline-block;

            img {
                height: 55px;
            }
        }
        span {
            text-align: right;
            line-height: 59px;
            font-size: 1rem;
            float: right;

            a {
                color: #2c2c2c;
                font-weight: 300;
            }
        }
    }
    .social-menu {
        padding: 0;
        margin: 0;
        text-align: center;

        li {
            display: inline-block;
            list-style: none;

            a {
                display: inline-block;
                width: 45px;
                height: 45px;
                margin: 0 .5rem;
                color: #8f8f8f;
                border: 3px solid #8f8f8f;
                border-radius: 50%;
                font-size: 1.25rem;
                line-height: 40px;

                i {
                    margin: 0;
                }
            }
        }
    }
    .apps {
        text-align: right;
        float: right;
        line-height: 36px;

        a {
            display: inline-block;

            img {
                height: 45px;
                vertical-align: middle;
            }
        }
    }
}

#toast_microsite {
    visibility: visible;
    display: none;
    // position: fixed;
    // top: 2%;
    // right: 2%;
    // background: rgba(0,0,0,0.7);
    color: #fff;
    padding: 1rem 2rem;
    z-index: 1;
    background: rgba(0,0,0,0.5);
    position: absolute;
    width: 80%;
    margin: 0 auto;
    font-size: 1rem;
    font-weight: normal;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.01), 0 6px 20px 0 rgba(255, 255, 255, 0.01);
}

@media screen and (max-width: 768px) {

    html {
        font-size: 12px;
    }

    .above-the-fold {
        background: $black;

        header {
            padding: 25px 0;

            .branding {

                a {

                    img {
                        max-height: 40px;
                    }
                }
            }
            .phone_no {

                a {
                    // margin-left: 15px;

                    color: inherit;
                    display: inline-block;
                    // margin-left: 30px;
                    text-transform: uppercase;

                    background: rgba(0,0,0,0.5);
                    padding: 0 15px;
                    //font-size: 1rem;
                    border-radius: 25px;
                    color: #fff;
                    vertical-align: top;
                    line-height: 40px;
                    text-align: center;

                    img {
                        max-height: 25px;
                    }
                    &.only_mobile {
                        display: inline-block;
                    }
                    &.only_computer {
                        display: none;
                    }
                }
            }
            bdo.localization{
                a{
                    background: rgba(0,0,0,0.5) !important;
                    color: #fff !important;
                    box-shadow: 4px 0 2px -2px rgba(0,0,0,0.4);
                }
            }
        }
        .banner {
            margin-bottom: 12px;

            .text {
                margin: 0 0 1rem;

                h2 {
                    font-size: 1rem;
                    margin: 1.5rem 0 .75rem;

                    span {
                        font-size: 2rem;
                    }
                }
                h3 {
                    font-size: 1.5rem;

                    span {
                        font-size: 1rem;
                    }
                }
            }
            .form {

                fieldset {

                    select, input {
                        //width: calc(48% - 1rem);
                        margin: 0 2%;
                    }
                    &:last-child {
                        margin-bottom: 3rem;
                    }
                }
            }
        }
        .projects-tabs {

            .slick-slide {

                .logo {
                    max-height: 95px;

                    img {
                        display: inline-block;
                        height: 30px;
                        margin-top: 30px;
                        vertical-align: top;

                        &.zj-cherrywoods {
                            margin-top: 30px;
                        }
                    }
                }
                .thumb {
                    display: block;
                    text-align: center;
                    height: 125px;
                    overflow: hidden;

                    img {
                        // width: 100%;
                        max-width: 100%;
                    }
                }
                &.even {
                    background: #f6f6f6;
                }
            }
            .slick-arrow {
                width: 30px;
                height: 60px;

                &.slick-prev {
                    // background: rgba(0,0,0,0.8) url('../img/arrows2.png') 9px center no-repeat;
                    background-image: url('../img/arrows2.png') #{"/*rtl:url('../img/arrows2_flip.png')*/"} !important;
                    background-color: rgba(0,0,0,0.8);
                    background-position: 9px center #{"/*rtl:10px center*/"} !important;
                    background-repeat: no-repeat;
                }
                &.slick-next {
                    // background: rgba(0,0,0,0.8) url('../img/arrows2.png') -696px center no-repeat;
                    background-image: url('../img/arrows2.png') #{"/*rtl:url('../img/arrows2_flip.png')*/"} !important;
                    background-color: rgba(0,0,0,0.8);
                    background-position: -696px center #{"/*rtl:-698px center*/"} !important;
                    background-repeat: no-repeat;
                }
            }
        }
        &:before {
            width: 100%;
        }
        .background-banner {
            display: none;
        }
    }

    .slider {
        .slick-slide {
            height: 22rem;
        }
    }

    .payment-plans {
        padding: 4rem 0;

        h3 {
            font-size: 1.5rem;
        }
        .box-wrap {

            .box {
                margin: 0 1% 2rem;
                width: 47%;

                .amount {
                    width: 100%;
                    max-width: 10rem;
                }
            }
        }
        p {
            text-align: center;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 300;
        }
    }

    .medias {

        figure {
            height: 17rem;
        }
        .floor-plans {


            .menu {
                overflow: hidden;
            }
            .tab {
                padding: 1.5rem 2rem;

                .slick-arrow {
                    width: 20px;
                    height: 20px;
                    margin-top: -10px;

                    &.slick-prev {
                        /*rtl:begin:ignore*/
                        left: -20px !important;
                        /*rtl:end:ignore*/
                    }
                    &.slick-next {
                        /*rtl:begin:ignore*/
                        right: -20px !important;
                        /*rtl:end:ignore*/
                    }
                }
            }
        }
    }

    footer {
        padding: 4rem 0;

        .logo {
            text-align: center;
            float: none;
            span {
                display: block;
                float: none;
                text-align: center;
                font-size: 2rem;
                line-height: normal;
            }
        }
        .social-menu {
            text-align: center;

            li a {
                text-align: center;
            }
        }
        .apps {
            float: none;
            text-align: center;
        }
    }

    #toast_microsite {
        position: relative;
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1), 0 6px 20px 0 rgba(255, 255, 255, 0.01);
    }

}

.microsite {
    .above-the-fold {
        .banner {
            .form {
                margin: 0 0 5rem;
                fieldset {
                    margin: 0 -5%;
                    select, input[type=text], input[type=email] {
                        margin: 0 5%;
                        width: 40%;
                        float: left;
                    }
                    input[type=submit] {
                        width: auto;
                        font-size: 16px;
                    }
                    .intl-tel-input {
                        width: 40%;
                        margin: 0 5%;
                    }
                    &:last-child {
                        margin-top: 2rem;
                    }
                }
            }
        }
    }
}

.inverted {
	filter: invert(100%);
}

@media screen and (min-width: 1441px)
{

    .microsite {
        .slider {
            .slick-slide {
                height: 70rem;
                background-size: cover !important;
            }
        }
    }

}

// Slick Plugin

.slick-slider {position: relative;display: block;box-sizing: border-box;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-touch-callout: none;-khtml-user-select: none;-ms-touch-action: pan-y;touch-action: pan-y;-webkit-tap-highlight-color: transparent;}
.slick-list{position: relative;display: block;overflow: hidden;margin: 0;padding: 0;}
.slick-list:focus {outline: none;}
.slick-list.dragging{cursor: pointer;cursor: hand;}
.slick-slider .slick-track, .slick-slider .slick-list {-webkit-transform: translate3d(0, 0, 0);-moz-transform: translate3d(0, 0, 0);-ms-transform: translate3d(0, 0, 0);-o-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
.slick-track {position: relative;top: 0;left: 0;display: block;margin-left: auto;margin-right: auto;}
.slick-track:before,.slick-track:after {display: table;content: '';}
.slick-track:after {clear: both;}
.slick-loading .slick-track {visibility: hidden;}
.slick-slide {display: none;float: left;height: 100%;min-height: 1px;}
.slick-slide img {display: block;}
.slick-slide.slick-loading img {display: none;}
.slick-slide.dragging img {pointer-events: none;}
.slick-initialized .slick-slide{display: block;}
.slick-loading .slick-slide{visibility: hidden;}
.slick-vertical .slick-slide{display: block;height: auto;border: 1px solid transparent;}

// Tabs Plugin

.ui.tab{display:none}.ui.tab.active,.ui.tab.open{display:block}.ui.tab.loading{position:relative;overflow:hidden;display:block;min-height:250px}.ui.tab.loading *{position:relative!important;left:-10000px!important}.ui.tab.loading.segment:before,.ui.tab.loading:before{position:absolute;content:'';top:100px;left:50%;margin:-1.25em 0 0 -1.25em;width:2.5em;height:2.5em;border-radius:500rem;border:.2em solid rgba(0,0,0,.1)}.ui.tab.loading.segment:after,.ui.tab.loading:after{position:absolute;content:'';top:100px;left:50%;margin:-1.25em 0 0 -1.25em;width:2.5em;height:2.5em;-webkit-animation:button-spin .6s linear;animation:button-spin .6s linear;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;border-radius:500rem;border-color:#767676 transparent transparent;border-style:solid;border-width:.2em;-webkit-box-shadow:0 0 0 1px transparent;box-shadow:0 0 0 1px transparent}
