#modal_general_enquiry {
    width: 27rem;
    position: absolute;
    top: 4rem;
    right: -20.5rem;
    z-index: 1;
    @include for_screen( hd ){
      width: 33rem;
      top: 10rem;
      right: -25.5rem;
    }
    &>{
        div:nth-child(1){
            padding-top: 5.5rem;
            &>{
                div:nth-child(1){
                    width: 27%;
                    display:block;
                    padding-top: 4rem;
                    padding-right: 0;
                    padding-left: 0;
                    z-index: 1;
                    right: -1rem;
                    @include for_screen( hd ){
                        width: 25%;
                        padding-top: 4.5rem;
                    }
                    button {
                        text-transform: uppercase;
                        color: #fff;
                        font-size: 1rem;
                        background-color: #d33838;
                        padding: 1rem 1rem;
                        border: 0;
                        box-shadow: none !important;
                        width: 11rem;
                        height: 3rem;
                        letter-spacing: 0.05em;
                        /* Safari */
                        -webkit-transform: rotate(-90deg);
                        /* Firefox */
                        -moz-transform: rotate(-90deg);
                        /* IE */
                        -ms-transform: rotate(-90deg);
                        /* Opera */
                        -o-transform: rotate(-90deg);
                        /* Internet Explorer */
                        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
                        @include for_screen( hd ){
                            font-size: 1.2rem;
                            width: 13rem;
                            height: 4rem;
                        }
                    }
                }
                div:nth-child(2){
                    background-color: $white;
                    font-family: 'DubaiFont', sans-serif;
                    // padding: 2rem 2rem 3rem;
                    border: 1px solid rgba(0,0,0,0.2);
                    margin: 0 0 2rem;
                    display:block;
                    float: left;
                    width: 65%;
                    padding: 1rem 1rem 2rem;
                    @include for_screen( hd ){
                      padding: 2rem 2rem 3rem;
                      width: 70%;
                    }
                    &>div{
                        &>div{
                            padding-bottom: 0;
                            p{
                                font-family: Merriweather Sans,sans-serif;
                                color: #5d0e8b;
                                text-align: center;
                                // font-size: 1.1rem;
                                font-weight: 400;
                                line-height: 1.33em;
                                font-size: 1rem;
                                @include for_screen( hd ){
                                  font-size: 1.1rem;
                                }
                                small {
                                    color: $dark-grey;
                                    font-size: .9rem;
                                    display: block;
                                    margin: 5px 0 0;
                                }
                            }
                            button {
                                text-transform: uppercase;
                                color: #fff;
                                background-color: #5d0e8b;
                                padding: 1rem 2rem;
                                margin-right: 0;
                                border: 0;
                                font-size: 1rem;
                                @include for_screen( hd ){
                                  font-size: 1.25rem;
                                }
                            }
                            .awesomplete {
                                width: 100%;
                                background: #fff;
                                border: 1px solid rgba(34,36,38,.15);
                                color: rgba(0,0,0,.87);
                                border-radius: 0;
                                padding: 0;
                                input[type=text] {
                                    line-height: 1.21428571em;
                                    padding: .77857143em 1em;
                                    color: rgba(0,0,0,.87);
                                    height: 2rem;
                                    @include for_screen( hd ){
                                      height: 2.5rem;
                                    }
                                    &:focus {
                                        border-color: $purple;
                                    }
                                }
                            }
                            input[type=text],input[type=email] {
                                border-radius: 0;
                                color: rgba(0,0,0,.87);
                                font-size: 12px;
                                height: 2rem;
                                @include for_screen( hd ){
                                  height: 2.5rem;
                                }
                                &:focus {
                                    border-color: $purple;
                                }
                                &::-webkit-input-placeholder {
                                    color: rgba(0,0,0,.87);
                                }
                            }
                            input[type=tel] {
                                outline: 0;
                                text-align: left;
                                line-height: 1.21428571em;
                                font-family: Merriweather Sans,sans-serif;
                                padding: .67857143em 1em;
                                background: #fff;
                                border: 1px solid rgba(34,36,38,.15);
                                width: 100%;
                                height: 2rem;
                                padding-left: 105px;
                                border-radius: 0;
                                color: rgba(0,0,0,.87);
                                font-size: 12px;
                                -webkit-appearance: auto;
                                @include for_screen( hd ){
                                  height: 2.5rem;
                                }
                                &:focus {
                                    border-color: $purple;
                                }
                            }
                            .flag-container {
                                .selected-flag {
                                    outline: none;
                                }
                            }
                            .dropdown.selection {
                                border-radius: 0;
                                color: rgba(0,0,0,.87);
                                font-size: 12px;
                                height: 2rem;
                                @include for_screen( hd ){
                                  height: 2.5rem;
                                }
                                .default.text {
                                    color: rgba(0,0,0,.87);
                                }
                            }
                        }
                    }
                }
            }

        }
    }

    .slideOut{
        transition-duration: 1.33s;
        -webkit-transition-timing-function: ease-in-out; /* Safari and Chrome */
        transition-timing-function: ease-in-out;
    }

    .slideIn{
        transition-duration: 1.33s;
        -webkit-transition-timing-function: ease-in-out; /* Safari and Chrome */
        transition-timing-function: ease-in-out;
    }

    .popOut{
        transform: translateX(-70%);
        @include for_screen( hd ){
          transform: translateX(-75%);
        }

    }

    .moveIn{
        transform: translateX(0);
    }

    #modal_general_enquiry_error{
        display: none;
    }
}
