#modal_custom_enquiry {
    width: 30rem;
    height: auto;
    background-color: $white;
    font-family: 'DubaiFont', sans-serif;
    padding: 2rem 2rem 3rem;
    &>i{
        position: absolute;
        margin: 0;
        color: #7f7f7f;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        background-color: transparent;
        font-size: 1rem;
        top: 0;
        right: 0;
    }
    &>form{
        &>div{
            padding-bottom: 0;
            padding-top: 1.5rem;
            &>label{
                padding-bottom: 1rem;
            }
            &>div{
                padding-bottom: 0.5rem;
                input {
                    width: 100%;
                    height: 3rem;
                    line-height: 1.21428571em;
                    font-family: Merriweather Sans,sans-serif;
                    padding-top: .67857143em;
                    padding-bottom: .67857143em;
                    padding-right: 1em;
                    border: 1px solid rgba(34,36,38,.15);
                    color: rgba(0,0,0,.87);
                    border-radius: .28571429rem;
                    &:focus {
                        outline: 0;
                    }
                }
            }
            p{
                font-family: Merriweather Sans,sans-serif;
                color: #5d0e8b;
                text-align: center;
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 1.33em;
                small {
                    color: $dark-grey;
                    font-size: .9rem;
                    display: block;
                    margin: 5px 0 0;
                }
            }

            button {
                text-transform: uppercase;
                color: #fff;
                font-size: 0.9rem;
                background-color: #5d0e8b;
                padding: 1rem 2rem;
                margin-right: 0;
            }
        }
    }
}


html[dir=rtl] #modal_custom_enquiry{
        margin-left: -15rem;
        left: 50%;
        top: 15%;
}
