#modal_signin_register {
    &>{
        i{
            top: -1rem;
            right: -1rem;
            color: rgba(0, 0, 0, 0.8);
        }
        div:nth-child(2) {
            &>{
                //Register with us - the left side of the modal
                div:nth-child(1){
                    background-color: #5d0e8b;
                    &>{
                        div:nth-child(1){
                            padding: 4rem 2rem;
                            color: white;
                            &>{
                                div:nth-child(1){
                                    font-size: 1.2rem;
                                    font-weight: 200;
                                }
                                div:nth-child(2){
                                    font-size: 1.5rem;
                                    font-weight: 200;
                                    padding: 0.5em 0;
                                }
                                ul {
                                    padding: 0;
                                    margin: 0;
                                    &>{
                                        li {
                                            font-size: 1.1rem;
                                            line-height: 3;
                                            list-style: none;
                                            font-weight: 200;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                //Sign In modal content
                #modal_signin{
                    background: white;
                    color: #5d0e8b;
                    padding: 4rem 1rem;
                    &>{
                        div:nth-child(1){
                            font-size: 1.5rem;
                            color: #7f7f7f;
                            font-weight: 500;
                            margin-bottom: 0;
                            padding: 0 .8rem;
                            margin-bottom: 1rem;
                            padding-left: 0;
                        }
                        div:nth-child(2){
                            div {
                                &>{
                                    .ui.input>input:focus {
                                        border-color: #3a589b;
                                    }
                                }
                            }
                        }
                        div:nth-child(3){
                            margin-top: 0;
                            &>{
                                div:nth-child(1){
                                    a {
                                        cursor: pointer;
                                        color: #5d0e8b;
                                        font-weight: 300;
                                    }
                                    a:hover {
                                        text-decoration: underline;
                                    }
                                }
                                div:nth-child(2){
                                    text-align: right;
                                    button {
                                        text-transform: uppercase;
                                        color: #fff;
                                        font-size: 0.9rem;
                                        background-color: #5d0e8b;
                                        padding: 1rem 2rem;
                                        margin-right: 0;
                                    }
                                }

                            }
                        }
                        div:nth-child(4){
                            margin-top: 0;
                            &>{
                                div:nth-child(1){
                                    p{
                                        color: #5d0e8b;
                                        font-weight: 300;
                                        a {
                                            cursor: pointer;
                                            color: #5d0e8b;
                                            font-weight: 400;
                                            text-decoration: underline;
                                        }
                                        a:hover{
                                            text-decoration: none;
                                        }
                                    }
                                }
                            }
                        }
                        div:nth-child(5){
                            margin-top: 0;
                            div:nth-child(1){
                                button {
                                    background-color: #3a589b;
                                }
                            }
                            div:nth-child(2){
                                button {
                                    background-color: #d14836;
                                }
                            }
                            div:nth-child(1), div:nth-child(2){
                                button {
                                    text-transform: uppercase;
                                    color: #fff;
                                    font-size: 0.8rem;
                                    padding: 0.8rem;
                                    &>{
                                        i{
                                            opacity: 1;
                                        }
                                    }
                                }
                            }
                        }
                        div:nth-child(6){
                            margin-top: 0;
                            div:nth-child(1){
                                span {
                                    font-weight: 300;
                                    color: black;
                                    font-size: 0.9rem;
                                    &>{
                                        a {
                                            color: #5d0e8b;
                                            font-weight: 400;
                                            line-height: 1.8rem;
                                        }
                                        a:hover {
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                //Register modal content
                #modal_register{
                    background: white;
                    color: #5d0e8b;
                    display: none;
                    padding: 4rem 1rem;
                    &>{
                        div:nth-child(1){
                            font-size: 1.5rem;
                            color: #7f7f7f;
                            font-weight: 500;
                            margin-bottom: 0;
                            padding: 0 .8rem;
                            margin-bottom: 1rem;
                            padding-left: 0;
                        }
                        div:nth-child(2){
                            div:nth-child(3), div:nth-child(4){
                                padding-top: 0;
                            }
                            div:nth-child(1), div:nth-child(2), div:nth-child(3), div:nth-child(4) {
                                .ui.input>input:focus {
                                    border-color: #3a589b;
                                }
                            }
                        }
                        div:nth-child(3){
                            margin-top: 0;
                            &>{
                                div:nth-child(1){
                                    color: #5d0e8b;
                                    font-weight: 300;
                                    p{
                                        a {
                                            cursor: pointer;
                                            color: #5d0e8b;
                                            font-weight: 400;
                                            text-decoration: underline;
                                        }
                                        a:hover {
                                            text-decoration: none;
                                        }
                                    }
                                }
                                div:nth-child(2){
                                    text-align: right;
                                    button {
                                        text-transform: uppercase;
                                        color: #fff;
                                        font-size: 0.9rem;
                                        background-color: #5d0e8b;
                                        padding: 1rem 2rem;
                                        margin-right: 0;
                                    }
                                }

                            }
                        }
                        div:nth-child(4){
                            margin-top: 0;
                            div:nth-child(1){
                                button {
                                    background-color: #3a589b;
                                }
                            }
                            div:nth-child(2){
                                button {
                                    background-color: #d14836;
                                }
                            }
                            div:nth-child(1), div:nth-child(2){
                                button {
                                    text-transform: uppercase;
                                    color: #fff;
                                    font-size: 0.8rem;
                                    padding: 1rem 0.2rem;
                                    &>{
                                        i{
                                            opacity: 1;
                                        }
                                    }
                                }
                            }
                        }
                        div:nth-child(5){
                            margin-top: 0;
                            div:nth-child(1){
                                span {
                                    font-weight: 300;
                                    color: black;
                                    font-size: 0.9rem;
                                    line-height: 1.8rem;
                                    &>{
                                        a {
                                            color: #5d0e8b;
                                            font-weight: 400;
                                        }
                                        a:hover {
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                //modal_forgot_password
                #modal_forgot_password{
                    background: white;
                    color: #5d0e8b;
                    display: none;
                    padding: 4rem 1rem;
                    &>{
                        div:nth-child(1){
                            font-size: 1.5rem;
                            color: #7f7f7f;
                            font-weight: 500;
                            margin-bottom: 0;
                            padding: 0 .8rem;
                            margin-bottom: 1rem;
                            padding-left: 0;
                        }
                        div:nth-child(2){
                            margin-top: 0;
                            &>{
                                div:nth-child(1){

                                }
                                div:nth-child(2){
                                    a {
                                        cursor: pointer;
                                        color: #5d0e8b;
                                        font-weight: 300;
                                    }
                                }
                                div:nth-child(3){
                                    text-align: right;
                                    button {
                                        text-transform: uppercase;
                                        color: #fff;
                                        font-size: 0.9rem;
                                        background-color: #5d0e8b;
                                        padding: 1rem 2rem;
                                        margin-right: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
html[dir=rtl]{
    #modal_signin_register{
        margin-left: -15rem;
        left: 35%;
        top: 15%;
    }
}
