#modal_developer_call {
    width: 21%;
    border-radius: 7px;
    overflow: hidden;
    &>{
        i {
            top: 0;
            right: 0;
            color: rgba(0, 0, 0, 0.8);
        }
        div {
            margin-bottom: 0 !important;
            padding-left: 2rem;
            & > {
                div:nth-child(1){
                    &>{
                        div:nth-child(1){
                            &>{
                                div:nth-child(1){
                                    padding-top: 2rem;
                                    .bar{
                                        width: 7px;
                                        height: 50px;
                                        background-color: #d5d5d5;
                                    }
                                }
                                div:nth-child(2){
                                    padding-top: 2rem;
                                    &>{
                                        div:nth-child(1) {
                                            margin-bottom: .5rem;
                                            display: inline-flex;
                                            align-content: baseline;
                                            font-family: "GothamBook";
                                            color: rgb( 60, 60, 60 );
                                            font-size: 1.1rem;
                                            span {
                                                color: rgb( 60, 60, 60 );
                                                font-size: 1rem;
                                            }
                                            div:nth-child(2) {
                                                cursor: pointer;
                                            }
                                        }
                                        div:nth-child(2) {
                                            span {
                                                font-family: "GothamMedium";
                                                color: rgb( 73, 2, 118 );
                                                font-size: 1rem;
                                            }
                                        }
                                        div:nth-child(3) {
                                            margin-bottom: .5rem;
                                            span {
                                                font-family: "GothamBook";
                                                color: #3c3c3c;
                                                font-size: .7rem;
                                            }
                                        }
                                        // p{
                                        //     font-family: "GothamBook";
                                        //     color: #3c3c3c;
                                        //     font-size: .7rem;
                                        //     span {
                                        //         color: #490276;
                                        //     }
                                        // }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
html[dir=rtl]{
    #modal_developer_call{
        margin-left: -15rem;
        left: 50%;
        top: 15%;
    }
}
