#property_card_grid {
    div.p_c {
        &>{
            //ui segment
            div:nth-child(1) {
                padding: 0;
                border-radius: .6rem;
                width: 100%;
                &>{
                    div:nth-child(1) {
                        &>{
                            div:nth-child(1) {
                                width: 100%;
                                position: relative;
                                overflow: hidden;
                                &>{
                                    div:nth-child(1) {
                                        position: relative;

                                        &>{
                                            a{
                                                &>{
                                                    img {
                                                        width: 100%;
                                                        border-top-left-radius: .6rem;
                                                        border-top-right-radius: .6rem;
                                                        vertical-align: middle;
                                                        object-fit: cover;
                                                        min-height:236px;
                                                        max-height:236px;
                                                    }
                                                }
                                            }
                                            div:nth-child(2) {
                                                height: auto;
                                                width: inherit;
                                                position: absolute;
                                                left: 1rem;
                                                top: 0.5rem;
                                                padding: 0.2rem 0.5rem;
                                                border-radius: 0.4rem;
                                                img {
                                                    height: 3rem;
                                                    max-width: 5rem;
                                                    float: right;
                                                    opacity: 1;
                                                    border-radius: 0 0.4rem 0 0;
                                                }
                                            }
                                            span {
                                                height: inherit;
                                                width: auto;
                                                position: absolute;
                                                right: 11px;
                                                bottom: 11px;
                                                background: #5e2d84;
                                                padding: 0.3rem 0.6rem;
                                                color: white;
                                                font-size: .9rem;
                                                text-transform: capitalize;
                                                font-family: "GothamMedium";
                                                border-radius: 4px;
                                            }
                                        }
                                    }
                                    div:nth-child(2) {
                                        padding: 1rem;
                                        position: relative;
                                        &>{
                                            div:nth-child(1){
                                                top: 12px;
                                                right: 7px;
                                                z-index: 3;
                                                position: absolute;
                                                &>{
                                                    i {
                                                        font-size: 18px;
                                                        cursor: pointer;
                                                    }
                                                }
                                            }
                                            div:nth-child(2) {
                                                color: #3C4858;
                                                min-height: auto;
                                                margin-bottom: 6px;
                                                text-decoration: none;
                                                font-size: 1.3rem;
                                                white-space: nowrap;
                                                overflow: hidden;
                                                text-overflow: ellipsis;
                                                &>{
                                                    a {
                                                        margin-top: .625rem;
                                                        min-height: auto;
                                                        font-weight: 600;
                                                        margin-bottom: 0.75rem;
                                                        text-decoration: none;
                                                    }
                                                }
                                                span {
                                                    display: inline-block;
                                                    color: #e53935;
                                                    font-size: 18px;
                                                    font-family: "GothamBook";
                                                }
                                                p{
                                                    display: inline-block;
                                                    text-align: right;
                                                    font-size: 12px;
                                                    margin-right: 35px;
                                                    i{
                                                        color: #3ea947;
                                                        font-size: 14px;
                                                    }
                                                }
                                            }
                                            div:nth-child(3) {
                                                color: #3C4858;
                                                min-height: auto;
                                                text-decoration: none;
                                                font-size: 16px;
                                                white-space: nowrap;
                                                text-overflow: ellipsis;
                                                overflow: hidden;
                                                a {
                                                    color: #3C4858;
                                                    margin-top: .625rem;
                                                    min-height: auto;
                                                    font-weight: 600;
                                                    margin-bottom: 0.75rem;
                                                    text-decoration: none;
                                                    font-size: 1rem;
                                                    font-family: "GothamMedium";
                                                }
                                            }
                                            div:nth-child(4) {
                                                min-height: auto;
                                                font-weight: 300;
                                                margin-bottom: 5px;
                                                text-decoration: none;
                                                font-size: 1rem;
                                                #sq_similar_::before{
                                                    display: none;
                                                }
                                                a {
                                                    font-size: 12px;
                                                    font-weight: normal;
                                                    color: #3c3c3c;
                                                    font-family: "GothamBook";
                                                }
                                            }
                                            div:nth-child(5) {
                                                margin-bottom: 5px;
                                                color: #777777;
                                                min-height: auto;
                                                font-weight: 300;
                                                text-decoration: none;
                                                font-size: .9rem;
                                                white-space: nowrap;
                                                overflow: hidden;
                                                text-overflow: ellipsis;
                                                font-family: "GothamBook";
                                            }
                                            div:nth-child(6) {
                                                text-align: left;
                                                color: #4e4e4e;
                                                font-size: 12px;
                                                margin-bottom: 12px;
                                                white-space: nowrap;
                                                text-overflow: ellipsis;
                                                overflow: hidden;
                                                font-family: "GothamBook";
                                            }
                                            div:nth-child(7) {
                                                button {
                                                    border-radius: .3rem;
                                                    font-size: .75rem;
                                                    font-family: "GothamBook";
                                                    font-weight: 200;
                                                    text-transform: uppercase;
                                                    @include for_screen( tablet ){
                                                        // padding: 0.7rem 0.6rem;
                                                        font-size: 0.9rem;
                                                    }
                                                    @include for_screen( portraitTablet ){
                                                        width: 100%;
                                                        margin: 0.1rem 0;
                                                    }
                                                    &>{
                                                        i {
                                                            opacity: 1;
                                                        }
                                                    }
                                                }
                                                p{
                                                    float: right;
                                                    color: #999999;
                                                    line-height: 27px;
                                                    font-size: 10px;
                                                }
                                            }
                                        }
                                    }
                                    div:nth-child(3) {
                                        border: 0;
                                        padding: 1rem;
                                        display: flex;
                                        align-items: center;
                                        border-radius: 0;
                                        justify-content: space-between;
                                        background-color: transparent;
                                        border-top: 1px solid #eee !important;
                                        &>{
                                            div:nth-child(1) {
                                                div:nth-child(1) {
                                                    font-size: 1.5rem;
                                                    font-weight: 300;
                                                    color: #e53935;
                                                    @include for_screen( portraitTablet ){
                                                        font-size: 0.7rem;
                                                    }
                                                    &>span.currency{
                                                        font-size: 10px;
                                                    }
                                                }
                                            }
                                            p {
                                                color: #777777;
                                                font-weight: 300;
                                                @include for_screen( portraitTablet ){
                                                    font-size: 0.7rem;
                                                    white-space: nowrap;
                                                    overflow: hidden;
                                                    text-overflow: ellipsis;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.favourite {
    animation: beating .5s 1 alternate;
    color: #e53935 !important;
}
@keyframes beating {
    0% { transform: scale(1) }
    40% { transform: scale(1.25) }
    70% { transform: scale(.9) }
    100% { transform: scale(1) }
}

.ui.two.column.grid > div > div > div > div:hover .jss263 {
    transform: translate3d(0, 0px, 0) !important;
}
