#property_card_list {
    div.p_c {
        &>{
            //ui segment
            div:nth-child(1) {
                padding: 0;
                border-radius: .7rem;
                &>{
                    div:nth-child(1) {
                        height: 186px;
                        &>{
                            div:nth-child(1) {
                                width: 100%;
                                height: 186px;
                                position: relative;
                                overflow: hidden;
                                &>{
                                    // Image
                                    div:nth-child(1) {
                                        float: left;
                                        width: 41%;
                                        position: relative;
                                        &>{
                                            a{
                                                &>{
                                                    img {
                                                        width: 90%;
                                                        height: 187px;
                                                        object-fit: cover;
                                                        border-top-left-radius: .6rem;
                                                        border-bottom-left-radius: .6rem;
                                                    }
                                                }
                                            }
                                            // Broker Image
                                            div:nth-child(2) {
                                                height: inherit;
                                                width: auto;
                                                position: absolute;
                                                left: 1rem;
                                                top: 0.5rem;
                                                padding: 0.3rem;
                                                border-radius: 0.2rem 0.5rem;
                                                img {
                                                    height: 4rem;
                                                    max-width: 5rem;
                                                    float: left;
                                                    opacity: 1;
                                                    border-radius: 0 0.4rem 0 0;
                                                }
                                            }
                                            span {
                                                font-family: "GothamMedium";
                                                height: inherit;
                                                width: auto;
                                                position: absolute;
                                                right: 42px;
                                                bottom: 15px;
                                                background: rgb( 94, 45, 132 );
                                                padding: 0.3rem 0.6rem;
                                                color: white;
                                                font-size: .9rem;
                                                text-transform: capitalize;
                                                border-radius: 4px;
                                            }
                                        }
                                    }
                                    // Description
                                    div:nth-child(2) {
                                        float: left;
                                        width: 58%;
                                        padding-top: 15px;
                                        &>{
                                            // Favourite logo
                                            div:nth-child(1){
                                                position: absolute;
                                                right: 20px;
                                                top: 15px;
                                                font-size: 18px;
                                                &>{
                                                    i {
                                                        cursor: pointer;
                                                        margin-right: 0;
                                                    }
                                                }
                                            }
                                            // Title
                                            div:nth-child(2) {
                                                color: #3C4858;
                                                min-height: auto;
                                                margin-bottom: 6px;
                                                text-decoration: none;
                                                font-size: 1.3rem;
                                                width: 90%;
                                                white-space: nowrap;
                                                overflow: hidden;
                                                text-overflow: ellipsis;
                                                &>{
                                                    // a {
                                                    //     margin-top: .625rem;
                                                    //     min-height: auto;
                                                    //     font-weight: 600;
                                                    //     margin-bottom: 0.75rem;
                                                    //     text-decoration: none;
                                                    // }
                                                    div:nth-child(1){
                                                        display: inline-flex;
                                                        align-items: center;
                                                        width: 100%;
                                                        justify-content: space-between;
                                                        &>{
                                                            div:nth-child(1){
                                                                span {
                                                                    color: #e53935;
                                                                    font-family: "GothamBook";
                                                                    font-size: 18px;
                                                                }
                                                            }
                                                            p{
                                                                display: inline-block;
                                                                text-align: right;
                                                                // float: right;
                                                                font-size: 12px;
                                                                margin-right: 10px;
                                                                i{
                                                                    color: #3ea947;
                                                                    font-size: 14px;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                            div:nth-child(3) {
                                                min-height: auto;
                                                text-decoration: none;
                                                text-overflow: ellipsis;
                                                overflow: hidden;
                                                white-space: nowrap;
                                                a {
                                                    color: #3C4858;
                                                    margin-top: .625rem;
                                                    min-height: auto;
                                                    font-weight: 600;
                                                    margin-bottom: 0.75rem;
                                                    text-decoration: none;
                                                    font-family: "GothamMedium";
                                                    font-size: 1rem;
                                                }
                                            }
                                            div:nth-child(4){
                                                margin-bottom: 5px;
                                                min-height: auto;
                                                font-weight: 300;
                                                text-decoration: none;
                                                font-size: 1rem;
                                                a {
                                                    font-size:12px;
                                                    font-weight:normal;
                                                    color: rgb( 60, 60, 60 );
                                                    font-family: "GothamBook";
                                                }
                                            }
                                            div:nth-child(5) {
                                                margin-bottom: 5px;
                                                color: #777777;
                                                // margin-top: 0.75rem;
                                                min-height: auto;
                                                font-weight: 300;
                                                text-decoration: none;
                                                font-size: .9rem;
                                                white-space: nowrap;
                                                overflow: hidden;
                                                text-overflow: ellipsis;
                                                font-family: "GothamBook";
                                            }
                                            div:nth-child(6) {
                                                text-align: left;
                                                color: rgb( 78, 78, 78 );
                                                font-size: 12px;
                                                margin-bottom: 12px;
                                                font-family: "GothamBook";

                                            }
                                            div:nth-child(7){
                                                button {
                                                    border-radius: 0.3rem;
                                                    font-size: .85rem;
                                                    font-family: "GothamBook";
                                                    font-weight: 200;
                                                    text-transform: uppercase;
                                                    @include for_screen( portraitTablet ){
                                                        padding: 0.7rem 0.8rem;
                                                    }
                                                    @include for_screen( tablet ){
                                                        padding: 0.7rem 0.8rem;
                                                    }
                                                    &>{
                                                        i {
                                                            opacity: 1;
                                                        }
                                                    }
                                                }
                                                p{
                                                    float: right;
                                                    color: #999999;
                                                    line-height: 22px;
                                                    margin-right: 13px;
                                                    font-size: 10px;

                                                }
                                            }
                                        }
                                    }
                                    // Price + Reference Number
                                    div:nth-child(3) {
                                        position: absolute;
                                        bottom: 5px;
                                        right: 10px;
                                        width: 57%;
                                        &>{
                                            // Price
                                            div:nth-child(1) {
                                                float: left;
                                                div:nth-child(1) {
                                                    // color: #e53935;
                                                    font-size: 1.5rem;
                                                    font-weight: 300;
                                                    color: #e53935;
                                                    @include for_screen( portraitTablet ){
                                                        font-size: 1.1rem;
                                                    }
                                                    &>span.currency{
                                                        font-size: 10px;
                                                    }
                                                }
                                            }
                                            // Ref No
                                            p {
                                                margin-top: 5px;
                                                float: right;
                                                color: #777777;
                                                font-weight: 300;
                                                @include for_screen( portraitTablet ){
                                                    font-size: 0.8rem;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.favourite {
    animation: beating .5s 1 alternate;
    color: #e53935 !important;
}
@keyframes beating {
    0% { transform: scale(1) }
    40% { transform: scale(1.25) }
    70% { transform: scale(.9) }
    100% { transform: scale(1) }
}

.ui.one.column.grid > div > div > div > div:hover{
    -webkit-transform: none !important;
    transform: none !important;
}

.ui.one.column.grid > div > div > div > div > div.jss263:hover{
    -webkit-transform: none !important;
    transform: none !important;
}
