#modal_property_alert {
    max-width: 40rem;
    &>{
        i {
            top: 0;
            right: 0;
            color: rgba(0, 0, 0, 0.8);
        }
        div{
            padding: 1rem;
            &>{
                div:nth-child(1){
                    font-size: 1.5rem;
                    font-weight: 300;
                }
                div:nth-child(2){
                    p{
                        font-weight: 300;
                    }
                }
                div:nth-child(3){
                    &>{
                        div:nth-child(1){
                            &>{
                                div{
                                    input::-webkit-input-placeholder {
                                        color: rgba(191,191,191,.87);
                                    }
                                    input:-ms-input-placeholder { /* Internet Explorer 10-11 */
                                       color: rgba(191,191,191,.87);
                                    }
                                    input::-ms-input-placeholder { /* Microsoft Edge */
                                       color: rgba(191,191,191,.87);
                                    }
                                }
                                div:nth-child(3){
                                    margin-top: 0;
                                    margin-bottom: 0.1rem;
                                    &>{
                                        div:nth-child(2){
                                            &>{
                                                div:nth-child(1){
                                                    &>{
                                                        div:nth-child(1){
                                                            padding-left: .52em;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        div:nth-child(3){
                                            .awesomplete{
                                                width: 100%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                div:nth-child(4){
                    button{
                        text-transform: uppercase;
                        color: #fff;
                        background-color: #5d0e8b;
                        font-size: 1rem;
                        padding: 1.5rem;
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

html[dir=rtl]{
    #modal_property_alert{
        left: 50%;
        margin-left: -15rem;
        top: 15%;
    }
}
