#modal_property_call {
    width: 26%;
    border-radius: 7px;
    overflow: hidden;
    &>{
        i {
            top: 0;
            right: 0;
            color: rgba(0, 0, 0, 0.8);
        }
        div {
            // height: 35rem;
            margin-left: 0 !important;
            margin-right: 0 !important;
            margin-bottom: 0 !important;
            padding-right: 2rem;
            padding-left: 2rem;
            & > {
                div:nth-child(1){
                    margin-top: .5rem;
                    padding-bottom: 0;
                    p{
                        font-size: 1rem;
                        text-align: left;
                        color: rgb( 60, 60, 60 );
                        font-family: "GothamBook";
                        &>{
                            span{
                                font-family: "GothamMedium";
                                color: #5d0e8b;
                            }
                        }
                    }
                }
                div:nth-child(2){
                    &>{
                        div:nth-child(1){
                            input, .ui.dropdown {
                                border: 1px solid #ddd;
                                border-radius: 4px;
                                font-family: "GothamBook";
                                color: rgb( 46, 55, 70 );
                                font-size: 12px;
                                padding: .7rem;
                                ::-webkit-input-placeholder {
                                    font-size: 11px;
                                    font-family: "GothamBook";
                                    color: rgb( 46, 55, 70 );
                                    
                                }
                            }
                            input[type=tel] {
                                padding-left: 7rem;
                                &::-webkit-input-placeholder {
                                    font-size: 11px;
                                    font-family: "GothamBook";
                                    color: rgb( 46, 55, 70 );
                                    
                                }
                            }
                            label {
                                text-align: left;
                                font-family: "GothamBook";
                                color: rgb( 128, 128, 128 );
                                font-size: .7rem;
                                text-transform: capitalize;
                            }
                            .field {
                                margin-bottom: 0;
                                padding-bottom: 0;
                                padding-top: .7rem;
                            }
                            div:nth-child(1){
                                textarea{
                                    border-radius: 0.5rem;
                                    margin-bottom: 1rem;
                                }
                                textarea:focus{
                                    background: transparent;
                                }
                            }
                        }
                    }
                }
                div:nth-child(3){
                    text-align: center;
                    button{
                        color: #fff;
                        background-color: #5d0e8b;
                        padding: 1rem;
                        font-size: 1rem;
                        margin-right: 0;
                        width: 100%;
                        border-radius: 4px;
                        box-shadow: none !important;
                        text-transform: uppercase;
                        i {
                            font-size: 1.3rem;
                            margin-right: 0;
                        }
                    }
                }
                div:nth-child(4){
                    font-size: .6rem;
                    display: inline-flex;
                    align-items: center;
                    label {
                        padding-left: .3rem;
                        font-family: "GothamBook";
                        color: rgb( 128, 128, 128 );
                        font-size: .8rem;
                    }
                }
                div:nth-child(5){
                    text-align: -webkit-auto;
                    padding-top: 0;
                    padding-bottom: 1.5rem;
                    &>{
                        div:nth-child(1){
                            &>{
                                div:nth-child(1){
                                    .bar{
                                        width: 7px;
                                        height: 66px;
                                        background-color: #d5d5d5;
                                    }
                                }
                                div:nth-child(2){
                                    &>{
                                        div:nth-child(1) {
                                            margin-bottom: .5rem;
                                            display: inline-flex;
                                            align-content: baseline;
                                            font-family: "GothamBook";
                                            color: rgb( 60, 60, 60 );
                                            font-size: 1.1rem;
                                            span {
                                                color: rgb( 60, 60, 60 );
                                                font-size: 1rem;
                                            }
                                        }
                                        div:nth-child(2) {
                                            span {
                                                font-family: "GothamMedium";
                                                color: rgb( 73, 2, 118 );
                                                font-size: 1rem;
                                            }
                                        }
                                        div:nth-child(3) {
                                            margin-bottom: .5rem;
                                            span {
                                                font-family: "GothamBook";
                                                color: #3c3c3c;
                                                font-size: .7rem;
                                            }
                                        }
                                        p{
                                            font-family: "GothamBook";
                                            color: #3c3c3c;
                                            font-size: .7rem;
                                            span {
                                                color: #490276;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

html[dir=rtl]{
    #modal_property_call{
        margin-left: -15rem;
        left: 50%;
        top: 15%;
    }
}
