#modal_property_mortgage {
    max-width: 26rem;
    border-radius: 7px;
    overflow: hidden;
    &>{
        i {
            top: 0;
            right: 0;
            color: rgba(0, 0, 0, 0.8);
        }
        div{
            padding: 1rem;
            background-color: #ffffff !important;
            &>{
                div:nth-child(1){
                    margin-top: 2rem;
                    padding: 0 2rem;
                    &>{
                        div:nth-child(1){
                            padding-top: 0;
                            text-align: left;
                            font-size: 1rem;
                            color: rgb(60,60,60);
                            padding-bottom: 0;
                            &>{
                                div:nth-child(1){
                                    font-family: "GothamBook";
                                }
                                div:nth-child(2){
                                    margin-left: -13px;
                                    img{
                                        height: 4rem;
                                    }
                                }
                            }
                        }
                        div:nth-child(2){
                            font-size: 1.2rem;
                            padding-right: 9rem;
                            color: rgb( 46, 55, 70 );
                            padding-top: 0;
                            &>{
                                span{
                                    font-family: "GothamMedium";
                                    color: $purple;
                                }
                            }
                        }
                        div:nth-child(3){
                            font-size: .8rem;
                            display: inline-flex;
                            align-items: center;
                            &>{
                                div:nth-child(1){
                                    padding: 1rem;
                                    background: rgb( 235, 235, 235 );
                                    border-radius: 2rem;
                                    img {}
                                }
                                div:nth-child(2) {
                                    font-size: .8rem;
                                    margin: 0.5rem 0;
                                    color: rgb( 46, 55, 70 );
                                    margin-left: 1.5rem;
                                    span{
                                        font-family: "GothamBold";
                                        color: rgb( 1, 1, 1 );
                                        font-size: 1.2rem;
                                    }
                                }
                            }
                        }
                        div:nth-child(4){
                            padding-bottom: 0;
                            &>{
                                div:nth-child(1) {
                                    width: 4px;
                                    height: 31px;
                                    background: rgb( 235, 235, 235 );
                                    position: absolute;
                                    top: 14px;
                                }
                                div:nth-child(2) {
                                    font-size: 0.8rem;
                                    color: rgb( 46, 55, 70 );
                                    margin-left: 1rem;
                                }
                                div:nth-child(3) {
                                    font-size: 1rem;
                                    margin: 0.5rem 0;
                                    font-family: "GothamMedium";
                                    color: $purple;
                                    margin-left: 1rem;
                                }
                            }
                        }
                        div:nth-child(5){
                            padding-bottom: 0;
                            &>{
                                div:nth-child(1) {
                                    width: 4px;
                                    height: 31px;
                                    background: rgb( 235, 235, 235 );
                                    position: absolute;
                                    top: 14px;
                                }
                                div:nth-child(2) {
                                    font-size: 0.8rem;
                                    color: rgb( 46, 55, 70 );
                                    margin-left: 1rem;
                                }
                                div:nth-child(3) {
                                    font-size: 1rem;
                                    margin: 0.5rem 0;
                                    font-family: "GothamMedium";
                                    color: $purple;
                                    margin-left: 1rem;
                                }
                            }
                        }
                        div:nth-child(6){
                            padding-bottom: 0;
                            &>{
                                div:nth-child(1) {
                                    width: 4px;
                                    height: 31px;
                                    background: rgb( 235, 235, 235 );
                                    position: absolute;
                                    top: 14px;
                                }
                                div:nth-child(2) {
                                    font-size: 0.8rem;
                                    color: rgb( 46, 55, 70 );
                                    margin-left: 1rem;
                                }
                                div:nth-child(3) {
                                    font-size: 1rem;
                                    margin: 0.5rem 0;
                                    font-family: "GothamMedium";
                                    color: $purple;
                                    margin-left: 1rem;
                                }
                            }
                        }
                        div:nth-child(7){
                            padding-bottom: 0;
                            &>{
                                div:nth-child(1) {
                                    width: 4px;
                                    height: 31px;
                                    background: rgb( 235, 235, 235 );
                                    position: absolute;
                                    top: 14px;
                                }
                                div:nth-child(2) {
                                    font-size: 0.8rem;
                                    color: rgb( 46, 55, 70 );
                                    margin-left: 1rem;
                                }
                                div:nth-child(3) {
                                    font-size: 1rem;
                                    margin: 0.5rem 0;
                                    font-family: "GothamMedium";
                                    color: $purple;
                                    margin-left: 1rem;
                                }
                            }
                        }
                        div:nth-child(8){
                            font-size: 0.8rem;
                            color: rgb( 46, 55, 70 );
                            text-align: center;
                            padding-left: 3rem;
                            padding-right: 3rem;
                        }
                    }
                }
                div:nth-child(2){
                    &>{
                        div:nth-child(1){
                            padding: 1rem;
                            &>{
                                div:nth-child(1) {
                                    input, .ui.dropdown {
                                        border: 1px solid #bababa;
                                        border-radius: 4px;
                                        color: rgb( 35, 42, 54 );
                                        &::-webkit-input-placeholder {
                                            font-size: 12px;
                                            font-family: "GothamBook";
                                            color: rgb( 35, 42, 54 );
                                        }                                
                                    }
                                    .field {
                                        margin-bottom: 0;
                                        padding-bottom: 0;
                                        padding-top: .5rem;
                                    }
                                }
                            }
                        }
                    }
                }
                div:nth-child(3){
                    padding: 0 2rem 2rem;
                    button{
                        text-transform: uppercase;
                        color: #fff;
                        background-color: $purple;
                        font-size: 1rem;
                        padding: 1.2rem;
                        margin-right: 0;
                        border-radius: 7px;
                        box-shadow: none !important;
                    }
                }
            }
        }
    }
}
