#modal_agent_call {
    // max-width: 30rem;
    &>{
        i {
            top: 0;
            right: 0 !important;
            left: auto !important;
            color: rgba(0, 0, 0, 0.8);
        }
        div{
            &>{
                div:nth-child(1){
                    &>{
                        div:nth-child(1) {
                            &>{
                                div:nth-child(1){
                                    margin-bottom: 1rem;
                                    margin-top: 1rem;
                                    .bar{
                                        width: 7px;
                                        height: 42px;
                                        background-color: #d5d5d5;
                                    }
                                }
                            
                                div:nth-child(2){
                                    margin-bottom: 1rem;
                                    margin-top: 1rem;
                                    &>{
                                        div:nth-child(1) {
                                            margin-bottom: .3rem;
                                            display: flex;
                                            align-items: center;
                                            span {
                                                font-family: "GothamBook";
                                                color: rgb( 46, 46, 46 );
                                                font-size: 1rem;
                                            }
                                        }
                                        div:nth-child(2) {
                                            span {
                                                font-family: "GothamMedium";
                                                color: rgb( 73, 2, 118 );
                                                font-size: .85rem;
                                            }
                                        }
                                        div:nth-child(3) {
                                            margin-bottom: .3rem;
                                            span {
                                                font-family: "GothamBook";
                                                color: #2e2e2e;
                                                font-size: .7rem;
                                            }
                                        }
                                        // p{
                                        //     font-family: "GothamBook";
                                        //     color: #2e2e2e;
                                        //     font-size: .7rem;
                                        //     span {
                                        //         color: #490276;
                                        //     }
                                        // }
                                    }

                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
html[dir=rtl]{
    #modal_agent_call{
        margin-left: -15rem;
        left: 60%;
        top: 35%;
    }
}
