#modal_agent_review {
    width: 20%;
    border-radius: 7px;
    overflow: hidden;
    &>{
        i {
            top: 0;
            right: 0;
            color: rgba(0, 0, 0, 0.8);
        }
        div {
            margin: 1.5rem;
            &>{
                div:nth-child(1){
                    margin-bottom: 1rem;
                    padding-top: 0;
                    padding-left: 0;
                    span {
                        font-family: "GothamBook";
                        color: rgb( 46, 46, 46 );
                        text-align: left;
                        font-size: 1.2rem;
                    }
                }
                div:nth-child(2){
                    padding-top: 0;
                    &>{
                        div:nth-child(1){
                            font-family: "GothamBook";
                            &>{
                                div:nth-child(1){
                                    &>{
                                        .star {
                                            width: 100%;
                                            padding-left: 0;
                                            padding-right: 0;
                                            &>{
                                                .icon {
                                                    &.selected {
                                                        color: #ec8918 !important;
                                                        text-shadow: none !important;
                                                    }
                                                    &.active {
                                                        color: #ec8918 !important;
                                                        text-shadow: none !important;
                                                    }
                                                }
                                            }
                                        }
                                        label {

                                        }

                                        div:nth-child(3) {
                                            padding-left: 0;
                                            padding-right: 0;
                                            &>{
                                                textarea{
                                                    font-size: .8rem;
                                                    border-radius: 4px;
                                                    margin-bottom: 1rem;
                                                    color: rgb( 35, 42, 54 );
                                                    border: 1px solid rgb( 186, 186, 186 );
                                                    &::-webkit-input-placeholder {
                                                        color: rgb( 35, 42, 54 );
                                                        font-size: .8rem;
                                                    }
                                                    &:focus {
                                                        background-color: transparent;
                                                        border-color: rgb( 186, 186, 186 );
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                div:nth-child(3){
                    padding: 0;
                    text-align: center;
                    button{
                        color: #fff;
                        background-color: #5d0e8b;
                        border-radius: 4px;
                        height: 40px;
                        font-size: 1rem;
                        margin-right: 0;
                        width: 100%;
                    }
                }
            }
        }
    }
}