@font-face {
  font-family: 'Brandon Grotesque';
  src: url("fonts/BrandonGrotesque-Bold.woff2") format("woff2"), url("fonts/BrandonGrotesque-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url("fonts/BrandonGrotesque-Light.woff2") format("woff2"), url("fonts/BrandonGrotesque-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url("fonts/BrandonGrotesque-Regular.woff2") format("woff2"), url("fonts/BrandonGrotesque-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url("fonts/BrandonGrotesque-Medium.woff2") format("woff2"), url("fonts/BrandonGrotesque-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Calma';
  src: url("fonts/Calma-Regular.woff2") format("woff2"), url("fonts/Calma-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calma';
  src: url("fonts/Calma-Light.woff2") format("woff2"), url("fonts/Calma-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Calma';
  src: url("fonts/Calma-Bold.woff2") format("woff2"), url("fonts/Calma-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Brandon Grotesque', Arial, Helvetica, sans-serif;
  background: #fff;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  margin: 0;
  line-height: normal;
}

strong {
  font-weight: bold;
}

::-webkit-input-placeholder {
  color: inherit;
}

::-moz-placeholder {
  color: inherit;
}

:-ms-input-placeholder {
  color: inherit;
}

:-moz-placeholder {
  color: inherit;
}

select {
  -webkit-appearance: none;
}

select {
  -webkit-appearance: none;
}

.above-the-fold {
  background: url("img/banner.jpg") no-repeat;
  background-size: cover;
}

.above-the-fold header {
  padding: 40px 0;
}

.above-the-fold header .social-menu {
  margin: 0;
  padding: 0;
}

.above-the-fold header .social-menu li {
  list-style: none;
  float: left;
  margin-right: 18px;
  line-height: 108px;
}

.above-the-fold header .social-menu li a {
  display: inline-block;
  background: url("img/social_icons.png") no-repeat;
  height: 18px;
}

.above-the-fold header .social-menu li a.fb {
  width: 9px;
  background-position: 0 0;
}

.above-the-fold header .social-menu li a.tw {
  width: 16px;
  background-position: -28px 0;
}

.above-the-fold header .social-menu li a.in {
  width: 15px;
  background-position: -63px 0;
}

.above-the-fold header .social-menu li a.it {
  width: 20px;
  background-position: -94px 0;
}

.above-the-fold header .branding {
  text-align: center;
}

.above-the-fold header .branding a {
  display: inline-block;
}

.above-the-fold header .phone_no {
  text-align: right;
  line-height: 108px;
  color: #fff;
  font-weight: bold;
}

.above-the-fold header .phone_no a {
  color: inherit;
  display: inline-block;
  margin-left: 20px;
}

.above-the-fold header .phone_no a img {
  vertical-align: baseline;
  margin-right: 10px;
  height: 12px;
}

.above-the-fold header .phone_no.mobile.only {
  display: none;
}

.above-the-fold .banner {
  margin-bottom: 1rem;
}

.above-the-fold .banner .text {
  margin: 100px 0 120px;
  text-align: center;
}

.above-the-fold .banner .text img {
  max-width: 100%;
}

.above-the-fold .banner .text2 {
  margin: 100px 0 0;
  text-align: right;
}

.above-the-fold .banner .text2 h3 {
  font-size: 39px;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: .9px;
}

.above-the-fold .banner .text2 h5 {
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
}

.above-the-fold .banner .blue-box {
  background: #14195b;
  color: #e33aa7;
  text-align: center;
  font-size: 26px;
  font-family: 'Calma', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 2px;
  padding: 35px 0;
  max-width: 225px;
  margin: 0 auto;
}

.above-the-fold .banner .blue-box span {
  display: block;
  line-height: 0;
  margin: 0 0 30px;
}

.above-the-fold .banner .blue-box span img {
  display: inline-block;
}

.above-the-fold .banner .blue-box small {
  display: block;
  font-size: 16px;
  color: #9192a9;
  font-family: 'Brandon Grotesque', Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: normal;
}

.above-the-fold .banner .ui.three .column {
  padding: 0;
}

.form-wrap {
  background: #14195b;
  padding: 40px 0;
}

.form-wrap h3 {
  color: #e33aa7;
  font-size: 30px;
  font-family: 'Calma', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 20px;
}

.form-wrap form fieldset {
  padding: 0;
  border: 0;
}

.form-wrap form fieldset label {
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  margin-left: 10px;
}

.form-wrap form fieldset select, .form-wrap form fieldset input[type=text], .form-wrap form fieldset input[type=email], .form-wrap form fieldset input[type=tel] {
  border: 1px solid #fff;
  padding: 15px;
  background: none;
  width: 21%;
  float: left;
  margin-right: 10px;
  margin-bottom: 15px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 0;
}

.form-wrap form fieldset input[type=submit] {
  padding: 11px 15px 12px;
  color: #fff;
  text-transform: uppercase;
  background: #e33aa7;
  border: 0;
  width: 10%;
  font-weight: bold;
  font-family: 'Brandon Grotesque', Arial, Helvetica, sans-serif;
  font-size: 20px;
  float: right;
  margin-bottom: 15px;
  border-radius: 0;
}

.payment-plans {
  background: #ffffff;
  padding: 95px 0 50px;
}

.payment-plans h3 {
  text-align: center;
  font-size: 48px;
  font-family: 'Calma', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #14195b;
  font-weight: bold;
  margin: 0 0 35px;
}

.payment-plans p {
  color: #44477e;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 20px;
}

.payment-plans .image {
  text-align: center;
  margin: 0 0 25px;
}

.payment-plans .box {
  border: 1px solid #000;
  position: relative;
  text-align: center;
  padding: 0 0 13px;
}

.payment-plans .box .label {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 50%;
  margin: 0 auto;
  background: #fff;
  transform: translateY(-50%);
  font-size: 14px;
  color: #e33aa7;
  text-transform: uppercase;
  font-family: 'Calma', Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.payment-plans .box .amount {
  font-size: 65px;
  color: #14195b;
  font-family: 'Calma', Arial, Helvetica, sans-serif;
  vertical-align: middle;
  font-weight: bold;
}

.payment-plans .box .amount span {
  font-family: 'Brandon Grotesque', Arial, Helvetica, sans-serif;
  vertical-align: middle;
  font-size: 52px;
  margin: 10px 0 0 0;
  display: inline-block;
}

.payment-plans .box .label2 {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  color: #44477e;
}

.payment-plans .fourteen .five {
  margin-bottom: 50px;
}

.medias figure {
  position: relative;
  background: #f5f5f5;
  margin: 0;
  line-height: 0;
  height: 100%;
  max-height: 565px;
  overflow: hidden;
}

.medias figure img {
  display: block;
  width: 100%;
}

.medias figure .play.icon {
  width: 150px;
  height: 150px;
  background: url("img/video-icon.png") center/cover no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.medias figure .play.icon:before {
  display: none;
}

.medias figure .ui.video.active .placeholder, .medias figure .ui.video.active .play {
  display: none;
}

.medias figure .ui.video.active .embed {
  display: inline;
}

.medias figure .ui.video .embed iframe {
  position: absolute;
  border: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.medias .slider {
  background: #f5f5f5;
  position: relative;
  height: 100%;
}

.medias .slider .slides {
  text-align: center;
  padding: 100px 0;
}

.medias .slider .slides img {
  margin: 0 auto;
  max-height: 365px;
}

.medias .overlay {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  display: block;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  color: #14195b;
  font-family: 'Calma', Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.medias .ui.video.active+.overlay {
  display: none;
}

footer {
  background: #14195b;
  padding: 65px 0;
}

footer h3 {
  font-weight: bold;
  font-family: 'Calma', Arial, Helvetica, sans-serif;
  color: #e33aa7;
  text-transform: uppercase;
  font-size: 30px;
  margin: 0 0 20px;
  line-height: 30px;
}

footer form {
  margin: 0 0 30px;
}

footer form fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

footer form fieldset input[type=email] {
  border: 1px solid #fff;
  padding: 15px;
  background: none;
  width: 70%;
  float: left;
  color: #fff;
  text-transform: uppercase;
  border-radius: 0;
}

footer form fieldset input[type=submit] {
  padding: 10px 15px 11px;
  color: #fff;
  text-transform: uppercase;
  background: #e33aa7;
  border: 1px solid #fff;
  width: 30%;
  font-weight: bold;
  font-family: 'Brandon Grotesque', Arial, Helvetica, sans-serif;
  font-size: 20px;
  float: right;
  border-radius: 0;
}

footer address {
  font-size: 14px;
  color: #fff;
  font-family: 'Brandon Grotesque', Arial, Helvetica, sans-serif;
  font-style: normal;
}

footer address span {
  color: #e33aa7;
}

footer .social-menu {
  margin: 0;
  padding: 0;
}

footer .social-menu li {
  list-style: none;
  float: left;
  margin-right: 18px;
}

footer .social-menu li a {
  display: inline-block;
  background: url("img/social_icons.png") no-repeat;
  height: 18px;
}

footer .social-menu li a.fb {
  width: 9px;
  background-position: 0 0;
}

footer .social-menu li a.tw {
  width: 16px;
  background-position: -28px 0;
}

footer .social-menu li a.in {
  width: 15px;
  background-position: -63px 0;
}

footer .social-menu li a.it {
  width: 20px;
  background-position: -94px 0;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-dots {
  padding: 0;
  margin: 0;
  text-align: center;
  position: absolute;
  bottom: 50px;
  width: 100%;
}

.slick-dots li {
  list-style: none;
  display: inline-block;
  margin: 0 6px;
}

.slick-dots li button {
  width: 13px;
  height: 13px;
  background: #d1d1d1;
  border: 0;
  text-indent: -9999px;
  border-radius: 50%;
  padding: 0;
}

.slick-dots li.slick-active button {
  background: #45abc2;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  z-index: 9;
  padding: 0;
  border: 25px solid transparent;
  background: none;
  font-size: 0;
}

.slick-arrow.slick-prev {
  left: 5%;
  border-right-color: #fff;
}

.slick-arrow.slick-next {
  right: 5%;
  border-left-color: #fff;
}

.slick-arrow:focus {
  outline: none;
}

@media screen and (max-width: 768px) {
  .above-the-fold header {
    padding: 20px 0 40px;
  }
  .above-the-fold header .social-menu li {
    line-height: normal;
  }
  .above-the-fold header .phone_no {
    line-height: normal;
  }
  .above-the-fold header .phone_no.mobile.only {
    display: block;
  }
  .above-the-fold .banner .text {
    margin: 0;
  }
  .above-the-fold .banner .text2 {
    margin: 0;
  }
  .above-the-fold .banner .text2 h3 {
    font-size: 28px;
    text-align: center;
  }
  .above-the-fold .banner .text2 h5 {
    text-align: center;
  }
  .form-wrap form fieldset {}
  .form-wrap form fieldset select, .form-wrap form fieldset input[type=text], .form-wrap form fieldset input[type=tel], .form-wrap form fieldset input[type=email], .form-wrap form fieldset input[type=submit] {
    width: 100%;
    margin: 0 0 10px;
  }
  .payment-plans {
    padding: 40px 0;
  }
  .payment-plans h3 {
    font-size: 28px;
  }
  .payment-plans p {
    margin: 20px 0 0 0;
  }
  .payment-plans .image {
    margin: 25px 0 0 0;
  }
  .medias .slider {
    padding: 0 10px;
  }
  .medias .slider .slides img {
    max-width: 100%;
  }
  .medias .overlay {
    top: 25px;
  }
}

html[dir=rtl] .above-the-fold header .social-menu li {
  float: right;
  margin-right: 0;
  margin-left: 18px;
}

html[dir=rtl] .above-the-fold header .phone_no {
  margin-right: 0;
  margin-left: 10px;
}

html[dir=rtl] .form-wrap form fieldset input, html[dir=rtl] .form-wrap form fieldset select {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}

html[dir=rtl] footer .social-menu li {
  float: right;
}


/*# sourceMappingURL=styles.css.map */
