$primary: #14195b;
$secondary: #e33aa7;

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('fonts/BrandonGrotesque-Bold.woff2') format('woff2'),
         url('fonts/BrandonGrotesque-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('fonts/BrandonGrotesque-Light.woff2') format('woff2'),
        url('fonts/BrandonGrotesque-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('fonts/BrandonGrotesque-Regular.woff2') format('woff2'),
         url('fonts/BrandonGrotesque-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('fonts/BrandonGrotesque-Medium.woff2') format('woff2'),
         url('fonts/BrandonGrotesque-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Calma';
    src: url('fonts/Calma-Regular.woff2') format('woff2'),
         url('fonts/Calma-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Calma';
    src: url('fonts/Calma-Light.woff2') format('woff2'),
         url('fonts/Calma-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Calma';
    src: url('fonts/Calma-Bold.woff2') format('woff2'),
         url('fonts/Calma-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}



@mixin font-brandon() {
    font-family: 'Brandon Grotesque', Arial, Helvetica, sans-serif;
}

@mixin font-calma() {
    font-family: 'Calma', Arial, Helvetica, sans-serif;
}

body {
    @include font-brandon;
    background: #fff;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    margin: 0;
    line-height: normal;
}

strong {
    font-weight: bold;
}

::-webkit-input-placeholder {
    color: inherit;
}
::-moz-placeholder {
    color: inherit;
}
:-ms-input-placeholder {
    color: inherit;
}
:-moz-placeholder {
    color: inherit;
}

select {
    -webkit-appearance: none;
}

.above-the-fold {
    background: url("img/banner.jpg") no-repeat;
    background-size: cover;

    header {
        padding: 40px 0;

        .social-menu {
            margin: 0;
            padding: 0;

            li {
                list-style: none;
                float: left;
                margin-right: 18px;
                line-height: 108px;

                a {
                    display: inline-block;
                    background: url("img/social_icons.png") no-repeat;
                    height: 18px;

                    &.fb {
                        width: 9px;
                        background-position: 0 0;
                    }
                    &.tw {
                        width: 16px;
                        background-position: -28px 0;
                    }
                    &.in {
                        width: 15px;
                        background-position: -63px 0;
                    }
                    &.it {
                        width: 20px;
                        background-position: -94px 0;
                    }
                }
            }
        }
        .branding {
            text-align: center;

            a {
                display: inline-block;
            }
        }
        .phone_no {
            text-align: right;
            line-height: 108px;
            color: #fff;
            font-weight: bold;

            a {
                color: inherit;
                display: inline-block;
                margin-left: 20px;

                img {
                    vertical-align: baseline;
                    margin-right: 10px;
                    height: 12px;
                }
            }
            //a:first-child {
            //    background: url('img/icon_phone.png') no-repeat;
            //    background-position: left center;
            //    padding-left: 30px;
            //}
            &.mobile.only {
                display: none;
            }
        }
    }
    .banner {
        margin-bottom: 1rem;

        .text {
            margin: 100px 0 120px;
            text-align: center;

            img {
                max-width: 100%;
            }
        }
        .text2 {
            margin: 100px 0 0;
            text-align: right;

            h3 {
                font-size: 39px;
                color: #fff;
                font-weight: 300;
                text-transform: uppercase;
                letter-spacing: .9px;
            }
            h5 {
                font-size: 18px;
                color: #fff;
                text-transform: uppercase;
            }
        }
        .blue-box {
            background: $primary;
            color: $secondary;
            text-align: center;
            font-size: 26px;
            @include font-calma;
            text-transform: uppercase;
            font-weight: normal;
            letter-spacing: 2px;
            padding: 35px 0;
            max-width: 225px;
            margin: 0 auto;

            span {
                display: block;
                line-height: 0;
                margin: 0 0 30px;

                img {
                    display: inline-block;
                }
            }
            small {
                display: block;
                font-size: 16px;
                color: #9192a9;
                @include font-brandon;
                font-weight: bold;
                letter-spacing: normal;
            }
        }
        .ui.three .column {
            padding: 0;
        }
    }
}

.form-wrap {
    background: $primary;
    padding: 40px 0;

    h3 {
        color: $secondary;
        font-size: 30px;
        @include font-calma;
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 20px;
    }
    form {
        fieldset {
            padding: 0;
            border: 0;

            label {
                color: #fff;
                font-size: 12px;
                text-transform: uppercase;
                margin-left: 10px;
            }
            select,
            input[type=text],
            input[type=email],
            input[type=tel] {
                border: 1px solid #fff;
                padding: 15px;
                background: none;
                width: 21%;
                float: left;
                margin-right: 10px;
                margin-bottom: 15px;
                color: #fff;
                text-transform: uppercase;
                border-radius: 0;
            }
            input[type=submit] {
                padding: 11px 15px 12px;
                color: #fff;
                text-transform: uppercase;
                background: $secondary;
                border: 0;
                width: 10%;
                font-weight: bold;
                @include font-brandon;
                font-size: 20px;
                float: right;
                margin-bottom: 15px;
                border-radius: 0;
            }
        }
    }
}

.payment-plans {
    background: #ffffff;
    padding: 95px 0 50px;

    h3 {
        text-align: center;
        font-size: 48px;
        @include font-calma;
        text-transform: uppercase;
        color: $primary;
        font-weight: bold;
        margin: 0 0 35px;
    }
    p {
        color: #44477e;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        margin: 0 0 20px;
    }
    .image {
        text-align: center;
        margin: 0 0 25px;
    }
    .box {
        border: 1px solid #000;
        position: relative;
        text-align: center;
        padding: 0 0 13px;

        .label {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 50%;
            margin: 0 auto;
            background: #fff;
            transform: translateY(-50%);
            font-size: 14px;
            color: $secondary;
            text-transform: uppercase;
            @include font-calma;
            font-weight: bold;
        }
        .amount {
            font-size: 65px;
            color: $primary;
            @include font-calma;
            vertical-align: middle;
            font-weight: bold;

            span {
                @include font-brandon;
                vertical-align: middle;
                font-size: 52px;
                margin: 10px 0 0 0;
                display: inline-block;
            }
        }
        .label2 {
            display: block;
            text-transform: uppercase;
            font-size: 14px;
            color: #44477e;
        }
    }
    .fourteen .five {
        margin-bottom: 50px;
    }
}

.medias {
    figure {
        position: relative;
        background: #f5f5f5;
        margin: 0;
        line-height: 0;
        height: 100%;
        max-height: 565px;
        overflow: hidden;

        img {
            display: block;
            width: 100%;
        }
        .play.icon {
            width: 150px;
            height: 150px;
            background: url('img/video-icon.png') center / cover no-repeat;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);

            &:before {
                display: none;
            }
        }
        .ui.video.active .placeholder,
        .ui.video.active .play {
            display: none;
        }
        .ui.video.active .embed {
            display: inline;
        }
        .ui.video .embed iframe {
            position: absolute;
            border: none;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            margin: 0;
            padding: 0;
        }
    }
    .slider {
        background: #f5f5f5;
        position: relative;
        height: 100%;

        .slides {
            text-align: center;
            padding: 100px 0;

            img {
                margin: 0 auto;
                max-height: 365px;
            }
        }
    }
    .overlay {
        position: absolute;
        top: 10%;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
        display: block;
        text-transform: uppercase;
        font-size: 30px;
        line-height: 30px;
        color: $primary;
        @include font-calma;
        font-weight: bold;
    }
    .ui.video.active+.overlay {
        display: none;
    }
}

footer {
    background: $primary;
    padding: 65px 0;

    h3 {
        font-weight: bold;
        @include font-calma;
        color: $secondary;
        text-transform: uppercase;
        font-size: 30px;
        margin: 0 0 20px;
        line-height: 30px;
    }
    form {
        margin: 0 0 30px;

        fieldset {
            padding: 0;
            border: 0;
            margin: 0;

            input[type=email] {
                border: 1px solid #fff;
                padding: 15px;
                background: none;
                width: 70%;
                float: left;
                color: #fff;
                text-transform: uppercase;
                border-radius: 0;
            }
            input[type=submit] {
                padding: 10px 15px 11px;
                color: #fff;
                text-transform: uppercase;
                background: $secondary;
                border: 1px solid #fff;
                width: 30%;
                font-weight: bold;
                @include font-brandon;
                font-size: 20px;
                float: right;
                border-radius: 0;
            }
        }
    }
    address {
        font-size: 14px;
        color: #fff;
        @include font-brandon;
        font-style: normal;

        span {
            color: $secondary;
        }
    }
    .social-menu {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            float: left;
            margin-right: 18px;

            a {
                display: inline-block;
                background: url("img/social_icons.png") no-repeat;
                height: 18px;

                &.fb {
                    width: 9px;
                    background-position: 0 0;
                }
                &.tw {
                    width: 16px;
                    background-position: -28px 0;
                }
                &.in {
                    width: 15px;
                    background-position: -63px 0;
                }
                &.it {
                    width: 20px;
                    background-position: -94px 0;
                }
            }
        }
    }
}

// External Plugin

.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.slick-dots
{
    padding: 0;
    margin: 0;
    text-align: center;
    position: absolute;
    bottom: 50px;
    width: 100%;

    li {
        list-style: none;
        display: inline-block;
        margin: 0 6px;

        button {
            width: 13px;
            height: 13px;
            background: #d1d1d1;
            border: 0;
            text-indent: -9999px;
            border-radius: 50%;
            padding: 0;
        }
        &.slick-active button {
            background: #45abc2;
        }
    }
}
.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    z-index: 9;
    padding: 0;
    border: 25px solid transparent;
    background: none;
    font-size: 0;

    &.slick-prev {
        left: 5%;
        border-right-color: #fff;
    }
    &.slick-next {
        right: 5%;
        border-left-color: #fff;
    }
    &:focus {
        outline: none;
    }
}

@media screen and (max-width: 768px) {

    .above-the-fold {

        header {
            padding: 20px 0 40px;

            .social-menu li {
                line-height: normal;
            }
            .phone_no {
                line-height: normal;

                &.mobile.only {
                    display: block;
                }
            }
        }

        .banner {
            .text {
                margin: 0;
            }
            .text2 {
                margin: 0;

                h3 {
                    font-size: 28px;
                    text-align: center;
                }
                h5 {
                    text-align: center;
                }
            }
        }

    }

    .form-wrap {
        form {
            fieldset {
                margin-top: 10px;

                select,
                input[type=text],
                input[type=tel],
                input[type=email],
                input[type=submit]{
                    width: 100%;
                    margin: 0 0 10px;
                }
            }
        }
    }

    .payment-plans {
        padding: 40px 0;

        h3 {
            font-size: 28px;
        }
        p {
            margin: 20px 0 0 0;
        }
        .image {
            margin: 25px 0 0 0;
        }
    }

    .medias {
        .slider {
            padding: 0 10px;

            .slides {
                img {
                    max-width: 100%;
                }
            }
        }
        .overlay {
            top: 25px;
        }
    }

}

html[dir=rtl] {

    .above-the-fold {

        header {
            .social-menu li {
                float: right;
                margin-right: 0;
                margin-left: 18px;
            }
            .phone_no {
                text-align: left;

                a {
                    margin-left: 0;
                    margin-right: 20px;

                    img {
                        margin-right: 0;
                        margin-left: 10px;
                    }
                }
            }
        }

    }

    .form-wrap form fieldset input,
    .form-wrap form fieldset select {
        float: right;
        margin-right: 0;
        margin-left: 10px;
    }

    footer .social-menu li {
        float: right;
    }

}
