#footer {
    &> {

        // subscription
        div:nth-child(1) {
            margin: 1.3rem 0 !important;
            background: white;
            &>{
                div:nth-child(1) {
                    padding: 1.3rem;
                    div:nth-child(1) {
                        & > {
                            div:nth-child(1) {
                                padding-left: 0;
                                padding-right: 0;
                                &>{
                                    div {
                                        font-size: 1rem;
                                        font-family: "GothamMedium";
                                        color: rgb( 40, 40, 40 );
                                        margin-bottom: 0;
                                    }
                                }
                                
                            }
                            div:nth-child(2) {
                                text-align: right;
                                margin: auto;
                                padding-top: 0;
                                padding-left: 0;
                                padding-right: 0;
                                &>{
                                    div:nth-child(1){
                                        &>{
                                            div:nth-child(1){
                                                div {
                                                    // i {
                                                    //     opacity: 1;
                                                    //     font-size: 1.5rem;
                                                    // }
                                                    input {
                                                        font-weight: 300;
                                                        font-size: 1rem;
                                                        height: 46px;
                                                        border: 1px solid rgb( 89, 89, 89 );
                                                        &::-webkit-input-placeholder {
                                                            font-size: 11px;
                                                            font-family: "GothamBook";
                                                            color: rgb( 110, 110, 110 );
                                                        }
                                                    }
                                                }
                                            }
                                            div:nth-child(2){
                                                button {
                                                    background-color: #5d0e8b;
                                                    text-transform: capitalize;
                                                    font-size: 1.5rem;
                                                    color: white;
                                                    margin: 0
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        
                    }
                }
            }
            
        }
        
        div:nth-child(2) {
            background-color: rgb( 243, 243, 243 ); 
            &>{
                div:nth-child(1){
                    &>{
                        div:nth-child(1){
                            padding-bottom: 0;
                            padding-top: 1rem;
                            &>{
                                div:nth-child(1), div:nth-child(2), div:nth-child(3){
                                    &>{
                                        div:nth-child(1){
                                            color: rgb( 80, 80, 80 );
                                            font-size: 18px;
                                            font-weight: 300;
                                            font-family: "GothamMedium";
                                        }
                                        div:nth-child(2){
                                            div{
                                                padding: 0;
                                                padding-bottom: .4rem;
                                                &>{
                                                    a{
                                                        color: #818181;;
                                                        // font-weight: 300;
                                                        font-size: 12px;
                                                        font-family: "GothamBook";
                                                        transition: color 0.5s ease;
                                                    }
                                                    a:hover{
                                                        color: #5d0e8b;
                                                        text-decoration: underline;
                                                    }

                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        //keep in touch
        div:nth-child(3) {
            text-align: center;
            &>{
                div:nth-child(1){
                    &>{
                        div:nth-child(1){
                            padding-bottom: 0;
                            &>{
                                div:nth-child(1){
                                    margin-top: 3rem;
                                    padding-top: 0;
                                    &>{
                                        // div:nth-child(1){
                                        //     color: #000;
                                        //     font-size: 1.25rem;
                                        //     font-weight: 300;
                                        // }
                                        a{
                                            display: block;
                                            margin-bottom: 1rem;
                                            &>{
                                                img{
                                                    margin: 1rem 0;
                                                    height: 4rem;
                                                }
                                                // div:nth-child(1){
                                                //     font-size: 1rem;
                                                //     font-weight: 300;
                                                //     color: #7f7f7f;
                                                //     transition: color 0.5s ease;
                                                // }
                                                // div:nth-child(1):hover{
                                                //     color: #5d0e8b;
                                                // }
                                            }
                                            // &:nth-child(3) {
                                            //     display: block;
                                            // }
                                        }
                                        div:nth-child(2), div:nth-child(3), div:nth-child(4), div:nth-child(5){
                                            // width: 3rem;
                                            // height: 3rem;
                                            // padding: .45rem;
                                            // border-radius: 100%;
                                            text-align: center;
                                            vertical-align: middle;
                                            display: inline-block;
                                            // border: .2rem solid #7f7f7f;
                                            // color: rgba(0, 0, 0, 0.5);
                                            -webkit-transition: all .3s ease;
                                            transition: all .3s ease;
                                            font-size: 1.5rem;
                                            margin: .5rem;
                                            cursor: pointer;
                                            &>{
                                                a{
                                                    color: #5d0e8b;
                                                    transition: color 0.5s ease;
                                                    font-size: 1.3rem;
                                                }
                                            }
                                        }
                                        div:nth-child(2):hover, div:nth-child(3):hover, div:nth-child(4):hover, div:nth-child(5):hover{
                                            border: .2rem solid #5d0e8b;
                                            &>{
                                                a{
                                                    color: #5d0e8b;
                                                }
                                            }
                                        }
                                        div:nth-child(2){
                                            margin-left: 0;
                                        }
                                        // div:nth-child(10){
                                        //     margin: 0;
                                        //     &>{
                                        //         div:nth-child(1), div:nth-child(2){
                                        //             text-align: right;
                                        //             &>{
                                        //                 a {
                                        //                     &>{
                                        //                         img {
                                        //                             height: 2.7rem;
                                        //                         }
                                        //                     }
                                        //                 }
                                        //             }
                                        //         }
                                        //         div:nth-child(2){
                                        //             text-align: left;
                                        //         }
                                        //     }
                                        // }
                                    }
                                }
                                div:nth-child(2), div:nth-child(3), div:nth-child(4){
                                    &>{
                                        div:nth-child(1){
                                            color: #000;
                                            font-size: 1.25rem;
                                            font-weight: 300;
                                        }
                                        div:nth-child(2){
                                            div{
                                                padding: 0.5rem 0;
                                                &>{
                                                    a{
                                                        color: rgba(0, 0, 0, 0.5);
                                                        font-weight: 300;
                                                        font-size: .85rem;
                                                        transition: color 0.5s ease;
                                                    }
                                                    a:hover{
                                                        color: #5d0e8b;
                                                        text-decoration: underline;
                                                    }

                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        //Terms and conditions footer
        div:nth-child(4) {
            text-transform: uppercase;
            color: #7f7f7f;
            background: #fff;
            font-family: "GothamBook";
            color: rgb( 110, 110, 110 );
            // border-top: .1rem solid #e9e9e9;
            // padding: 0 0 4rem;
            overflow: hidden;

            //ui container grid
            div:nth-child(1) {
                margin-left: 0 !important;
                margin-right: 0 !important;
                &>{
                    div:nth-child(1), div:nth-child(2) {
                        padding-left: 0 !important;
                        padding-right: 0 !important;
                        &> {
                            ul {
                                text-align:center;
                                li {
                                    display: inline-block;
                                    text-align: center;
                                    margin-right: .4rem;
                                    // margin-left: 1rem;
                                    &> {
                                        a {
                                            color: rgba(0, 0, 0, 0.5);
                                            font-size: 0.5rem;
                                            font-weight: 400;
                                            transition: color 0.5s ease;
                                        }
                                        a:hover {
                                            color: #5d0e8b;
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    div:nth-child(1) {
                        &>{
                            ul {
                                padding-left: 0;
                                margin-bottom: 0;
                                margin-top: 0;
                            }
                        }
                    }
                    div:nth-child(1) {
                        padding-bottom: 0 !important;
                    }
                    div:nth-child(2) {
                        padding-top: 0 !important;
                        ul {
                            padding-left: 0;
                        }
                    }
                }
            }
        }
    }
}
