#blog_wrapper {
    margin: 0;
    width: 100%;
    padding-left: 0;
    &>{
        // div:nth-child(1){
        //     font-size: 2rem;
        //     font-family: "GothamMedium";
        //     color: rgb( 47, 47, 47 );
        //     margin: 0 1rem 1rem;
            
        // }
        div:nth-child(1){
            overflow:hidden;
            &>{
                div {
                    height: 20rem;
                    a{
                        div:nth-child(1){
                            height: 178px;
                            // width: 26rem;
                            background-repeat: no-repeat;
                            margin-bottom: 1rem;
                            background-size: cover;
                            border-radius: 7px;
                            
                        }
                        div:nth-child(2){
                            font-size: .9rem;
                            // text-transform: capitalize;
                            color: rgb(40, 40, 40);
                            font-weight: 300;
                            font-family: GothamMedium;
                        }
                        div{
                            @include for_screen( tablet ){
                                width: 21.5rem !important;
                            }
                            @include for_screen( portraitTablet ){
                                width: 16.5rem !important;
                            }
                        }
                        // div:nth-child(1):hover{
                        //     transform: translate3d(0, -20px, 0) !important;
                        //     transition: all .5s;
                        // }
                    }
                    .read {
                        position: absolute;
                        bottom: 12px;
                        a {
                            color: rgb( 102, 28, 143 );
                            font-size: 11px;
                            font-family: GothamBook;

                        }
                    }
                }
                div:nth-child(1){
                    width: 3rem;
                    padding: 1rem 0.5rem;
                    margin-left: 1rem;
                }
                div:nth-child(2){
                    // width: 7rem;
                    padding: 1rem 0.5rem;
                }
                div:nth-child(3){
                    padding: 1rem 0.5rem;
                    margin-right: 0.6rem;
                    // a{
                        // div:nth-child(1){
                        //     width: 21.4rem;
                        // }
                    // }
                }
            }
        }
    }
}
