#page_content{
    &>{
        div:nth-child(1) {
            &> {
                div:nth-child(1) {
                    &> {
                        div:nth-child(1) {
                            &> {
                                div:nth-child(1) {
                                    border-bottom: 1px solid rgb( 224, 224, 224 );
                                    margin-bottom: 3rem;
                                    h2 {
                                        &.item {
                                            color: black;
                                            font-size: 1.2rem;
                                            font-family: "GothamMedium";
                                            border: 1px solid rgb( 224, 224, 224 );
                                            border-bottom: 0;
                                        }

                                    }
                                    h2 {
                                        &.active {
                                            color: white;
                                            background-color: rgb( 94, 14, 138 );
                                        }
                                    }
                                }
                            }
                        }
                        div:nth-child(2) {
                            background: none;
                            border: none;
                            box-shadow: none;
                            &>{
                                .reveal {
                                    padding-bottom: 0rem;
                                    padding-right: 1rem;
                                    margin-bottom: 4rem;
                                    margin-right: .896rem;
                                    &>{
                                        div:nth-child(1) {
                                            background: black;
                                            overflow: hidden;
                                            border-radius: 7px;
                                            img {
                                                width: 230px;
                                                height: 178px;
                                                border-radius: 7px;
                                                object-fit: cover;
                                                opacity: 0.7;
                                            }
                                            div:nth-child(2) {
                                                position: absolute;
                                                top: 0;
                                                height: 100%;
                                                width: 100%;
                                                padding: 1rem;
                                                color: white;
                                                h5 {
                                                    font-family: "GothamBook";
                                                    margin-top: 0;
                                                    font-size: 1.1rem;
                                                    &:first-child {
                                                        font-family: "GothamBold";
                                                        margin-bottom: .2rem;
                                                        font-weight: bold;
                                                    }
                                                }
                                                span {
                                                    font-size: .7rem;
                                                    font-family: "GothamMedium";
                                                    position: absolute;
                                                    bottom: 0;
                                                    margin-bottom: 1.3rem;
                                                }
                                            }
                                            &:hover {
                                                z-index: 1!important;
                                                opacity: 0;
                                            }
                                        }
                                        div:nth-child(2) {
                                            display: flex;
                                            justify-content: center;
                                            ul {
                                                list-style: none;
                                                padding-left: 0;
                                                li {
                                                    margin-bottom: .3rem;
                                                    a {
                                                        font-size: 1rem;
                                                        font-family: "GothamBook";
                                                        width: 100%;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                            }
                        }
                        div:nth-child(3) {
                            background: none;
                            border: none;
                            box-shadow: none;
                            &>{
                                .reveal {
                                    padding-bottom: 0rem;
                                    padding-right: 1rem;
                                    margin-bottom: 6rem;
                                    margin-right: .896rem;
                                    &>{
                                        div:nth-child(1) {
                                            background: black;
                                            overflow: hidden;
                                            border-radius: 7px;
                                            img {
                                                width: 230px;
                                                height: 178px;
                                                border-radius: 7px;
                                                object-fit: cover;
                                                opacity: 0.7;
                                            }
                                            div:nth-child(2) {
                                                position: absolute;
                                                top: 0;
                                                height: 100%;
                                                width: 100%;
                                                padding: 1rem;
                                                color: white;
                                                h5 {
                                                    font-family: "GothamBook";
                                                    margin-top: 0;
                                                    font-size: 1.1rem;
                                                    &:first-child {
                                                        font-family: "GothamBold";
                                                        margin-bottom: .2rem;
                                                        font-weight: bold;
                                                    }
                                                }
                                                span {
                                                    font-size: .7rem;
                                                    font-family: "GothamMedium";
                                                    position: absolute;
                                                    bottom: 0;
                                                    margin-bottom: 1.3rem;
                                                    i {
                                                        margin-left: .2rem;
                                                    }
                                                }
                                            }
                                            &:hover {
                                                z-index: 1!important;
                                                opacity: 0;
                                            }
                                        }
                                        div:nth-child(2) {
                                            display: flex;
                                            justify-content: center;
                                            ul {
                                                list-style: none;
                                                padding-left: 0;
                                                li {
                                                    margin-bottom: .3rem;
                                                    a {
                                                        font-size: 1rem;
                                                        font-family: "GothamBook";
                                                        width: 100%;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                            }
                        }
                    }
                }
            }
        }

        div:nth-child(2) {
            padding-left: 1rem;
            padding-right: 2.7rem;
            margin-top: 0;
            padding-bottom: 3rem;
            h2 {
                width: 100%;
                border-color: rgba(34,36,38,.071);

            }
        }

        div:nth-child(3) {
            &>{
                div:nth-child(1) {
                    &>{
                        // Hot Project Section
                        div:nth-child(1) {
                            &> {
                                div:nth-child(1) {
                                    h3 {
                                        font-size: 2rem;
                                        font-family: "GothamMedium";
                                        color: rgb( 47, 47, 47 );
                                    }
                                }
                                div:nth-child(2) {
                                    display: flex;
                                    align-items: flex-end;
                                    justify-content: flex-end;
                                    a {
                                        font-size: 1.15rem;
                                        font-family: "GothamBook";
                                        color: rgb( 62, 62, 62 );
                                        padding-right: 1.2rem;
                                    }
                                }
                            }
                        }

                        // Latest Video Section
                        div:nth-child(3) {
                            &> {
                                div:nth-child(1) {
                                    h3 {
                                        font-size: 2rem;
                                        font-family: "GothamMedium";
                                        color: rgb( 47, 47, 47 );
                                    }
                                }
                                // div:nth-child(2) {
                                //     display: flex;
                                //     align-items: flex-end;
                                //     justify-content: flex-end;
                                //     a {
                                //         font-size: 1.15rem;
                                //         font-family: "GothamBook";
                                //         color: rgb( 62, 62, 62 );
                                //         padding-right: 1.2rem;
                                //     }
                                // }
                            }
                        }
                        div:nth-child(4) {
                            &>{
                                .reveal {
                                    padding: 70px;
                                    margin-bottom: 3rem;
                                    margin-right: 1.11rem;
                                    &>{
                                        // a {
                                        //     text-decoration: none;
                                        //     &>{
                                                div:nth-child(1) {
                                                    border-radius: 7px;
                                                    background: black;
                                                    overflow: hidden;
                                                    max-height: 178px;
                                                    &>{
                                                        img {
                                                            width: 100%;
                                                            height: 178px;
                                                            border-radius: 7px;
                                                            -o-object-fit: cover;
                                                            object-fit: cover;
                                                            opacity: 1;
                                                        }
                                                        .layer {
                                                            position: absolute;
                                                            padding: 1.5rem;
                                                            top: 136px;
                                                            width: 100%;
                                                            border-bottom-right-radius: 7px;
                                                            background: linear-gradient(to top, #151414,60% , transparent);
                                                            border-bottom-left-radius: 7px;
                                                        }
                                                        a {
                                                            position: absolute;
                                                            right: 37%;
                                                            top: 37%;
                                                            color: #ffffff;
                                                            font-size: 3rem;
                                                            text-decoration: none;
                                                        }

                                                        h5 {
                                                            margin-top: 0;
                                                            margin-bottom: 0;
                                                            position: absolute;
                                                            bottom: 20px;
                                                            font-family: "GothamMedium";
                                                            font-size: .9rem;
                                                            color: white;
                                                            left: 8px;
                                                        }
                                                    }
                                                }
                                        //     }
                                        // }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        div:nth-child(4) {
            margin-top: 2.5rem;
            &>{
                div:nth-child(1) {
                    &>{
                        div:nth-child(1) {
                            &> {
                                div:nth-child(1) {
                                    h3 {
                                        font-size: 2rem;
                                        font-family: "GothamMedium";
                                        color: rgb( 47, 47, 47 );
                                    }
                                }
                                div:nth-child(2) {
                                    display: flex;
                                    align-items: flex-end;
                                    justify-content: flex-end;
                                    a {
                                        font-size: 1.15rem;
                                        font-family: "GothamBook";
                                        color: rgb( 62, 62, 62 );
                                        padding-right: 1.2rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        div:nth-child(5) {
            padding-left: 1rem;
            padding-right: 2.7rem;
            margin-top: 3rem;
            padding-bottom: 3rem;
            h2 {
                width: 100%;
                border-color: rgba(34,36,38,.071);

            }
        }
    }



    .landing_listings_ad {
        img {
            height: 600px;
            border-radius: 7px;
        }
    }
    .landing_listings_ad_single {
        img {
            border-radius: 7px;
        }
    }

    #isting_leaderboard:empty {
       display: none;
    }





div:first-child {
    &> {
      div:nth-child(1) {
        &> {
          div:nth-child(3) {
            &> {
              .reveal
              {
              margin-bottom: 4rem;
               }
            }
        }
      }
    }
}
}


    div:nth-child(1){
      &> {
        div:nth-child(1){
          &> {
            div:nth-child(2){
              &> {
                 .reveal {
                   &> {
                     div:nth-child(2){
                       &> {
                          ul li a:hover {
                            text-decoration: underline; 
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }







}

// html[dir=rtl] {
//     #page_content > #quick_access_query .column > div a {
//         background-image: url('../img/qaq-arrow-ar.png');
//     }
// }
