#pages_projects_details {
    padding-bottom: 3rem;
    &>{
        //PROJECT BANNER
        div:nth-child(1){
            text-align: center;
            height: 36rem;
            max-height: 36rem;
            overflow: hidden;
            @include for_screen( hd ){
                max-height: 55rem;
                height: 55rem;
            }
            @include for_screen( tablet ){
                max-height: 29rem;
                height: 29rem;
            }
            &>{
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
                //Contact form
                div:nth-child(2){
                    z-index: 9;
                    position: absolute;
                    right: 12%;
                    margin-top: 1rem;
                    height: auto;
                    width: 21%;
                    top: 23%;
                    border-radius: 7px;
                    box-shadow: 5.665px 9.429px 38px 0px rgb( 7, 8, 8 );

                    @include for_screen(hd){
                        right: 14%;
                        width: 16%;
                        top: 25%;
                    }
                    @include for_screen(tablet){
                        margin-top: 0;
                        top: 17%;
                        width: 30%;
                        top: 12%;
                    }

                    &>{
                        div:nth-child(1){
                            padding: .6rem 2rem;
                            &>{
                                margin-top: 0;
                                padding-left: 2rem;
                                padding-right: 2rem;
                                //contact developer
                                div:nth-child(1){
                                    margin: 1rem 0.5rem 1rem 0;
                                    font-size: 18px;
                                    text-align: left;
                                    font-family: "GothamMedium";
                                    color: rgb( 53, 53, 53 );
                                    @include for_screen( hd ){
                                        font-size: 18px;
                                    }
                                    @include for_screen( tablet ){
                                        font-size: 14px;
                                    }
                                }
                                //form
                                div:nth-child(2){
                                    padding: .5rem 0;
                                    &>{
                                        form{
                                            .field {
                                                margin-bottom: .3rem;
                                                input{
                                                    border: 1px solid rgb( 222, 222, 222 );
                                                    border-radius: 7px;
                                                    margin-bottom: .3rem;
                                                    height: 40px;
                                                    font-size: 11px;
                                                    color: rgb(23, 23, 23);
                                                    font-family: "GothamBook";
                                                    padding-left: 1rem;
                                                    &::-webkit-input-placeholder {
                                                        font-size: 11px;
                                                        color: rgb(23, 23, 23);
                                                        font-family: "GothamBook";
                                                    }
                                                }
                                                &.error {
                                                    input{
                                                        border: 1px solid #9f3a38;
                                                        &::-webkit-input-placeholder {
                                                            color: #b10f0c;
                                                            -webkit-text-fill-color: initial;
                                                        }
                                                    }
                                                }

                                                input[type=tel] {
                                                    padding-left: 54px;
                                                }
                                            }

                                            .intl-tel-input.separate-dial-code .selected-dial-code {
                                                padding-left: 12px;
                                            }
                                            div:nth-child(4){
                                                margin: 0 0 .5rem 0;
                                                &>{
                                                    div {
                                                        padding: 0;
                                                        padding-top: .5rem;

                                                        button{
                                                            background-color: rgba( 211, 211, 211, .52 );
                                                            color: rgb( 151, 151, 151 );
                                                            border-radius: 7px;
                                                            font-size: 1.2rem;
                                                            font-family: 'GothamBook';
                                                            height: 37px;
                                                            line-height: 0;
                                                            text-transform: uppercase;
                                                            box-shadow: none;
                                                        }

                                                        &:first-of-type {
                                                            padding-top: 1.7rem;
                                                        }
                                                        &:nth-child(2) {
                                                            button {
                                                                line-height: 0.6;
                                                                background-color: $purple !important;
                                                                color: $white;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        //PROJECT LOGO AND RIGTH DATA
        div:nth-child(2){
            padding: 2rem 0;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            &>{
                //Project logo
                div:nth-child(1){
                    background: $white;
                    height: 14rem;
                    width: 14rem!important;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid $purple;
                    border-radius: 7px;
                    box-shadow: 0px 0px 3px 0px rgb( 7, 8, 8 );
                    padding: 0;
                    margin-left: 1rem;
                    img{
                        max-height: 13rem;
                        max-width: 13rem;
                        width: 13rem;
                        @include for_screen( tablet ){
                            width: 100%;
                        }
                        @include for_screen( portraitTablet ){
                            width: 100%;
                        }
                    }
                }
                //Title left side data
                div:nth-child(2){
                    padding-left: 0;
                    padding-bottom: 0;
                    margin-left: 4rem;
                    &>{
                        div:nth-child(1){
                            &>{
                                //breadcrumbs
                                div:nth-child(1){
                                    padding: 0;

                                }
                                //Price and Developed by
                                div:nth-child(2){
                                    padding-left: 0;
                                    display: flex;
                                    align-items: flex-end;
                                    justify-content: space-between;
                                    &>{
                                        div:nth-child(1){
                                            width: 70%;
                                            &>{

                                                div:nth-child(1){
                                                    &>{
                                                        span {
                                                            font-size: 1.7rem;
                                                            font-family: 'GothamLight';
                                                            color: rgb(53, 53, 53);
                                                            &:nth-of-type(2) {
                                                                font-weight: bold;
                                                            }
                                                        }
                                                    }
                                                }
                                                h1{
                                                    font-size: 2rem;
                                                    margin: .8rem 0 0 0;
                                                    color: rgb(53, 53, 53);
                                                    font-family: 'GothamMedium';
                                                }
                                                div:nth-child(3){
                                                    width: 20rem;
                                                    &>{
                                                        span {
                                                            font-size: .85rem;
                                                            font-family: "GothamBook";
                                                            color: rgb( 53, 53, 53 );
                                                        }
                                                    }
                                                }
                                                div:nth-child(4){
                                                    margin: .8rem 0 0;
                                                    &>{
                                                        span{
                                                            color: $red;
                                                            padding-bottom: .01rem;
                                                            border-bottom: 1px solid;
                                                            border-bottom-color: $red;
                                                            font-family: 'GothamBook';
                                                            font-size: 1rem;
                                                            &:first-child {
                                                                color: rgb(75, 75, 75);
                                                                border-bottom-color: #4b4b4b;
                                                                margin-right: .4rem;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        div:nth-child(2){
                                            width: 30%;
                                            &>{
                                                div:nth-child(1){
                                                    // width: 142px;
                                                    height: 7rem;
                                                    display: flex;
                                                    justify-content: flex-end;
                                                    align-items: center;
                                                    &>{
                                                        img {
                                                            width: 7rem;
                                                            max-height: 7rem;
                                                            max-width: 7rem;
                                                        }
                                                    }
                                                }

                                                div:nth-child(2){
                                                    margin-top: 1rem;
                                                    text-align: right;
                                                    &>{
                                                        button {
                                                            border-radius: 0.3rem;
                                                            font-size: .85rem;
                                                            font-family: "GothamBook";
                                                            font-weight: 200;
                                                            text-transform: uppercase;
                                                            width: 110px;
                                                            height: 35px;
                                                            @include for_screen( portraitTablet ){
                                                                padding: 0.7rem 0.8rem;
                                                            }
                                                            @include for_screen( tablet ){
                                                                padding: 0.7rem 0.8rem;
                                                            }
                                                            &>{
                                                                i {
                                                                    opacity: 1;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        // SECONDARY MENU
        div:nth-child(3) {
            &>{
                div:nth-child(1) {
                    div:nth-child(1) {
                        border-bottom: 1px solid rgb(229,229,229);
                        a {
                            color: rgb(46,46,46);
                            font-size: 16px;
                            font-family: 'GothamBook';
                            text-transform: uppercase;
                            &.active {
                                border-bottom: 4px solid rgb(94,45,134);
                                font-weight: normal;
                            }
                        }
                    }
                }
            }
        }


        // About Project
        div:nth-child(4) {
            margin-bottom: 2rem;
            &>{
                div:first-child {
                    &>{
                        div:nth-child(1) {
                            &> {
                                div:nth-child(1) {
                                    margin-top: 1rem;
                                    span {
                                        color: rgb( 53, 53, 53 );
                                        font-size: 1.7rem;
                                        font-family: "GothamBook";
                                        &:first-child {
                                            font-family: "GothamMedium";
                                        }
                                    }
                                }
                            }
                        }
                        div:not(:first-child) {
                            &>{
                                div:nth-child(1) {
                                    &>{
                                        div {
                                            display: inline-flex;
                                            align-items: center;
                                            &>{
                                                .bar {
                                                    width: 3px;
                                                    height: 50px;
                                                    background: rgba( 92, 26, 137, 0.12 );
                                                    margin-right: 1rem;
                                                }
                                                div:nth-child(2) {
                                                    &>{
                                                        span {
                                                            color: rgb(53, 53, 53);
                                                            font-size: 1.15rem;
                                                            font-family: 'GothamMedium';
                                                            display: block;
                                                            &:first-child {
                                                                color: rgb(62, 62, 62);
                                                                font-size: 1.1rem;
                                                                font-family: 'GothamBook';
                                                            }
                                                        }
                                                    }
                                                }
                                            }

                                            &:first-child {
                                                width: 42%;
                                            }
                                        }
                                    }
                                }
                            }
                            &:last-of-type {
                                margin-top: 3rem;
                            }
                        }
                    }
                }

                //Google maps
                div:nth-child(2) {
                    &> {
                        div:nth-child(1) {
                            padding: 1rem;
                            &>{
                                div:nth-child(1) {
                                    height: 21rem;
                                    background: #eee;
                                    border-bottom-left-radius: .5rem;
                                    border-top-left-radius: .5rem;
                                }
                            }
                            &>{
                                div:nth-child(2) {
                                    height: 21.1rem;
                                    padding: 0;
                                    background-color: rgba(238,238,238, .7);
                                    border-bottom-right-radius: .5rem;
                                    border-top-right-radius: .5rem;
                                    div{
                                        border-bottom: 1px solid #dbdbdb;
                                        height: 2.23rem;
                                        padding: .5rem;
                                        width: 100%;
                                        font-size: .6rem;
                                        font-weight: 300;
                                        &:last-child {
                                            border-bottom: none;
                                        }
                                        label{
                                            color: #7f7f7f;
                                            padding-left: 1.4rem;
                                            &::before {
                                                width: 14px;
                                                height: 14px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                }
            }
        }

        // Payment plan
        div:nth-child(5) {
            margin-bottom: 2rem;
            &>{
                div:first-child {
                    h3 {
                        font-family: 'GothamMedium';
                        font-size: 1.7rem;
                        color: rgb(40, 40, 40);

                    }
                }
                div:nth-child(2) {
                    &>{
                        div:first-child {
                            &>{
                                div {
                                    border-top: 4px solid rgb( 242, 242, 242 );
                                    border-left: 2px solid #f2f2f2;
                                    font-family: "GothamMedium";
                                    text-align: center;
                                    &>{
                                        div:first-child {
                                            &>{
                                                h4{
                                                    font-size: 2rem;
                                                    color: rgb( 0, 0, 0 );
                                                }
                                            }
                                        }
                                        div:nth-child(2) {
                                            &>{
                                                span{
                                                    font-size: .9rem;
                                                    color: rgb( 62, 62, 62 );
                                                }

                                            }
                                        }
                                    }
                                    &:nth-of-type(1) {
                                        border-left: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        // Video
        div:nth-child(6) {
            margin-bottom: 2rem;
            &>{
                div:nth-child(1) {
                    &>{
                        div:first-child {
                            display: inline-flex;
                            width: 100%;
                            &>{
                                a {
                                    font-family: "GothamMedium";
                                    color: rgb( 162, 162, 162 );
                                    font-size: 1.7rem;
                                    padding-left: 6rem;
                                    padding-right: 6rem;
                                    &.active {
                                        color: rgb( 40, 40, 40 );
                                        border-color: rgb( 92, 26, 137 );
                                    }
                                }
                            }
                        }
                        div:nth-child(2), div:nth-child(3), div:nth-child(4) {
                            height: 40rem;
                            padding: 0;
                            border-radius: 7px;
                            border: none;
                            box-shadow: none;
                            img {
                                height: 100%;
                                width: 100%;
                                border-radius: 7px;
                                object-fit: cover;
                                &:focus {
                                    outline: none;
                                }
                            }
                            .viewwer {
                                width: 100%;
                                position: absolute;
                                top: 40%;
                                display: flex;
                                justify-content: center;

                                span {
                                    font-size: 8rem;
                                    color: #fff;
                                }
                                .view-plan {
                                    font-size: 1.5rem;
                                    font-family: "GothamMedium";
                                    color: #fff;
                                    background-color: $purple;
                                    width: 16rem;
                                    border-radius: 7px;
                                    line-height: 1;
                                    box-shadow: none;
                                    &:hover {
                                        box-shadow: none !important;
                                    }
                                }
                            }

                        }
                    }
                }
            }
        }

        // Image gallery
        div:nth-child(7) {
            overflow: hidden;
            margin-bottom: 2rem;
            &>{
                div:first-child {
                    &>{
                        h3 {
                            font-family: 'GothamMedium';
                            font-size: 1.7rem;
                            color: rgb(40, 40, 40);

                        }
                    }
                }
                div:nth-child(2) {
                    &>{
                        div:nth-child(1) {
                            height: 40rem;
                            border-radius: 7px;
                            &:focus {
                                outline: none;
                            }
                            .slick-slide{
                                &>{
                                    img{
                                        width: 100%;
                                        border-radius: 7px;
                                        object-fit: cover;
                                        &:focus {
                                            outline: none;
                                        }
                                    }
                                }
                            }
                            .slick-dots {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        // Features
        div:nth-child(8) {
            margin-bottom: 2rem;
            &>{
                div:nth-child(1) {
                    &>{
                        div:first-child {
                            h3 {
                                font-family: 'GothamMedium';
                                font-size: 1.7rem;
                                color: rgb(40, 40, 40);
                                padding-bottom: 3rem;

                            }
                        }
                        div:nth-child(2) {
                            &>{
                                div:nth-child(1) {
                                    padding-top: 0;
                                    &>{
                                        div {
                                            padding-left: 0;
                                            div:first-child {
                                                font-size: 1rem;
                                                font-family: 'GothamBook';
                                                margin-bottom: 1.2rem;
                                                color: rgb(62, 62, 62);
                                                i{
                                                    margin: 0 20px 0 0;
                                                    font-size: 1.3rem;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                div:nth-child(2) {
                    height: 27rem;
                    &>{
                        div:first-child {
                            width: 100%;
                            border-radius: 0;
                            border: none;
                            background: rgba(0, 0, 0, .3);
                            background-size: cover;
                            background-blend-mode: darken;
                            height: 100%;
                            padding: 2.3rem;
                            border-radius: 7px;
                            &>{
                                div:first-child {
                                    height: 20.3rem;
                                    border: 5px solid rgba(255,255,255, 0.8) !important;
                                    margin-top: 0;
                                    border-radius: 0 !important;
                                    &>{
                                        div:first-child {
                                            &> {
                                                div:first-child {
                                                    text-align: center;
                                                    color: rgb( 255, 255, 255 );
                                                    span {
                                                        font-size: 18px;
                                                        font-family: "GothamBook";
                                                    }
                                                    h2 {
                                                        font-size: 29px;
                                                        font-family: "GothamBook";
                                                        margin-top: 5px;
                                                        margin-bottom: 4rem;
                                                    }
                                                    a.view-brochure {
                                                        font-size: 25px;
                                                        font-family: "GothamMedium";
                                                        color: $white;
                                                        border-radius: 7px;
                                                        background-color: $purple;
                                                        line-height: .3;
                                                        box-shadow: none;
                                                        &:hover {
                                                            box-shadow: none !important;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }

                                }

                            }
                        }
                    }
                }
            }
        }

        // Description
        div:nth-child(9) {
            margin-bottom: 2rem;
            &>{
                div:first-child {
                    h3 {
                        font-family: 'GothamMedium';
                        font-size: 1.7rem;
                        color: rgb(40, 40, 40);

                    }
                }
                div:nth-child(2) {
                    &>{
                        div:nth-child(1) {
                            font-size: 1.1rem;
                            font-family: "GothamBook";
                            color: rgba( 62, 62, 62, .9);
                            line-height: 1.688;
                            text-align: justify;
                            height: 7rem;
                            overflow: hidden;

                            li {
                                display: list-item !important;
                            }

                            &:not(.descriptxt-collapsed):after {
                                content: "";
                                position: absolute;
                                height: 1.5rem;
                                bottom: 34px;
                                display: block;
                                left: 0;
                                right: 0;
                                background: -webkit-gradient( linear, left top, left bottom, from(rgba(255,255,255,0.2)), to(rgba(255,255,255,0)), color-stop(.5,#fff) );
                                background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 95%);

                            }
                        }

                        div:nth-child(2) {
                            padding-top: 1rem;
                            &>{
                                a {
                                    font-size: 15px;
                                    font-family: "MerriweatherSans";
                                    color: $purple;
                                    font-weight: bold;
                                }
                                i {
                                    font-size: 15px;
                                    color: $purple;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
            }
        }

        // Completion status
        div:nth-child(10){
            &>{
                div:first-child {
                    h3 {
                        font-family: 'GothamMedium';
                        font-size: 1.7rem;
                        color: rgb(40, 40, 40);

                    }
                }
                div:nth-child(2){
                    &>{
                        div:nth-child(1) {
                            &>{
                                img {
                                    width: 100%;
                                    padding: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
        // Mortgage calculator
        div:nth-child(11) {
            margin-bottom: 2rem;
            &>{
                div:first-child {
                    // padding-left: 0;
                    &>{
                        div:first-child {
                            &>{
                                div:nth-child(1) {
                                    &>{
                                        div:first-child {
                                            h3 {
                                                font-family: 'GothamMedium';
                                                font-size: 1.7rem;
                                                color: rgb(40, 40, 40);
                                                padding-bottom: .9rem;
                                            }
                                        }
                                        div:nth-child(2) {
                                            padding-right: 3rem;
                                            span {
                                                font-size: 1.1rem;
                                                font-family: "GothamBook";
                                                color: rgb( 62, 62, 62 );
                                                line-height: 1.7;
                                                text-align: justify;
                                            }
                                        }
                                    }
                                }

                            }
                        }
                    }
                }
                div:nth-child(2) {
                    height: 25rem;
                    box-shadow: 0px 0px 7px 0px rgba( 5, 6, 6, .3 );
                    background-color: transparent;
                    border-radius: 10px;
                    &>{
                        div:nth-child(1) {
                            font-size: 2rem;
                            font-family: "GothamMedium";
                            color: rgb( 62, 62, 62 );
                        }
                        div:nth-child(2), div:nth-child(3) {
                            &>{
                                div:nth-child(1) {
                                    &>{
                                        div {
                                            label {
                                                font-size: 12px;
                                                font-family: "GothamBook";
                                                color: rgb( 62, 62, 62 );
                                                text-transform: none;
                                                // font-weight: 350;
                                            }
                                            input {
                                                border: 1px solid #dedede;
                                                border-radius: 7px;
                                                height: 46px;
                                                font-size: 13px;
                                                font-family: "GothamBook";
                                                color: #171717;
                                                font-weight: bold;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        div:nth-child(4) {
                            &>{
                                div:nth-child(1) {
                                    &>{
                                        div:nth-child(1) {
                                            &>{
                                                label {
                                                    font-size: 9px;
                                                    font-family: "GothamBook";
                                                    color: #3c4858;
                                                    text-transform: none;
                                                    &:first-child {
                                                        font-size: 9px;
                                                        font-family: "GothamBook";
                                                        color: #3c4858;
                                                        text-transform: none;
                                                        margin: 0;
                                                    }
                                                }
                                                img {
                                                    width: 180px;
                                                    height: 61px;
                                                    margin-left: -13px;
                                                }
                                            }
                                        }
                                        div:nth-child(2) {
                                            &>{
                                                button {
                                                    border-radius: 7px;
                                                    background-color: $purple;
                                                    height: 63px;
                                                    font-size: 19px;
                                                    font-family: "GothamMedium";
                                                    color: rgb( 255, 255, 255 );
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        // Similar property
        div:nth-child(12) {
            margin-bottom: 2rem;
            &>{
                div:first-child {

                    h3 {
                        font-family: 'GothamMedium';
                        font-size: 1.7rem;
                        color: rgb(40, 40, 40);

                    }
                }
            }
        }
    }
}
