#pages_projects_listings{
    &>{
        div:nth-child(1){
            &>{
                div:nth-child(1){
                    &>{
                        //New Projects in Dubai
                        div:nth-child(1){
                            padding: 1rem 0;
                            &>{
                                h1{
                                    font-size: 1.6rem;
                                    font-weight: 300;
                                    color: rgb( 60, 60, 60 );
                                    font-family: "GothamMedium";
                                }
                            }

                            div.no_results{
                                div:nth-child(1){
                                    font-size: 1rem;
                                    width: 100%;
                                    height: 100px;
                                    position: relative;
                                    overflow: hidden;
                                    &>{
                                        div{
                                            &:first-child{
                                                line-height: 2;
                                            }

                                            &:nth-child(2){
                                            padding: 1rem 0;
                                            margin: auto;
                                                &>{
                                                    button {
                                                        margin: 0 0.2rem;
                                                        border-radius: 2rem;
                                                        padding: 0.7rem 1.5rem;
                                                        font-size: 1rem;
                                                        font-family: "GothamBook";
                                                        font-weight: 200;
                                                        letter-spacing: 0.04em;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        //LIST VIEW - GRID VIEW - MAP VIEW
                        div:nth-child(2){
                            padding-bottom: 1rem;
                            button, .dropdown {
                                margin: 0 0.2rem;
                                border-radius: 2rem;
                                padding: 0.7rem 1.5rem;
                                font-family: "GothamBook";
                                font-weight: 200;
                                letter-spacing: 0.04em;
                                font-size: .8rem;
                                background-color: transparent;
                                color: rgb( 60, 60, 60 );
                                border: 1px solid rgb( 92, 13, 137 );
                                &>{
                                    i {
                                        opacity: 1;
                                    }
                                    div{
                                        .header{
                                            background: rgba(34, 36, 38, 0.1);
                                            padding: 1rem;
                                            margin: 0;
                                            color: #5d0e8b;
                                        }
                                    }
                                }
                            }
                            button:nth-child(3) {
                                display: none;
                                &>{
                                    i {
                                        opacity: 1;
                                    }
                                }
                            }
                        }

                        // Cards
                        div:nth-child(3){

                        }
                    }
                }
                //Ad and google map
                div:nth-child(2){
                    &>{
                        //google maps
                        div:nth-child(1){
                            -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.075);
                            box-shadow: 0 1px 3px rgba(0,0,0,.075);
                            border: 1px solid #d8dee2;
                            display: none;
                            div:nth-child(1){
                                width: 100%;
                                height: 40rem;
                            }

                        }
                        //Ad
                        div:nth-child(2){
                            img{
                                -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.075);
                                box-shadow: 0 1px 3px rgba(0,0,0,.075);
                                // border: 1px solid #d8dee2;
                                border: 0;
                                border-radius: 7px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
