#modal_agent_callback {
    width: 26%;
    border-radius: 7px;
    overflow: hidden;
    &>{
        i {
            top: 0;
            right: 0;
            color: rgba(0, 0, 0, 0.8);
        }
        div {
            margin-left: 0 !important;
            margin-right: 0 !important;
            margin-bottom: 0 !important;
            padding: 1.5rem 2rem;
            & > {
                
                div:nth-child(1) {
                    &>{
                        span {
                            font-family: "GothamBook";
                            color: rgb( 60, 60, 60 );
                            font-size: 1.2rem;
                            font-weight: bold;
                        }
                    }
                }
                div:nth-child(2){
                    
                    input, .ui.dropdown {
                        border: 1px solid #ddd;
                        border-radius: 4px;
                        font-family: "GothamBook";
                        color: rgb( 46, 55, 70 );
                        font-size: 12px;
                        padding: .7rem;
                        ::-webkit-input-placeholder {
                            font-size: 11px;
                            font-family: "GothamBook";
                            color: rgb( 46, 55, 70 );
                            
                        }
                    }
                    input[type=tel] {
                        padding-left: 7rem;
                        &::-webkit-input-placeholder {
                            font-size: 11px;
                            font-family: "GothamBook";
                            color: rgb( 46, 55, 70 );
                            
                        }
                    }
                    textarea {
                        border: 1px solid #ccc;
                        border-radius: 0;
                        padding: .75rem 1rem;
                        font-size: .9rem;
                        height: 4rem;
                    }
                    button{
                        width: 100%;
                        text-transform: uppercase;
                        color: #fff;
                        background-color: #5d0e8b;
                        font-size: 1rem;
                        padding: 1rem;
                        margin-right: 0;
                        border-radius: 4px;
                        font-family: "GothamBook";
                        box-shadow: none !important;
                    }
                    .label {
                        display: none;
                    }
                    .field {
                        margin: 0;
                        padding-top: 0;
                    }
                    p {
                        margin: 0 !important;
                        font-family: "GothamBook";
                        color: rgb( 128, 128, 128 );
                        font-size: .8rem;
                    }
                }
            }
        }
    }
}
// html[dir=rtl]{
//     #modal_agent_callback {
//         margin-left: -15rem;
//         // left: 50%;
//         top: 15%;
//     }
// }
