#modal_agent_email {
    width: 26%;
    border-radius: 7px;
    overflow: hidden;
    &>{
        i {
            top: 0;
            right: 0;
            color: rgba(0, 0, 0, 0.8);
        }
        div {
            margin: 1.5rem;
            &>{
                div:nth-child(1){
                    span {
                        font-family: "GothamBook";
                        color: rgb( 46, 46, 46 );
                        text-align: left;
                        font-size: 1rem;
                    }
                }
                div:nth-child(2){
                    padding-top: 0;
                    &>{
                        div:nth-child(1){
                            font-family: "GothamBook";
                            input, .ui.dropdown {
                                border: 1px solid #bababa;
                                border-radius: 4px;
                                color: rgb( 35, 42, 54 );
                                &::-webkit-input-placeholder {
                                    font-size: 12px;
                                    font-family: "GothamBook";
                                    color: rgb( 35, 42, 54 );
                                }                                
                            }
                            label {
                                margin-bottom: 1rem;
                                text-align: left;
                                
                                color: rgba(0,0,0,.6);
                            }
                            .field {
                                margin-bottom: 0;
                                padding-bottom: 0;
                            }
                            div:nth-child(1){
                                textarea{
                                    font-size: .8rem;
                                    border-radius: 0.5rem;
                                    margin-bottom: 1rem;
                                }
                                textarea:focus{
                                    background: transparent;
                                }
                            }
                            div:nth-child(3){
                                &>{
                                    div:nth-child(1), div:nth-child(2){
                                        // padding-left: 0;
                                        &>{
                                            div:nth-child(1){
                                                // padding: .5833em .833em;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                div:nth-child(3){
                    padding: 0 1rem 1rem;
                    span {
                        font-family: "GothamBook";
                        color: rgb( 109, 109, 109 );
                        text-align: left;
                        font-size: .8rem;
                    }
                }
                div:nth-child(4){
                    padding: 0;
                    text-align: center;
                    // position: absolute;
                    // bottom: 0;
                    button{
                        color: #fff;
                        background-color: #5d0e8b;
                        border-radius: 4px;
                        height: 40px;
                        font-size: 1rem;
                        margin-right: 0;
                        width: 93%;
                    }
                }
                div:nth-child(5){
                    &>{
                        div:nth-child(1){
                            &>{
                                div:nth-child(1){
                                    padding-right: 0;
                                    padding-left: 0;
                                    
                                }
                                div:nth-child(2){
                                    padding-right: 0;
                                    padding-left: 5px;
                                    &>{
                                        div:nth-child(1) {
                                            margin-bottom: .3rem;
                                            span {
                                                font-family: "GothamBook";
                                                color: rgb( 133, 133, 133 );
                                                font-size: .7rem;
                                            }
                                        }
                                        div:nth-child(2) {
                                            span {
                                                font-family: "GothamMedium";
                                                color: rgb( 73, 2, 118 );
                                                font-size: .85rem;
                                            }
                                        }
                                        div:nth-child(3) {
                                            margin-bottom: .3rem;
                                            span {
                                                font-family: "GothamBook";
                                                color: #2e2e2e;
                                                font-size: .7rem;
                                            }
                                        }
                                        p{
                                            font-family: "GothamBook";
                                            color: #2e2e2e;
                                            font-size: .7rem;
                                            span {
                                                color: #490276;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}