#guide_me {
    min-height: 100%;
    & > {

        // Map

        div:first-child {
            min-height: 100vh;
            & > div {
                width: 100%;
                height: 100vh;
            }
        }

        // Pages wrap

        div:nth-child(2) {
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: white;
            padding: 1rem;
            display: none;
            z-index: 9;
            &>{
                .amenities_content {
                    align-items: center;
                    text-align: center;
                    margin-top: 0;
                    display: none;
                    @include for_screen( iPhone5_guide_me ){
                        margin-top: 12rem !important;
                    }
                    img{
                        padding: 0.7rem;
                        width: 6rem;
                    }
                    .icon {
                        z-index: 50;
                        position: absolute;
                        margin-left: 3.5rem;
                        padding-top: 0.6rem;
                    }
                    .ui.checkbox {
                        padding: 0.5rem;
                        @include for_screen( iPhone5_guide_me ){
                            padding: 0;
                        }
                        @include for_screen( iPhone10_guide_me ){
                            // padding: 2rem 0.5rem;
                        }
                        label{
                            display: none;
                        }
                    }
                }

                .area_status_content{
                    margin-top: 0;
                    display: none;
                    &>{
                        div:nth-child(1) {
                            min-height: 0;
                            padding: 0;
                            margin: 0;
                            border: 0;
                            & > div {
                                padding: 0;
                                margin: 0;
                                overflow-x: scroll;
                                overflow-y: hidden;
                                border: 0;
                                height: 73px;
                                display: flex;
                                min-width: 100%;
                                figure {
                                    margin: 0;
                                    text-align: center;
                                    display: inline-block;
                                    padding: 1rem;
                                    border: 0;
                                    img {
                                        width: 28px;
                                        -webkit-filter: grayscale(100%);
                                        filter: grayscale(100%);
                                    }
                                    figcaption {
                                        font-size: .75rem;
                                        display: block;
                                        margin: .5rem 0 0;
                                        text-transform: capitalize;
                                    }
                                    &.active{
                                        background: #f0f0f0;
                                        border: 0;
                                        img {
                                            -webkit-filter: grayscale(0);
                                            filter: grayscale(0);
                                        }
                                        figcaption {
                                            color: $purple;
                                        }
                                    }
                                }
                                &::-webkit-scrollbar {
                                    height: 5px;
                                    background: #000;
                                    -webkit-appearance: none;
                                }
                                &::-webkit-scrollbar-thumb {
                                    background: #5d0e8b;
                                }
                                &::-webkit-scrollbar-track {
                                    background: #ccc;
                                }
                            }
                        }
                        div:nth-child(2) {
                            background: #f0f0f0;
                            padding: 1rem;
                            text-align: center;
                            margin: 1rem 0 0;
                            border-radius: .5rem;
                            line-height: 1.5rem;
                            & > div > div > {
                                div:first-child {
                                    color: red;
                                    font-size: 12px;
                                    text-transform: capitalize;
                                }
                            }
                        }
                        div:nth-child(3) {
                            border: 0;
                            box-shadow: none;
                            display: block;
                            min-height: auto;
                            a {
                                padding: .5rem 1rem;
                                background: transparent;
                                border: 1px solid $purple;
                                display: inline-block;
                                border-radius: 4px !important;
                                margin: 0;
                                font-weight: normal;
                                box-shadow: none !important;
                                text-transform: capitalize;
                                &.active {
                                    background: $purple;
                                    color: #fff;
                                }
                            }
                        }
                        div:nth-child(4), div:nth-child(5){
                            &>{
                                div:nth-child(1){
                                    height: 30vh;
                                    overflow-x: hidden;
                                    canvas{
                                        width: 100%;
                                    }
                                }
                            }
                        }
                        div:nth-child(6){
                            margin: 1rem 0 0;
                            text-align: center;
                            overflow: hidden;
                            &>{
                                p {
                                    margin: 0;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }

                .view_on_map {
                    text-align: center;
                    position: fixed;
                    bottom: 1rem;
                    width: 100%;
                    left: 0;
                    text-transform: uppercase;
                    a {
                        display: inline-block;
                        padding: 1rem 2rem;
                        border-radius: 2rem;
                        color: #fff;
                        background: #5d0e8b;
                    }
                }
            }
        }

        // Main header

        div:nth-child(3) {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            padding: 0.5rem 0.5rem 0rem 0.5rem;
            z-index: 20;
            & > {
                div:nth-child(1) {
                    margin: 0;
                    box-shadow: 0 0 5px rgba(0,0,0,0.1);
                    border-radius: 8px;
                    //overflow: hidden;
                    background: #fff;
                    border: 1px solid #e0e0e0;
                    & > div {
                        padding: 0;
                        position: relative;
                        & > div:nth-child(1) {
                            border-bottom: 1px solid #e0e0e0;
                            text-align: center;
                            color: #000;
                            font-size: 1rem;
                            padding: 1rem 0rem 0rem 0rem;
                            line-height: 1.5rem;
                            margin-bottom: 0;
                            &>div:nth-child(1){
                                a {
                                    text-align: left;
                                    display: block;
                                    height: 21px;
                                    i {
                                        color: #8c8c8c;
                                        font-size: 1.5rem;
                                        margin: 0;
                                    }
                                }
                            }
                            &>div:nth-child(2){
                                padding: 0;
                                & > div {
                                    width: 100%;
                                    input {
                                        width: 100%;
                                        border: 0;
                                        padding: 1rem;
                                        line-height: 1.8rem;
                                        text-align: center;
                                        text-transform: capitalize;
                                    }
                                    ul li {
                                        padding: .5rem;
                                        text-transform: capitalize;
                                    }
                                }
                            }
                            &>div:nth-child(3){
                                a {
                                    text-align: right;
                                    display: block;
                                    height: 21px;
                                    i {
                                        color: #8c8c8c;
                                        font-size: 1rem;
                                        margin: 0;
                                    }
                                }
                            }
                        }
                        & > div:nth-child(2) {
                            min-height: 0;
                            padding: 0;
                            margin: 0;
                            border: 0;
                            & > div {
                                padding: 0;
                                margin: 0;
                                overflow-x: scroll;
                                overflow-y: hidden;
                                border: 0;
                                height: 73px;
                                display: flex;
                                figure {
                                    margin: 0;
                                    text-align: center;
                                    display: inline-block;
                                    padding: 1rem;
                                    border: 0;
                                    img {
                                        width: 28px;
                                        -webkit-filter: grayscale(100%);
                                        filter: grayscale(100%);
                                    }
                                    figcaption {
                                        font-size: .75rem;
                                        display: block;
                                        margin: .5rem 0 0;
                                    }
                                    &.active{
                                        background: #f0f0f0;
                                        border: 0;
                                        img {
                                            -webkit-filter: grayscale(0);
                                            filter: grayscale(0);
                                        }
                                        figcaption {
                                            color: $purple;
                                        }
                                    }
                                }
                                &::-webkit-scrollbar {
                                    height: 5px;
                                    background: #000;
                                    -webkit-appearance: none;
                                }
                                &::-webkit-scrollbar-thumb {
                                    background: #5d0e8b;
                                }
                                &::-webkit-scrollbar-track {
                                    background: #ccc;
                                }
                            }
                        }
                    }
                }
                a {
                    position: absolute;
                    bottom: -20px;
                    left: 30px;
                    background: #5d0e8b;
                    color: #fff;
                    padding: .1rem .5rem .35rem;
                    border-radius: 0 0 .5rem .5rem;
                    margin: 0;
                    i {
                        margin: 0;
                        font-size: 1.1rem;
                        color: #fff;
                    }
                }
            }
        }

        // Property Card

        div:nth-child(4) {
            display: none;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 0;
            margin-bottom: 0;
            z-index: 10;
            width: 100%;
            background: #fff;
            box-shadow: 0 0 10px rgba(0,0,0,0.25);
            &>{
                a:nth-child(1){
                    text-align: right;
                    padding: .15rem .25rem .5rem;
                    position: absolute;
                    top: -14px;
                    right: 5px;
                    z-index: 11;
                    background: #fff;
                    border-radius: .5rem .5rem 0 0;
                    i{
                        font-size: 1.5rem;
                        color: #8c8c8c;
                        margin: 0;
                    }
                }
                div:nth-child(2){
                    padding: 0;
                    &>div{
                        height: 13.6rem;
                        overflow: hidden;
                        .p_c{
                            width: 100vw !important;
                            float: left;
                            height: 13.6rem;
                            .ui.segment{
                                padding: 0;
                                border: 0;
                                box-shadow: none;
                                &>{
                                    div:nth-child(1) {
                                        &>{
                                            div:nth-child(1) {
                                                width: 100%;
                                                position: relative;
                                                overflow: hidden;
                                                padding: 1rem 2rem;
                                                &>{

                                                    // Image
                                                    div:nth-child(1) {
                                                        float: left;
                                                        width: 35%;
                                                        margin-right: 0;
                                                        margin-bottom: 10px;
                                                        overflow: hidden;
                                                        max-height: 7rem;
                                                        img {
                                                            object-fit: cover;
                                                            display: block;
                                                            width: 100%;
                                                            height: 7rem;
                                                        }
                                                        &>{
                                                            div {
                                                                display: none;
                                                            }
                                                        }
                                                    }

                                                    div:nth-child(2) {
                                                        float: right;
                                                        width: 60%;
                                                        margin-bottom: 10px;
                                                        div:nth-child(1) {
                                                            &>{
                                                                // Title
                                                                div:nth-child(1){
                                                                    white-space: nowrap;
                                                                    overflow: hidden;
                                                                    text-overflow: ellipsis;
                                                                    color: #3C4858;
                                                                    margin-top: 0;
                                                                    //min-height: auto;
                                                                    margin-bottom: 3px;
                                                                    text-decoration: none;
                                                                    font-size: 1rem;
                                                                    a {
                                                                        color: inherit;
                                                                    }
                                                                }
                                                                // Category
                                                                div:nth-child(2){
                                                                    color: #3C4858;
                                                                    float: none;
                                                                    margin: 0;
                                                                    text-align: left;
                                                                    a {
                                                                        color: inherit;
                                                                    }
                                                                }
                                                                // Price
                                                                div:nth-child(3) {
                                                                    float: none;
                                                                    margin: .5rem 0;
                                                                    text-align: left;
                                                                    div:nth-child(1) {
                                                                        font-weight: 300;
                                                                        color: #e53935;
                                                                        font-size: 1.2rem;
                                                                        @include for_screen( iPhone5_guide_me ){
                                                                            font-size: 1rem;
                                                                        }
                                                                        @include for_screen( iPhone6_guide_me ){
                                                                            font-size: 1.2rem;
                                                                        }
                                                                        &>span{
                                                                            font-size: .6rem;
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                        // Features
                                                        div:nth-child(2){
                                                            margin-top: 0;
                                                            margin-bottom: 0;
                                                            color: #3C4858;
                                                            min-height: auto;
                                                            font-weight: 300;
                                                            text-decoration: none;
                                                            font-size: 0.8rem;
                                                            clear: both;
                                                            text-align: left;
                                                            i {
                                                                margin: 0;
                                                            }
                                                        }
                                                    }

                                                    // Address
                                                    div:nth-child(3) {
                                                        margin-bottom: 10px;
                                                        color: #3C4858;
                                                        margin-top: 0.75rem;
                                                        min-height: auto;
                                                        font-weight: 300;
                                                        text-decoration: none;
                                                        font-size: 0.8rem;
                                                        clear: both;
                                                        white-space: nowrap;
                                                        overflow: hidden;
                                                        text-overflow: ellipsis;
                                                        text-align: left;
                                                    }

                                                    // Buttons & Ref No.
                                                    div:nth-child(4) {
                                                        clear: both;
                                                        div:nth-child(1) {
                                                            text-align: center;
                                                            float: left;
                                                            button {
                                                                margin: 0;
                                                                border-radius: 2rem;
                                                                padding: 0.7rem;
                                                                font-size: 0.9rem;
                                                                font-family: Merriweather Sans,sans-serif;
                                                                @include for_screen( tablet ){
                                                                    padding: 0.7rem 0.6rem;
                                                                    font-size: 0.9rem;
                                                                }
                                                                @include for_screen( portraitTablet ){
                                                                    width: 100%;
                                                                    margin: 0.1rem 0;
                                                                }
                                                            }
                                                        }
                                                        div:nth-child(2) {
                                                            float: right;
                                                            &>{
                                                                p {
                                                                    float: right;
                                                                    color: #999999;
                                                                    font-weight: 300;
                                                                    font-size: 0.8rem;
                                                                    @include for_screen( iPhone5_guide_me ){
                                                                        font-size: 0.7rem;
                                                                    }
                                                                    @include for_screen( iPhone6_guide_me ){
                                                                        font-size: 0.8rem;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }

                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &>button {
                            position: absolute;
                            top: 50%;
                            z-index: 9;
                            padding: 0;
                            margin: -18px 0 0;
                            border: 0;
                            background: transparent;
                            i {
                                font-size: 2.5rem;
                                color: $purple;
                                margin: 0;
                            }
                            &.slick-prev{
                                left:-10px;
                            }
                            &.slick-next{
                                right:-10px;
                            }
                            &:focus {
                                outline: none;
                            }
                        }
                    }
                }
            }
        }

        // Rent & Buy buttons

        div:nth-child(5) {
            z-index: 7;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 0.5rem 2rem;
            & > div {
                margin: 0;
                box-shadow: 0 0 10px rgba(0,0,0,0.25);
                border-radius: 28px;
                overflow: hidden;
                & > div {
                    padding: 0;
                    button {
                        height: 100%;
                        background: #fff;
                        color: #8c8c8c;
                        font-weight: bold;
                        text-transform: uppercase;
                        font-size: 1.2rem;
                        text-align: center;
                        border-radius: 0;
                        box-shadow: none !important;
                        &.active {
                            background: #65008e;
                            color: #fff;
                        }
                    }
                    &:first-child{
                        border-right: 1px solid rgba(0,0,0,0.25);
                    }
                }
            }
        }

        // Controls

        div:nth-child(6) {
            position: absolute;
            bottom: 5rem;
            right: 1rem;
            z-index: 9;
            a {
                display: block;
                background: #fff;
                box-shadow: 0 0 10px rgba(0,0,0,0.25);
                font-size: 1.3rem;
                text-align: center;
                width: 3rem;
                height: 3rem;
                line-height: 3rem;
                border-radius: 50%;
                margin-top: .5rem;
                i{
                    margin: 0;
                    color: $purple;
                }
                img{
                    width: 22px;
                    display: inline-block;
                    margin: 10px auto 0;
                }
                span{
                    position: absolute;
                    top: -1px;
                    left: -5px;
                    min-width: 2em;
                    min-height: 2em;
                    padding: .4em !important;
                    z-index: 1;
                    i {
                        color: $white;
                        opacity: 1;
                    }
                }
            }
            div{
                display: none;
            }
        }

        // Refine form

        div:nth-child(7){
            width: 100% !important;
            background: #fff;
            margin: 0 !important;
            border: 1px solid #f0f0f0;
            box-shadow: 0 0 5px rgba(0,0,0,0.1);
            position: absolute;
            bottom: 0;
            z-index: 9;
            display: none;
            &>div{
                padding: 2rem;
                &>{
                    i {
                        opacity: 1;
                        position: absolute;
                        top: 5px;
                        right: 5px;
                        color: red;
                        margin: 0;
                    }
                    div:nth-child(2){
                        margin: 0;
                        padding: 0 !important;
                        &>{
                            input, .ui.dropdown {
                                border: 1px solid #c6c6c6;
                                border-radius: 2px;
                                overflow: hidden;
                            }
                            .ui.dropdown {
                                min-width: 11em;
                            }
                            .column {
                                padding: 0 0 1rem;
                                position: relative;
                                &>{
                                    div:nth-child(1){
                                        margin-bottom: .5rem;
                                        text-align: center;
                                        color: #737374;
                                    }
                                    div:nth-child(2){
                                        text-align: left;
                                        .column {
                                            padding: 1rem .5rem;
                                        }
                                        i{
                                            right: 0.8em;
                                            left: auto;
                                            background: #f3f3f3;
                                            color: #737374;
                                        }
                                        div{
                                            .ui.dropdown{
                                                text-align: left;
                                                -webkit-overflow-scrolling: auto;
                                                font-size: .8rem;
                                                border-radius: 0;
                                                position: relative;
                                                i{
                                                    right: 0;
                                                    background: #eee;
                                                    margin: 0;
                                                    top: 0;
                                                }
                                                .menu {
                                                    -webkit-overflow-scrolling: auto;
                                                    &>div{
                                                        font-size: .8rem;
                                                        padding: 1rem !important;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    div:nth-child(3){
                        width: 100%;
                        margin: 0;
                        &>{
                            div:nth-child(1){
                                padding: 0 .5rem;
                                button {
                                    background-color: #e53935;
                                    color: white;
                                    margin-right: 0;
                                    text-transform: uppercase;
                                    font-size: 1rem;
                                    font-weight: 700;
                                    border-radius: 0;
                                    box-shadow: none;
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}

.pac-container:after {
    background-image: none !important;
    height: 0px;
}

@-moz-keyframes pulsate {
    from {
        -moz-transform: scale(0.25);
        opacity: 1.0;
    }
    95% {
        -moz-transform: scale(1.3);
        opacity: 0;
    }
    to {
        -moz-transform: scale(0.3);
        opacity: 0;
    }
}
@-webkit-keyframes pulsate {
    from {
        -webkit-transform: scale(0.25);
        opacity: 1.0;
    }
    95% {
        -webkit-transform: scale(1.3);
        opacity: 0;
    }
    to {
        -webkit-transform: scale(0.3);
        opacity: 0;
    }
}

#guideMeMap div[title="I might be here"] {
    -moz-animation: pulsate 1.5s ease-in-out infinite;
    -webkit-animation: pulsate 1.5s ease-in-out infinite;
    border:1pt solid #fff;
    -moz-border-radius:51px;
    -webkit-border-radius:51px;
    border-radius:51px;
    -moz-box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
    -webkit-box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
    box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
    height:51px!important;
    margin:-9px 0 0 -9px;
    width:51px!important;
}
#guideMeMap div[title="I might be here"] img {
    display:none;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (device-width: 768px) {
    #guideMeMap div.gmnoprint[title="I might be here"] {
        margin:-10px 0 0 -10px;
    }
}

@media screen and (min-height: 421px) and (max-height: 480px) {

    #guide_me > div:nth-child(3) > div:nth-child(1) > div > div:nth-child(2) > div {
        height: 56px;
    }
    #guide_me > div:nth-child(3) > div:nth-child(1) > div > div:nth-child(2) > div figure {
        padding: .5rem;
    }
    #guide_me > div:nth-child(3) > div:nth-child(1) > div > div:nth-child(2) > div figure img {
        width: 20px;
    }
    #guide_me > div:nth-child(3) > div:nth-child(1) > div > div:nth-child(1) > div:nth-child(1),
    #guide_me > div:nth-child(3) > div:nth-child(1) > div > div:nth-child(1) > div:nth-child(2),
    #guide_me > div:nth-child(3) > div:nth-child(1) > div > div:nth-child(1) > div:nth-child(3) {
        padding: .6rem .5rem .3rem .5rem !important;
    }
    #guide_me > div:nth-child(3) > div:nth-child(1) > div > div:nth-child(1) > div:nth-child(2) input {
        padding: 0;
        font-size: .75rem;
    }
    #guide_me > div:nth-child(6) {
        bottom: 4rem;
    }
    #guide_me > div:nth-child(6) a {
        width: 2rem;
        height: 2rem;
        line-height: 2rem;
        font-size: .65rem;

        img {
            width: 14px;
            margin: 7px auto 0;
        }
        span {
            min-width: 1.5rem;
            height: 1.5rem;
            padding: .25rem;
        }
    }
    #guide_me > div:nth-child(5) > div > div button {
        padding: .65rem;
        font-size: 1rem;
    }

    #guide_me > div:nth-child(2) > .area_status_content > div:nth-child(1) > div {
        height: 55px;
    }
    #guide_me > div:nth-child(2) > .area_status_content > div:nth-child(1) > div figure {
        padding: 0 .5rem 1rem;
    }
    #guide_me > div:nth-child(2) > .area_status_content > div:nth-child(1) > div figure img {
        width: 20px;
    }
    #guide_me > div:nth-child(2) > .area_status_content > div:nth-child(2) > div > div > div:last-child {
        font-size: 12px;
    }
    #guide_me > div:nth-child(2) > .area_status_content > div:nth-child(4) > div:nth-child(1),
    #guide_me > div:nth-child(2) > .area_status_content > div:nth-child(5) > div:nth-child(1) {
        height: 32vh;
    }

    #guide_me > div:nth-child(2) > .view_on_map a {
        padding: .536rem 1rem;
        font-size: .75rem;
    }
    #guide_me > div:nth-child(2) > .area_status_content > div:nth-child(4) > .guide_me_price_trends_for {
        margin: .5rem 0;
        font-size: .75rem;
    }
    #area_stats_notice {
        margin: -1rem 0 0;
        font-size: .75rem;
    }
    #guide_me > div:nth-child(2) > .amenities_content {
        margin-top: 2.5rem;
    }
    #guide_me > div:nth-child(2) > .amenities_content .ui.checkbox {
        padding: 0;
    }
    #guide_me > div:nth-child(2) > .amenities_content .ui.checkbox spam {
        font-size: .75rem;
    }
    #guide_me > div:nth-child(2) > .amenities_content img {
        width: 5rem;
    }
    #guide_me > div:nth-child(7) > div {
        padding: 1rem;
    }
    #guide_me > div:nth-child(4) > div:nth-child(2) > div .p_c .ui.segment > div:nth-child(1) > div:nth-child(1) > div:nth-child(4) div:nth-child(1) button {
        padding: 0.7rem;
        font-size: 0.7rem;
    }

}

@media screen and (max-height: 420px) {

    #guide_me > div:nth-child(2) > {
        padding: 1rem 1rem 0;
        .amenities_content {
            img {
                width: 5rem;
            }
            span {
                font-size: 12px;
            }
        }
        .area_status_content {
            & > {
                div:nth-child(1) {
                    width: 5rem;
                    height: 100%;
                    float: left;
                    & > div {
                        height: auto;
                        display: block;
                        overflow-x: hidden;
                        overflow-y: auto;
                        border-right: 1px solid #f0f0f0;
                        figure {
                            width: 100%;
                            padding: .5rem;
                            img {
                                width: 20px;
                            }
                        }
                        &::-webkit-scrollbar {
                            width: 3px;
                        }
                    }
                }
                div:nth-child(2) {
                    padding: 1rem 0;
                    width: calc(100% - 12rem);
                    float: right;
                    margin: 0;
                    & > div > div > div:last-child {
                        font-size: 12px;
                    }
                }
                div:nth-child(3) {
                    float: left;
                    width: 4rem;
                    margin: 0 1rem;
                    a {
                        display: block;
                        margin: 0 0 1rem;
                    }
                }
                div:nth-child(4), div:nth-child(5) {
                    clear: right;
                    > div:nth-child(1) {
                        height: 56vh;
                        width: calc(100% - 7rem);
                        float: right;
                    }
                }
                div:nth-child(6) {
                    display: none;
                }
            }
        }
        .view_on_map {
            padding: .5rem;
            bottom: 0 !important;
            width: 7rem;
            left: 6rem;
            a {
                padding: .536rem 1rem;
                font-size: .75rem;
            }
        }
    }

    #guide_me > div:nth-child(3) > div:nth-child(1) > div > div:nth-child(2) > div {
        height: 56px;
        display: none;
        min-width: 100%;
        overflow-x: auto;
    }
    #guide_me > div:nth-child(3) > div:nth-child(1) > div > div:nth-child(2) > div figure {
        padding: .5rem;
    }
    #guide_me > div:nth-child(3) > div:nth-child(1) > div > div:nth-child(2) > div figure img {
        width: 20px;
    }
    #guide_me > div:nth-child(3) > div:nth-child(1) > div > div:nth-child(1) > div:nth-child(1),
    #guide_me > div:nth-child(3) > div:nth-child(1) > div > div:nth-child(1) > div:nth-child(2),
    #guide_me > div:nth-child(3) > div:nth-child(1) > div > div:nth-child(1) > div:nth-child(3) {
        padding: .6rem .5rem .3rem .5rem !important;
    }
    #guide_me > div:nth-child(3) > div:nth-child(1) > div > div:nth-child(1) > div:nth-child(2) input {
        padding: 0;
        font-size: .75rem;
    }

    #guide_me > div:nth-child(5) {
        width: 35%;
        padding: .5rem;
        left: 1rem;
    }
    #guide_me > div:nth-child(5) > div > div button {
        font-size: .9rem;
    }

    #guide_me > div:nth-child(6) {
        width: 61%;
        div {
            float: left;
        }
    }
    #guide_me > div:nth-child(6) {
        padding: .5rem;
        bottom: 0 !important;
        text-align: right;
        div {
            float: none;
            &.open-it {
                display: inline-block !important;
            }
        }
        a {
            width: 2.3rem;
            height: 2.3rem;
            line-height: 2.3rem;
            font-size: .9rem;
            display: inline-block;
            margin-top: 0;
            margin-left: .25rem;
            float: none;
            vertical-align: bottom;
            position: relative;
            img {
                width: 1rem;
            }
            span {
                top: -10px;
                left: -10px;
                padding: .5em !important;
            }
        }
    }

}

html[dir=rtl] {

}