#privacy_policy{
    background-color: $white;
    padding: 1rem;
    margin: 0 !important;

    &>{
        div:nth-child(1) {
            &>{
                div:nth-child(1) {
                    margin-bottom: 2rem;
                    &>{
                        h1, h5 {
                            font-family: "GothamMedium";
                        }
                        p{
                            margin-top: 0;
                            margin-bottom: 1rem;
                            font-family: "GothamBook";
                        }
                        ul{
                            &>{
                                li{
                                    font-weight: 200;
                                    font-family: "GothamBook";
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
