#reset_password{
    background: white;
    &>{
        div:nth-child(1){
            background-image: url($cdnUrl + 'img/banner/reset_password.png');
            background-position: bottom;
            background-repeat: no-repeat;
            height: 100vh;
            padding-top: 20vh;
            &>{
                div:nth-child(1){
                    &>{
                        div:nth-child(1){
                            &>{
                                div:nth-child(1){
                                    padding: 2rem;
                                    width: 30%;
                                    &>{
                                        div:nth-child(1){
                                            text-align: center;
                                            img{
                                                width: 35%;
                                            }
                                        }
                                        div:nth-child(2){
                                            div:nth-child(1){
                                                margin: 1rem;
                                                font-size: 0.9rem;
                                            }
                                            div:nth-child(2), div:nth-child(3), div:nth-child(4){
                                                padding: 0.5rem 0;
                                            }
                                        }
                                        button{
                                            margin-top: 1rem;
                                            margin-right: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
