@mixin for_screen( $screen ){

	@if $screen == iPhone5 {
		@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
		  @content;
		}
	}

	@if $screen == iPhone5_guide_me {
		@media only screen and (device-aspect-ratio: 40/71) {
		  @content;
		}
	}

	@else if $screen == iPhone6 {
		@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 2) {
		  @content;
		}
	}

	@else if $screen == iPhoneX {
		@media only screen and (device-aspect-ratio: 375/812) {
			@content;
		}
	}

	@else if $screen == iPhone6_guide_me {
		@media only screen and (device-aspect-ratio: 375/667) {
		  @content;
		}
	}

	@else if $screen == iPhone6Plus_guide_me {
		@media only screen and (device-aspect-ratio: 414/736) {
		  @content;
		}
	}

	@else if $screen == iPhone10_guide_me {
		@media only screen and (device-aspect-ratio: 375/812) {
		  @content;
		}
	}

	@else if $screen == iPhone6Plus {
		@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation : portrait) {
		  @content;
		}
	}

	@else if $screen == GalaxyS5 {
		@media only screen and (min-device-width : 360px) and (max-device-width : 640px) and (-webkit-min-device-pixel-ratio: 3) and (orientation : portrait) {
		  @content;
		}
	}

	@if $screen == mobile {
		@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
		  @content;
		}
	}

	@else if $screen == portraitTablet{

		@media only screen and ( min-width: 501px ) and ( max-width: 768px ) {

			@content;

		}
	}

	@else if $screen == mobileAndTablet{
		@media only screen and ( min-width: 320px ) and ( max-width: 768px ) {

			@content;

		}
	}

	@else if $screen == tablet{

		@media only screen and ( min-width: 768px ) and ( max-width: 1025px ) {

			@content;

		}

	}

	@else if $screen == smallDesktop{

		@media only screen and ( min-width: 992px ) and ( max-width: 1199px ) {

			@content;

		}

	}

	@else if $screen == desktop{

		@media only screen and ( min-width: 992px ) and ( max-width: 1580px ) {

			@content;

		}

	}

	@else if $screen == hd{

		@media only screen and ( min-width: 1581px ) {

			@content;

		}

	}

	@else if $screen == safariMobile{

		@media not all and (min-resolution:.001dpcm) {

			@content;

		}

	}
}
