#pages_agent_details {
    &>{
        div:nth-child(1) {
            height: 260px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            margin-bottom: 12rem;
            @include for_screen( iPhone6 ){
                margin-bottom: 15rem;
            }
            @include for_screen( GalaxyS5 ){
                margin-bottom: 15rem;
            }
            @include for_screen( iPhone6Plus ){
                margin-bottom: 17rem;
            }
            @include for_screen( iPhoneX ){
                margin-bottom: 18rem;
            }
            &:active {
                box-shadow: none !important;
            }
        }

        div:nth-child(2) {
            margin-bottom: 2rem;
            &>{
                // Img, review and language
                div:nth-child(1) {
                    text-align: center;
                    position: absolute;
                    top: 34%;
                    &>{
                        div:nth-child(1) {
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            &>{
                                div:nth-child(1) {
                                    max-width: 205px;
                                    max-height: 215px;
                                    overflow: hidden;
                                    background: $white;
                                    &>{
                                        img {
                                            height: 205px;
                                            width: 100%;
                                            box-shadow: 0px 0px 4px 0px rgb( 164, 164, 164 );
                                            padding: .2rem;
                                        }
                                    }
                                }
                            }
                        }
                        div:nth-child(2) {
                            font-size: 1rem;
                            font-family: "GothamBold";
                            color: rgb( 46, 46, 46 );
                            margin-top: 1rem;
                            margin-bottom: .8rem;
                        }
                        div:nth-child(3) {
                            display: inline-flex;
                            align-items: center;
                            &>{
                                div:nth-child(1) {
                                    margin-right: .3rem;
                                    .icon {
                                        color: rgba(0, 0, 0, 0.5);
                                        &.active {
                                            text-shadow: none !important;
                                            color: #ec8918 !important;
                                        }
                                    }
                                }
                                div:nth-child(2) {
                                    &>{
                                        span {
                                            font-size: .9rem;
                                            font-family: "GothamMedium";
                                            color: rgb( 60, 60, 60 );
                                        }
                                    }
                                }
                            }
                        }
                        div:nth-child(4) {
                            font-size: .95rem;
                            font-family: "GothamMedium";
                            color: rgb( 40, 40, 40 );
                        }
                        div:nth-child(5) {
                            font-size: .9rem;
                            font-family: "GothamBook";
                            color: rgb( 40, 40, 40 );
                            margin-top: .4rem;
                        }
                        div:nth-child(6) {
                            padding-top: .5rem;
                            &>{
                                button {
                                    font-size: .8rem;
                                    font-family: "GothamBold";
                                    text-transform: uppercase;
                                    color: $purple;
                                    border-radius: 5px;
                                    background: rgba( 73, 0, 118, 0 );
                                    border: 1px solid rgb( 0, 0, 0 );
                                    height: 35px;
                                    width: 7.5rem;
                                    line-height: 0;
                                }
                            }
                        }
                    }
                }

                // Card
                div:nth-child(2) {
                    display: inline-flex;
                    margin-top: 7rem;
                    border: 1px solid rgb( 234, 234, 234 );
                    box-shadow: 0px 0px 5px 0px rgb( 8, 9, 9 );
                    background-color: rgb( 255, 255, 255 );
                    border-radius: 7px;
                    align-items: center;
                    margin-left: 1rem;
                    margin-right: 1rem;
                    justify-content: space-around;
                    &>{
                        div:nth-child(1) {
                            &>{
                                div:nth-child(1) {
                                    font-size: 1rem;
                                    color: rgb( 60, 60, 60 );
                                }
                                div:nth-child(2) {
                                    font-size: 1rem;
                                    font-family: "GothamMedium";
                                    color: rgb( 60, 60, 60 );
                                    margin-bottom: .8rem;
                                }
                                div:nth-child(3) {
                                    font-size: .8rem;
                                    font-family: "GothamMedium";
                                    color: rgb( 60, 60, 60 );
                                    margin-bottom: .6rem;
                                    span {
                                        font-family: "GothamBook";
                                    }
                                }
                                div:nth-child(4) {
                                    &>{
                                        a {
                                            font-size: .9rem;
                                            color: $purple;
                                        }
                                    }
                                }
                            }
                        }
                        div:nth-child(2) {
                            max-width: 50%;
                            text-align: right;
                            &>{
                                img {
                                    width: 50%;
                                }
                            }
                        }
                    }
                }

                // Menu
                div:nth-child(3) {
                    &>{
                        div:nth-child(1) {
                            border-bottom: 1px solid rgb( 241, 241, 241 );
                            &>{
                               a {
                                font-family: "GothamMedium";
                                color: #939393;
                                font-size: 1rem;
                                &.active {
                                    color: #3c3c3c;
                                    border-color: $purple;
                                }
                               } 
                               span {
                                    display: flex;
                                    align-items: flex-end;
                                    color: #939393;
                                    margin-bottom: 8px;
                               }
                            }
                        }       
                    }
                }

                // Areas covered
                div:nth-child(4) {
                    margin-bottom: 1rem;
                    &>{
                        
                        div:nth-child(1) {
                            font-size: 1rem;
                            font-family: "GothamBold";
                            color: $purple;
                            margin-bottom: 1rem;
                            padding-left: 1rem;
                        }

                        div:nth-child(2) {
                            &>{
                                .column {
                                    &>{
                                        span {
                                            font-size: .9rem;
                                            font-family: "GothamBook";
                                            color: rgb( 60, 60, 60 );
                                        }
                                    }
                                }
                            }
                        }
                            
                    }
                }

                // Specialty
                div:nth-child(5) {
                    // background: rgb( 250, 250, 250 );
                    // margin-bottom: 1rem;
                    &>{
                        
                        div:nth-child(1) {
                            font-size: 1rem;
                            font-family: "GothamBold";
                            color: $purple;
                            margin-bottom: 1rem;
                            padding-left: 1rem;
                        }

                        div:nth-child(2) {
                            &>{
                                .column {
                                    &>{
                                        span {
                                            font-size: .95rem;
                                            font-family: "GothamBook";
                                            color: rgb( 60, 60, 60 );
                                        }
                                    }
                                }
                            }
                        }
                            
                    }
                }

                // Video
                div:nth-child(6) {
                    &>{
                        img {
                            width: 100%;
                            border-radius: 7px;
                            box-shadow: none;
                            border: none;
                            height: 100%;
                        }
                        a {
                            position: absolute;
                            top: 40%;
                            left: 40%;
                            i {
                                font-size: 3rem;
                            }
                        }
                    }
                }

                // About
                div:nth-child(7) {
                    &>{
                        div:nth-child(1) {
                            padding-left: 0;
                            padding-right: 0;
                            &>{
                                div:nth-child(1) {
                                    &>{
                                        div:first-child {
                                            padding-bottom: 0;
                                            padding-left: 0;
                                            h3 {
                                                font-size: 1.1rem;
                                                font-family: "GothamBold";
                                                color: rgb( 60, 60, 60 );
                        
                                            }
                                        }
                                        div:nth-child(2) {
                                            padding-left: 0;
                                            padding-right: 0;
                                            &>{
                                                div:nth-child(1) {
                                                    font-size: 1rem;
                                                    font-family: "GothamBook";
                                                    color: rgb( 60, 60, 60 );
                                                    // line-height: 1.688;
                                                    text-align: justify;
                                                    height: 9rem;
                                                    overflow: hidden;
                                                    &:not(.descriptxt-collapsed):after {
                                                        content: "";
                                                        position: absolute;
                                                        height: 1.5rem;
                                                        bottom: 34px;
                                                        display: block;
                                                        left: 0;
                                                        right: 0;
                                                        background: -webkit-gradient( linear, left top, left bottom, from(rgba(255,255,255,0.2)), to(rgba(255,255,255,0)), color-stop(.5,#fff) );
                                                        background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 95%);
                        
                                                    }
                                                }
                        
                                                div:nth-child(2) {
                                                    padding-top: 1rem;
                                                    &>{
                                                        a {
                                                            font-size: 1rem;
                                                            font-family: "GothamMedium";
                                                            color: $purple;
                                                        }
                                                        i {
                                                            font-size: 15px;
                                                            color: $purple;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                //Properties by (Agent Name)
                div:nth-child(8) {
                    &>{
                        //TITLE = SIMILAR PROPERTIES
                        div:nth-child(1) {
                            font-size: 1.1rem;
                            font-family: "GothamBold";
                            color: rgb( 60, 60, 60 );
                            padding-left: 0;
                            padding-bottom: 1rem;
                        }
                        //PROPERTY CARDS = OVERIDING FEW DEFAULT STYLES FOR 4 COLUMN CARDS
                        div:nth-child(2) {
                            padding-bottom: 3rem;
                            padding-left: 0;
                            padding-right: 0;
                        }
                    }
                }

                // Reviews
                div:nth-child(9) {
                    &>{
                        div:nth-child(1) {
                            font-size: 1.1rem;
                            font-family: "GothamBold";
                            color: rgb( 60, 60, 60 );
                            padding-left: 0;
                            &>{
                                span {
                                    color: #939393;
                                    font-family: "GothamBook";
                                }
                            }
                        }
                        div:nth-child(2) {
                            height: 43rem;
                            overflow: hidden;
                            padding-left: 0;
                            padding-right: 0;
                            .reviews {
                                border-radius: 7px;
                                border: 1px solid rgb( 216, 222, 226 );
                                box-shadow: 0.695px 0.719px 3px 0px rgb( 179, 179, 179 );
                                width: 100%;
                                flex-direction: row;
                                margin-bottom: 1.5rem;
                                // height: 13rem;
                                &>{
                                    div:nth-child(1) {
                                        display: flex;
                                        justify-content: center;
                                        &>{
                                            div:nth-child(1) {
                                                max-width: 70px;
                                                &>{
                                                    img {

                                                    }
                                                }
                                            }
                                        }
                                    }
                                    div:nth-child(2) {
                                        padding-left: 0;
                                        &>{
                                            div:nth-child(1) {
                                                font-size: 1.1rem;
                                                font-family: "GothamBold";
                                                color: rgb( 46, 46, 46 );
                                                margin-bottom: .5rem;
                                            }
                                            div:nth-child(2){
                                                display: inline-flex;
                                                align-items: center;
                                                &>{
                                                    div:nth-child(1){
                                                        .icon {
                                                            color: rgba(0,0,0,.5);
                                                            &.active {
                                                                text-shadow: none !important;
                                                                color: #ec8918 !important;
                                                            }
                                                        }
                                                    }
                                                    div:nth-child(2) {
                                                        font-size: .66rem;
                                                        color: #8e8e8e;
                                                        margin-left: .6rem;
                                                    }
                                                }
                                            }
                                            div:nth-child(3) {
                                                font-size: .8rem;
                                                color: rgb( 60, 60, 60 );
                                            }
                                        }
                                    }
                                }
                            }
                            &.load_auto {
                                height: auto;
                            }
                        }
                        div:nth-child(3){
                            margin-top: 1rem;
                            text-align: center;
                            width: 100%;
                            a{
                                font-size: .85rem;
                                color: rgb( 60, 60, 60 );
                                background: rgb( 255, 255, 255 );
                                border: 1px solid $purple;
                                box-shadow: none;
                                padding: .5rem;
                                border-radius: 7px;
                                font-family: "GothamMedium";
                                // -webkit-transition: color 0.5s ease;
                                // transition: color 0.5s ease;
                            }
                        }
                    }
                }

                // Fixed buttons
                div:nth-child(10) {
                    position: fixed;
                    bottom: 5px;
                    z-index: 5;
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    padding: 0;
                    margin: 0;
                    &>{
                        button {
                            font-family: "GothamBook";
                            font-size: 1rem;
                            width: 28%;
                            border-radius: 7px;
                            i {
                                margin: 0;
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
