#pages_agent_listings {
    &>{
        div:nth-child(1){
            &>{
                //Agents Found
                div:nth-child(1){
                    padding-left: 1.5rem;
                    h1{
                        font-size: 1.2rem;
                        font-family: "GothamMedium";
                        color: rgb( 60, 60, 60 );
                    }
                    div.no_results{
                         div:nth-child(1){
                            font-size: 0.8rem;
                            width: 100%;
                            // height: 100px;
                            position: relative;
                            overflow: hidden;
                            padding: 0.5rem;
                            &>{
                                div{
                                    &:first-child{
                                        line-height: 2;
                                    }
                                    &:nth-child(2){
                                      // padding: 1rem 0;
                                      padding: 0.5rem 0;
                                      margin: auto;
                                      text-align: center;
                                        &>{
                                            button {
                                                margin: 0 0.2rem;
                                                border-radius: 2rem;
                                                padding: 0.5rem 1rem;
                                                font-size: 0.7rem;
                                                font-family: Merriweather Sans,sans-serif;
                                                font-weight: 200;
                                                letter-spacing: 0.04em;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                //Agents listings grid
                div:nth-child(2){
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
        }
        div:nth-child(3) {
            margin-top: 0;
            &> {
                div:nth-child(1) {
                    h3 {
                        font-size: 1rem;
                        font-family: "GothamMedium";
                        color: rgb( 40, 40, 40 );
                    }
                }
                div:nth-child(2) {
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;
                    a {
                        font-size: .8rem;
                        font-family: "GothamBook";
                        color: rgb( 40, 40, 40 );
                    }
                }
            }
        }
    }
}
