#footer {
    &> {
        //keep in touch
        div:nth-child(1) {
            background-color: rgb( 243, 243, 243 ); 
            &>{
                div:nth-child(1){
                    &>{
                        div:nth-child(1){
                            padding-bottom: 3rem;
                            padding-top: 3rem;
                            &>{
                                div:nth-child(1), div:nth-child(2), div:nth-child(3){
                                    &>{
                                        h4{
                                            color: rgb( 80, 80, 80 );
                                            font-size: 18px;
                                            font-weight: 300;
                                            font-family: "GothamMedium";
                                        }
                                        div:nth-child(2){
                                            div{
                                                padding: 0;
                                                padding-bottom: .4rem;
                                                &>{
                                                    a{
                                                        color: #818181;;
                                                        // font-weight: 300;
                                                        font-size: 12px;
                                                        font-family: "GothamBook";
                                                        transition: color 0.5s ease;
                                                    }
                                                    a:hover{
                                                        color: #5d0e8b;
                                                        text-decoration: underline;
                                                    }

                                                }
                                            }
                                        }
                                    }
                                }
                                div:nth-child(4){
                                    &>{
                                        div:nth-child(1) {
                                            &>{
                                                div:nth-child(1) {
                                                    h4 {
                                                        color: rgb( 80, 80, 80 );
                                                        font-size: 18px;
                                                        font-weight: 300;
                                                        font-family: "GothamMedium";
                                                    }
                                                }
                                                div:nth-child(2) {
                                                    div {
                                                        i {
                                                            opacity: 1;
                                                            font-size: 1.5rem;
                                                        }
                                                        input {
                                                            font-weight: 300;
                                                            font-size: 1rem;
                                                            height: 43px;
                                                            border-radius: 7px;
                                                        }
                                                    }
                                                    
                                                }
                                                div:nth-child(3) {
                                                    text-align: left;
                                                    padding-top: 0;
                                                    button {
                                                        background-color: #5d0e8b;
                                                        text-transform: capitalize;
                                                        font-size: 16px;
                                                        font-family: "GothamMedium";
                                                        color: white;
                                                        margin: 0;
                                                        border-radius: 7px;
                                                        width: 50%;
                                                        height: 40px;
                                                        line-height: 0;
                                                    }
                                                }
                                            }
                                            
                                        }
                                        div:nth-child(2){
                                            &>{
                                                div:nth-child(1), div:nth-child(2){
                                                    &>{
                                                        a {
                                                            &>{
                                                                img {
                                                                    height: 2rem;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                                div:nth-child(2){
                                                    padding-left: 0;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        //Terms and conditions footer
        div:nth-child(2) {
            text-transform: uppercase;
            color: #7f7f7f;
            background: #fff;
            border-top: .1rem solid #e9e9e9;
            padding: 1rem;

            //ui container grid
            div:nth-child(1) {
                &>{
                    div:nth-child(1) {
                        &>{
                            a {

                                img {
                                    margin-top: .5rem;
                                }
                            }
                        }
                    }
                    div:nth-child(2) {
                        display: inline-flex;
                        align-items: center;
                        justify-content: flex-start;
                        &>{
                            div {
                                a {
                                    padding-right: 0.9rem;
                                    i {
                                        color: #5d0e8b;
                                        font-size: 1rem;
                                    }
                                }
                            }
                        }
                    }
                    div:nth-child(3), div:nth-child(4) {
                        &> {
                            ul {
                                @include for_screen( tablet ){
                                    padding: 0;
                                }
                                @include for_screen( portraitTablet ){
                                    padding: 0;
                                }
                                li {
                                    display: inline-block;
                                    text-align: center;
                                    margin-right: 1rem;
                                    font-size: 10px;
                                    font-family: "GothamBook";
                                    &> {
                                        a {
                                            color: rgba(0, 0, 0, 0.5);
                                            transition: color 0.5s ease;
                                            @include for_screen( portraitTablet ){
                                                font-size: 0.4rem;
                                            }
                                        }
                                        a:hover {
                                            color: #5d0e8b;
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    div:nth-child(2) {
                        &>{
                            ul {
                                padding-left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

html[dir=rtl] {
    #footer {
        &> {
            div:nth-child(3) {
                div:nth-child(1) {
                    &>{
                        div:nth-child(1), div:nth-child(2) {
                            &> {
                                ul {
                                    li {
                                        &> {
                                            a {
                                                font-size: 0.85rem;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
