#most_popular_wrapper {
    &>{
        div:nth-child(1){
            font-family: "GothamMedium";
            color: rgb( 47, 47, 47 );
            font-size: 1.2rem;
            margin: 0 0.5rem;
        }
        div:nth-child(2){
            &>{
                div:nth-child(1){
                    margin: 0;
                    overflow-x: scroll;
                    white-space: nowrap;
                    border-width: 1px;
                    &::-webkit-scrollbar {
                        display: none;
                    }
                    &>{
                        .item {
                            font-family: "GothamMedium";
                            color: #979797;
                            font-size: 1rem;
                            padding: 1em .775em;
                            margin: 0 0.35em;
                            border: 0;
                            &:first-of-type {
                                padding-left: 0;
                            }
                        }
                        .item.active {
                            color: #3f3f3f;
                            border-bottom: 2px solid $purple;

                        }
                        .item:last-child{
                            border-right: none;
                        }
                    }
                }
                // div:nth-child(1)::-webkit-scrollbar {
                //     height:5px;
                // }
                // div:nth-child(1)::-webkit-scrollbar-track {
                //     background: #ccc;
                // }
                // div:nth-child(1)::-webkit-scrollbar-thumb {
                //     background: $purple;
                // }
                .area {
                    border: none;
                    box-shadow: none;
                    margin-bottom: 0;
                    &>{
                        div {
                            h6 {
                                font-family: "GothamMedium";
                                color: rgb( 0, 0, 0 );
                                border-bottom: 1px solid rgb( 0, 0, 0 );
                                width: max-content;
                                font-size: .9rem;
                                margin-bottom: 0;
                                margin-top: .5rem;
                            }
                            ul{
                                list-style:none;
                                padding-left: 0;
                                padding-top: 0;
                                margin-bottom: 0;
                                height: 8rem;
                                overflow: hidden;
                                li{
                                    padding-bottom: .3rem;
                                    a{
                                        font-family: "GothamBook";
                                        color: rgb( 47, 47, 47 );
                                        font-size: .8rem;
                                    }
                                }
                                &.auto-height {
                                    height: auto;
                                }
                            }
                            div {
                                width: 100%;
                                text-align: right;
                                span {
                                    font-family: "GothamBook";
                                    color: rgb( 82, 0, 124 );
                                }
                                i {
                                    color: rgb( 82, 0, 124 );
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}














// #most_popular_wrapper {
//     &>{
//         div:nth-child(1){
//             color: black;
//             font-size: 1.5rem;
//             font-weight: 300;
//             margin: 0 0.5rem 1rem 0.5rem;
//         }
//         div:nth-child(2){
//             &>{
//                 div:nth-child(1){
//                     margin: 0;
//                     overflow-x: scroll;
//                     background: $white;
//                     &>{
//                         .item {
//                             padding: 1em .775em;
//                             margin: 0 0.35em;
//                             border: 0;
//                             color: #7f7f7f;
//                             border-right: 1px solid #f3f3f3;
//                         }
//                         .item.active {
//                             color: $purple;
//                         }
//                         .item:last-child{
//                             border-right: none;
//                         }
//                     }
//                 }
//                 div:nth-child(1)::-webkit-scrollbar {
//                     height:5px;
//                 }
//                 div:nth-child(1)::-webkit-scrollbar-track {
//                     background: #ccc;
//                 }
//                 div:nth-child(1)::-webkit-scrollbar-thumb {
//                     background: $purple;
//                 }
//                 div:nth-child(2){
//                     padding: 1rem 0;
//                     background-color: rgb( 255, 255, 255 );
//                     div{
//                         overflow-y: auto!important;
//                         max-height: 300px #{"/*rtl:250px*/"};
//                         ul{
//                             list-style:none;
//                             padding-left:2.25rem;
//                             li{
//                                 padding: 0.5rem 0;
//                                 float: left;
//                                 a{
//                                     color: #7f7f7f;
//                                 }
//                             }
//                         }
//                     }
//                     div::-webkit-scrollbar {
//                         width:5px;
//                     }
//                 }
//             }
//         }
//     }
// }
