#featured_card_agent {
    width: 100% !important;
    margin: 0 0 1rem -9px;
    &>{
        div:nth-child(1) {
            &>{
                div:nth-child(1) {
                    padding-left: 0;
                    padding-top: 2rem;
                    &>{
                        h3 {
                            font-size: 1.5rem;
                            font-family: "GothamMedium";
                            color: rgb( 60, 60, 60 );
                        }
                    }
                }
            }
        }
        div:nth-child(2) {
            &>{
                div:nth-child(1) {
                    width: 100%;
                    background-image: -webkit-linear-gradient(3deg, #583041 0%, #5c1a89 99%);
                    height: 90px;
                }
                div:nth-child(2) {
                    margin-right: 1rem;
                    margin-left: 1rem;
                    background-color: white;
                    border-radius: 7px !important;
                    position: relative;
                    top: -72px;
                    width: 100%;
                    &>{
                        div:nth-child(1) {
                            display: inline-flex;
                            justify-content: space-between;
                            padding-left: 3rem;
                            padding-right: 3rem;

                            &>{
                                div:nth-child(1) {
                                    display: inline-flex;
                                    &>{
                                        img {
                                            border: 1px solid rgb( 244, 244, 244 );
                                            height: 150px;
                                            width: 150px;
                                        }
                                        div:nth-child(2) {
                                            padding-left: 2rem;
                                            &>{
                                                div:nth-child(1) {
                                                    font-size: 1.2rem;
                                                    font-family: "GothamMedium";
                                                    color: rgb( 60, 72, 88 );
                                                    text-align: left;
                                                    margin-top: 1rem;
                                                    margin-bottom: .3rem;
                                                }
                                                div:nth-child(2) {
                                                    font-size: .9rem;
                                                    font-family: "GothamBook";
                                                    color: rgb( 171, 171, 171 );
                                                    text-align: left;
                                                    margin-bottom: .6rem;
                                                }
                                                div:nth-child(3) {
                                                    font-size: .8rem;
                                                    font-family: "GothamBook";
                                                    color: rgb( 99, 99, 99 );
                                                    text-align: left;
                                                    display: inline-flex;
                                                    margin-bottom: 2rem;
                                                    div:nth-child(2) {
                                                        padding-left: .3rem;
                                                    }
                                                }
                                                div:nth-child(4) {
                                                    &>{
                                                        button {
                                                            background-color: transparent;
                                                            color: $purple;
                                                            padding: 7px 10px;
                                                            font-size: 12px;
                                                            font-family: "GothamBook";
                                                            text-transform: uppercase;
                                                            border: 1px solid $purple;
                                                            border-radius: 7px;
                                                            
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                div:nth-child(2) {
                                    &>{
                                        div:nth-child(1) {
                                            &>{
                                                img {
                                                    max-width: 120px;
                                                    max-height: 100px;
                                                    width: 120px;
                                                    height: 100px;
                                                }
                                            }
                                        }
                                        div:nth-child(2) {
                                            &>{
                                                a {
                                                    font-size: .8rem;
                                                    font-family: "GothamMedium";
                                                    color: rgb( 60, 72, 88 );
                                                    border-bottom: 1px solid rgb( 60, 72, 88 );
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        
                    }
                }
            }
        }
    }
}
    