#agent_banner {
    position: relative;
    &>{
        div:nth-child(1) {
            height: 260px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        div:nth-child(2) {
            &{
                position: absolute;
                top: -100px;
                width: 100%;
                margin-top: 12rem;
                &>{
                    div {
                        &:nth-child(1){
                            &>{
                                div:nth-child(1){
                                    div:nth-child(1){
                                        h1{
                                            font-size: 2.5rem;
                                            color: white;
                                            text-shadow: 0 0 1px #000;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
