#budget_banner{
    position: relative;
    &>{
        a {
            &>{
                div {
                    height: 583px;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }
        }

        div {
            &:nth-child(2){
                position: absolute;
                top: 0;
                width: 100%;
                &>{
                    div {

                        //ui container
                        &:nth-child(1){
                            &>{
                                div:nth-child(1){
                                    //Let us know your budget
                                    div:nth-child(1){
                                        h1{
                                            margin-top: 12rem;
                                            font-size: 3rem;
                                            color: white;
                                        }
                                    }
                                    //We will pick the best property for you from the best location
                                    div:nth-child(2){
                                        h2{
                                            font-weight: 300;
                                            font-size: 2rem;
                                            color: white;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
