#services_banner {
    position: relative;
    &>{
        a {
            &> {
                div {
                    height: 27rem;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }
        }

        div {
            &:nth-child(2) {
                position: absolute;
                top: 0;
                width: 100%;
                &>{
                    div {

                        //ui container
                        &:nth-child(1){
                            &>{
                                div:nth-child(1){
                                    //Help yourself move in
                                    div:nth-child(1){
                                        h1{
                                            margin-top: 8rem;
                                            font-size: 3rem;
                                            color: white;
                                        }
                                    }
                                }

                                //ui grid
                                //Search form
                                div:nth-child(2){
                                    margin-top: 0.3rem;
                                    &>{
                                        //row
                                        div:nth-child(1){
                                            &>{

                                                //thirteen wide column
                                                div:nth-child(1){
                                                    padding-right: 0;
                                                    &>{

                                                        //sixteen wide column
                                                        div:nth-child(1){
                                                            &>{
                                                                //ui grid
                                                                div:nth-child(1){
                                                                    &>{
                                                                        div:nth-child(1), div:nth-child(2), div:nth-child(3), div:nth-child(4), div:nth-child(5) {
                                                                            .ui.selection.dropdown{
                                                                                min-width: 13.7em;
                                                                            }
                                                                            .ui.selection.active.dropdown{
                                                                                border-color: rgba(34,36,38,.15);
                                                                            }
                                                                            &>{
                                                                                .ui.dropdown.selection{
                                                                                    border-radius: 0;
                                                                                    line-height: 2em;

                                                                                    .dropdown.icon{
                                                                                        line-height: 2em;
                                                                                    }

                                                                                    .menu.transition.visible{
                                                                                        border-color: rgba(34,36,38,.15);
                                                                                        .item{
                                                                                            color: #5d0e8b;
                                                                                        }
                                                                                    }

                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }

                                                //three wide column
                                                div:nth-child(2){
                                                    &>{
                                                        button {
                                                            width: 100%;
                                                            border-radius: 0;
                                                            text-transform: uppercase;
                                                            font-size: 1rem;
                                                            letter-spacing: 0.05em;
                                                            padding: 1.25rem 0;
                                                        }
                                                        button:before, button:after{
                                                            width: 2.28571429em;
                                                            height: 2.28571429em;
                                                            margin: -1.1em 0 0 -1.1em;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
