#breadcrumbs {
    background: white;
    &>{
        div:nth-child(1) {
            padding: 1rem 0;
            &>{
                div:nth-child(1) {
                    padding: 0;
                    &>{
                        a {
                            color: rgb(151,151,151);
                            padding-left: .8rem;
                            padding-right: .8rem;
                            font-family: "GothamBook";
                            font-size: 12px;
                            transition: color 0.5s ease;
                            &:first-child {
                                padding-left: 0;
                            }
                        }

                        i {

                        }
                        a.active.section {
                            color: #5d0e8b;
                            font-weight: 500;
                            cursor: default;
                        }

                        a:hover {
                            color: #5d0e8b;
                        }
                    }
                }
            }
        }
    }
}
