#header_transparent {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    background: white;
    z-index: 20;
    width: 100%;
    position: relative;
    &>{
        div:nth-child(1){
            &>{
                div:nth-child(1){
                    margin: auto;
                    padding-left: 1rem;
                    padding-bottom: 0;
                    &>{
                        a {
                            img {
                                height: 4rem;
                            }
                    }
                    }
                }
                //fourteen wide column
                div:nth-child(2){
                    padding: 0 2.9rem 0.5rem 0;
                    //ui grid
                    &>{
                        div:nth-child(1){
                            &>{
                                //first nav
                                div:nth-child(1){
                                    padding: 1rem 1rem 0 0;
                                    &>{
                                        //ui inverted menu
                                        .menu {
                                            background: transparent;
                                            float: right;
                                            div:nth-child(1), div:nth-child(2), div:nth-child(3), div:nth-child(4), div:nth-child(5), div:nth-child(6) {
                                                padding: 1rem 0.5rem 0 0.5rem;
                                            }
                                            &>{
                                                .item {
                                                    padding-bottom: 0;
                                                    a {
                                                        padding-left: 0;
                                                        font-size: 0.8rem;
                                                        font-weight: bold;
                                                        color: #5d0e8b;
                                                        transition: color 0.5s ease;
                                                    }
                                                    a:hover{
                                                        text-decoration: underline;
                                                        color: #7f7f7f;
                                                    }
                                                }
                                                .ui.simple.dropdown.item {
                                                    border: none;
                                                    font-size: .8rem;
                                                    font-weight: bold;
                                                    color: #5d0e8b;
                                                    transition: color 0.5s ease;
                                                    box-shadow: none;
                                                    padding: 0 1.5rem;
                                                    .icon{
                                                        padding: 1rem 0;
                                                    }
                                                    .menu{
                                                        margin-top: -0.5rem;
                                                        padding: 0 0.5rem 0 0.5rem;
                                                    }
                                                    .item{
                                                        a {
                                                            font-size: .83rem;
                                                            font-weight: bold;
                                                            color: #5d0e8b;
                                                            transition: color 0.5s ease;
                                                        }
                                                        a:hover{
                                                            text-decoration: underline;
                                                            color: #7f7f7f;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                //second nav
                                .computer{
                                    padding-top: 0;
                                    padding-bottom: 0 !important;
                                    padding-right: 0;
                                    &>{
                                        //ui inverted menu
                                        .menu {
                                            background: transparent;
                                            float: right;
                                            font-family: GothamMedium;
                                            &>{
                                                .item {
                                                    font-size: .9rem !important;
                                                    padding: 0 .7rem;
                                                    font-weight: 500 !important;
                                                    @include for_screen( tablet ){
                                                        padding: 0 0.75rem;
                                                    }
                                                    @include for_screen( portraitTablet ){
                                                        padding: 0 0.75rem;
                                                    }
                                                    a {
                                                        font-size: .9rem;
                                                        font-weight: 500;
                                                        color: #5d0e8b;
                                                        transition: color 0.5s ease;
                                                    }
                                                    a:hover{
                                                        text-decoration: underline;
                                                        color: #7f7f7f;
                                                    }
                                                }
                                                .ui.dropdown.item,
                                                .ui.simple.dropdown.item,
                                                .ui.pointing.dropdown.item {
                                                    border: none;
                                                    font-size: .9rem !important;
                                                    font-weight: bold;
                                                    color: #5d0e8b;
                                                    transition: color 0.5s ease;
                                                    box-shadow: none;
                                                    .menu {
                                                        top: 85% !important;
                                                    }
                                                    .header{
                                                        margin: 1rem 0;
                                                        padding: 0.5rem 1.5rem !important;
                                                        color: rgba(0,0,0,.85);
                                                        font-size: 1em;
                                                        font-weight: 800;
                                                        text-transform: none;
                                                    }
                                                    .row{
                                                        margin: 0;
                                                        .column{
                                                            padding:0;
                                                            width: fit-content;
                                                            .link.list{
                                                                padding:0;
                                                            }
                                                        }
                                                    }
                                                    .item {
                                                        padding: 0.5rem 1.5rem !important;
                                                        a {
                                                            font-size: .9rem !important;
                                                            padding: 0 !important;
                                                            color: #3e3e3e !important;
                                                            text-transform: none !important;
                                                            font-weight: 400 !important;
                                                        }
                                                        a:hover{
                                                            text-decoration: none;
                                                        }
                                                    }
                                                    .ui.link.list .item {
                                                        padding: 0.3rem 1.5rem !important;
                                                        a {
                                                            font-size: 0.9rem!important;
                                                        }
                                                        a:hover{
                                                            text-decoration: underline;
                                                        }
                                                    }
                                                    .buttons{
                                                        margin: 0.5rem;
                                                        padding: 0.5rem 1.5rem !important;
                                                    }
                                                    .button{
                                                        font-size: 0.9rem;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                .tablet{
                                    padding-top: 0;
                                    &>{
                                        //ui inverted menu
                                        .menu {
                                            background: transparent;
                                            float: right;
                                            &>{
                                                .item {
                                                    a {
                                                        font-size: .9rem;
                                                        font-weight: bold;
                                                        color: #5d0e8b;
                                                        transition: color 0.5s ease;
                                                    }
                                                    a:hover{
                                                        text-decoration: underline;
                                                        color: #7f7f7f;
                                                    }
                                                }
                                                .ui.dropdown.item,
                                                .ui.simple.dropdown.item,
                                                .ui.pointing.dropdown.item {
                                                    border: none;
                                                    font-size: .9rem;
                                                    font-weight: bold;
                                                    color: #5d0e8b;
                                                    transition: color 0.5s ease;
                                                    box-shadow: none;
                                                    .menu{
                                                        margin-top: -0.5rem;
                                                    }
                                                    .item {
                                                        a {
                                                            font-size: .9rem;
                                                            font-weight: bold;
                                                            color: #5d0e8b;
                                                            transition: color 0.5s ease;
                                                        }
                                                        a:hover{
                                                            text-decoration: underline;
                                                            color: #7f7f7f;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.ui.inverted.menu .highightar > a:not(.ui) {color: #fff !important;}
.ui.inverted.menu .highightar {background-color: #5d0e8b !important; border-radius: 5px !important;}





#sticky_header {
    position: relative;
    background: #fff;
    min-height: 6rem !important;
    z-index: 10;
    padding-bottom: 0.3rem;
    &>{
        h2 {
            width: 100%;
            margin-left: 1rem;
            margin-right: 3.3rem;
        }
    }
}

.ui.sticky.fixed {
    position: fixed !important;
}
