#pages_services_landing {
    margin: 2rem;
    &>{
        div:nth-child(1){
            div:nth-child(1){
                div:nth-child(1){
                    a{
                        div:nth-child(1){
                            img{
                                height: 15rem;
                            }
                        }
                        div:nth-child(2){
                            position: absolute;
                            background-color: rgba(0,0,0,.2);
                            top: 47%;
                            width: 100%;
                            text-align: center;
                            padding: 0.3rem;
                            div{
                                color: white;
                                font-weight: 200;
                                padding: 0.3rem 0;
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
