#terms_and_conditions {
    &>{
        div:nth-child(1) {
            &>{
                div:nth-child(1) {
                    margin-bottom: 2rem;
                    &>{
                        p{
                            margin-bottom: 1rem;
                            line-height: 2em;
                            font-family: "GothamBook";
                        }
                        h5,h1{
                            font-size: 1.5rem;
                            font-family: "GothamMedium";
                        }
                        ul{
                            &>{
                                li{
                                    line-height: 2;
                                    font-family: "GothamBook";
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
