// CDN Variables
$cdnUrl 		:		'https://staging.zoomproperty.com/assets/';
$localUrl		:		'https://consumerfe.app/assets/';
$baseUrl		:		$cdnUrl;

// Colours
$white			:		#fff;
$black			:		#000;
$purple			:		#5d0e8b;
$light-purple	:		#ae96c2;
$green			:		#81E0A8;
$blue			:		#039be5;
$grey			:		#E9E9E9;
$dark-grey		:		#7f7f7f;
$light-grey     :       #ccc;
$off-white      :       #eee;
$red            :       #e53935;
$orange-red     :       #fa2d34;
$fb             :  		#3a589b;
$gplus			:		#d14836;
