#modal_custom_enquiry {
    max-width: 30rem;
    &>{
        i {
            top: 0;
            right: 0;
            color: rgba(0, 0, 0, 0.8);
        }
        div{
            padding: 1rem;
            &>{
                div:nth-child(1){
                    padding: 1.5rem 0.3rem 0 0;

                    &>div{
                        &>div{
                            &>div{
                                padding-bottom: 0.5rem;
                                &>label{
                                    padding-bottom: 0.3rem;
                                }
                                &>div{
                                    width: 100%;
                                    input {
                                        height: 3rem;
                                        line-height: 1.21428571em;
                                        font-family: Merriweather Sans,sans-serif;
                                        padding-top: .67857143em;
                                        padding-bottom: .67857143em;
                                        padding-right: 1em;
                                        border: 1px solid rgba(34,36,38,.15);
                                        color: rgba(0,0,0,.87);
                                        border-radius: .28571429rem;
                                        &:focus {
                                            outline: 0;
                                        }
                                    }
                                    label{
                                        font-size: 0.9em;
                                    }
                                }
                            }
                            p{
                                font-family: Merriweather Sans,sans-serif;
                                color: #5d0e8b;
                                text-align: center;
                                font-size: 1.3rem;
                                font-weight: 400;
                                line-height: 1.33em;
                                small {
                                    color: $dark-grey;
                                    font-size: .9rem;
                                    display: block;
                                    margin: 5px 0 0;
                                }
                            }
                        }
                    }
                }
                div:nth-child(2){
                    padding-top: 2.3rem;
                    button{
                        text-transform: uppercase;
                        color: #fff;
                        background-color: #5d0e8b;
                        font-size: 1rem;
                        padding: 1rem;
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

html[dir=rtl]{
    #modal_custom_enquiry{
        margin-left: -15rem;
        left: 60%;
        top: 10%;
    }
}
