#modal_general_enquiry {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    margin: 0!important;
    overflow: hidden;
    // @include for_screen( hd ){
    //   width: 33rem;
    //   top: 10rem;
    //   right: -25.5rem;
    // }
    &>{
        i {
            top: 0;
            right: 0 !important;
            left: auto !important;
            color: rgba(0, 0, 0, 0.8);
        }
        div:nth-child(2){
            &>{
                div:nth-child(1){
                    padding: 3rem 2rem 2rem 2rem;
                    background: #f0f0f0;
                    height: 8.45rem;
                    p{
                        font-family: Merriweather Sans,sans-serif;
                        color: #5d0e8b;
                        text-align: left;
                        font-weight: 400;
                        line-height: 1.33em;
                        font-size: 1rem;
                        @include for_screen( hd ){
                            font-size: 1.1rem;
                        }
                        small {
                            color: $dark-grey;
                            font-size: .9rem;
                            display: block;
                            margin: 5px 0 0;
                        }
                    }
                }

                div:nth-child(2) {
                    padding-top: 2.5rem;
                    &>{
                        div {
                            &>{
                                input {
                                    font-family: MerriweatherSans;
                                    border-radius: 2px;
                                    color: rgba(0,0,0,.8);
                                    font-size: 12px;
                                    height: 3rem;
                                    border: 1px solid #ddd;
                                    margin-bottom: 1rem;
                                    &::-webkit-input-placeholder {
                                        font-size: 12px;
                                        color: rgba(0,0,0,.4);
                                        font-family: MerriweatherSans;
                                    }
                                    &:focus {
                                        border-color: $purple;
                                    }
                                }
                            }
                            &.dropdown.selection {
                                border-radius: 2px !important;
                                border: 1px solid #ddd;
                                color: rgba(0,0,0,.8);
                                font-size: 12px;
                                height: 3rem;
                                margin-bottom: 1rem;
                                font-family: MerriweatherSans;
                                .default.text {
                                    font-size: 12px;
                                    color: rgba(0,0,0,.4);
                                    font-family: MerriweatherSans;
                                    
                                }
                            }
                            &.error {
                                input{
                                    border: 1px solid #9f3a38 !important;
                                    &::-webkit-input-placeholder {
                                        color: #b10f0c !important;
                                        -webkit-text-fill-color: initial !important;
                                    }
                                }
                            }
                        }

                        div:nth-child(3) {
                            height: 3rem;
                            margin-bottom: 1rem;
                            font-family: MerriweatherSans;
                            color: rgba(0,0,0,.8);
                            font-size: 12px;
                            input {
                                border: 1px solid #ddd;
                                height: 100%;
                                &::-webkit-input-placeholder {
                                    font-size: 12px;
                                    color: rgba(0,0,0,.4);
                                    font-family: MerriweatherSans;
                                }
                            }
                            &.error {
                                input{
                                    border: 1px solid #9f3a38 !important;
                                    &::-webkit-input-placeholder {
                                        color: #b10f0c !important;
                                        -webkit-text-fill-color: initial !important;
                                    }
                                }
                            }
                        }
                        div:nth-child(6) {
                            margin-bottom: .8rem;
                            &>{
                                div:first-child {
                                    width: 100%;
                                    input {
                                        border: 1px solid #ddd;
                                        height: 100%;
                                        height: 3rem;
                                        &::-webkit-input-placeholder {
                                            font-size: 12px;
                                            color: rgba(0,0,0,.4);
                                            font-family: MerriweatherSans;
                                        }
                                    }
                                    
                                }
                            }
                            &.error {
                                div:first-child {
                                    input{
                                        border: 1px solid #9f3a38 !important;
                                        &::-webkit-input-placeholder {
                                            color: #b10f0c !important;
                                            -webkit-text-fill-color: initial;
                                            caret-color: auto;
                                        }
                                    }
                                }
                            } 
                        }
                    }
                    
                }
                div:nth-child(3) {
                    padding: 0;
                    position: absolute;
                    bottom: 0;
                    button {
                        width: 100%;
                        text-transform: uppercase;
                        color: #fff;
                        background-color: #5d0e8b;
                        font-size: 1rem;
                        padding: 1.5rem;
                        margin-right: 0;
                    }
                }
            }    
        }            
    }               
}