#modal_mobile_signin_register {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    margin: 0!important;
    overflow: scroll;
    overflow-x: hidden !important;
    &>{
        i{
            top: -1rem;
            right: -1rem;
            color: rgba(0, 0, 0, 0.8);
            color: white;
            opacity: 1;
        }

        div:nth-child(2){
            background-color: #5d0e8b;
            &>{
                div:nth-child(1){
                    padding: 2rem;
                    color: white;
                    div:nth-child(1){
                        margin: 1.8rem 0;
                        font-size: 1rem;
                        text-align: center;
                    }
                    div:nth-child(2){
                        margin: 1.8rem 0;
                        font-size: 1rem;
                        text-align: center;
                    }
                    div:nth-child(3){
                        img{
                            height: 5rem;
                            margin: 0 auto;
                            display: block;
                        }
                    }
                }
            }
        }

        div:nth-child(3){
            &>{
                div:nth-child(1){
                    &>{
                        div:nth-child(1){
                            a.item{
                                width: 50%;
                                text-align: center;
                                border-color: transparent;
                                color: #5d0e8b;
                                text-transform: uppercase;
                                display: block;
                            }
                            a.item.active{
                                border-bottom: 2px solid #5d0e8b;
                                color: #5d0e8b;
                                font-weight: 500;
                            }
                        }
                        #modal_signin{
                            padding: 0;
                            border-left: 0;
                            border-right: 0;
                            border-bottom: 0;
                            border-top: 1px solid #ddd;
                            &>{
                                div:nth-child(1){
                                    &>{
                                        div:nth-child(1){
                                            &>{
                                                div:nth-child(1){
                                                    &>{
                                                        div{
                                                            margin: 1rem 0;
                                                            &>{
                                                                i{
                                                                    color: #5d0e8b;
                                                                    opacity: 1;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                                div:nth-child(2){
                                                    button{
                                                        color: white;
                                                        background-color: #5d0e8b;
                                                        border-radius: 6rem;
                                                        font-size: 1.2rem;
                                                        margin: 1.2rem 0;
                                                    }
                                                }

                                                div:nth-child(3){
                                                    &>{
                                                        div:nth-child(1){
                                                            padding: 0.5rem 0;
                                                            text-align: center;
                                                            p{
                                                                color: #5d0e8b;
                                                                font-weight: 300;
                                                                a{
                                                                    color: #5d0e8b;
                                                                }
                                                            }
                                                        }
                                                        div:nth-child(2){
                                                            padding: 0.5rem 0;
                                                            text-align: center;
                                                            p{
                                                                color: #7f7f7f;
                                                                font-weight: 300;
                                                            }
                                                        }
                                                        div:nth-child(3){
                                                            button{
                                                                color: white;
                                                                background-color: #3a589b;
                                                                border-radius: 6rem;
                                                                font-size: 1.2rem;
                                                                padding: 0.8rem 0.6rem;
                                                                i{
                                                                    opacity: 1;
                                                                    color:white;
                                                                    margin-right: 0;
                                                                    padding-right: 1.5rem;
                                                                }
                                                            }
                                                        }
                                                        div:nth-child(4){
                                                            button{
                                                                color: white;
                                                                background-color: #d14836;
                                                                border-radius: 6rem;
                                                                font-size: 1.2rem;
                                                                padding: 0.8rem 2rem;
                                                                i{
                                                                    opacity: 1;
                                                                    color:white;
                                                                    margin-right: 0;
                                                                    padding-right: 1.5rem;
                                                                }
                                                            }
                                                        }
                                                        div:nth-child(5){
                                                            padding: 0.5rem 0;
                                                            text-align: center;
                                                            p{
                                                                font-size: 0.9rem;
                                                                span{
                                                                    a{
                                                                        color: #5d0e8b;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        #modal_register{
                            padding: 0;
                            border-left: 0;
                            border-right: 0;
                            border-bottom: 0;
                            border-top: 1px solid #ddd;
                            &>{
                                div:nth-child(1){
                                    &>{
                                        div:nth-child(1){
                                            &>{
                                                div:nth-child(1){
                                                    &>{
                                                        div{
                                                            margin: 1rem 0;
                                                            &>{
                                                                i{
                                                                    color: #5d0e8b;
                                                                    opacity: 1;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                                //error
                                                div:nth-child(2){

                                                }
                                                //register btn
                                                div:nth-child(3){
                                                    button{
                                                        color: white;
                                                        background-color: #5d0e8b;
                                                        border-radius: 6rem;
                                                        font-size: 1.2rem;
                                                        margin: 1.2rem 0;
                                                    }
                                                }

                                                div:nth-child(4){
                                                    &>{
                                                        div:nth-child(1){
                                                            padding: 0.5rem 0;
                                                            text-align: center;
                                                            p{
                                                                color: #5d0e8b;
                                                                font-weight: 300;
                                                                a{
                                                                    color: #5d0e8b;
                                                                }
                                                            }
                                                        }
                                                        div:nth-child(2){
                                                            padding: 0.5rem 0;
                                                            text-align: center;
                                                            p{
                                                                color: #7f7f7f;
                                                                font-weight: 300;
                                                            }
                                                        }
                                                        div:nth-child(3){
                                                            button{
                                                                color: white;
                                                                background-color: #3a589b;
                                                                border-radius: 6rem;
                                                                font-size: 1.2rem;
                                                                padding: 0.8rem 2rem;
                                                                i{
                                                                    opacity: 1;
                                                                    color:white;
                                                                    margin-right: 0;
                                                                    padding-right: 1.5rem;
                                                                }
                                                            }
                                                        }
                                                        div:nth-child(4){
                                                            button{
                                                                color: white;
                                                                background-color: #d14836;
                                                                border-radius: 6rem;
                                                                font-size: 1.2rem;
                                                                padding: 0.8rem 2rem;
                                                                i{
                                                                    opacity: 1;
                                                                    color:white;
                                                                    margin-right: 0;
                                                                    padding-right: 1.5rem;
                                                                }
                                                            }
                                                        }
                                                        div:nth-child(5){
                                                            padding: 0.5rem 0;
                                                            text-align: center;
                                                            p{
                                                                font-size: 0.9rem;
                                                                span{
                                                                    a{
                                                                        color: #5d0e8b;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        #modal_forgot_password{
                            padding: 2rem 0 0;
                            border-left: 0;
                            border-right: 0;
                            border-bottom: 0;
                            border-top: 1px solid #ddd;
                            &>div:nth-child(1){
                                &>div:nth-child(1){
                                    &>{
                                        h4:nth-child(1){
                                            text-align: center;
                                            color: #5d0e8b;
                                            font-size: 1.25rem;
                                        }
                                        div:nth-child(4){
                                            button{
                                                color: white;
                                                background-color: #5d0e8b;
                                                border-radius: 6rem;
                                                font-size: 1.2rem;
                                                margin: 1.2rem 0;
                                            }
                                        }
                                        div:nth-child(5){
                                            text-align: center;
                                            div:nth-child(1){
                                                p{
                                                    a{
                                                        color: #5d0e8b;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}

#modal_mobile_signin_register::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
