nav{
    z-index: 5;
    background-color: $white;
    border-bottom: 1px solid rgba(34,36,38,.15);
    padding: 0.5rem;
    &>{
        div:nth-child(1){
            margin-left: 0;
            margin-right: 0;
            div:nth-child(1){
                margin: auto;
                text-align: left;
                a{
                    padding: 0.75rem 0.3rem !important;
                    i{
                        color: grey;
                        opacity: .5 !important;
                        font-size: 1.5rem;
                        margin: 0 !important;
                    }
                }
            }
            div:nth-child(2){
                text-align: center;
                margin: auto;
                a{
                    display: inline-block;
                    img {
                        height: 2.5rem;
                    }
                }
            }
            div:nth-child(3){
                margin: auto;
                text-align: right;
                display: inline-flex !important;
                align-items: baseline !important;
                justify-content: center !important;
                i{
                    color: grey;
                    opacity: .5 !important;
                    font-size: 1rem;
                }
                select {
                    font-size: 1rem;
                    border: none;
                    color: rgb(101, 101, 101);
                    font-family: "GothamMedium";
                    text-transform: uppercase;
                    outline: none;
                    option {
                        font-size: .8rem;
                        color: rgb(101, 101, 101);
                        outline: none;
                    }
                }
            }
        }
    }
}
