#pages_agent_details {
    &>{
        div:nth-child(1) {
            height: 260px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            display: flex;
            align-items: flex-end;
            &>{
                div:nth-child(1) {
                    display: inline-flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    padding-left: 1rem;
                    padding-right: 2rem;
                    &>{
                        div:nth-child(1) {
                            display: inline-flex;
                            align-items: center;
                            position: relative;
                            top: 2.6rem;
                            &>{
                                div:nth-child(1) {
                                    max-width: 205px;
                                    max-height: 215px;
                                    overflow: hidden;
                                    background: $white;
                                    &>{
                                        img {
                                            height: 205px;
                                            width: 100%;
                                            box-shadow: 0px 0px 4px 0px rgb( 164, 164, 164 );
                                            padding: .3rem;
                                        }
                                        
                                    }
                                }
                                div:nth-child(2) {
                                    margin-left: 1rem;
                                    &>{
                                        div:nth-child(1) {
                                            font-size: 18px;
                                            font-family: "GothamBold";
                                            color: rgb( 255, 255, 255 );
                                        }
                                        div:nth-child(2) {
                                            padding-top: .5rem;
                                            padding-bottom: .5rem;
                                            display: inline-flex;
                                            align-items: center;
                                            &>{
                                                div:nth-child(1) {
                                                    margin-right: .5rem;
                                                    .icon {
                                                        color: rgba(255,255,255,.65);
                                                        &.active {
                                                            text-shadow: none !important;
                                                            color: #ec8918 !important;
                                                        }
                                                    }
                                                }
                                                div:nth-child(2) {
                                                    span {
                                                        font-size: .8rem;
                                                        font-family: "GothamLight";
                                                        color: $white;
                                                        margin-right: .2rem;
                                                        &:last-of-type {
                                                            margin-right: .5rem;
                                                        }
                                                    }
                                                }
                                                div:nth-child(3) {
                                                    span {
                                                        font-size: .8rem;
                                                        font-family: "GothamLight";
                                                        color: $white;
                                                        margin-right: .5rem;
                                                        cursor: pointer;
                                                    }
                                                }
                                            }
                                        }
                                        div:nth-child(3) {
                                            font-size: 12px;
                                            font-family: "GothamMedium";
                                            color: rgb( 255, 255, 255 );
                                        }
                                        
                                    }
                                }
                            }
                        }
                        
                        div:nth-child(2) {
                            margin-bottom: 3rem;
                            &>{
                                div:nth-child(1) {
                                    font-size: 18px;
                                    font-family: "GothamBook";
                                    color: rgb( 255, 255, 255 );
                                }
                                div:nth-child(2) {
                                    margin-top: 1rem;
                                    &>{
                                        button {
                                            margin: 0 1rem 0 0;
                                            border-radius: 7px;
                                            padding: 0.7rem 1rem;
                                            font-size: 1rem;
                                            font-family: Merriweather Sans,sans-serif;
                                            font-weight: 200;
                                            letter-spacing: 0.04em;
                                            border: none;
                                            box-shadow: none;
                                            &>{
                                                i {
                                                    opacity: 1;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        div:nth-child(2) {
            &>{
                div:nth-child(1) {
                    &>{
                        // Menu
                        div:nth-child(1) {
                            &>{
                                div:nth-child(2) {
                                    padding-left: 1.8rem;
                                    &>{
                                        div:nth-child(1) {
                                            border-bottom: 1px solid rgb( 241, 241, 241 );
                                            &>{
                                               a {
                                                font-family: "GothamMedium";
                                                color: #939393;
                                                font-size: 1.1rem;
                                                &.active {
                                                    color: #3c3c3c;
                                                    border-bottom: none;
                                                }
                                               } 
                                               span {
                                                    display: flex;
                                                    align-items: center;
                                                    color: #939393;
                                               }
                                            }
                                        }   
                                    }
                                }       
                            }
                        }

                        // Area covered
                        div:nth-child(2) {
                            margin-bottom: 1rem;
                            border-bottom: 1px solid #f1f1f1;
                            &>{
                                div:nth-child(1) {
                                    &>{
                                        div:nth-child(1) {
                                            font-size: 1.1rem;
                                            font-family: "GothamBold";
                                            color: rgb( 60, 60, 60 );
                                            margin-bottom: 1rem;
                                        }

                                        div:nth-child(2) {
                                            &>{
                                                .column {
                                                    &>{
                                                        span {
                                                            font-size: 1rem;
                                                            font-family: "GothamBook";
                                                            color: rgb( 60, 60, 60 );
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        
                        // Specialty
                        div:nth-child(3) {
                            &>{
                                div:nth-child(1) {
                                    background: rgb( 250, 250, 250 );
                                    border-bottom: 1px solid #f1f1f1;
                                    margin-bottom: 1rem;
                                    &>{
                                        div:nth-child(1) {
                                            font-size: 1.1rem;
                                            font-family: "GothamBold";
                                            color: rgb( 60, 60, 60 );
                                            margin-bottom: 1rem;
                                        }

                                        div:nth-child(2) {
                                            &>{
                                                .column {
                                                    &>{
                                                        span {
                                                            font-size: 1rem;
                                                            font-family: "GothamBook";
                                                            color: rgb( 60, 60, 60 );
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        // about
                        div:nth-child(4) {
                            &>{
                                div:nth-child(1) {
                                    &>{
                                        img {
                                            width: 100%;
                                            border-radius: 7px;
                                            box-shadow: none;
                                            border: none;
                                            height: 100%;
                                        }
                                        a {
                                            position: absolute;
                                            top: 40%;
                                            left: 40%;
                                            i {
                                                font-size: 3rem;
                                            }
                                        }
                                    }
                                }
                                div:nth-child(2) {
                                    &>{
                                        div:nth-child(1) {
                                            &>{
                                                div:first-child {
                                                    padding-bottom: 0;
                                                    h3 {
                                                        font-size: 1.1rem;
                                                        font-family: "GothamBold";
                                                        color: rgb( 60, 60, 60 );
                                
                                                    }
                                                }
                                                div:nth-child(2) {
                                                    &>{
                                                        div:nth-child(1) {
                                                            font-size: 1rem;
                                                            font-family: "GothamBook";
                                                            color: rgb( 60, 60, 60 );
                                                            // line-height: 1.688;
                                                            text-align: justify;
                                                            height: 5.3rem;
                                                            overflow: hidden;
                                                            &:not(.descriptxt-collapsed):after {
                                                                content: "";
                                                                position: absolute;
                                                                height: 2.5rem;
                                                                bottom: 34px;
                                                                display: block;
                                                                left: 0;
                                                                right: 0;
                                                                background: -webkit-gradient( linear, left top, left bottom, from(rgba(255,255,255,0.2)), to(rgba(255,255,255,0)), color-stop(.5,#fff) );
                                                                background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 95%);
                                
                                                            }
                                                        }
                                
                                                        div:nth-child(2) {
                                                            padding-top: 1rem;
                                                            &>{
                                                                a {
                                                                    font-size: 15px;
                                                                    font-family: "GothamBook";
                                                                    color: $purple;
                                                                }
                                                                i {
                                                                    font-size: 15px;
                                                                    color: $purple;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        //Properties by (Agent Name)
                        div:nth-child(5) {
                            &>{
                                //TITLE = SIMILAR PROPERTIES
                                div:nth-child(1) {
                                    font-size: 1.1rem;
                                    font-family: "GothamBold";
                                    color: rgb( 60, 60, 60 );
                                }
                                //PROPERTY CARDS = OVERIDING FEW DEFAULT STYLES FOR 4 COLUMN CARDS
                                div:nth-child(2) {
                                    &>{
                                        div:nth-child(1) {
                                            margin-bottom: 1rem;
                                        }
                                    }
                                }
                            }
                        }

                        // Reviews
                        div:nth-child(6) {
                            margin-bottom: 1rem;
                            &>{
                                div:nth-child(1) {
                                    font-size: 1.1rem;
                                    font-family: "GothamBold";
                                    color: rgb( 60, 60, 60 );
                                    &>{
                                        span {
                                            color: #939393;
                                            font-family: "GothamBook";
                                        }
                                    }
                                }
                                div:nth-child(2) {
                                    height: 41rem;
                                    overflow: hidden;
                                    .reviews {
                                        border-radius: 7px;
                                        border: 1px solid rgb( 216, 222, 226 );
                                        box-shadow: 0.695px 0.719px 3px 0px rgb( 179, 179, 179 );
                                        width: 100%;
                                        flex-direction: row;
                                        margin-bottom: 1.5rem;
                                        height: 9rem;
                                        &>{
                                            div:nth-child(1) {
                                                display: flex;
                                                justify-content: center;
                                                &>{
                                                    div:nth-child(1) {
                                                        max-width: 70px;
                                                        &>{
                                                            img {

                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                            div:nth-child(2) {
                                                &>{
                                                    div:nth-child(1) {
                                                        font-size: 1.1rem;
                                                        font-family: "GothamBold";
                                                        color: rgb( 46, 46, 46 );
                                                        margin-bottom: .5rem;
                                                    }
                                                    div:nth-child(2){
                                                        display: inline-flex;
                                                        &>{
                                                            div:nth-child(1){
                                                                .icon {
                                                                    color: rgba(0,0,0,.5);
                                                                    &.active {
                                                                        text-shadow: none !important;
                                                                        color: #ec8918 !important;
                                                                    }
                                                                }
                                                            }
                                                            div:nth-child(2) {
                                                                font-size: .9rem;
                                                                color: #8e8e8e;
                                                                margin-left: .6rem;
                                                            }
                                                        }
                                                    }
                                                    div:nth-child(3) {
                                                        font-size: 1rem;
                                                        color: rgb( 60, 60, 60 );
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    &.load_auto {
                                        height: auto;
                                    }
                                }
                                div:nth-child(3){
                                    margin-top: 1rem;
                                    text-align: center;
                                    width: 100%;
                                    a{
                                        font-size: .85rem;
                                        color: rgb( 60, 60, 60 );
                                        background: rgb( 255, 255, 255 );
                                        border: 1px solid rgb( 216, 222, 226 );
                                        box-shadow: 0.695px 0.719px 3px 0px rgb( 179, 179, 179 );
                                        padding: .5rem;
                                        border-radius: 7px;
                                        font-family: "GothamMedium";
                                    }
                                }
                            }
                        }
                    }
                }
                div:nth-child(2) {
                    &>{
                        div:nth-child(1) {
                            &>{
                                div:nth-child(1) {
                                    display: inline-flex;
                                    margin-top: 3rem;
                                    border: 1px solid rgb( 238, 238, 238 );
                                    border-radius: 7px;
                                    align-items: center;
                                    justify-content: space-between;
                                    &>{
                                        div:nth-child(1) {
                                            &>{
                                                div:nth-child(1) {
                                                    font-size: 1rem;
                                                    color: rgb( 60, 60, 60 );
                                                }
                                                div:nth-child(2) {
                                                    font-size: 1rem;
                                                    font-family: "GothamMedium";
                                                    color: rgb( 60, 60, 60 );
                                                    margin-bottom: .8rem;
                                                }
                                                div:nth-child(3) {
                                                    font-size: .8rem;
                                                    font-family: "GothamMedium";
                                                    color: rgb( 60, 60, 60 );
                                                    margin-bottom: .6rem;
                                                    span {
                                                        font-family: "GothamBook";
                                                    }
                                                }
                                                //commented for next deployment
                                                // div:nth-child(4) {
                                                //     &>{
                                                //         a {
                                                //             font-size: .9rem;
                                                //             color: $purple;
                                                //         }
                                                //     }
                                                // }
                                            }
                                        }
                                        div:nth-child(2) {
                                            max-width: 40%;
                                            text-align: right;
                                            &>{
                                                img {
                                                    width: 80%;
                                                }
                                            }
                                        }
                                    }
                                }
                                div:nth-child(2) {
                                    padding-left: 0;
                                    padding-right: 0;
                                    &>{
                                        form {
                                            padding-right: 1rem !important;
                                            &>{
                                                div:nth-child(1) {
                                                    padding-left: 1rem !important;
                                                    padding-right: 1rem !important;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
