#pages_agent_listings {
    &>{
        div:nth-child(1){
            &>{
                //Agents Found
                div:nth-child(1){
                    h1{
                        font-size: 1.6rem;
                        font-family: "GothamMedium";
                        color: rgb( 60, 60, 60 );
                    }
                    div.no_results{
                         div:nth-child(1){
                            font-size: 1rem;
                            width: 100%;
                            height: 100px;
                            position: relative;
                            overflow: hidden;
                            &>{
                                div{
                                    &:first-child{
                                        line-height: 2;
                                    }

                                    &:nth-child(2){
                                      padding: 1rem 0;
                                      margin: auto;
                                        &>{
                                            button {
                                                margin: 0 0.2rem;
                                                border-radius: 2rem;
                                                padding: 0.7rem 1.5rem;
                                                font-size: 1rem;
                                                font-family: "GothamBook";
                                                font-weight: 200;
                                                letter-spacing: 0.04em;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                // AD
                div:nth-child(3){
                    text-align: right;
                    padding-top: 0;
                    div {
                        img {
                            -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.075);
                            box-shadow: 0 1px 3px rgba(0,0,0,.075);
                            border-radius: 7px;
                            width: 100%;
                        }
                        &:nth-of-type(2) {
                            margin-top: 2rem;
                        }
                    }
                }
            }
        }
        div:nth-child(3){
            &>{
                div:nth-child(1){
                    &>{
                        // Hot Project Section
                        div:nth-child(1) {
                            &> {
                                div:nth-child(1) {
                                    h3 {
                                        font-size: 2rem;
                                        font-family: "GothamMedium";
                                        color: rgb( 47, 47, 47 );
                                    }
                                }
                                div:nth-child(2) {
                                    display: flex;
                                    align-items: flex-end;
                                    justify-content: flex-end;
                                    a {
                                        font-size: 1.15rem;
                                        font-family: "GothamBook";
                                        color: rgb( 62, 62, 62 );
                                        padding-right: 1.2rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
