@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../real_choice/fonts/BrandonGrotesque-Bold.woff2") format("woff2"), url("../real_choice/fonts/BrandonGrotesque-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../real_choice/fonts/BrandonGrotesque-Light.woff2") format("woff2"), url("../real_choice/fonts/BrandonGrotesque-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../real_choice/fonts/BrandonGrotesque-Regular.woff2") format("woff2"), url("../real_choice/fonts/BrandonGrotesque-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../real_choice/fonts/BrandonGrotesque-Medium.woff2") format("woff2"), url("../real_choice/fonts/BrandonGrotesque-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Brandon Grotesque', Arial, Helvetica, sans-serif;
  background: #fff;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  margin: 0;
  line-height: normal;
}

strong {
  font-weight: bold;
}

::-webkit-input-placeholder {
  color: inherit;
}

::-moz-placeholder {
  color: inherit;
}

:-ms-input-placeholder {
  color: inherit;
}

:-moz-placeholder {
  color: inherit;
}

select {
  -webkit-appearance: none;
}

.above-the-fold {
  min-height: 100vh;
  position: relative;
}

.above-the-fold header {
  padding: 40px 0;
}

.above-the-fold header .branding {
  text-align: left;
}

.above-the-fold header .branding a {
  display: inline-block;
}

.above-the-fold header .phone_no {
  text-align: right;
}

.above-the-fold header .phone_no a {
  color: inherit;
  display: inline-block;
  margin-left: 30px;
  text-transform: uppercase;
}

.above-the-fold header .phone_no a img {
  display: block;
}

.above-the-fold header .phone_no a.only_mobile {
  display: none;
}

.above-the-fold header .phone_no a.only_computer {
  display: inline-block;
}

.above-the-fold header .phone_no a:last-child {
  background: rgba(0, 0, 0, 0.5);
  padding: 0 15px;
  border-radius: 22px;
  font-size: 1rem;
  color: #fff;
  vertical-align: top;
  line-height: 45px;
}

.above-the-fold .banner .text {
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 2.5rem;
}

.above-the-fold .banner .text > img {
  height: 9rem;
}

.above-the-fold .banner .text > img.zj-nikki-beach-residences {
  height: 5rem;
}

.above-the-fold .banner .text > img.zj-bluewaters-residences {
  height: 3rem;
}

.above-the-fold .banner .text > img.zj-bvlgari {
  height: 4rem;
}

.above-the-fold .banner .text > img.zj-cherrywoods {
  height: 3rem;
}

.above-the-fold .banner .text > img.zj-port-de-la-mer {
  height: 6rem;
}

.above-the-fold .banner .text h2 {
  color: #ffffff;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 2px;
  margin: 1.5rem 0;
}

.above-the-fold .banner .text h2 span {
  color: #ebd79c;
  display: block;
  font-size: 2.5rem;
  letter-spacing: normal;
}

.above-the-fold .banner .text h3 {
  color: #ffffff;
  font-size: 2rem;
  line-height: 2rem;
}

.above-the-fold .banner .text h3 span {
  font-size: 1.25rem;
  display: block;
  color: #ebd79c;
}

.above-the-fold .banner .form fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

.above-the-fold .banner .form fieldset select, .above-the-fold .banner .form fieldset input[type=text], .above-the-fold .banner .form fieldset input[type=email] {
  border: 0;
  border-bottom: 1px solid #efefef;
  background: transparent;
  padding: 1rem;
  color: #ebd79c;
  width: calc(40% - 1rem);
  margin: 0 2rem;
  border-radius: 0;
}

.above-the-fold .banner .form fieldset select:focus, .above-the-fold .banner .form fieldset input[type=text]:focus, .above-the-fold .banner .form fieldset input[type=email]:focus {
  outline: none;
}

.above-the-fold .banner .form fieldset .intl-tel-input {
  border-bottom: 1px solid #efefef;
  width: calc(40% - 1rem);
  margin: 0 2rem;
}

.above-the-fold .banner .form fieldset .intl-tel-input .flag-container {
  padding: 0;
}

.above-the-fold .banner .form fieldset .intl-tel-input .flag-container .selected-flag {
  padding: 0;
  color: #ebd79c;
  width: 55px;
}

.above-the-fold .banner .form fieldset .intl-tel-input .flag-container .selected-flag .iti-flag {
  display: none;
}

.above-the-fold .banner .form fieldset .intl-tel-input .flag-container .selected-flag .selected-dial-code {
  padding: 0;
}

.above-the-fold .banner .form fieldset .intl-tel-input .flag-container .selected-flag .iti-arrow {
  border-top-color: #fff;
}

.above-the-fold .banner .form fieldset .intl-tel-input input {
  padding: 1rem;
  background: none;
  border: 0;
  color: #ebd79c;
  max-width: 100%;
  padding-left: 65px !important;
}

.above-the-fold .banner .form fieldset .intl-tel-input input:focus {
  outline: none;
}

.above-the-fold .banner .form fieldset input[type=submit] {
  background: #ebd79c;
  border: 0;
  text-transform: uppercase;
  color: #000000;
  width: auto;
  padding: 1rem 2.5rem;
  cursor: pointer;
}

.above-the-fold .banner .form fieldset:last-child {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 2.5rem 0 6rem;
}

.above-the-fold .projects-tabs {
  margin-bottom: 1rem;
  background: #000000;
}

.above-the-fold .projects-tabs .slick-slide {
  background: #ffffff;
}

.above-the-fold .projects-tabs .slick-slide a:focus {
  outline: none;
}

.above-the-fold .projects-tabs .slick-slide .logo {
  display: block;
  text-align: center;
  height: 11rem;
  line-height: 11rem;
}

.above-the-fold .projects-tabs .slick-slide .logo img {
  display: inline-block;
  height: 50px;
  vertical-align: middle;
}

.above-the-fold .projects-tabs .slick-slide .logo img.zj-cherrywoods {
  height: auto;
  max-width: 70%;
}

.above-the-fold .projects-tabs .slick-slide .logo img.zj-la-rive-port-de-la-mer {
  height: 5rem;
}

.above-the-fold .projects-tabs .slick-slide .thumb {
  display: block;
  text-align: center;
  overflow: hidden;
}

.above-the-fold .projects-tabs .slick-slide .thumb img {
  width: 100%;
  max-width: 100%;
}

.above-the-fold .projects-tabs .slick-slide.even {
  background: #f6f6f6;
}

.above-the-fold .projects-tabs .slick-arrow {
  position: absolute;
  top: 0;
  z-index: 9;
  border: 0;
  background: rgba(0, 0, 0, 0.5);
  text-indent: -9999px;
  width: 40px;
  height: 80px;
}

.above-the-fold .projects-tabs .slick-arrow.slick-prev {
  left: 0;
  background: rgba(0, 0, 0, 0.8) url("img/arrows2.png") 12px center no-repeat;
}

.above-the-fold .projects-tabs .slick-arrow.slick-next {
  right: 0;
  background: rgba(0, 0, 0, 0.8) url("img/arrows2.png") -690px center no-repeat;
}

.above-the-fold .projects-tabs .slick-arrow:focus {
  outline: none;
}

.above-the-fold:before {
  content: '';
  display: block;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background: #000000;
}

.above-the-fold .background-banner {
  display: block;
  width: 50%;
  height: calc(100% - 320px);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  background: red;
}

.payment-plans {
  background: #efdeac;
  padding: 8rem 0;
}

.payment-plans h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;
  margin: 0 0 3rem;
}

.payment-plans .box-wrap {
  text-align: center;
}

.payment-plans .box-wrap .box {
  display: inline-block;
  margin: 0 2rem 4rem;
  width: calc(32% - 4rem);
}

.payment-plans .box-wrap .box .label {
  display: block;
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
}

.payment-plans .box-wrap .box .amount {
  background: #000000;
  width: 10rem;
  height: 4.5rem;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  display: block;
  font-size: 3rem;
  line-height: 4.5rem;
  margin: .8rem auto;
}

.payment-plans p {
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 300;
}

.about-text {
  background: #efefef;
  text-align: center;
  padding: 5rem 0 3rem;
}

.about-text h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 1.5rem;
}

.about-text p {
  font-size: 1.2rem;
  color: #000000;
  margin: 0 0 1.5rem;
}

.about-text hr {
  border: 0;
  border-bottom: 1px solid #a9a9a9;
  background: none;
  padding: 1.5rem 0 0;
  margin: 0 0 3rem;
}

.about-text .features {
  text-align: center;
}

.about-text .features span {
  font-size: 1rem;
  font-weight: bold;
  display: inline-block;
  margin: 0 1rem 2rem;
}

.about-text .features span img {
  display: block;
  margin: 0 auto 1.25rem;
  height: 3rem;
}

.slider .slick-slide {
  height: 35rem;
  background-size: cover !important;
}

.medias {
  padding: 4rem 0;
}

.medias figure {
  position: relative;
  background: #f5f5f5;
  margin: 0;
  line-height: 0;
  height: 35rem;
  overflow: hidden;
}

.medias figure img {
  display: block;
  width: 100%;
}

.medias figure .play.icon {
  width: 100px;
  height: 75px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  margin: 0;
}

.medias figure .play.icon:before {
  display: none;
}

.medias figure .ui.video.active .placeholder,
.medias figure .ui.video.active .play {
  display: none;
}

.medias figure .ui.video.active .embed {
  display: inline;
}

.medias figure .ui.video .embed iframe {
  position: absolute;
  border: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.medias .floor-plans h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 1.5rem;
}

.medias .floor-plans .menu {
  overflow-x: auto;
}

.medias .floor-plans .menu .item {
  padding: 0;
  border: 0;
  border-bottom: 3px solid #ffffff;
  margin: 0 2rem;
  font-size: 1rem;
  font-weight: normal;
  color: #7a7a7a;
}

.medias .floor-plans .menu .item.active {
  border-color: #ebd79c;
  color: inherit;
  font-weight: normal;
  margin-bottom: 0;
}

.medias .floor-plans .tab {
  padding: 3rem 5rem;
  position: relative;
}

.medias .floor-plans .tab .slick-slide img {
  margin: 0 auto;
  max-width: 100%;
}

.medias .floor-plans .tab .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 9;
  border: 0;
  background: transparent;
  text-indent: -9999px;
  width: 30px;
  height: 30px;
  margin-top: -15px;
}

.medias .floor-plans .tab .slick-arrow.slick-prev {
  left: -50px;
  background: transparent url("img/arrows.png") left center no-repeat;
}

.medias .floor-plans .tab .slick-arrow.slick-next {
  right: -50px;
  background: transparent url("img/arrows.png") right center no-repeat;
}

.medias .floor-plans .tab .slick-arrow:focus {
  outline: none;
}

#map_canvas {
  width: 100%;
  height: 35rem;
  background: #efefef;
}

footer {
  padding: 2rem 0;
}

footer .logo > a {
  display: inline-block;
}

footer .logo > a img {
  height: 55px;
}

footer .logo span {
  text-align: right;
  line-height: 59px;
  font-size: 1rem;
  float: right;
}

footer .logo span a {
  color: #2c2c2c;
  font-weight: 300;
}

footer .social-menu {
  padding: 0;
  margin: 0;
  text-align: center;
}

footer .social-menu li {
  display: inline-block;
  list-style: none;
}

footer .social-menu li a {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: 0 .5rem;
  color: #8f8f8f;
  border: 3px solid #8f8f8f;
  border-radius: 50%;
  font-size: 1.25rem;
  line-height: 40px;
}

footer .social-menu li a i {
  margin: 0;
}

footer .apps {
  text-align: right;
  line-height: 36px;
}

footer .apps a {
  display: inline-block;
}

footer .apps a img {
  height: 45px;
  vertical-align: middle;
}

#toast_meraas {
  visibility: visible;
  display: none;
  position: fixed;
  top: 2%;
  right: 2%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 1rem 2rem;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
  .above-the-fold {
    background: #000000;
  }
  .above-the-fold header {
    padding: 25px 0;
  }
  .above-the-fold header .branding a img {
    height: 25px;
  }
  .above-the-fold header .phone_no a {
    margin-left: 15px;
  }
  .above-the-fold header .phone_no a img {
    height: 25px;
  }
  .above-the-fold header .phone_no a.only_mobile {
    display: inline-block;
  }
  .above-the-fold header .phone_no a.only_computer {
    display: none;
  }
  .above-the-fold header .phone_no a:last-child {
    line-height: 25px;
  }
  .above-the-fold .banner {
    margin-bottom: 12px;
  }
  .above-the-fold .banner .text {
    margin: 0 0 1rem;
  }
  .above-the-fold .banner .text h2 {
    font-size: 1rem;
    margin: 1.5rem 0 .75rem;
  }
  .above-the-fold .banner .text h2 span {
    font-size: 2rem;
  }
  .above-the-fold .banner .text h3 {
    font-size: 1.5rem;
  }
  .above-the-fold .banner .text h3 span {
    font-size: 1rem;
  }
  .above-the-fold .banner .form fieldset select, .above-the-fold .banner .form fieldset input {
    width: calc(48% - 1rem);
    margin: 0 2%;
  }
  .above-the-fold .banner .form fieldset:last-child {
    margin-bottom: 3rem;
  }
  .above-the-fold .projects-tabs .slick-slide .logo {
    height: 95px;
  }
  .above-the-fold .projects-tabs .slick-slide .logo img {
    display: inline-block;
    height: 25px;
    margin-top: 40px;
  }
  .above-the-fold .projects-tabs .slick-slide .logo img.zj-cherrywoods {
    margin-top: 30px;
  }
  .above-the-fold .projects-tabs .slick-slide .thumb {
    display: block;
    text-align: center;
    height: 95px;
    overflow: hidden;
  }
  .above-the-fold .projects-tabs .slick-slide .thumb img {
    width: 100%;
    max-width: 100%;
  }
  .above-the-fold .projects-tabs .slick-slide.even {
    background: #f6f6f6;
  }
  .above-the-fold .projects-tabs .slick-arrow {
    width: 30px;
    height: 60px;
  }
  .above-the-fold .projects-tabs .slick-arrow.slick-prev {
    background: rgba(0, 0, 0, 0.8) url("img/arrows2.png") 9px center no-repeat;
  }
  .above-the-fold .projects-tabs .slick-arrow.slick-next {
    background: rgba(0, 0, 0, 0.8) url("img/arrows2.png") -696px center no-repeat;
  }
  .above-the-fold:before {
    width: 100%;
  }
  .above-the-fold .background-banner {
    display: none;
  }
  .slider .slick-slide {
    height: 22rem;
  }
  .payment-plans {
    padding: 4rem 0;
  }
  .payment-plans h3 {
    font-size: 1.5rem;
  }
  .payment-plans .box-wrap .box {
    margin: 0 1% 2rem;
    width: 47%;
  }
  .payment-plans .box-wrap .box .amount {
    width: 100%;
    max-width: 10rem;
  }
  .payment-plans p {
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 300;
  }
  .medias figure {
    height: 17rem;
  }
  .medias .floor-plans .menu {
    overflow: hidden;
  }
  .medias .floor-plans .tab {
    padding: 1.5rem 2rem;
  }
  .medias .floor-plans .tab .slick-arrow {
    width: 20px;
    height: 20px;
    margin-top: -10px;
  }
  .medias .floor-plans .tab .slick-arrow.slick-prev {
    left: -20px;
  }
  .medias .floor-plans .tab .slick-arrow.slick-next {
    right: -20px;
  }
  footer {
    padding: 4rem 0;
  }
  footer .logo {
    text-align: center;
  }
  footer .logo span {
    display: block;
    float: none;
    text-align: center;
    font-size: 2rem;
    line-height: normal;
  }
  footer .social-menu {
    text-align: center;
  }
  footer .social-menu li a {
    text-align: center;
  }
  footer .apps {
    text-align: center;
  }
  #toast_meraas {
    background: #ebd79c;
    color: #000;
    border: 1px solid #fff;
    left: 2%;
    text-align: center;
  }
}

.microsite .above-the-fold:before {
  width: 45%;
  background: rgba(0, 0, 0, 0.75);
}

.microsite .above-the-fold .background-banner {
  width: 100%;
}

.microsite .above-the-fold .banner .text {
  margin: 0;
}

.microsite .above-the-fold .banner .text > img {
  height: 3rem;
  margin: 0 0 2rem;
}

.microsite .above-the-fold .banner .text > img.pricing {
  display: block;
  height: 5rem;
  margin: 0 auto 3rem;
}

.microsite .above-the-fold .banner .text h3 {
  text-align: left;
}

.microsite .above-the-fold .banner .text h3 span {
  color: #fff;
}

.microsite .above-the-fold .banner .form {
  margin: 0 0 5rem;
}

.microsite .above-the-fold .banner .form fieldset {
  margin: 0 -5%;
}

.microsite .above-the-fold .banner .form fieldset select, .microsite .above-the-fold .banner .form fieldset input[type=text], .microsite .above-the-fold .banner .form fieldset input[type=email] {
  margin: 0 5%;
  width: 40%;
  float: left;
}

.microsite .above-the-fold .banner .form fieldset input[type=submit] {
  width: auto;
  font-size: 16px;
}

.microsite .above-the-fold .banner .form fieldset .intl-tel-input {
  width: 40%;
  margin: 0 5%;
}

.microsite .above-the-fold .banner .form fieldset:last-child {
  margin-top: 2rem;
}

.microsite .projects-tabs {
  background: #fff;
}

.microsite .payment-plans {
  background: #fcf2de;
  padding: 4rem 0;
}

.microsite .payment-plans h3 {
  margin: 0 0 1rem;
}

.microsite .payment-plans .box-wrap {
  margin: 0 0 3rem;
}

.microsite .payment-plans .box-wrap .box {
  margin: .5rem;
  width: 17%;
  background: #d3c4a8;
  padding: 1rem 0;
}

.microsite .payment-plans .box-wrap .box .amount {
  background: #d3c4a8;
  color: #000;
  width: 100%;
  margin: 0 0 .5rem;
  line-height: 2rem;
  height: auto;
}

.microsite .payment-plans .box-wrap .box .label {
  background: #d3c4a8;
  color: #000;
  width: 100%;
  font-size: .75rem;
}

.microsite .payment-plans .submit {
  background: #ebd79c;
  border: 0;
  text-transform: uppercase;
  color: #000000;
  width: 11rem;
  padding: 1rem 2.5rem;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

@media screen and (min-width: 1441px) {
  .microsite .slider .slick-slide {
    height: 70rem;
    background-size: cover !important;
  }
}

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.ui.tab {
  display: none;
}

.ui.tab.active, .ui.tab.open {
  display: block;
}

.ui.tab.loading {
  position: relative;
  overflow: hidden;
  display: block;
  min-height: 250px;
}

.ui.tab.loading * {
  position: relative !important;
  left: -10000px !important;
}

.ui.tab.loading.segment:before, .ui.tab.loading:before {
  position: absolute;
  content: '';
  top: 100px;
  left: 50%;
  margin: -1.25em 0 0 -1.25em;
  width: 2.5em;
  height: 2.5em;
  border-radius: 500rem;
  border: 0.2em solid rgba(0, 0, 0, 0.1);
}

.ui.tab.loading.segment:after, .ui.tab.loading:after {
  position: absolute;
  content: '';
  top: 100px;
  left: 50%;
  margin: -1.25em 0 0 -1.25em;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation: button-spin .6s linear;
  animation: button-spin .6s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 500rem;
  border-color: #767676 transparent transparent;
  border-style: solid;
  border-width: .2em;
  -webkit-box-shadow: 0 0 0 1px transparent;
  box-shadow: 0 0 0 1px transparent;
}
