#modal_refine_search {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    margin: 0!important;
    overflow-x: hidden;
    overflow-y: scroll;
    &>{
        //close X
        div:nth-child(1){}

        //property search title
        div:nth-child(2){
            border-bottom: 1px solid #e9e9e9;
            &>{
                div:nth-child(1){
                    text-align: center;
                    color: #5d0e8b;
                    font-size: 1.2rem;
                    margin-top: 1rem;
                }
            }
        }

        div:nth-child(3){
            &>{
                div:nth-child(1){
                    &>{
                        div:nth-child(1){
                            padding-bottom: 0 !important;
                            padding-right: 0 !important;
                            a.item{
                                width: 50%;
                                text-align: center;
                                border-color: transparent;
                                color: #5d0e8b;
                                text-transform: uppercase;
                                padding-left: 3rem;
                            }
                            a.item.active{
                                border-bottom: 2px solid #5d0e8b;
                                color: #5d0e8b;
                                font-weight: 500;
                            }
                            &>div{
                                padding-right:0;
                                padding-left: 0;
                                padding-top: 0;

                                div {
                                    text-align: -webkit-auto;
                                }

                                .title:nth-child(1){
                                    border-top: none;
                                }

                                .title{
                                    padding: 1rem 0 1rem 1rem !important;
                                    color: #7f7f7f;
                                    padding: 1rem 0;
                                    border-top: 1px solid #d8dee2;
                                }

                                .title.active{
                                    color: #5d0e8b;
                                }

                                div.content{
                                    padding: 0 0 1rem 1rem !important;
                                    color: #7f7f7f;

                                    p{
                                        margin-bottom: 0.4rem;
                                        font-size: 1.1rem;
                                        margin-bottom: 0;

                                        &:nth-child(3){
                                            margin-top: 0.4rem;
                                        }
                                    }
                                    .button{
                                        background: #ccc;
                                        margin-right: 0.5rem;
                                        box-shadow: none;
                                        padding: 0.6rem 1rem;
                                        color: rgba(0,0,0,.87);
                                        margin: 1rem 0;
                                    }

                                    .button.active{
                                        margin-right: 0.5rem;
                                        box-shadow: none;
                                        padding: 0.6rem 1rem;
                                        background-color: #5d0e8b;
                                        color: #fff;
                                        margin: 1rem 0;
                                    }

                                    p:nth-child(4){
                                        margin-top: 1rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
