#modal_property_call {
    max-width: 30rem;
    &>{
        i {
            top: 0;
            right: 0 !important;
            left: auto !important;
            color: rgba(0, 0, 0, 0.8);
        }
        div{
            &>{
                div:nth-child(1){
                    p{
                        font-weight: 300;
                        text-align: left;
                        color: rgb( 46, 46, 46 );
                        font-family: "GothamBook";
                        font-size: 1rem;
                        padding-left: 1rem;
                        padding-right: 1rem;
                        &>{
                            span{
                                color: #5d0e8b;
                            }
                        }
                    }
                }
                div:nth-child(2){
                    padding-top: 0;
                    &>{
                        div:nth-child(1){
                            input, .ui.dropdown {
                                border: 1px solid rgb( 186, 186, 186 );
                                border-radius: 4px;
                                font-family: "GothamBook";
                                color: rgb( 35, 42, 54 );
                                &::-webkit-input-placeholder {
                                    font-size: 12px;
                                    font-family: "GothamBook";
                                    color: rgb( 35, 42, 54 );
                                }
                            }
                            label {
                                margin-bottom: 4px;
                                text-align: left;
                                font-family: "GothamBook";
                                text-transform: none;
                                color: rgba(0,0,0,.6);
                            }
                            .field {
                                margin-bottom: 0;
                                padding-bottom: 0;
                            }
                            div:nth-child(1){
                                textarea{
                                    border-radius: 0.5rem;
                                    margin-bottom: 1rem;
                                }
                                textarea:focus{
                                    background: transparent;
                                }
                            }
                        }
                    }
                }
                
                div:nth-child(3){
                    font-size: 12px;
                    font-family: "GothamBook";
                    color: rgb( 109, 109, 109 );
                    text-align: left;
                    padding: 1rem 2rem;
                }
                div:nth-child(4){
                    text-align: center;
                    padding-top: 0;
                    button {
                        color: #fff;
                        background-color: #5d0e8b;
                        border-radius: 4px;
                        height: 40px;
                        font-size: 1rem;
                        margin-right: 0;
                        width: 90%;
                    }
                }
                div:nth-child(5){
                    text-align: -webkit-auto;
                    margin-top: 0;
                    padding-top: 0;
                    &>{
                        div:nth-child(1) {
                            &>{
                                div:nth-child(1){
                                    margin-bottom: 2rem;
                                    .bar{
                                        width: 7px;
                                        height: 62px;
                                        background-color: #d5d5d5;
                                    }
                                }
                            
                                div:nth-child(2){
                                    div:nth-child(1) {
                                        margin-bottom: .3rem;
                                        span {
                                            font-family: "GothamBook";
                                            color: rgb( 46, 46, 46 );
                                            font-size: 1rem;
                                        }
                                    }
                                    div:nth-child(2) {
                                        span {
                                            font-family: "GothamMedium";
                                            color: rgb( 73, 2, 118 );
                                            font-size: .85rem;
                                        }
                                    }
                                    div:nth-child(3) {
                                        margin-bottom: .3rem;
                                        span {
                                            font-family: "GothamBook";
                                            color: #2e2e2e;
                                            font-size: .7rem;
                                        }
                                    }
                                    p{
                                        font-family: "GothamBook";
                                        color: #2e2e2e;
                                        font-size: .7rem;
                                        span {
                                            color: #490276;
                                        }
                                    }

                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

html[dir=rtl]{
    #modal_property_call{
        margin-left: -15rem;
        left: 60%;
        top: 35%;
    }
}
