#modal_property_callback {
    // height: 100%;
    // left: 0;
    // position: fixed;
    // top: 0;
    width: 30rem;
    margin: 0!important;
    // overflow: hidden;
    // overflow-y: auto;
    &>{
        i {
            top: 0;
            right: 0 !important;
            left: auto !important;
            color: rgba(0, 0, 0, 0.8);
        }
        div{
            // padding: 1rem;
            background-color: #ffffff !important;
            &>{
                div:nth-child(1){
                    background: #f0f0f0;
                    &>{
                        div:nth-child(1){
                            &>{
                                div:nth-child(1){
                                    padding-right: 0;
                                    i{
                                        line-height: 6.5rem;
                                        font-size: 4rem;
                                    }
                                }
                                div:nth-child(2){
                                    ul {
                                        list-style: none;
                                        padding-left: 0;
                                        margin-bottom: 0;
                                        margin-top: 1.5rem;
                                        li{
                                            font-size: .8rem !important;
                                            font-weight: 300;
                                            padding: 0.5rem 0;
                                            text-align: left;
                                            span {
                                                color: #5d0e8b;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                div:nth-child(2){
                    margin-top: 0;
                    &>{
                        div:nth-child(1){
                            input, .ui.dropdown {
                                border: 1px solid #ddd;
                                border-radius: 2px;
                            }
                            label {
                                margin-bottom: .75rem;
                                text-align: left;
                            }
                            .field {
                                margin-bottom: 0;
                                padding-bottom: 0;
                            }
                            div:nth-child(1){
                                textarea{
                                    border-radius: 0.5rem;
                                    margin-bottom: 1rem;
                                }
                                textarea:focus{
                                    background: transparent;
                                }
                            }
                        }
                    }
                }
                div:nth-child(3){
                    padding: 0;
                    position: absolute;
                    bottom: 0;
                    button{
                        text-transform: uppercase;
                        color: #fff;
                        background-color: #5d0e8b;
                        font-size: 1rem;
                        padding: 1.5rem;
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-height: 420px) {

    #modal_property_callback > div > div:nth-child(3){
        position: static;
    }

}