#modal_mobile_property_search {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    margin: 0!important;
    overflow: hidden;
    &>{
        // icon close
        i {
            left: auto !important;
            right: 0 !important;
        }
        // Header
        div:nth-child(2){
            border-bottom: 1px solid rgba(34,36,38,.15);
            padding: 1rem 0.5rem 0 1rem;
            margin-bottom: 0rem;
            background-color: rgb( 252, 252, 252 );
            box-shadow: 1.389px 1.439px 0px 0px rgb( 179, 179, 179 );

            // Icon user
            div:nth-child(1){
                margin: auto;
                text-align: left;
                a{
                    i{
                        color: grey;
                        opacity: .5 !important;
                        font-size: 1.5rem;
                    }
                }
            }
            // Title
            div:nth-child(2){
                text-align: center;
                margin: auto;
                a{
                    color: black;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: .9rem;
                }
            }
            div:nth-child(3){
                margin: auto;
                text-align: right;
                a{
                    i{
                        color: grey;
                        opacity: .5 !important;
                        font-size: 1.5rem;
                    }
                }
            }
        }
        // Content
        div:nth-child(3){
            margin: 0;
            padding: 0 !important;
            height: calc(100vh - 107px);
            max-height: calc(100vh - 107px);
            overflow-x: hidden;
            overflow-y: scroll;
            background: #f5f5f5;

            &::-webkit-scrollbar {
                display: none;
            }

            @include for_screen( iPhone5 ){
                height: calc(100vh - 90px);
                max-height: calc(100vh - 90px);
            }
            @include for_screen( iPhone6 ){
                height: calc(100vh - 98px);
                max-height: calc(100vh - 98px);
            }
            @include for_screen( iPhone6 ){
                // overflow-y: hidden;
            }
            @include for_screen( safariMobile ){
                height: calc(100vh - 170px);
                max-height: calc(100vh - 170px);
                -webkit-overflow-scrolling: auto;
            }
            &>{
                input, .ui.dropdown {
                    border: 1px solid #c6c6c6;
                    border-radius: 7px;
                    overflow: hidden;
                }

                .ui.dropdown {
                    min-width: 11em;
                }
                .column {
                    padding: 0.7rem 1rem;
                    position: relative;

                    @include for_screen( iPhone5 ){
                        padding: 0.5rem 1rem !important;
                    }
                    @include for_screen( iPhone6 ){
                        padding: 0.5rem 1rem !important;
                    }
                    @include for_screen( iPhone6Plus ){
                        padding: 0.5rem 1rem !important;
                    }
                    @include for_screen( iPhoneX ){
                        padding: 0.5rem 1rem !important;
                    }

                    > .ui.selection.dropdown {
                        padding: 1.3em 2.1em 1.3em 1em !important;
                        border-radius: 7px;
                        box-shadow: 0px 0px 8px 2px rgba( 0, 0, 0, .1);

                        @include for_screen( iPhone5 ){
                            padding: 0.9em 2em 0.9em 1em !important;
                        }
                        @include for_screen( iPhone6 ){
                            padding: 0.8em 2.1em 0.8em 1em !important;
                        }
                        @include for_screen( iPhone6Plus ){
                            padding: 1.1rem 2rem 1.1rem 1rem !important;
                        }
                        @include for_screen( iPhoneX ){
                            padding: 1.3em 2.1em 1.3em 1em !important;
                        }
                        .text {
                            font-size: 11px;
                            color: rgb( 122, 122, 122 );
                        }

                    }

                    .column {
                        &:first-child{
                            padding-left:0;
                            padding-right: .5rem;

                            .ui.selection.dropdown {
                                padding: 1.3em 2.1em 1.3em 1em !important;
                                border-radius: 7px;
                                box-shadow: 0px 0px 8px 2px rgba( 0, 0, 0, .1);

                                @include for_screen( iPhone5 ){
                                    padding: 0.9em 2em 0.9em 1em !important;
                                }
                                @include for_screen( iPhone6 ){
                                    padding: 0.8em 2.1em 0.8em 1em !important;
                                }
                                @include for_screen( iPhone6Plus ){
                                    padding: 1.1rem 2rem 1.1rem 1rem !important;
                                }
                                @include for_screen( iPhoneX ){
                                    padding: 1.3em 2.1em 1.3em 1em !important;
                                }
                                .text {
                                    font-size: 11px;
                                    color: rgb( 122, 122, 122 );
                                }
                            }
                        }
                        &:last-child{
                            padding-left:.5rem;
                            padding-right:0;
                            
                            .ui.selection.dropdown {
                                padding: 1.3em 2.1em 1.3em 1em !important;
                                border-radius: 7px;
                                box-shadow: 0px 0px 8px 2px rgba( 0, 0, 0, .1);

                                @include for_screen( iPhone5 ){
                                    padding: 0.9em 2em 0.9em 1em !important;
                                }
                                @include for_screen( iPhone6 ){
                                    padding: 0.8em 2.1em 0.8em 1em !important;
                                }
                                @include for_screen( iPhone6Plus ){
                                    padding: 1.2em 2.1em 1.2em 1em !important;
                                }
                                @include for_screen( iPhoneX ){
                                    padding: 1.3em 2.1em 1.3em 1em !important;
                                }
                                .text {
                                    font-size: 11px;
                                    color: rgb( 122, 122, 122 );
                                }
                            }
                        }
                    }

                    &>{
                        div:nth-child(1){
                            //margin-bottom: 1rem;
                            //text-align: center;
                        }
                        div:nth-child(2){
                            text-align: left;
                            i{
                                right: 0.8em;
                                left: auto;
                                background: #f3f3f3;
                                color: #737374;
                            }
                            div{
                                .ui.dropdown{
                                    text-align: left;
                                    -webkit-overflow-scrolling: auto;
                                    i{
                                        right: 0.8em;
                                        background: #eee;
                                    }
                                    .menu {
                                        -webkit-overflow-scrolling: auto;
                                    }
                                }
                            }
                            .menu {
                                -webkit-overflow-scrolling: auto;
                            }
                        }
                        i{
                            font-size: 1.2rem;
                            position: absolute;
                            top: 15px;
                            right: auto;
                            left: 25px;
                            color: #bbafaf;

                            @include for_screen( GalaxyS5 ){
                                top: 19px;
                            }
                            @include for_screen( iPhone6 ){
                                top: 19px;
                            }
                            @include for_screen( iPhone6Plus ){
                                top: 19px;
                            }
                            @include for_screen( iPhoneX ){
                                top: 19px;
                            }


                            &:focus,&:active,&:hover{

                            }
                        }
                    }
                }
                //Options
                div:nth-child(1){
                    padding: 0 !important;
                    margin-bottom: 15px;
                    background: rgb( 252, 252, 252 );
                    box-shadow: 1.389px 1.439px 0px 0px rgb( 179, 179, 179 );
                    span{
                        color: rgb( 122, 122, 122 );
                        margin-right: 0;
                        text-transform: uppercase;
                        font-size: .8rem;
                        font-weight: 900;
                        z-index: 2;
                        border-radius: 0;
                        -webkit-box-shadow: none;
                        box-shadow: none;
                        position: unset;
                        float: left;
                        padding: 20px 5px;
                        text-align: center;
                        width: 33%;
                        &:last-child {
                            border-right: 0;
                        }
                        &.active {
                            background-color: #5d0e8b;
                            color: white;
                        }
                    }
                }
                //autocomplete
                div:nth-child(2){
                    margin-bottom: 0;
                    &>{
                        div:nth-child(1) {
                            padding-left: 0;
                            padding-right: 0;
                            background: #f5f5f5;
                            width: 100%;
                            input {
                                background: #fff;
                                padding: 0.9em 2em 0.9em 3em !important;
                                border: none;
                                box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
                            }
                        }
                        a {
                            position: absolute;
                            right: 23px;
                            top: 18px;
                        }
                    }
                }
                
                // div:nth-child(2){
                //     div:nth-child(1){
                //         width: 100%;
                //         border: 1px solid #ddd;
                //         border-radius: 7px;
                //         padding: .7rem 1rem .7rem 2rem !important;
                //         padding-left: 40px;
                //         background: #FFFFFF;
                //         box-shadow: 0px 0px 8px 2px rgba( 0, 0, 0, .1);

                //         @include for_screen( iPhone5 ){
                //             padding: .5rem 1rem .5rem 2.5rem !important;
                //         }
                //         @include for_screen( iPhone6 ){
                //             padding: .7rem 1rem .7rem 2rem !important;
                //         }
                //         @include for_screen( iPhone6Plus ){
                //             padding: .7rem 1rem .7rem 2rem !important;
                //         }
                //         @include for_screen( iPhoneX ){
                //             padding: .7rem 1rem .7rem 2rem !important;
                //         }
                //         &>{
                //             input{
                //                 border-bottom: transparent;
                //                 &:focus {
                //                     outline: none;
                //                 }
                //                 &::-webkit-input-placeholder {
                //                     font-size: 12px;
                //                     color: rgb( 122, 122, 122 );
                //                 }
                //             }
                //         }
                //         .awesomplete {
                //             width: 100%;
                //             > input {
                //                 border: 0;
                //             }
                //         }
                        
                //     }
                // }
                div:nth-child(10){
                    & > {
                        div:nth-child(1) {
                            input {
                                padding: 1.2em 1em;
                                border-radius: 7px !important;
                                box-shadow: 0px 0px 8px 2px rgba( 0, 0, 0, .1);
        
                                @include for_screen( iPhone5 ){
                                    padding: 0.9em 2em 0.9em 1em !important;
                                }
                                @include for_screen( iPhone6 ){
                                    padding: 0.9em 2em 0.9em 1em !important;
                                }
                                @include for_screen( iPhone6Plus ){
                                    padding: 0.8em 2.1em 0.8em 1em !important;
                                }
                                @include for_screen( iPhoneX ){
                                    padding: 1.2em 1em !important;
                                }
                                &::-webkit-input-placeholder {
                                    font-size: 11px;
                                    color: rgb( 122, 122, 122 );
                                }
                            }
                        }
                    }
                }
                div:nth-child(11) {
                    padding-top: 15px;
                }
            }
        }

        //div:nth-child(3)::-webkit-scrollbar {
        //    width: 0px;  /* remove scrollbar space */
        //    background: transparent;  /* optional: just make scrollbar invisible */
        //}
        //SEARCH
        div:nth-child(4){
            position: fixed;
            bottom: 0;
            width: 100%;
            margin: 0;
            &>{
                div:nth-child(1){
                    padding: 0;
                    button{
                        color: rgb( 47, 47, 47 );
                        background: rgb( 196, 196, 196 );
                        margin-right: 0;
                        text-transform: uppercase;
                        font-size: 1.2rem;
                        font-weight: 700;
                        height: 46px;
                        z-index: 2;
                        border-radius: 0;
                        box-shadow: none;
                    }
                }
                div:nth-child(2){
                    padding: 0;
                    button{
                        background-color: rgb( 101, 0, 143 );
                        color: white;
                        margin-right: 0;
                        text-transform: uppercase;
                        font-size: 1.2rem;
                        font-weight: 700;
                        height: 46px;
                        z-index: 2;
                        border-radius: 0;
                        box-shadow: none;
                    }
                }
            }
        }
    }
}
